Repository MetaFam/TheGame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Add Regen/ReFi Category to dAcademy with Coming Soon! 🌴
  packages/web/utils/questChains.ts
Due: eslint --fix, prettier --write

Add Building on Optimism Category -Update questChains.ts
  packages/web/utils/questChains.ts
Due: eslint --fix, prettier --write

Add files via upload
  packages/web/assets/academy/Building-on-optimism.png
Due: none

Add Building on Optimism Playbook
  packages/web/utils/questChains.ts
Due: eslint --fix, prettier --write

reenabling EAS & switching `node-ts` to `tsx` 🏚️
  docker/backend/Dockerfile
  docker/frontend/Dockerfile
  package.json
  packages/backend/package.json
  packages/backend/src/handlers/actions/composeDB/updatePlayerFromComposeDB.ts
  packages/backend/src/handlers/actions/player/syncBalances.ts
  packages/design-system/package.json
  packages/discord-bot/package.json
  packages/utils/package.json
  packages/utils/src/did/index.ts
  packages/web/components/Player/PlayerSection.tsx
  packages/web/components/Player/Section/config.ts
  packages/web/contexts/Web3Context.tsx
  packages/web/utils/layoutHelpers.ts
  tsconfig.base.json
  yarn.lock
Due: eslint --fix, prettier --write

tweaking Discord bot GraphQL codegen 🏔️
  packages/discord-bot/codegen.yml
  packages/discord-bot/package.json
  packages/discord-bot/src/graphql/client.ts
  yarn.lock
Due: eslint --fix, prettier --write

tweaking backend GraphQL codegen 🚒
  packages/backend/package.json
  yarn.lock
Due: prettier --write

trying DAOHaus v3 Graph endpoint 🚜
  packages/backend/codegen.ts
Due: eslint --fix, prettier --write

trying DAOHaus Graph endpoint from [the docs]('https://docs.daohaus.club/subgraphs#explorers-and-api-endpoints') 🛩️
  packages/backend/codegen.ts
Due: eslint --fix, prettier --write

maybe this Graph will work 🛰️
  packages/backend/codegen.ts
Due: eslint --fix, prettier --write

making attestations non-conditional 🚤
  packages/web/components/Player/Section/Attestations.tsx
  packages/web/lib/hooks/useEAS.ts
  packages/web/lib/hooks/useEthersProvider.ts
Due: eslint --fix, prettier --write

Update Dockerfile
  docker/backend/Dockerfile
Due: none

displaying ENS name for Quest Chain author 🈴
  packages/web/components/QuestChain/MintNFTTile.tsx
  packages/web/components/QuestChain/QuestChainDisplay.tsx
  packages/web/contexts/Web3Context.tsx
  packages/web/lib/hooks/useEthersProvider.ts
  packages/web/pages/academy/[questchain].tsx
  packages/web/utils/questChains.ts
Due: eslint --fix, prettier --write

trying to upgrade `yarn` b/c `yarn` classic was crapping out 🪇
  .yarnrc.yml
  docker-compose.yml
  docker/backend/Dockerfile
  docker/frontend/Dockerfile
  package.json
  packages/backend/package.json
  yarn.lock
Due: prettier --write

matching [a recent example](https://github.com/ceramicstudio/walletconnect-tutorial/blob/main/src/fragments/index.tsx) 🏯
  packages/web/contexts/ComposeDBContext.tsx
Due: eslint --fix, prettier --write

replacing `ethers` with Viem for Quest Chains contract access 🪡
  packages/web/components/QuestChain/MintNFTTile.tsx
  packages/web/components/QuestChain/QuestChainDisplay.tsx
  packages/web/components/QuestChain/UploadProof.tsx
  packages/web/contexts/Web3Context.tsx
  packages/web/contracts/QuestChains.instance.abi.json
  packages/web/lib/hooks/useEAS.ts
  packages/web/lib/hooks/useEthersProvider.ts
  packages/web/pages/academy/[questchain].tsx
  packages/web/pages/academy/index.tsx
  packages/web/utils/questChains.ts
Due: eslint --fix, prettier --write

missed updating `yarn.lock` 🦞
  yarn.lock
Due: none

finagling `package.json` `imports` to work in dev & prod 🥫
  docker/backend/Dockerfile
  docker/discord-bot/Dockerfile
  docker/frontend/Dockerfile
  packages/backend/package.json
  packages/backend/src/handlers/actions/composeDB/linkProfileNode/handler.ts
  packages/backend/src/handlers/actions/composeDB/routes.ts
  packages/backend/src/handlers/actions/composeDB/updatePlayerFromComposeDB.ts
  packages/backend/src/handlers/actions/guild/discord/oauthHandler.ts
  packages/backend/src/handlers/actions/guild/routes.ts
  packages/backend/src/handlers/actions/guild/saveGuildHandler.ts
  packages/backend/src/handlers/actions/quests/createCompletion/createCompletion.ts
  packages/backend/src/handlers/actions/quests/createQuest/createQuest.ts
  packages/backend/src/handlers/actions/quests/createQuest/handler.ts
  packages/backend/src/handlers/actions/quests/createQuest/permissions.ts
  packages/backend/src/handlers/actions/quests/updateCompletion/handler.ts
  packages/backend/src/handlers/actions/quests/updateCompletion/updateCompletion.ts
  packages/backend/src/handlers/actions/routes.ts
  packages/backend/src/handlers/auth-webhook/users.ts
  packages/backend/src/handlers/remote-schemas/resolvers/balancerPolygon/resolver.ts
  packages/backend/src/handlers/remote-schemas/resolvers/brightId/resolver.ts
  packages/backend/src/handlers/remote-schemas/resolvers/daohaus/resolver.ts
  packages/backend/src/handlers/remote-schemas/resolvers/discord/resolver.ts
  packages/backend/src/handlers/remote-schemas/resolvers/seedGraph/resolver.ts
  packages/backend/src/handlers/routes.ts
  packages/backend/src/handlers/triggers/cacheComposeDBProfile.ts
  packages/backend/src/handlers/triggers/handler.ts
  packages/backend/src/handlers/triggers/playerRankUpdated.ts
  packages/backend/src/handlers/triggers/playerRoleChanged.ts
  packages/backend/src/handlers/triggers/types.ts
Due: eslint --fix, prettier --write

cleaning up save error messages 🌀
  packages/web/components/Player/Profile/ComposeDBPromptModal.tsx
  packages/web/components/Setup/SetupProfile.tsx
  packages/web/contexts/ComposeDBContext.tsx
  packages/web/lib/hooks/ceramic/useSaveToComposeDB.ts
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

updating dependencies 🫛
  .vscode/settings.json
  docker/backend/Dockerfile
  docker/frontend/Dockerfile
  package.json
  packages/backend/package.json
  packages/backend/src/handlers/actions/composeDB/linkProfileNode/handler.ts
  packages/design-system/package.json
  packages/design-system/src/MetaButton.tsx
  packages/utils/package.json
  packages/utils/src/ceramic.ts
  packages/utils/src/index.ts
  packages/web/package.json
  yarn.lock
Due: eslint --fix, prettier --write

fixing submission 🏈
  packages/web/components/QuestChain/QuestChainDisplay.tsx
  packages/web/components/QuestChain/QuestHeading.tsx
  packages/web/components/QuestChain/QuestTile.tsx
  packages/web/components/QuestChain/UploadProof.tsx
  packages/web/components/QuestChain/UploadProofButton.tsx
  packages/web/pages/academy/index.tsx
  packages/web/utils/questChains.ts
Due: eslint --fix, prettier --write

frontend container building & should deploy 🦥
  docker/frontend/Dockerfile
  packages/web/components/QuestChain/UploadProof.tsx
Due: eslint --fix, prettier --write

removing unneeded `node_modules/`? ✊🏻
  docker/backend/Dockerfile
Due: none

testing `yarn` install error on GitHub 🐦‍🔥
  docker/backend/Dockerfile
Due: none

working on relative paths & saving to Ceramic 🧇
  package.json
  packages/backend/src/handlers/actions/composeDB/cacheHelper.ts
  packages/backend/src/handlers/actions/composeDB/routes.ts
  packages/backend/src/handlers/actions/composeDB/updateSingleProfile/handler.ts
  packages/backend/src/handlers/actions/guild/routes.ts
  packages/backend/src/handlers/actions/guild/saveGuildLayoutHandler.ts
  packages/backend/src/handlers/actions/guild/sync.ts
  packages/backend/src/handlers/auth-webhook/handler.ts
  packages/backend/src/handlers/auth-webhook/users.ts
  packages/backend/src/index.ts
  packages/utils/package.json
  packages/utils/tsconfig.json
  packages/web/components/ConnectedPage.tsx
  packages/web/components/EditProfileModal.tsx
  packages/web/components/EditableGridLayout.tsx
  packages/web/components/MegaMenu/MegaMenuHeader.tsx
  packages/web/components/Patron/PatronRank.tsx
  packages/web/components/Player/PlayerStart.tsx
  packages/web/components/Player/Profile/ComposeDBPromptModal.tsx
  packages/web/components/QuestChain/MintNFTTile.tsx
  packages/web/components/Setup/SetupHeader.tsx
  packages/web/components/Setup/WizardPane.tsx
  packages/web/contexts/ComposeDBContext.tsx
  packages/web/contexts/Web3Context.tsx
  packages/web/graphql/client.ts
  packages/web/lib/hooks/ceramic/useSaveToComposeDB.ts
  packages/web/lib/hooks/useEthersProvider.ts
  packages/web/lib/hooks/useUser.ts
  packages/web/package.json
  packages/web/pages/_app.tsx
  packages/web/pages/me.tsx
  yarn.lock
Due: eslint --fix, prettier --write

fixing ERC-20 contract read using WAGMI 👛
  packages/backend/src/handlers/actions/quests/createQuest/permissions.ts
  packages/backend/src/lib/abis/ERC20.json
  packages/backend/src/lib/ethereum.ts
Due: eslint --fix, prettier --write

enable `corepack` for `yarn` `berry` 🪮
  docker/backend/Dockerfile
Due: none

working on auth & fixing all-category playbooks 🍂
  packages/utils/src/did/index.ts
  packages/web/contexts/Web3Context.tsx
  packages/web/pages/academy/index.tsx
Due: eslint --fix, prettier --write

moving Markdown component to `design-system` 🧱
  packages/design-system/src/MarkdownEditor/MarkdownEditor.tsx
  packages/design-system/src/MarkdownEditor/index.tsx
  packages/design-system/src/MarkdownViewer/MarkdownViewer.tsx
  packages/design-system/src/MarkdownViewer/index.tsx
Due: eslint --fix, prettier --write

converting PNGs to WebP 🚁
  packages/web/assets/academy/best-dao-contributor.webp
  packages/web/assets/academy/biases.webp
  packages/web/assets/academy/bridgebuilder.webp
  packages/web/assets/academy/builder.webp
  packages/web/assets/academy/coordinape.webp
  packages/web/assets/academy/daos.webp
  packages/web/assets/academy/daosummoner.webp
  packages/web/assets/academy/daowriter.webp
  packages/web/assets/academy/dapps.webp
  packages/web/assets/academy/defi.webp
  packages/web/assets/academy/designer.webp
  packages/web/assets/academy/effective-meeting-runner.webp
  packages/web/assets/academy/ethereum.webp
  packages/web/assets/academy/gameb.webp
  packages/web/assets/academy/goodquests.webp
  packages/web/assets/academy/guilder.webp
  packages/web/assets/academy/impact-networks.webp
  packages/web/assets/academy/imposter.webp
  packages/web/assets/academy/journaling.webp
  packages/web/assets/academy/master-tabs.webp
  packages/web/assets/academy/memedriven.webp
  packages/web/assets/academy/metacrisis.webp
  packages/web/assets/academy/metamodernist.webp
  packages/web/assets/academy/moloch.webp
  packages/web/assets/academy/nfts.webp
  packages/web/assets/academy/patron.webp
  packages/web/assets/academy/play-twitter.webp
  packages/web/assets/academy/playbook-writer.webp
  packages/web/assets/academy/player.webp
  packages/web/assets/academy/riteofpassage.webp
  packages/web/assets/academy/submit-playbook.png
  packages/web/assets/academy/submit-playbook.webp
  packages/web/assets/academy/team.webp
  packages/web/assets/academy/time.webp
  packages/web/assets/academy/web3builder.webp
Due: none

allowing Discord bot to start w/o credentials 🏺
  packages/discord-bot/src/config.ts
Due: eslint --fix, prettier --write

disabled `yarn` PnP 🥏
  docker-compose.yml
  docker/backend/Dockerfile
  package.json
  packages/backend/package.json
  packages/backend/src/lib/daoHausClient.ts
  packages/discord-bot/codegen.yml
Due: eslint --fix, prettier --write

upgrading `eslint` 🪢
  .eslintignore
  .eslintrc.cjs
  eslint.config.js
  package.json
  packages/backend/codegen.ts
  packages/backend/eslint.config.js
  packages/backend/package.json
  packages/design-system/eslint.config.js
  packages/discord-bot/eslint.config.js
  packages/utils/eslint.config.js
  packages/web/eslint.config.js
  tsconfig.base.json
  tsconfig.eslint.json
  yarn.lock
Due: eslint --fix, prettier --write

almost running; need to check another branch 🎤
  .gitignore
  hasura/clear-xp.mjs
  hasura/seed-db.mjs
  package.json
  packages/backend/package.json
  packages/backend/src/handlers/actions/quests/createQuest/permissions.ts
  packages/backend/src/handlers/remote-schemas/resolvers/brightId/resolver.ts
  packages/backend/src/handlers/remote-schemas/resolvers/daohaus/resolver.ts
  packages/backend/src/handlers/remote-schemas/resolvers/discord/resolver.ts
  packages/backend/src/handlers/triggers/handler.ts
  packages/discord-bot/codegen.yml
  packages/discord-bot/package.json
  packages/discord-bot/src/auth.ts
  packages/discord-bot/src/bot.ts
  packages/discord-bot/src/config.ts
  packages/discord-bot/src/discord/commands/getXp.ts
  packages/discord-bot/src/discord/commands/help.ts
  packages/discord-bot/src/discord/commands/setEthAddress.ts
  packages/discord-bot/src/graphql/client.ts
  packages/discord-bot/src/index.ts
  packages/discord-bot/src/sourcecred.ts
  packages/utils/package.json
  packages/utils/schema/user-profile-definition.json
  packages/utils/src/colorHelpers.ts
  packages/utils/src/graphql/composeDBDefinition.ts
  packages/utils/src/index.ts
  packages/utils/src/networkHelpers.ts
  packages/utils/src/numbers.ts
  tsconfig.base.json
  yarn.lock
Due: eslint --fix, prettier --write

switching to `yarn workspaces focus` for production dependencies 🔱
  docker/backend/Dockerfile
  docker/discord-bot/Dockerfile
  docker/frontend/Dockerfile
Due: none

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,yml,md})
