Repository MetaFam/TheGame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,yml,md}": "prettier --write"
}

redoing all the permissions to try & make Hasura function 🥊
  hasura/metadata/tables.yaml
  hasura/migrations/1625550966531_create_table_public_profile_cache/down.sql
  hasura/migrations/1625550966531_create_table_public_profile_cache/up.sql
  hasura/migrations/1625552324557_alter_table_public_profile_cache_add_column_player_id/down.sql
  hasura/migrations/1625552324557_alter_table_public_profile_cache_add_column_player_id/up.sql
  hasura/migrations/1625552537557_set_fk_public_profile_cache_player_id/down.sql
  hasura/migrations/1625552537557_set_fk_public_profile_cache_player_id/up.sql
  hasura/migrations/1625561772331_alter_table_public_profile_cache_add_unique_id/down.sql
  hasura/migrations/1625561772331_alter_table_public_profile_cache_add_unique_id/up.sql
  hasura/migrations/1625624005406_alter_table_public_profile_cache_drop_column_ethereumAddress/down.sql
  hasura/migrations/1625624005406_alter_table_public_profile_cache_drop_column_ethereumAddress/up.sql
  hasura/migrations/1625624028172_alter_table_public_profile_cache_alter_column_backgroundImageUrl/down.sql
  hasura/migrations/1625624028172_alter_table_public_profile_cache_alter_column_backgroundImageUrl/up.sql
  hasura/migrations/1625624044328_alter_table_public_profile_cache_alter_column_imageUrl/down.sql
  hasura/migrations/1625624044328_alter_table_public_profile_cache_alter_column_imageUrl/up.sql
  hasura/migrations/1625624052694_alter_table_public_profile_cache_drop_column_job/down.sql
  hasura/migrations/1625624052694_alter_table_public_profile_cache_drop_column_job/up.sql
Due: none

allowing migration to run w/o conflicts multiple times 🦈
  hasura/migrations/1625633004312_create_table_public_profile_cache/up.sql
Due: none

removing account link cache trigger 🦟
  hasura/metadata/tables.yaml
  hasura/migrations/1625633004312_create_table_public_profile_cache/up.sql
  packages/backend/src/handlers/actions/3Box/cache3BoxProfile/updateVerifiedAccounts.ts
  packages/backend/src/handlers/triggers/fetchBoxVerifiedAccounts.ts
  packages/backend/src/handlers/triggers/handler.ts
Due: eslint --fix, prettier --write

setting the package versions to a single option 📐
  package.json
  packages/backend/package.json
Due: prettier --write

preparing to squash migrations into one 🦑
  .github/workflows/PR-CI.yml
  hasura/migrations/1625550966531_create_table_public_profile_cache/up.sql
  hasura/migrations/1625624005406_alter_table_public_profile_cache_drop_column_ethereumAddress/up.sql
  hasura/migrations/1625624052694_alter_table_public_profile_cache_drop_column_job/up.sql
Due: prettier --write

🍵 yarn update-schema
  packages/backend/src/handlers/graphql/mutations.ts
Due: eslint --fix, prettier --write

🕌 yarn hasura migrate squash --from 1625550966531 --name create_table_public_profile_cache
  hasura/migrations/1625550966531_create_table_public_profile_cache/down.sql
  hasura/migrations/1625552324557_alter_table_public_profile_cache_add_column_player_id/down.sql
  hasura/migrations/1625552324557_alter_table_public_profile_cache_add_column_player_id/up.sql
  hasura/migrations/1625552537557_set_fk_public_profile_cache_player_id/up.sql
  hasura/migrations/1625561772331_alter_table_public_profile_cache_add_unique_id/down.sql
  hasura/migrations/1625561772331_alter_table_public_profile_cache_add_unique_id/up.sql
  hasura/migrations/1625624005406_alter_table_public_profile_cache_drop_column_ethereumAddress/down.sql
  hasura/migrations/1625624005406_alter_table_public_profile_cache_drop_column_ethereumAddress/up.sql
  hasura/migrations/1625624028172_alter_table_public_profile_cache_alter_column_backgroundImageUrl/down.sql
  hasura/migrations/1625624028172_alter_table_public_profile_cache_alter_column_backgroundImageUrl/up.sql
  hasura/migrations/1625624044328_alter_table_public_profile_cache_alter_column_imageUrl/down.sql
  hasura/migrations/1625624044328_alter_table_public_profile_cache_alter_column_imageUrl/up.sql
  hasura/migrations/1625624052694_alter_table_public_profile_cache_drop_column_job/down.sql
  hasura/migrations/1625624052694_alter_table_public_profile_cache_drop_column_job/up.sql
  hasura/migrations/1625633004312_create_table_public_profile_cache/down.sql
  hasura/migrations/1625633004312_create_table_public_profile_cache/up.sql
Due: none

adding timestamp to cache entries & creating initial population 🛩
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
  hasura/metadata/tables.yaml
  hasura/migrations/1625633004312_create_table_public_profile_cache/up.sql
  hasura/migrations/1625902075375_alter_table_public_profile_cache_add_column_last_checked_at/down.sql
  hasura/migrations/1625902075375_alter_table_public_profile_cache_add_column_last_checked_at/up.sql
  hasura/migrations/1626583570730_populate_profile_cache/down.sql
  hasura/migrations/1626583570730_populate_profile_cache/up.sql
Due: none

updating yarn lock 🧵
  yarn.lock
Due: none

reverting the timeout for Hasura to wait on the backend 🤹
  .github/workflows/PR-CI.yml
Due: prettier --write

standardizing the capitalization of URL ⛽
  hasura/metadata/tables.yaml
  packages/backend/src/config.ts
  packages/backend/src/handlers/actions/3Box/cache3BoxProfile/updateCachedProfile.ts
  packages/backend/src/handlers/actions/3Box/refresh3BoxCache/cache3BoxProfiles.ts
  packages/backend/src/handlers/remote-schemas/resolvers/brightId/resolver.ts
  packages/backend/src/handlers/remote-schemas/resolvers/getBoxProfile/resolver.ts
  packages/backend/src/handlers/remote-schemas/typeDefs.ts
  packages/web/components/Guild/GuildJoin.tsx
  packages/web/config.ts
  packages/web/graphql/fragments.ts
  packages/web/lib/hooks/brightId.ts
  packages/web/utils/playerHelpers.ts
Due: eslint --fix, prettier --write

invalidating cache entry on profile page load 💣
  packages/web/components/Player/Section/PlayerHero.tsx
  packages/web/graphql/getPlayer.ts
  packages/web/graphql/mutations/idxCache.ts
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

removing favorite NFTs & stylis dependency ❇
  package.json
  packages/web/lib/hooks/opensea.ts
  yarn.lock
Due: eslint --fix, prettier --write

renaming for clarity & adding queued invalidation 🌠
  packages/backend/package.json
  packages/backend/src/handlers/actions/3Box/cache3BoxProfile/handler.ts
  packages/backend/src/handlers/actions/3Box/refresh3BoxCache/cache3BoxProfiles.ts
  packages/backend/src/handlers/actions/3Box/refresh3BoxCache/handler.ts
  packages/backend/src/handlers/actions/3Box/routes.ts
  packages/backend/src/handlers/actions/idxCache/routes.ts
  packages/backend/src/handlers/actions/idxCache/updateExpiredProfiles/handler.ts
  packages/backend/src/handlers/actions/idxCache/updateSingle.ts
  packages/backend/src/handlers/actions/idxCache/updateSingleProfile/handler.ts
  packages/backend/src/handlers/actions/migrateSourceCredAccounts/handler.ts
  packages/backend/src/handlers/actions/routes.ts
  packages/backend/src/handlers/graphql/mutations.ts
  packages/backend/src/handlers/graphql/queries.ts
  packages/backend/src/handlers/triggers/cache3BoxProfile.ts
  packages/backend/src/handlers/triggers/cacheIDXProfile.ts
  packages/backend/src/handlers/triggers/handler.ts
  packages/backend/src/index.ts
Due: eslint --fix, prettier --write

adding isExternal 🎈
  packages/web/components/Guild/GuildJoin.tsx
Due: eslint --fix, prettier --write

adding last_checked_at & country columns 🛸
  yarn.lock
Due: none

reviewing pull request 🇯🇲
  packages/backend/src/handlers/actions/idxCache/updateSingleProfile/handler.ts
  packages/backend/src/handlers/graphql/queries.ts
  packages/web/lib/hooks/opensea.ts
  yarn.lock
Due: eslint --fix, prettier --write

adding recache cron job ⏳
  hasura/metadata/cron_triggers.yaml
Due: none

added thumbnails to frontmatter for doc pages with images (#286)
  docs/Guilding/building-successful-teams.md
  docs/Guilding/guilding-101.md
  docs/Guilding/meme-driven-organizations.md
  docs/Guilding/metasys.md
  docs/enter-metagame/how-to-become-a-player.md
  docs/enter-metagame/why-patron.md
  docs/great-houses/house-of-daos.md
  docs/great-houses/house-of-ethereum.md
  docs/how-does-it-work/a-cautionary-tale.md
  docs/how-does-it-work/become-a-founder-of-metagame.md
  docs/how-does-it-work/how-metagame-works.md
  docs/introduction.mdx
  docs/playbooks/entering-daos-as-a-writer.md
  docs/resources/alignment2021.md
  docs/what-we-do/mymeta.md
  docs/wtf-is-metagame/300-of-metagame.md
  docs/wtf-is-metagame/in-search-of-commons-that-scale.md
  docs/wtf-is-metagame/narrative-1-a-decentralized-factory.md
  docs/wtf-is-metagame/narrative-2-a-web-of-opportunity.md
  docs/wtf-is-metagame/origin-story.md
  docs/wtf-is-metagame/the-coming-of-metagame.md
  docs/wtf-is-metagame/way-of-web3-founders.md
  docs/wtf-is-metagame/wtf-is-metagame.md
Due: prettier --write

🎢 yarn hasura metadata export
  hasura/metadata/cron_triggers.yaml
  hasura/metadata/tables.yaml
Due: none

removing isExternal from guild signup 📻
  packages/web/components/Guild/GuildJoin.tsx
Due: eslint --fix, prettier --write

adding ceramic and IDX to the backend 🎱
  .gitignore
  packages/backend/package.json
  yarn.lock
Due: prettier --write

creating table to hold cached 3Box profile 🦘
  hasura/migrations/1625550966531_create_table_public_profile_cache/down.sql
  hasura/migrations/1625550966531_create_table_public_profile_cache/up.sql
  hasura/migrations/1625552324557_alter_table_public_profile_cache_add_column_player_id/down.sql
  hasura/migrations/1625552324557_alter_table_public_profile_cache_add_column_player_id/up.sql
  hasura/migrations/1625552537557_set_fk_public_profile_cache_player_id/down.sql
  hasura/migrations/1625552537557_set_fk_public_profile_cache_player_id/up.sql
  hasura/migrations/1625561772331_alter_table_public_profile_cache_add_unique_id/down.sql
  hasura/migrations/1625561772331_alter_table_public_profile_cache_add_unique_id/up.sql
Due: none

removing job & ethereum addr from cached info 🎯
  hasura/metadata/tables.yaml
  packages/web/graphql/fragments.ts
Due: eslint --fix, prettier --write

rebasing & regenerating schema 🥘
  packages/backend/src/handlers/graphql/mutations.ts
  schema.graphql
Due: eslint --fix, prettier --write

configuring Hasura actions and triggers to cache profiles 🎡
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
  hasura/metadata/tables.yaml
  schema.graphql
Due: none

queries and mutations to support profile caching 🗽
  packages/backend/package.json
  packages/backend/src/config.ts
  packages/backend/src/handlers/actions/3Box/cache3BoxProfile/handler.ts
  packages/backend/src/handlers/actions/3Box/cache3BoxProfile/updateCachedProfile.ts
  packages/backend/src/handlers/actions/3Box/cache3BoxProfile/updateVerifiedAccounts.ts
  packages/backend/src/handlers/actions/3Box/refresh3BoxCache/cache3BoxProfiles.ts
  packages/backend/src/handlers/actions/3Box/refresh3BoxCache/handler.ts
  packages/backend/src/handlers/actions/3Box/routes.ts
  packages/backend/src/handlers/actions/routes.ts
  packages/backend/src/handlers/graphql/mutations.ts
  packages/backend/src/handlers/graphql/queries.ts
  packages/backend/src/handlers/triggers/cache3BoxProfile.ts
  packages/backend/src/handlers/triggers/fetchBoxVerifiedAccounts.ts
  packages/backend/src/handlers/triggers/handler.ts
  packages/backend/src/lib/apiHelpers.ts
  yarn.lock
Due: eslint --fix, prettier --write
