Repository MetaFam/TheGame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

allow aggregations in player table
  hasura/metadata/tables.yaml
Due: none

Optimize memory usage for migrateSourceCredAccounts handler
  packages/backend/src/handlers/actions/migrateSourceCredAccounts/handler.ts
Due: eslint --fix, prettier --write

Make ethereum_address a non-nullable field in Player table
  hasura/migrations/1622090276691_require_player_ethaddress/down.sql
  hasura/migrations/1622090276691_require_player_ethaddress/up.sql
Due: none

Use Ethereum address as username when inserting new players
  packages/backend/src/handlers/actions/migrateSourceCredAccounts/handler.ts
Due: eslint --fix, prettier --write

formatting improvements
  packages/web/assets/colors/Ambition.svg
  packages/web/assets/colors/Wisdom.svg
Due: none

Fixed bad merge
  packages/backend/src/handlers/actions/migrateSourceCredAccounts/handler.ts
Due: eslint --fix, prettier --write

Added in the correct colour value for courage removed the quotes and added correct font (mono) for the type title
  packages/web/components/Player/ColorBar.tsx
  packages/web/graphql/getPersonalityInfo.ts
Due: eslint --fix, prettier --write

Merge develop into master (#629)
  guides/CONTRIBUTING.md
  hasura/metadata/tables.yaml
  hasura/migrations/1622090276691_require_player_ethaddress/down.sql
  hasura/migrations/1622090276691_require_player_ethaddress/up.sql
  packages/backend/src/handlers/actions/migrateSourceCredAccounts/handler.ts
Due: eslint --fix, prettier --write

Changed required seeds for Patrons from 5 to 6, per discussions with Peth and Luxumbra (#238)
  docs/enter-metagame/join-metagame.md
Due: prettier --write

ga analytics merge to develop (#633)
  packages/web/config.ts
  packages/web/pages/_app.tsx
Due: eslint --fix, prettier --write

Fixes #357 (#630)
  packages/web/components/LoginButton.tsx
Due: eslint --fix, prettier --write

Create become-a-buidler-on-ethereum-by-austin-griffith
  docs/playbooks/become-a-buidler-on-ethereum-by-austin-griffith
Due: none

Tweak to the white type to be moar white.
  packages/web/graphql/getPersonalityInfo.ts
Due: eslint --fix, prettier --write

responses to feedback from @dysbulic
  packages/web/components/Player/ColorBar.tsx
Due: eslint --fix, prettier --write

Feature/550 personality type styles (#628)
  packages/web/assets/colors/Ambition.svg
  packages/web/assets/colors/Balance.svg
  packages/web/assets/colors/Wisdom.svg
  packages/web/components/Player/ColorBar.tsx
  packages/web/graphql/getPersonalityInfo.ts
Due: eslint --fix, prettier --write

feat: use modal for DAO memberships
  packages/web/components/Player/Section/PlayerGallery.tsx
  packages/web/components/Player/Section/PlayerMemberships.tsx
  packages/web/graphql/fragments.ts
  packages/web/graphql/types.ts
Due: eslint --fix, prettier --write

Use environment variable for SourceCred ledger branch
  packages/backend/src/config.ts
  packages/backend/src/lib/sourcecredLedger.ts
  packages/discord-bot/src/config.ts
  packages/discord-bot/src/sourcecred.ts
  render.yaml
Due: eslint --fix, prettier --write

Setup action to nightly merge master into develop
  .github/workflows/nightly-merge.yml
Due: prettier --write

feat: add polygon and xdai chains when pulling DAO membership
  packages/backend/src/config.ts
  packages/backend/src/handlers/remote-schemas/resolvers/daohaus/resolver.ts
  packages/backend/src/handlers/remote-schemas/typeDefs.ts
  packages/backend/src/lib/daoHausClient.ts
  schema.graphql
Due: eslint --fix, prettier --write

fix: set a default DAO title
  packages/backend/src/handlers/remote-schemas/resolvers/daohaus/resolver.ts
Due: eslint --fix, prettier --write

fix: create clients once
  packages/backend/src/handlers/remote-schemas/resolvers/daohaus/resolver.ts
  packages/backend/src/lib/daoHausClient.ts
Due: eslint --fix, prettier --write

feat: least surprise in failures
  packages/backend/src/handlers/remote-schemas/resolvers/daohaus/resolver.ts
  packages/backend/src/lib/daoHausClient.ts
Due: eslint --fix, prettier --write

Eth coaching playbook (#240)
  docs/playbooks/how-to-coach-eth.md
  sidebars.js
Due: eslint --fix, prettier --write

chore: rebase and squash
  packages/web/components/Seo.tsx
  packages/web/pages/guild/[guildname].tsx
  packages/web/pages/guilds.tsx
  packages/web/pages/patrons.tsx
  packages/web/pages/player/[username].tsx
  packages/web/pages/players.tsx
  packages/web/pages/quest/[id].tsx
  packages/web/pages/quest/create.tsx
  packages/web/pages/quests.tsx
Due: eslint --fix, prettier --write

Updated "Join as a Patron" to instruct single asset despoisting of WETH (#245)
  docs/enter-metagame/join-metagame.md
Due: prettier --write

Update migrateSourceCredAccounts scripts to use Eth address as source of truth
  yarn.lock
Due: none

Use staging backend host for staging Hasura instance
  render.yaml
Due: none

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,yml,md})
