Repository MetaFam/TheGame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Only authenticate the DID for the model the compose client connects to
  packages/web/contexts/ComposeDBContext.tsx
Due: eslint --fix, prettier --write

Reinstate original deployment action
  .github/workflows/gcp-deploy-persistent-instances.yaml
  .github/workflows/gcp-deploy-pr.yaml
Due: none

Fixed player loading
  packages/backend/src/handlers/actions/sourcecred/sync.ts
  packages/web/components/ConnectedPage.tsx
  packages/web/pages/dashboard.tsx
  packages/web/pages/player/[username].tsx
  packages/web/utils/ensHelpers.ts
Due: eslint --fix, prettier --write

Added context to 'port data' modal
  packages/backend/src/handlers/actions/composeDB/linkProfileNode/handler.ts
  packages/web/components/Player/Profile/ComposeDBPromptModal.tsx
Due: eslint --fix, prettier --write

Fixed issue where saving from the edit profile modal was wiping out fields
  hasura/metadata/actions.yaml
  packages/web/components/EditProfileModal.tsx
  packages/web/contexts/PlayerHydrationContext.tsx
  packages/web/lib/hooks/ceramic/useGetPlayerProfileFromComposeDB.ts
Due: eslint --fix, prettier --write

Upgrade Hasura
  hasura/Dockerfile
  package.json
  yarn.lock
Due: prettier --write

Add ComposeDBPromptModal to setup pages as well
  packages/utils/src/constants.ts
  packages/web/components/EditProfileModal.tsx
  packages/web/components/Player/Profile/ComposeDBPromptModal.tsx
  packages/web/components/Setup/SetupProfile.tsx
  packages/web/lib/hooks/ceramic/useComputeComposeDBImageMetadata.ts
  packages/web/lib/hooks/ceramic/usePlayerSetupSaveToComposeDB.ts
  packages/web/utils/playerHelpers.ts
Due: eslint --fix, prettier --write

Replaced IDX cache actions / triggers with composeDB ones
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
  hasura/metadata/cron_triggers.yaml
  hasura/metadata/tables.yaml
  packages/backend/src/handlers/actions/ceramic/routes.ts
  packages/backend/src/handlers/actions/composeDB/cacheHelper.ts
  packages/backend/src/handlers/actions/composeDB/linkProfileNode/handler.ts
  packages/backend/src/handlers/actions/composeDB/routes.ts
  packages/backend/src/handlers/actions/composeDB/updatePlayerFromComposeDB.ts
  packages/backend/src/handlers/actions/composeDB/updateSingleProfile/handler.ts
  packages/backend/src/handlers/actions/idxCache/routes.ts
  packages/backend/src/handlers/actions/idxCache/updateExpiredProfiles/handler.ts
  packages/backend/src/handlers/actions/idxCache/updateSingle.ts
  packages/backend/src/handlers/actions/routes.ts
  packages/backend/src/handlers/auth-webhook/users.ts
  packages/backend/src/handlers/triggers/cacheComposeDBProfile.ts
  packages/backend/src/handlers/triggers/handler.ts
  packages/utils/src/composeDB/fields.ts
  packages/utils/src/composeDB/utils.ts
  packages/utils/src/index.ts
  packages/web/components/EditProfileModal.tsx
  packages/web/graphql/mutations/idxCache.ts
  packages/web/lib/hooks/ceramic/useGetPlayerProfileFromComposeDB.ts
  packages/web/lib/hooks/ceramic/usePlayerSetupSaveToComposeDB.ts
  packages/web/lib/hooks/ceramic/useSaveToComposeDB.ts
  schema.graphql
Due: eslint --fix, prettier --write

Handle errors during DAO sync
  packages/backend/src/handlers/remote-schemas/resolvers/daohaus/resolver.ts
Due: eslint --fix, prettier --write

Added mainnet check to composeDB port modal
  hasura/metadata/actions.yaml
  packages/backend/package.json
  packages/backend/src/handlers/actions/composeDB/linkProfileNode/handler.ts
  packages/web/components/Player/Profile/ComposeDBPromptModal.tsx
  packages/web/contexts/ComposeDBContext.tsx
Due: eslint --fix, prettier --write

Handle questchain lookup errors during SSR build
  packages/web/pages/learn/thegreathouses/[questchain].tsx
  packages/web/pages/play/paths/[questchain].tsx
Due: eslint --fix, prettier --write

fix bad merge
  packages/web/components/Player/Profile/ComposeDBPromptModal.tsx
  packages/web/components/Player/Section/PlayerHero.tsx
  packages/web/components/Setup/SetupTimeZone.tsx
  packages/web/pages/player/[username].tsx
  packages/web/utils/ensHelpers.ts
Due: eslint --fix, prettier --write

Hasura 2.0 requires a flag for our sloppy queries to still work
  hasura/Dockerfile
Due: none

remove editing thing for block
  packages/web/components/Player/Section/PlayerMeToken.tsx
  packages/web/contracts/erc20.abi.ts
  packages/web/utils/meTokens.ts
Due: eslint --fix, prettier --write

reviewing #1548 & making lots of stylistic & functional changes 📳
  .github/workflows/gcp-deploy-frontend.yaml
  packages/web/components/Player/Section/PlayerMeToken.tsx
  packages/web/components/SwitchNetworkButton.tsx
  packages/web/next.config.mjs
  packages/web/pages/_app.tsx
  packages/web/tsconfig.json
  packages/web/utils/mathHelper.ts
  packages/web/utils/meTokens.ts
  packages/web/utils/metamask.ts
Due: eslint --fix, prettier --write

hunting for layout load error & pushing debug statements to testing 🥁
  .eslintrc.cjs
  packages/backend/src/handlers/actions/guild/discord/oauthHandler.ts
  packages/backend/src/handlers/actions/guild/sync.ts
  packages/backend/src/handlers/actions/idxCache/updateSingle.ts
  packages/backend/src/handlers/actions/sourcecred/sync.ts
  packages/web/.eslintrc.cjs
  packages/web/.eslintrc.json
  packages/web/components/EditableGridLayout.tsx
  packages/web/components/Player/MeetWithWalletProfileEdition.tsx
  packages/web/components/Player/Section/PlayerMeToken.tsx
  packages/web/components/SwitchNetworkButton.tsx
  packages/web/graphql/getPlayers.ts
  packages/web/pages/player/[username].tsx
  packages/web/utils/mathHelper.ts
  packages/web/utils/meTokens.ts
Due: eslint --fix, prettier --write

updating eslint 💓
  .eslintignore
  docker/frontend/Dockerfile
  package.json
  packages/web/utils/meTokens.ts
  yarn.lock
Due: eslint --fix, prettier --write

linting 🃡
  .github/workflows/gcp-deploy-frontend.yaml
Due: none

removing MetaMask specificity 🃢
  packages/web/components/SwitchNetworkButton.tsx
  packages/web/utils/metamask.ts
Due: eslint --fix, prettier --write

moving `StrictMode` to Next.js 🃣
  packages/web/next.config.mjs
  packages/web/pages/_app.tsx
Due: eslint --fix, prettier --write

compressing & commafying 🃤
  packages/web/tsconfig.json
Due: prettier --write

upgrading eslint 👘
  .eslintignore
  .eslintrc.cjs
  docker/frontend/Dockerfile
  package.json
  packages/backend/src/handlers/actions/guild/discord/oauthHandler.ts
  packages/backend/src/handlers/actions/guild/sync.ts
  packages/backend/src/handlers/actions/sourcecred/sync.ts
  packages/web/.eslintrc.cjs
  packages/web/.eslintrc.json
  packages/web/utils/meTokens.ts
  yarn.lock
Due: eslint --fix, prettier --write

removing preface from guild name 🃥
  packages/web/pages/guild/[guildname]/index.tsx
Due: eslint --fix, prettier --write

removing unnecessary ESLint `no-console` directives 🌂
  packages/backend/src/handlers/actions/idxCache/updateSingle.ts
  packages/backend/src/handlers/actions/sourcecred/sync.ts
  packages/backend/src/handlers/triggers/playerRoleChanged.ts
  packages/backend/src/index.ts
  packages/utils/.eslintrc.cjs
  packages/utils/src/ethereumHelper.ts
  packages/web/components/EditProfileModal.tsx
  packages/web/components/Player/MeetWithWalletProfileEdition.tsx
  packages/web/components/SwitchNetworkButton.tsx
  packages/web/contexts/GameContext.tsx
  packages/web/contexts/Web3Context.tsx
  packages/web/graphql/client.ts
  packages/web/graphql/types.ts
  packages/web/lib/hooks/useBoxHeights.ts
  packages/web/lib/hooks/useUser.ts
  packages/web/pages/learn/thegreathouses/[questchain].tsx
  packages/web/pages/play/paths/[questchain].tsx
Due: eslint --fix, prettier --write

fixing a typo in a comment 🃦
  packages/web/utils/metamask.ts
Due: eslint --fix, prettier --write

add comment to begin wokr
  packages/web/components/EditProfileModal.tsx
Due: eslint --fix, prettier --write

updating GraphQL codegen for paid subgraph 🦏
  package.json
  packages/backend/codegen.ts
  packages/backend/codegen.yml
  packages/backend/package.json
  packages/discord-bot/package.json
  packages/web/codegen.ts
  packages/web/codegen.yml
  packages/web/package.json
  yarn.lock
Due: eslint --fix, prettier --write

replacing Discord invite link 📌
  packages/web/components/Setup/SetupDone.tsx
  packages/web/pages/404.tsx
  packages/web/utils/menuLinks.ts
Due: eslint --fix, prettier --write

passing through The Graph API token to Docker ♾
  .github/workflows/gcp-deploy.yaml
  docker/backend/Dockerfile
Due: none

setting Docker ARG to set ENV 📟
  docker/backend/Dockerfile
Due: none

missed a file rename in frontend Docker config 🦀
  docker/frontend/Dockerfile
Due: none

adding ts-node to fix Docker build issue ⸙
  packages/web/package.json
Due: prettier --write

trying to narrow down the 500 error's source in the test instance ⛄
  packages/web/config.ts
  packages/web/lib/hooks/useUser.ts
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

exposing The Graph API token on Cloud Run 🦃
  .github/workflows/gcp-deploy.yaml
  packages/backend/src/config.ts
  packages/backend/src/handlers/remote-schemas/resolvers/daohaus/resolver.ts
  packages/web/pages/index.tsx
Due: eslint --fix, prettier --write

more logging to try & find server error 🐠
  packages/backend/src/handlers/triggers/handler.ts
  packages/web/components/ConnectedPage.tsx
  packages/web/lib/LoggingErrorBoundary.tsx
  packages/web/utils/errorHandler.ts
Due: eslint --fix, prettier --write

more logging 🧱
  packages/web/lib/hooks/useUser.ts
Due: eslint --fix, prettier --write

trying to run Node.js in development mode on Cloud Run 🎁
  .github/workflows/gcp-deploy.yaml
  docker/frontend/Dockerfile
Due: none

fixed global CSS not loading 🏎
  packages/design-system/package.json
  packages/design-system/src/index.ts
  packages/web/assets/custom-markdown-editor.scss
  packages/web/next.config.mjs
  packages/web/package.json
  packages/web/pages/_app.tsx
  packages/web/utils/skillHelpers.ts
  yarn.lock
Due: eslint --fix, prettier --write

reconfiguring frontend Dockerfile to also run the dev environment 🌿
  .dockerignore
  .github/workflows/gcp-deploy.yaml
  docker/frontend/Dockerfile
  package.json
Due: prettier --write

dev mode seems to function 🧨
  .github/workflows/gcp-deploy.yaml
  docker/frontend/Dockerfile
  packages/utils/src/constants.ts
  packages/utils/src/did/index.ts
  packages/web/utils/errorHandler.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,yml,md})
