Repository MetaFam/TheGame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

SetupContext with useProgress hook
  packages/web/components/RegisterPlayer.tsx
  packages/web/components/SetupDone.tsx
  packages/web/components/SetupHeader.tsx
  packages/web/components/SetupPersonality.tsx
  packages/web/components/SetupProfession.tsx
  packages/web/components/SuccessPlayer.tsx
  packages/web/contexts/SetupContext.tsx
  packages/web/pages/profile/setup.tsx
Due: eslint --fix, prettier --write

Content edits & updates (#113)
  docs/Guilding/building-successful-teams.md
  docs/Guilding/guilding-101.md
  docs/enter-metagame/how-to-become-a-player.md
  docs/enter-metagame/leaderboard.md
  docs/resources/alignment2021.mdx
  docs/resources/glossary.md
  docs/start-here/for-patrons.md
  docs/wtf-is-metagame/wtf-is-metagame.mdx
Due: prettier --write

add features section
  packages/design-system/src/index.ts
  packages/web/components/PageHeader.tsx
  packages/web/components/Player/PlayerFeature.tsx
  packages/web/components/Player/PlayerFeatures.tsx
  packages/web/components/Player/PlayerHero.tsx
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

use chakra sizes
  packages/design-system/src/theme.ts
  packages/web/components/Container.tsx
  packages/web/components/PageHeader.tsx
  packages/web/components/Player/PlayerFeature.tsx
  packages/web/components/Player/PlayerFeatures.tsx
  packages/web/components/Player/PlayerHero.tsx
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

Simple profile page
  packages/web/components/Container.tsx
  packages/web/components/PageHeader.tsx
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

remove PageHeader for now
  packages/web/components/PageHeader.tsx
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

use rems
  packages/web/components/Container.tsx
  packages/web/components/Player/PlayerHero.tsx
Due: eslint --fix, prettier --write

created ResponsiveText in design-system
  packages/design-system/src/ResponsiveText.tsx
  packages/design-system/src/index.ts
  packages/design-system/stories/3-ResponsiveText.stories.tsx
Due: eslint --fix, prettier --write

using ResponsiveText for SetupHeader
  packages/web/components/Container.tsx
  packages/web/components/SetupAvatar.tsx
  packages/web/components/SetupHeader.tsx
  packages/web/pages/profile/setup.tsx
Due: eslint --fix, prettier --write

fixed fontWeight as normal for MetaHeading
  packages/design-system/src/MetaHeading.tsx
Due: eslint --fix, prettier --write

basic setup flow components done
  packages/web/components/Link.tsx
  packages/web/components/SetupAvatar.tsx
  packages/web/components/SetupDone.tsx
  packages/web/components/SetupHeader.tsx
  packages/web/components/SetupPersonality.tsx
  packages/web/components/SetupProfession.tsx
  packages/web/pages/profile/setup.tsx
Due: eslint --fix, prettier --write

Add responsive page header (#87)
  packages/web/components/PageHeader.tsx
  packages/web/pages/_app.tsx
  packages/web/pages/login.tsx
  packages/web/pages/profile/setup.tsx
  packages/web/pages/profile/success.tsx
Due: eslint --fix, prettier --write

Update introduction.mdx
  docs/introduction.mdx
Due: none

set up web3modal
  packages/web/components/RegisterPlayer.tsx
  packages/web/contexts/Web3Context.tsx
  packages/web/package.json
  packages/web/pages/_app.tsx
  yarn.lock
Due: eslint --fix, prettier --write

Update The Room for octo bday (#115)
  src/pages/theroom.js
Due: eslint --fix, prettier --write

Add skill categories enum
  README.md
  hasura/metadata/actions.yaml
  hasura/metadata/tables.yaml
  hasura/migrations/1598418750227_add_skill_categories/down.sql
  hasura/migrations/1598418750227_add_skill_categories/up.sql
  yarn.lock
Due: prettier --write

Create migration to add skills
  hasura/metadata/actions.yaml
  hasura/metadata/tables.yaml
  hasura/migrations/1598420094363_add_skills/up.sql
  yarn.lock
Due: none

Expose DB Ports for IDEs
  docker-compose.yml
Due: prettier --write

Improve types in SetupContext
  packages/web/contexts/SetupContext.tsx
Due: eslint --fix, prettier --write

Update Profile Page to include About Me, Location, and contact info
  packages/design-system/src/MetaBox.tsx
  packages/design-system/src/theme.ts
  packages/web/components/Link.tsx
  packages/web/components/PageHeader.tsx
  packages/web/components/Player/PlayerContacts.tsx
  packages/web/components/Player/PlayerFeature.tsx
  packages/web/components/Player/PlayerFeatures.tsx
  packages/web/components/Player/PlayerHero.tsx
  packages/web/pages/index.tsx
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

Update Links in Navbar + UI tweaks to Player page
  packages/web/components/Link.tsx
  packages/web/components/PageHeader.tsx
  packages/web/components/Player/PlayerContacts.tsx
  packages/web/components/Player/PlayerFeatures.tsx
Due: eslint --fix, prettier --write

Change header link to pink on hover
  packages/web/components/PageHeader.tsx
Due: eslint --fix, prettier --write

Disable NextJS telemetry
  .env.sample
  render.yaml
Due: none

Remove incorrect migration
  hasura/migrations/1595681063913_insert_seed_data/up.sql
Due: none

Fix a broken link (#114)
  docs/how-does-it-work/how-metagame-works.md
Due: prettier --write

About Me component
  packages/design-system/src/index.ts
  packages/design-system/src/typography.tsx
  packages/web/components/Player/PlayerAboutMe.tsx
  packages/web/pages/player/[username].tsx
  packages/web/utils/playerHelpers.ts
Due: eslint --fix, prettier --write

...
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js}
  prettier --write: (any of: *.{ts,tsx,js}) or (any of: *.{json,yml,md})
