Repository MetaFam/TheGame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,yml,md}": "prettier --write"
}

updating playbook submission chain id 👩‍🏭
  packages/web/components/QuestChain/UploadProof.tsx
  packages/web/pages/api/alchemy.ts
  packages/web/utils/questChains.ts
Due: eslint --fix, prettier --write

small fixes
  packages/web/pages/dashboard.tsx
Due: eslint --fix, prettier --write

switching from network-specific Alchemy keys 🛰️
  .github/workflows/gcp-deploy-frontend.yaml
  .github/workflows/gcp-deploy-pr.yaml
  docker/frontend/Dockerfile
  packages/web/pages/_app.tsx
  packages/web/utils/networks.ts
Due: eslint --fix, prettier --write

disabling EAS 🖲️
  packages/web/assets/academy/submit-playbook.webp
  packages/web/components/Player/PlayerSection.tsx
Due: eslint --fix, prettier --write

Updated urls and descriptions
  packages/web/utils/questChains.ts
Due: eslint --fix, prettier --write

Remove 'barrier of entry' coming soon and contact website for all guild cards
  packages/web/components/Guild/GuildTile.tsx
Due: eslint --fix, prettier --write

Update index.tsx
  packages/web/pages/academy/index.tsx
Due: eslint --fix, prettier --write

Fix /Close Issue #1739
  packages/web/components/ConnectToProgress.tsx
Due: eslint --fix, prettier --write

Update 404.tsx to fix wiki and forum deprecated links
  packages/web/pages/404.tsx
Due: eslint --fix, prettier --write

Deleted forum mention in discord-bot config
  packages/discord-bot/src/config.ts
Due: eslint --fix, prettier --write

Deleted discourse forum mentions in discord bot config
  packages/discord-bot/src/config.ts
Due: eslint --fix, prettier --write

Adding Metamodernism Playbook
  .vscode/settings.json
  packages/web/assets/academy/metamodernist.png
  packages/web/utils/questChains.ts
Due: eslint --fix, prettier --write

stripping out & updating various dependencies & switching to slash commands 🦚
  .node-version
  package.json
  packages/backend/package.json
  packages/backend/src/handlers/actions/composeDB/updatePlayerFromComposeDB.ts
  packages/backend/src/handlers/remote-schemas/resolvers/discord/resolver.ts
  packages/discord-bot/README.md
  packages/discord-bot/package.json
  packages/discord-bot/src/auth.ts
  packages/discord-bot/src/bot.ts
  packages/discord-bot/src/commands/help.ts
  packages/discord-bot/src/commands/setEthAddress.ts
  packages/discord-bot/src/config.ts
  packages/discord-bot/src/discord/commands/addAlias.ts
  packages/discord-bot/src/discord/commands/getXp.ts
  packages/discord-bot/src/discord/commands/help.ts
  packages/discord-bot/src/discord/commands/setEthAddress.ts
  packages/discord-bot/src/graphql/mutations.ts
  packages/discord-bot/src/index.ts
  packages/discord-bot/src/sourcecred.ts
  packages/discord-bot/src/start.ts
  packages/discord-bot/src/types.ts
  packages/discord-bot/src/utils.ts
  packages/discord-bot/tsconfig.json
  packages/utils/package.json
  packages/utils/src/ceramic.ts
  packages/utils/src/graphql/composeDBDefinition.ts
  packages/web/package.json
  yarn.lock
Due: eslint --fix, prettier --write

resetting node version 🫔
  package.json
Due: prettier --write

adding Metamodernism playbook
  packages/discord-bot/src/discord/commands/addAlias.ts
  packages/web/utils/questChains.ts
Due: eslint --fix, prettier --write

updating dependencies, fixing Ceramic, & handling broken Graph 🍪
  .nvmrc
  package.json
  packages/backend/codegen.ts
  packages/backend/src/handlers/actions/composeDB/linkProfileNode/handler.ts
  packages/backend/src/handlers/actions/composeDB/updatePlayerFromComposeDB.ts
  packages/backend/src/handlers/auth-webhook/handler.ts
  packages/utils/schema/user-profile-definition.json
  packages/utils/src/graphql/composeDBDefinition.ts
  packages/utils/src/index.ts
  packages/web/components/ConnectedPage.tsx
  packages/web/components/Patron/PatronRank.tsx
  packages/web/components/Player/PlayerTile.tsx
  packages/web/graphql/getPatrons.ts
  packages/web/graphql/getPlayer.ts
  packages/web/lib/hooks/useUser.ts
  packages/web/package.json
  packages/web/pages/community/index.tsx
  packages/web/pages/join/patron/index.tsx
  packages/web/pages/patrons.tsx
  yarn.lock
Due: eslint --fix, prettier --write

updating Quest Chains & adding a new SEED Graph 🛸
  packages/backend/codegen.ts
  packages/backend/package.json
  packages/backend/src/config.ts
  packages/backend/src/handlers/remote-schemas/resolvers/daohaus/resolver.ts
  packages/backend/src/handlers/remote-schemas/resolvers/seedGraph/queries.ts
  packages/backend/src/handlers/remote-schemas/resolvers/seedGraph/resolver.ts
  packages/backend/src/lib/balancerPolygonClient.ts
  packages/backend/src/lib/daoHausClient.ts
  packages/backend/src/lib/seedGraphClient.ts
  packages/web/graphql/getPlayer.ts
  packages/web/package.json
  packages/web/utils/questChains.ts
  yarn.lock
Due: eslint --fix, prettier --write

fixing the passthrough for the new SEED subgraph 🥩
  packages/backend/src/config.ts
  packages/backend/src/handlers/remote-schemas/resolvers/seedGraph/queries.ts
  packages/backend/src/handlers/remote-schemas/resolvers/seedGraph/resolver.ts
  packages/backend/src/handlers/remote-schemas/typeDefs.ts
  packages/web/components/MegaMenu/XPSeedsBalance.tsx
  packages/web/components/Patron/Join/PerksGrid.tsx
  packages/web/components/Patron/Join/RankedLeagues.tsx
  packages/web/graphql/fragments.ts
  packages/web/graphql/getPatrons.ts
  packages/web/graphql/types.ts
  packages/web/lib/hooks/balances.ts
  packages/web/next.config.mjs
  packages/web/tsconfig.json
  packages/web/utils/patronHelpers.ts
  packages/web/utils/questHelpers.ts
  schema.graphql
Due: eslint --fix, prettier --write

pushing a new version to cause a rebuild 🔮
  packages/web/pages/patrons.tsx
Due: eslint --fix, prettier --write

adding `hasura metadata reload` to deploy Action ❇️
  .github/workflows/gcp-deploy-frontend.yaml
Due: none

trying a different Action provider 🦩
  .github/workflows/gcp-deploy-frontend.yaml
Due: none

fixing environment variable access 💌
  .github/workflows/gcp-deploy-frontend.yaml
Due: none

adding repository checkout 🌽
  .github/workflows/gcp-deploy-frontend.yaml
Due: none

adding `HASURA_WORKDIR` 😶‍🌫️
  .github/workflows/gcp-deploy-frontend.yaml
Due: none

switching to `PATH_TO_HASURA_PROJECT_ROOT` 🫁
  .github/workflows/gcp-deploy-frontend.yaml
Due: none

changing to `HASURA_HOST` from `GRAPHQL_URL` 🍉
  .github/workflows/gcp-deploy-frontend.yaml
Due: none

testing environment 🫖
  .github/workflows/gcp-deploy-frontend.yaml
Due: none

exporting environment variables 🍞
  .github/workflows/gcp-deploy-frontend.yaml
Due: none

testing secret 🚁
  .github/workflows/gcp-deploy-frontend.yaml
Due: none
