Repository MetaFam/TheGame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,yml,md}": "prettier --write"
}

printing `NODE_ENV` to double check testing setting 🔩
  packages/web/components/Landing/LandingHeader.tsx
  packages/web/pages/index.tsx
Due: eslint --fix, prettier --write

setting required pSEED to 0 in testing & switching the IPFS gateway ⛑
  packages/utils/src/constants.ts
  packages/web/components/Quest/CompletionForm.tsx
  packages/web/pages/quest/[id].tsx
Due: eslint --fix, prettier --write

testing if setting `$NODE_ENV` is sufficient for configuration 🦋
  .github/workflows/gcp-deploy.yaml
Due: none

properly spreading arguments & restructuring forms 🥴
  packages/design-system/package.json
  packages/design-system/src/Field.tsx
  packages/design-system/src/index.ts
  packages/web/components/MarkdownViewer/MarkdownViewer.tsx
  packages/web/components/Quest/CompletionForm.tsx
  packages/web/components/Quest/QuestForm.tsx
  packages/web/components/Quest/QuestTile.tsx
  packages/web/pages/quest/[id].tsx
  packages/web/pages/quest/[id]/complete.tsx
  packages/web/utils/questHelpers.ts
  tsconfig.base.json
  yarn.lock
Due: eslint --fix, prettier --write

seeing if "development" works as a `NODE_ENV` for Next.js ⛳
  .github/workflows/gcp-deploy.yaml
  tsconfig.base.json
Due: prettier --write

adding graphql retry on empty response 🥁
  packages/web/graphql/client.ts
Due: eslint --fix, prettier --write

consuming `NODE_ENV` in Dockerfile 🥺
  docker/frontend/Dockerfile
Due: none

going to `APP_ENV` b/c `NODE_ENV` is unsettable 🎺
  .github/workflows/gcp-deploy-frontend.yaml
  .github/workflows/gcp-deploy.yaml
  docker/frontend/Dockerfile
  packages/utils/src/constants.ts
  packages/web/components/Landing/LandingHeader.tsx
  packages/web/components/Patron/PatronList.tsx
  packages/web/pages/players.tsx
  packages/web/pages/raids.tsx
Due: eslint --fix, prettier --write

removing printing `NEXT_PUBLIC_APP_ENV` 🦷
  packages/web/components/Landing/LandingHeader.tsx
Due: eslint --fix, prettier --write

making entire quest tile a link
  packages/web/components/Player/Filter/PlayersNotFound.tsx
  packages/web/components/Quest/QuestTile.tsx
Due: eslint --fix, prettier --write

aligned rank tag in quest details page
  packages/design-system/src/index.ts
  packages/web/components/Player/PlayerRank.tsx
Due: eslint --fix, prettier --write

fix: :bug: Add a `minWidth` to `PlayerTile`
  packages/web/components/Player/PlayerTile.tsx
  yarn.lock
Due: eslint --fix, prettier --write

feat: :sparkles: Add more accurate image preview for quests
  packages/web/components/Quest/QuestForm.tsx
Due: eslint --fix, prettier --write

feat: :sparkles: Add image to `QuestDetail`
  packages/web/components/Quest/QuestDetails.tsx
Due: eslint --fix, prettier --write

refactor: :speech_balloon: Update `Raid/Phase III` description
  packages/web/pages/raids.tsx
Due: eslint --fix, prettier --write

Fixed discord bot to run locally again
  package.json
  packages/discord-bot/package.json
  packages/discord-bot/src/bot.ts
  packages/discord-bot/src/discord/commands/addAlias.ts
  packages/discord-bot/src/discord/commands/getXp.ts
  packages/discord-bot/src/discord/commands/setEthAddress.ts
  packages/discord-bot/src/graphql/client.ts
  packages/discord-bot/tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

Add the Back to Top link to help make a gap between the bottom of the screen and the bottom of the patron's list
  packages/web/pages/patrons.tsx
Due: eslint --fix, prettier --write

Patrons list shows 30 patrons on first load; click the Load More button to show the next 30, and so on
  packages/web/pages/patrons.tsx
Due: eslint --fix, prettier --write

Add Chakra's VisuallyHidden component to the Design System import
  packages/design-system/src/index.ts
Due: eslint --fix, prettier --write

Ceramic ModelManager → DataModel (#1453)
  packages/backend/package.json
  packages/backend/src/handlers/actions/idxCache/updateSingle.ts
  packages/backend/src/handlers/auth-webhook/users.ts
  packages/utils/src/ceramic.ts
  packages/utils/src/index.ts
  packages/web/components/EditProfileModal.tsx
  packages/web/contexts/Web3Context.tsx
  packages/web/lib/hooks/useSaveCeramicProfile.ts
  packages/web/package.json
  yarn.lock
Due: eslint --fix, prettier --write

Slim FTW
  docker/frontend/Dockerfile
Due: none

Use same base images for deployment as when building
  docker/backend/Dockerfile
  docker/discord-bot/Dockerfile
Due: none

Use consistent underlying images for all docker containers (#1470)
  docker/backend/Dockerfile
  docker/discord-bot/Dockerfile
  docker/frontend/Dockerfile
Due: none

Add the join CTA to guilds and patrons pages
  packages/web/pages/guilds.tsx
  packages/web/pages/patrons.tsx
Due: eslint --fix, prettier --write

Change the link colour to better match the Figma
  packages/web/pages/guilds.tsx
  packages/web/pages/patrons.tsx
Due: eslint --fix, prettier --write

fixing #1474 📛
  packages/web/components/Player/PlayerList.tsx
Due: eslint --fix, prettier --write

fixes #1468 by setting `overflow` `visible` 🛸
  packages/web/components/Player/Filter/DesktopFilters.tsx
  packages/web/components/Quest/QuestFilter.tsx
Due: eslint --fix, prettier --write

UI & semantics tweaks from @luxumbra 🧞‍♀️
  packages/web/components/Quest/QuestDetails.tsx
  packages/web/components/Quest/QuestTile.tsx
Due: eslint --fix, prettier --write

centering short quest titles 🇪🇺
  packages/web/components/Quest/QuestTile.tsx
Due: eslint --fix, prettier --write

borked the quest title centering 👹
  packages/web/components/Quest/QuestTile.tsx
Due: eslint --fix, prettier --write

Update README.md
  README.md
Due: prettier --write

Tweaked copy for join guild page, added Discord notification on guild submit
  packages/backend/src/config.ts
  packages/backend/src/handlers/actions/guild/saveGuildHandler.ts
  packages/utils/src/constants.ts
  packages/web/components/Guild/GuildForm.tsx
  packages/web/pages/join/guild/[guildname].tsx
  packages/web/pages/join/guild/start.tsx
Due: eslint --fix, prettier --write

initial implementation of the great houses x qc
  hasura/Dockerfile
  packages/web/assets/houses/daos.png
  packages/web/assets/houses/dapps.png
  packages/web/assets/houses/definance.png
  packages/web/assets/houses/ethereum.png
  packages/web/assets/houses/nfts.png
  packages/web/components/QuestChain/MintNFTTile.tsx
  packages/web/components/QuestChain/QuestHeading.tsx
  packages/web/pages/learn/thegreathouses.tsx
  packages/web/pages/learn/thegreathouses/[questchain].tsx
  packages/web/pages/learn/thegreathouses/index.tsx
  packages/web/pages/learn/thegreathouses/lol.js
  packages/web/utils/questChains.ts
Due: eslint --fix, prettier --write

Change the default share image for OpenGraph and Twitter cards
  packages/web/components/Seo.tsx
  packages/web/public/assets/MG-share-image_octopus-in-space.jpg
Due: eslint --fix, prettier --write

Forgot to check in the small text fixes
  packages/web/components/Seo.tsx
Due: eslint --fix, prettier --write
