Repository MetaFam/TheGame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Call discord REST API directly from backend instead
  hasura/migrations/1613085907468_add_metafam_discord/up.sql
  packages/backend/src/config.ts
  packages/backend/src/handlers/triggers/updateDiscordRole.ts
  packages/discord-bot/package.json
  packages/discord-bot/src/index.ts
  packages/discord-bot/src/types.d.ts
Due: eslint --fix, prettier --write

Implemented fetching discord roles, adding / deleting per user
  docker-compose.yml
  packages/backend/package.json
  packages/backend/src/handlers/graphql/queries.ts
  packages/backend/src/handlers/triggers/handler.ts
  packages/backend/src/handlers/triggers/updateDiscordRole.ts
Due: eslint --fix, prettier --write

Revert "Revert "Make username params lowercase to match those in the database""
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

Revert "Revert "Redirect to the proper player page URL when appropriate""
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

Revert "Revert "Allow case-insensitive player username lookups""
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

Revert "Revert "Add username lowercase mutation""
  hasura/migrations/1614278149225_lowercase_player_username/up.sql
  packages/web/components/Setup/SetupUsername.tsx
Due: eslint --fix, prettier --write

Revert "Revert "Removed client-side username regex so as not to duplicate the server-side one""
  packages/web/components/Setup/SetupUsername.tsx
Due: eslint --fix, prettier --write

Revert "Revert "Added player username regex check constraint""
  hasura/migrations/1614710766234_alter_table_public_player_add_check_constraint_username_is_valid/down.sql
  hasura/migrations/1614710766234_alter_table_public_player_add_check_constraint_username_is_valid/up.sql
Due: none

Added DISCORD_BOT_TOKEN
  render.yaml
Due: none

Added missing guild INSERT script, discord env placeholder
  hasura/migrations/1613085907468_add_metafam_discord/up.sql
  render.yaml
Due: none

matchin' hasura config to preupdate version 🗃
  hasura/metadata/tables.yaml
  packages/web/components/Player/Section/ColorImage.tsx
Due: eslint --fix, prettier --write

matchin' hasura config to preupdate version 🗃
  hasura/metadata/tables.yaml
Due: none

removin' namespace for useState ❌
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

fixed daohaus shares bug
  packages/backend/src/handlers/remote-schemas/typeDefs.ts
  schema.graphql
Due: eslint --fix, prettier --write

fixed daohaus shares bug (#400)
  packages/backend/src/handlers/remote-schemas/typeDefs.ts
  schema.graphql
Due: eslint --fix, prettier --write

updated seed-balances remote schema logic
  packages/backend/src/handlers/remote-schemas/resolvers/getTokenBalance/queries.ts
  packages/backend/src/handlers/remote-schemas/resolvers/getTokenBalance/resolver.ts
Due: eslint --fix, prettier --write

added plurality to variable names
  hasura/metadata/tables.yaml
  packages/backend/codegen.yml
  packages/backend/src/handlers/remote-schemas/resolvers/seedGraph/queries.ts
  packages/backend/src/handlers/remote-schemas/resolvers/seedGraph/resolver.ts
  packages/backend/src/handlers/remote-schemas/schema.ts
  packages/backend/src/handlers/remote-schemas/typeDefs.ts
Due: eslint --fix, prettier --write

updated schema
  schema.graphql
Due: none

fixed schema
  schema.graphql
Due: none

[MyMeta] updated seed-balances remote schema logic (#399)
  hasura/metadata/tables.yaml
  packages/backend/codegen.yml
  packages/backend/src/handlers/remote-schemas/resolvers/getTokenBalance/queries.ts
  packages/backend/src/handlers/remote-schemas/resolvers/getTokenBalance/resolver.ts
  packages/backend/src/handlers/remote-schemas/resolvers/seedGraph/queries.ts
  packages/backend/src/handlers/remote-schemas/resolvers/seedGraph/resolver.ts
  packages/backend/src/handlers/remote-schemas/schema.ts
  packages/backend/src/handlers/remote-schemas/typeDefs.ts
  schema.graphql
Due: eslint --fix, prettier --write

Create meme-driven-organizations.md (#214)
  docs/Guilding/meme-driven-organizations.md
Due: prettier --write

Update sidebars.js
  sidebars.js
Due: eslint --fix, prettier --write

Update meme-driven-organizations.md
  docs/Guilding/meme-driven-organizations.md
Due: prettier --write

addin' exit buttons to the profile navigation 🦇
  packages/design-system/package.json
  packages/design-system/src/index.ts
  packages/web/components/Player/ColorBar.tsx
  packages/web/components/Player/Section/ColorImage.tsx
  packages/web/components/Player/Section/PlayerHero.tsx
  packages/web/components/Setup/ColorBar.tsx
  packages/web/components/Setup/SetupHeader.tsx
  packages/web/components/Setup/SetupPersonalityType.tsx
  packages/web/contexts/SetupContext.tsx
  yarn.lock
Due: eslint --fix, prettier --write

renamin' the aspects to prevent IP violations 🚔
  hasura/migrations/1614544655501_create-mtg-colors-table/up.sql
  packages/design-system/src/SelectTimeZone.tsx
  packages/web/components/Player/ColorBar.tsx
  packages/web/components/Player/PlayerContacts.tsx
  packages/web/components/Setup/SetupAvailability.tsx
  packages/web/components/Setup/SetupHeader.tsx
  packages/web/components/Setup/SetupPersonalityType.tsx
  packages/web/components/Setup/SetupSkills.tsx
  packages/web/components/Setup/SetupTimeZone.tsx
  packages/web/components/Setup/SetupUsername.tsx
  packages/web/graphql/getPersonalityInfo.ts
  packages/web/pages/profile/setup/personalityType.tsx
Due: eslint --fix, prettier --write

workin' through linting 🧴
  packages/web/components/Player/ColorBar.tsx
  packages/web/components/Setup/SetupPersonalityType.tsx
  packages/web/components/Setup/SetupSkills.tsx
  packages/web/components/Setup/SetupTimeZone.tsx
  packages/web/components/Setup/SetupUsername.tsx
  yarn.lock
Due: eslint --fix, prettier --write

gettin' typecheck to pass 🦌
  packages/design-system/src/SelectTimeZone.tsx
  packages/web/components/Setup/SetupTimeZone.tsx
Due: eslint --fix, prettier --write

make ethereum_address lowercase in backend
  hasura/migrations/1615534737144_lowercase_player_ethereum_address/up.sql
  hasura/migrations/1615534770163_alter_table_public_player_add_check_constraint_ethereum_address_is_valid/down.sql
  hasura/migrations/1615534770163_alter_table_public_player_add_check_constraint_ethereum_address_is_valid/up.sql
  packages/backend/src/handlers/actions/migrateSourceCredAccounts/handler.ts
  packages/backend/src/handlers/auth-webhook/users.ts
Due: eslint --fix, prettier --write

make ethereum_address lowercase in backend (#405)
  hasura/migrations/1615534737144_lowercase_player_ethereum_address/up.sql
  hasura/migrations/1615534770163_alter_table_public_player_add_check_constraint_ethereum_address_is_valid/down.sql
  hasura/migrations/1615534770163_alter_table_public_player_add_check_constraint_ethereum_address_is_valid/up.sql
  packages/backend/src/handlers/actions/migrateSourceCredAccounts/handler.ts
  packages/backend/src/handlers/auth-webhook/users.ts
Due: eslint --fix, prettier --write

add if not null check to ethereum address
  hasura/migrations/1615534737144_lowercase_player_ethereum_address/up.sql
Due: none

add if not null check to ethereum address (#406)
  hasura/migrations/1615534737144_lowercase_player_ethereum_address/up.sql
Due: none

Revert "add if not null check to ethereum address (#406)"
  hasura/migrations/1615534737144_lowercase_player_ethereum_address/up.sql
Due: none

Revert "make ethereum_address lowercase in backend (#405)"
  hasura/migrations/1615534737144_lowercase_player_ethereum_address/up.sql
  hasura/migrations/1615534770163_alter_table_public_player_add_check_constraint_ethereum_address_is_valid/down.sql
  hasura/migrations/1615534770163_alter_table_public_player_add_check_constraint_ethereum_address_is_valid/up.sql
  packages/backend/src/handlers/actions/migrateSourceCredAccounts/handler.ts
  packages/backend/src/handlers/auth-webhook/users.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js}
  prettier --write: (any of: *.{ts,tsx,js}) or (any of: *.{json,yml,md})
