Repository MetaFam/TheGame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,yml,md}": "prettier --write"
}

Got all commands running again
  packages/backend/src/handlers/triggers/playerRankUpdated.ts
  packages/backend/src/handlers/triggers/playerRoleChanged.ts
  packages/discord-bot/src/discord/commands/addAlias.ts
  packages/discord-bot/src/discord/commands/getXp.ts
  packages/discord-bot/src/discord/commands/help.ts
  packages/discord-bot/src/discord/commands/setEthAddress.ts
  packages/discord-bot/src/index.ts
  packages/discord-bot/src/utils.ts
Due: eslint --fix, prettier --write

Regenerated yarn.lock after rebase
  packages/utils/package.json
  packages/web/package.json
  yarn.lock
Due: prettier --write

Merge cleanup
  package.json
  packages/discord-bot/src/discord/commands/getXp.ts
  packages/discord-bot/src/utils.ts
  yarn.lock
Due: eslint --fix, prettier --write

Deleted the rather silly test
  packages/discord-bot/test/getXp.test.ts
Due: eslint --fix, prettier --write

Bumped node version
  package.json
Due: prettier --write

Moved bot init code into bot.ts so that dependent packages aren't using it
  packages/backend/package.json
  packages/backend/src/handlers/remote-schemas/resolvers/discord/resolver.ts
  packages/discord-bot/package.json
  packages/discord-bot/src/bot.ts
  packages/discord-bot/src/index.ts
  packages/discord-bot/src/start.ts
  yarn.lock
Due: eslint --fix, prettier --write

Started migration to discordx
  packages/discord-bot/package.json
  packages/discord-bot/src/config.ts
  packages/discord-bot/src/discord/AppDiscord.ts
  packages/discord-bot/src/discord/commands/addAlias.ts
  packages/discord-bot/src/index.ts
  yarn.lock
Due: eslint --fix, prettier --write

allowing multiple runs of MWW type insertion & renaming `docker:dev` script 📻
  hasura/migrations/1650213538515_adds_mww_account_type/up.sql
  package.json
Due: prettier --write

Fix database seeding of GCP PR backend instances
  .github/workflows/gcp-deploy.yaml
Due: none

fix: incorporated review comments from @dysbulic & @vidvidvid
  packages/web/pages/index.tsx
Due: eslint --fix, prettier --write

feat: connect to mainnet to continue with switch network on metamask
  packages/web/config.ts
Due: eslint --fix, prettier --write

feat: join button
  packages/web/components/JoinButton.tsx
  packages/web/components/Landing/IntroHero.tsx
Due: eslint --fix, prettier --write

feat: moved landing to index
  packages/web/pages/index.tsx
Due: eslint --fix, prettier --write

fix: fixed landing page issues + scrollSnap
  packages/web/pages/index.tsx
Due: eslint --fix, prettier --write

fix: fixed issues on landing page
  packages/web/components/Landing/IntroHero.tsx
  packages/web/pages/index.tsx
Due: eslint --fix, prettier --write

feat: metamask switch network support + fixed dependancy cycle
  packages/web/config.ts
Due: eslint --fix, prettier --write

moving uuid to workspace to prevent hoisting of v3.4.0 ✨
  package.json
  yarn.lock
Due: prettier --write

fix: merge conflicts
  packages/web/components/Guild/GuildForm.tsx
  packages/web/components/Guild/GuildTile.tsx
Due: eslint --fix, prettier --write

type wrangling
  packages/design-system/src/SelectTimeZone.tsx
  packages/design-system/src/index.ts
  packages/web/components/EditProfileModal.tsx
Due: eslint --fix, prettier --write

re-enabled daohaus SDK
  packages/backend/codegen.yml
  packages/backend/package.json
Due: prettier --write

porting in disabling of broken DAUHaus Graph 🔖
  packages/backend/codegen.yml
Due: prettier --write

feat: set bobheadxi/deployments@v1
  .github/workflows/gcp-deploy.yaml
Due: none

locking `uuid` version to most recent to see it’ll deploy 🍷
  package.json
  yarn.lock
Due: prettier --write
