Repository MetaFam/TheGame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

large commit: added most final sections, one more to go
  packages/web/components/Landing/Optimal.tsx
  packages/web/pages/landing.tsx
Due: eslint --fix, prettier --write

fix: triangular menu icon position and width
  packages/web/components/MegaMenu/MegaMenu.tsx
Due: eslint --fix, prettier --write

having eslint ignore a `console.error` call 🎑
  packages/utils/src/ethereumHelper.ts
Due: eslint --fix, prettier --write

fix: eslint & fetching layout from user on login
  packages/backend/src/handlers/actions/routes.ts
  packages/backend/src/handlers/actions/storage/handler.ts
  packages/design-system/.eslintrc.json
  packages/web/components/Dashboard/LatestContentTabs/Listen.tsx
  packages/web/components/Dashboard/LatestContentTabs/Watch.tsx
  packages/web/components/WYSIWYGEditor.tsx
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

fixed ordered list
  packages/web/components/Landing/sections/Cards.tsx
Due: eslint --fix, prettier --write

miscellaneous changes pulled from #1078 for brevity 💺
  yarn.lock
Due: none

fix: me page
  packages/web/pages/me.tsx
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

ui fix
  packages/web/components/Landing/Optimal.tsx
Due: eslint --fix, prettier --write

chore: bump eslint-plugin-react-hooks 4.2.0 -> 4.3.0
  package.json
  yarn.lock
Due: prettier --write

style: megamenu changes
  packages/web/components/MegaMenu/MegaMenu.tsx
Due: eslint --fix, prettier --write

style: fix the jumping of menu when loading
  packages/web/components/MegaMenu/MegaMenu.tsx
Due: eslint --fix, prettier --write

feat: persisting profile layout changes in hasura
  hasura/metadata/tables.yaml
  hasura/migrations/1641576381077_alter_table_public_player_add_column_profile_layout/down.sql
  hasura/migrations/1641576381077_alter_table_public_player_add_column_profile_layout/up.sql
  schema.graphql
Due: none

feat: landing ( Improved file structure for landing page and tidied improrts
  packages/web/components/Landing/sections/Frontier.tsx
  packages/web/pages/landing.tsx
Due: eslint --fix, prettier --write

chore: bump graphql 15.5.0 -> 15.8.0
  package.json
  packages/backend/package.json
  packages/discord-bot/package.json
  packages/web/package.json
  yarn.lock
Due: prettier --write

Medium sized mobile devices tidied up
  packages/web/components/Landing/Build.tsx
  packages/web/components/Landing/Game.tsx
  packages/web/components/Landing/Intro.tsx
  packages/web/components/Landing/IntroHero.tsx
  packages/web/components/Landing/JustWatch.tsx
  packages/web/components/Landing/Revolution.tsx
  packages/web/components/Landing/Together.tsx
  packages/web/components/Landing/WhatWeDo.tsx
  packages/web/components/Landing/WildWeb.tsx
Due: eslint --fix, prettier --write

Dependabot updates December (#958)
  .github/dependabot.yml
  package.json
  packages/design-system/package.json
  packages/web/components/Setup/SetupTimeZone.tsx
  packages/web/package.json
  yarn.lock
Due: eslint --fix, prettier --write

fix: useEffect dependency
  packages/web/components/WYSIWYGEditor.tsx
Due: eslint --fix, prettier --write

Final push on last components next commit
  packages/web/assets/landing/optimal-background.png
  packages/web/assets/landing/whatWeDo-background.png
  packages/web/components/Landing/Optimal.tsx
  packages/web/components/Landing/WhatWeDo.tsx
  packages/web/components/Landing/WildWeb.tsx
Due: eslint --fix, prettier --write

style: transparent background of the chart
  packages/web/assets/seeds-flowchart.png
Due: none

Final push on last components next commit
  packages/web/components/Landing/Optimal.tsx
  packages/web/components/Landing/WildWeb.tsx
Due: eslint --fix, prettier --write

Add 404 Page structure
  packages/web/pages/404.tsx
Due: eslint --fix, prettier --write

feat: save roles to backend
  packages/backend/src/handlers/actions/quests/createQuest/createQuest.ts
  packages/web/components/Quest/QuestForm.tsx
  packages/web/pages/quest/create.tsx
Due: eslint --fix, prettier --write

chore: consolidate migrations
  hasura/migrations/1641640073308_create_table_public_quest_role/down.sql
  hasura/migrations/1641640073308_create_table_public_quest_role/up.sql
  hasura/migrations/1642342313101_alter_table_public_quest_role_drop_constraint_quest_role_quest_id_key/down.sql
  hasura/migrations/1642635473840_alter_table_public_PlayerRole_add_column_isBasic/down.sql
  hasura/migrations/1642635473840_alter_table_public_PlayerRole_add_column_isBasic/up.sql
  hasura/migrations/1642713671696_alter_table_public_quest_role_alter_column_rank/down.sql
  hasura/migrations/1642713671696_alter_table_public_quest_role_alter_column_rank/up.sql
  hasura/migrations/1642776933725_alter_table_public_PlayerRole_alter_column_isBasic/down.sql
  hasura/migrations/1642776933725_alter_table_public_PlayerRole_alter_column_isBasic/up.sql
Due: none

chore: rebase fixes
  packages/web/components/MegaMenu/DesktopNavLinks.tsx
  packages/web/components/MegaMenu/MegaMenu.tsx
  packages/web/pages/_app.tsx
  packages/web/utils/menuIcons.ts
Due: eslint --fix, prettier --write

Revert tables metadata change
  hasura/metadata/tables.yaml
Due: none

fix: fixed high level layouting
  packages/design-system/src/SelectTimeZone.tsx
  packages/design-system/src/index.ts
  packages/design-system/src/theme/index.ts
  packages/web/components/Container.tsx
  packages/web/components/EditProfileForm.tsx
  packages/web/components/MegaMenu/MegaMenu.tsx
  packages/web/components/MegaMenu/PlayerStatsBar.tsx
  packages/web/components/MegaMenu/index.tsx
  packages/web/components/Player/ColorBar.tsx
  packages/web/components/PlayerStatsBar.tsx
  packages/web/components/Setup/SetupPersonalityType.tsx
  packages/web/pages/_app.tsx
  packages/web/pages/community/events.tsx
  packages/web/pages/community/players.tsx
  packages/web/pages/invest/becomeapatron.tsx
  packages/web/pages/invest/buyseeds.tsx
  packages/web/pages/invest/grants.tsx
  packages/web/pages/invest/plantseeds.tsx
  packages/web/pages/learn/metaradio.tsx
  packages/web/pages/learn/playbooks.tsx
  packages/web/pages/learn/thegreathouses.tsx
  packages/web/pages/learn/wiki.tsx
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

chore: bump chakra-ui/icons 1.0.14 -> 1.1.3
  packages/design-system/package.json
  yarn.lock
Due: prettier --write

fixed overlap of stats bar on mobile & tablet (#1040)
  packages/web/components/Container.tsx
  packages/web/components/PlayerStatsBar.tsx
Due: eslint --fix, prettier --write

fix: s-s rendered page is trying to access an unavailable component
  packages/web/components/Setup/SetupTimeZone.tsx
  packages/web/pages/profile/setup/timeZone.tsx
Due: eslint --fix, prettier --write

printing `github` object caused the run to fail 🧐
  .github/workflows/gcp-deploy.yaml
Due: none

large commit: added most final sections, one more to go
  packages/web/assets/landing/just-watch-background.png
  packages/web/assets/landing/unplug-background.png
  packages/web/assets/landing/who-background.png
  packages/web/components/Landing/JustWatch.tsx
  packages/web/components/Landing/Unplug.tsx
  packages/web/components/Landing/Who.tsx
  packages/web/pages/landing.tsx
Due: eslint --fix, prettier --write

chore: consolidate migrations
  hasura/migrations/1641640073308_create_table_public_quest_role/down.sql
  hasura/migrations/1642342313101_alter_table_public_quest_role_drop_constraint_quest_role_quest_id_key/down.sql
  hasura/migrations/1642635473840_alter_table_public_PlayerRole_add_column_isBasic/down.sql
  hasura/migrations/1642635473840_alter_table_public_PlayerRole_add_column_isBasic/up.sql
  hasura/migrations/1642713671696_alter_table_public_quest_role_alter_column_rank/down.sql
  hasura/migrations/1642713671696_alter_table_public_quest_role_alter_column_rank/up.sql
  hasura/migrations/1642776933725_alter_table_public_PlayerRole_alter_column_isBasic/down.sql
  hasura/migrations/1642776933725_alter_table_public_PlayerRole_alter_column_isBasic/up.sql
Due: none

Trigger Build
  packages/web/components/Landing/sections/WhatWeDo.tsx
Due: eslint --fix, prettier --write

75 of 100 files from #1078 have been added; need to rebase the parent branch 🚲
  packages/backend/src/handlers/auth-webhook/users.ts
  packages/design-system/src/MetaButton.tsx
  packages/design-system/src/StatusedSubmitButton.tsx
  packages/design-system/src/index.ts
  packages/web/components/EditProfileForm.tsx
  packages/web/components/MegaMenu/MegaMenu.tsx
  packages/web/components/MegaMenu/index.tsx
  packages/web/components/Player/PlayerAvatar.tsx
  packages/web/components/Player/PlayerContacts.tsx
  packages/web/components/Player/Section/PlayerBrightId.tsx
  packages/web/components/Player/Section/PlayerColorDisposition.tsx
  packages/web/components/Player/Section/PlayerHero.tsx
  packages/web/components/Profile/PlayerSection.tsx
  packages/web/components/Quest/QuestFilter.tsx
  packages/web/components/Setup/GenericWizardPane.tsx
  packages/web/components/Setup/ProfileWizardPane.tsx
  packages/web/components/Setup/SetupDone.tsx
  packages/web/contexts/Web3Context.tsx
  packages/web/graphql/getPlayers.ts
  packages/web/lib/hooks/brightId.ts
  packages/web/lib/hooks/index.ts
  packages/web/lib/hooks/useField.ts
  packages/web/lib/hooks/useSaveCeramicProfile.ts
  packages/web/lib/hooks/useUser.ts
  packages/web/pages/api/metadata.ts
  packages/web/pages/api/storage.ts
  packages/web/pages/me.tsx
  packages/web/utils/playerHelpers.ts
Due: eslint --fix, prettier --write

feat: make whole card clickable
  packages/web/pages/seeds.tsx
Due: eslint --fix, prettier --write

fix: display message only when loading is complete
  packages/web/components/Guild/Section/GuildPlayers.tsx
Due: eslint --fix, prettier --write

Landing: cleanup intro
  packages/web/components/Landing/Intro.tsx
Due: eslint --fix, prettier --write

refactor: split the seeds page and fix the descriptions
  packages/web/components/Seeds/Card.tsx
  packages/web/components/Seeds/cardsConfig.tsx
  packages/web/components/Seeds/modals.tsx
  packages/web/pages/seeds.tsx
Due: eslint --fix, prettier --write

testing if `log` parameter affects the GitHub deployment 🍅
  .github/workflows/gcp-deploy.yaml
Due: none

responsiveness changes for last components
  packages/web/components/Landing/sections/Frontier.tsx
  packages/web/components/Landing/sections/JustWatch.tsx
  packages/web/components/Landing/sections/Optimal.tsx
  packages/web/components/Landing/sections/Together.tsx
  packages/web/components/Landing/sections/Unplug.tsx
  packages/web/components/Landing/sections/WhatWeDo.tsx
  packages/web/components/Landing/sections/Who.tsx
  packages/web/components/Landing/sections/WildWeb.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,yml,md})
