Repository MetaFam/TheGame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: update description of env config
  guides/FRONTEND.md
Due: prettier --write

[docs]: Use staging server for development
  .env.sample
  guides/FRONTEND.md
Due: prettier --write

Docker image size optimization (#910)
  docker/backend/Dockerfile
  docker/discord-bot/Dockerfile
  docker/frontend/Dockerfile
Due: none

feat: get calendar data into the app
  packages/web/components/Dashboard/Calendar.tsx
Due: eslint --fix, prettier --write

feat: install date-fns
  packages/web/package.json
  yarn.lock
Due: prettier --write

fix: lint error
  packages/web/components/Dashboard/Calendar.tsx
Due: eslint --fix, prettier --write

fix: strip html from description
  packages/web/components/Dashboard/Calendar.tsx
Due: eslint --fix, prettier --write

feat: add location
  packages/web/components/Dashboard/Calendar.tsx
Due: eslint --fix, prettier --write

feat: add guests
  packages/web/components/Dashboard/Calendar.tsx
Due: eslint --fix, prettier --write

feat: set real calendar data + slight refactor
  packages/web/components/Dashboard/Calendar.tsx
Due: eslint --fix, prettier --write

feat: remove old hacky calendar, use default google iframe calendar
  packages/web/components/Dashboard/Calendar.tsx
Due: eslint --fix, prettier --write

chore: remove unused config
  packages/web/utils/dashboard.ts
Due: eslint --fix, prettier --write

styling: margin & size
  packages/web/components/Dashboard/Calendar.tsx
Due: eslint --fix, prettier --write

feat: determine timezone based on user
  packages/web/components/Dashboard/Calendar.tsx
  packages/web/package.json
  yarn.lock
Due: eslint --fix, prettier --write

fix: lint error
  packages/web/pages/dashboard.tsx
Due: eslint --fix, prettier --write

add github issue number
  pull_request_template.md
Due: prettier --write

removing erroneous types & fixing timezone select 🌄
  packages/@types/react-timezone-select/index.d.ts
  packages/design-system/src/SelectTimeZone.tsx
Due: eslint --fix, prettier --write

enabling the use of Webpack 5 📶
  packages/web/next.config.js
Due: eslint --fix, prettier --write

semicolons 🐓
  packages/backend/src/handlers/actions/storage/handler.ts
Due: eslint --fix, prettier --write

ignoring next config when linting 🇳🇫
  .eslintrc.json
Due: prettier --write

renaming filterTimezones → timezonesFilter as the function generates a filter
  packages/design-system/src/MetaFilterSelect.tsx
  packages/design-system/src/index.ts
  packages/web/components/Player/Filter/MobileFilters.tsx
Due: eslint --fix, prettier --write

Create pull_request_template.md
  pull_request_template.md
Due: prettier --write

fix: remove jstz, get timezone with Intl
  packages/web/components/Dashboard/Calendar.tsx
  packages/web/package.json
  yarn.lock
Due: eslint --fix, prettier --write

Tidying the chart & adding a 7d/30d toggle
  packages/web/components/Dashboard/Seed.tsx
Due: eslint --fix, prettier --write

More styling / design on seed section
  packages/web/components/Dashboard/Seed.tsx
  packages/web/pages/dashboard.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,yml,md})
