Repository MetaFam/TheGame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

synching new SourceCred sync action URL with the seeding script 🏮
  packages/web/components/Seeds/modals.tsx
Due: eslint --fix, prettier --write

switching to `` 📐
  .github/workflows/gcp-deploy-frontend.yaml
Due: none

fixing environment variables 🏪
  packages/web/config.ts
Due: eslint --fix, prettier --write

fixing SourceCred & Discord syncs, Meet w/ Wallet, & gating backgrounds 🥶
  packages/backend/src/handlers/actions/idxCache/updateSingle.ts
  packages/backend/src/handlers/actions/meetwithwallet/handler.ts
  packages/backend/src/handlers/actions/meetwithwallet/index.ts
  packages/utils/src/extendedProfileTypes.ts
  packages/web/components/EditProfileModal.tsx
  packages/web/graphql/fragments.ts
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

exposing sync tasks in Hasura GraphQL interface 👊🏿
  package.json
  packages/design-system/package.json
Due: prettier --write

squashing bugs in Discord & SourceCred syncs 🤹🏿‍♀️
  packages/backend/src/handlers/actions/idxCache/updateSingle.ts
  packages/utils/src/sourceCredHelpers.ts
Due: eslint --fix, prettier --write

updating MetaFam image & membership roles 🎍
  hasura/migrations/1613085907468_add_metafam_discord/up.sql
  hasura/migrations/1615594547538_guild_add_discord_metadata_jsonb/up.sql
  hasura/migrations/1615614610171_add_metafam_rank_role_ids/up.sql
Due: none

commiting to try @Sero's changes 🏅
  yarn.lock
Due: none

repeated `p` weirdness 🐥
  packages/web/components/Guild/Join/Requirements.tsx
  packages/web/components/Landing/OnboardingGame/index.tsx
  packages/web/components/Patron/Join/WhoArePatrons.tsx
  packages/web/components/Quest/QuestDetails.tsx
  packages/web/components/Quest/QuestTile.tsx
Due: eslint --fix, prettier --write

renaming migrateSC to syncSC 🥾
  .github/workflows/gcp-deploy.yaml
  README.md
  hasura/seed-db.mjs
Due: prettier --write

updating to Next.js v13 🀐
  packages/design-system/package.json
  packages/web/package.json
  yarn.lock
Due: prettier --write

fixing generate task & missed PNGs 🌷
  packages/web/assets/landing/sections/section-1.sm.webp
  packages/web/assets/landing/sections/section-1.webp
  packages/web/assets/landing/sections/section-5.sm.webp
  packages/web/assets/landing/sections/section-5.webp
  packages/web/assets/landing/sections/section-6-rerender-001-1600.webp
  packages/web/assets/landing/sections/section-6-rerender-001.webp
  packages/web/assets/landing/sections/section-6.webp
  packages/web/assets/landing/sections/section-7.webp
  packages/web/assets/landing/whatdo/computer.webp
Due: none

💇🏿‍♀️ npx @next/codemod next-image-to-legacy-image .
  packages/design-system/src/BoxedNextImage.tsx
  packages/web/components/QuestChain/UploadImageForm.tsx
Due: eslint --fix, prettier --write

tweaking Ceramic aliases & trying to remove duplicate `@emotion`s ⛽
  package.json
  packages/backend/src/handlers/actions/idxCache/updateSingle.ts
  packages/design-system/package.json
  packages/utils/src/ceramic.ts
  packages/web/package.json
  packages/web/pages/_app.tsx
  yarn.lock
Due: eslint --fix, prettier --write

fixed time zone saving & rendered description as Markdown ➿
  packages/web/components/Player/Section/PlayerHero.tsx
  packages/web/components/Setup/SetupDescription.tsx
  packages/web/components/Setup/SetupName.tsx
  packages/web/components/Setup/SetupTimeZone.tsx
Due: eslint --fix, prettier --write

from `>` to `>>` for `$GITHUB_ENV` 🎹
  .github/workflows/gcp-deploy-frontend.yaml
Due: none

Removed patterns as they're not supported yet
  packages/utils/schema/user-profile.graphql
Due: none

First pass at composedb models
  packages/utils/schema/user-profile.graphql
Due: none

Started hooking up the edit profile page to composedb
  package.json
  packages/backend/package.json
  packages/discord-bot/package.json
  packages/utils/schema/user-profile-definition.json
  packages/web/.eslintrc.json
  packages/web/codegen.yml
  packages/web/components/EditProfileModal.tsx
  packages/web/components/Setup/WizardPane.tsx
  packages/web/contexts/Web3Context.tsx
  packages/web/graphql/composeDB/mutations/profile.ts
  packages/web/lib/errors.ts
  packages/web/lib/hooks/useSaveCeramicProfile.ts
  packages/web/lib/hooks/useSaveProfileToComposeDB.ts
  packages/web/package.json
  user-profile-composite.json
  yarn.lock
Due: eslint --fix, prettier --write

Got PoC working for persisting username to ComposeDB
  package.json
  packages/utils/schema/README.md
  packages/utils/schema/user-profile-composite.json
  packages/utils/schema/user-profile-definition.json
  packages/utils/schema/user-profile.graphql
  packages/web/components/Player/Section/PlayerCompletedQuests.tsx
  packages/web/contexts/Web3Context.tsx
  packages/web/lib/hooks/useSaveProfileToComposeDB.ts
  packages/web/package.json
  user-profile-composite.json
  yarn.lock
Due: eslint --fix, prettier --write

Some fixes after bumping urql to 3.x
  packages/web/components/EditProfileModal.tsx
  packages/web/components/Setup/WizardPane.tsx
  packages/web/graphql/getPatrons.ts
  packages/web/graphql/getPlayers.ts
  packages/web/graphql/queries/enums/getExplorerTypes.ts
  packages/web/graphql/queries/enums/getPersonalityInfo.ts
  packages/web/graphql/queries/enums/getRoles.ts
  packages/web/graphql/queries/enums/getSkills.ts
  packages/web/lib/hooks/useSaveProfileToComposeDB.ts
  packages/web/package.json
  yarn.lock
Due: eslint --fix, prettier --write

Refactored setup logic into ProfileWizardContext
  packages/web/components/EditProfileModal.tsx
  packages/web/components/Player/PlayerStart.tsx
  packages/web/components/Setup/ProfileWizardPane.tsx
  packages/web/components/Setup/SetupDescription.tsx
  packages/web/components/Setup/SetupName.tsx
  packages/web/components/Setup/WizardPane.tsx
  packages/web/contexts/ComposeDBContext.tsx
  packages/web/contexts/ProfileWizardContext.tsx
  packages/web/contexts/SetupContext.tsx
  packages/web/contexts/Web3Context.tsx
  packages/web/graphql/composeDB/mutations/profile.ts
  packages/web/lib/auth.ts
  packages/web/lib/hooks/useSaveProfileToComposeDB.ts
  packages/web/lib/hooks/useSaveToComposeDB.ts
  packages/web/package.json
Due: eslint --fix, prettier --write

Implemented fetching from ComposeDB for first three profile wizard screens
  packages/backend/src/handlers/actions/idxCache/updateSingle.ts
  packages/backend/tsconfig.json
  packages/utils/src/colorHelpers.ts
  packages/utils/src/composeDBProfileFields.ts
  packages/utils/src/extendedProfileTypes.ts
  packages/utils/src/index.ts
  packages/web/components/Setup/SetupDescription.tsx
  packages/web/components/Setup/SetupName.tsx
  packages/web/components/Setup/SetupPersonalityType.tsx
  packages/web/components/Setup/WizardPane.tsx
  packages/web/contexts/ProfileWizardContext.tsx
  packages/web/graphql/composeDB/mutations/profile.ts
  packages/web/graphql/composeDB/queries/profile.ts
  packages/web/graphql/types.ts
  packages/web/lib/hooks/useQueryFromComposeDB.ts
Due: eslint --fix, prettier --write

Refactored wizard stuff again to simplify it
  packages/backend/tsconfig.json
  packages/utils/schema/user-profile-composite.json
  packages/utils/schema/user-profile-definition.json
  packages/utils/schema/user-profile.graphql
  packages/utils/src/composeDBProfileFields.ts
  packages/utils/src/extendedProfileTypes.ts
  packages/web/components/Setup/SetupDescription.tsx
  packages/web/components/Setup/SetupName.tsx
  packages/web/components/Setup/SetupPersonalityType.tsx
  packages/web/components/Setup/SetupProfile.tsx
  packages/web/components/Setup/SetupSkills.tsx
  packages/web/components/Setup/SetupTimeZone.tsx
  packages/web/components/Setup/WizardPane.tsx
  packages/web/contexts/ComposeDBContext.tsx
  packages/web/contexts/ProfileWizardComposeDBContext.tsx
  packages/web/graphql/composeDB/mutations/profile.ts
  packages/web/graphql/composeDB/queries/profile.ts
  packages/web/lib/hooks/usePlayerSetupSaveToComposeDB.ts
  packages/web/lib/hooks/useQueryFromComposeDB.ts
Due: eslint --fix, prettier --write

Finished upgrading profile setup components
  packages/utils/src/composeDBProfileFields.ts
  packages/web/components/Setup/SetupAvailability.tsx
  packages/web/components/Setup/SetupPersonalityType.tsx
  packages/web/components/Setup/SetupPlayerType.tsx
  packages/web/components/Setup/SetupRoles.tsx
  packages/web/components/Setup/SetupSkills.tsx
  packages/web/components/Setup/WizardPane.tsx
  packages/web/graphql/composeDB/mutations/profile.ts
  packages/web/graphql/composeDB/queries/profile.ts
  packages/web/lib/hooks/useQueryFromComposeDB.ts
Due: eslint --fix, prettier --write

Added query to fetch all profile fields from composeDB
  packages/utils/schema/user-profile.graphql
  packages/utils/src/composeDBProfileFields.ts
  packages/web/components/EditProfileModal.tsx
  packages/web/components/Player/Profile/EditAvatarImage.tsx
  packages/web/components/Player/Profile/EditBackgroundImage.tsx
  packages/web/components/Player/Profile/EditDescription.tsx
  packages/web/components/Player/Profile/Label.tsx
  packages/web/components/Setup/SetupAvailability.tsx
  packages/web/components/Setup/SetupDescription.tsx
  packages/web/components/Setup/SetupName.tsx
  packages/web/components/Setup/SetupPersonalityType.tsx
  packages/web/components/Setup/SetupPlayerType.tsx
  packages/web/components/Setup/SetupTimeZone.tsx
  packages/web/contexts/ProfileWizardComposeDBContext.tsx
  packages/web/contexts/ProfileWizardContext.tsx
  packages/web/graphql/composeDB/queries/profile.ts
  packages/web/graphql/fragments.ts
  packages/web/lib/hooks/ceramic/useGetPlayerProfileFromComposeDB.ts
  packages/web/lib/hooks/ceramic/usePlayerSetupSaveToComposeDB.ts
  packages/web/lib/hooks/ceramic/useQueryFromComposeDB.ts
  packages/web/lib/hooks/ceramic/useSaveCeramicProfile.ts
  packages/web/lib/hooks/ceramic/useSaveToComposeDB.ts
  packages/web/lib/hooks/index.ts
  packages/web/lib/hooks/useField.ts
  packages/web/package.json
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

Load profile data from composeDB on player page
  packages/web/components/EditProfileModal.tsx
  packages/web/components/Player/Profile/EditAvatarImage.tsx
  packages/web/components/Player/Profile/EditBackgroundImage.tsx
  packages/web/components/Setup/SetupPersonalityType.tsx
  packages/web/contexts/ComposeDBContext.tsx
  packages/web/graphql/fragments.ts
  packages/web/lib/hooks/ceramic/useGetPlayerProfileFromComposeDB.ts
  packages/web/lib/hooks/ceramic/usePlayerSetupSaveToComposeDB.ts
  packages/web/lib/hooks/ceramic/useSaveCeramicProfile.ts
  packages/web/lib/hooks/index.ts
  packages/web/next.config.mjs
  packages/web/pages/_app.tsx
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

Implemented proper persistence w/ verification of a user's ceramic profile node
  docker-compose.yml
  hasura/metadata/actions.graphql
  packages/backend/src/handlers/actions/ceramic/linkProfileNode.ts
  packages/backend/src/handlers/actions/ceramic/routes.ts
  packages/backend/src/handlers/actions/routes.ts
  packages/backend/src/handlers/graphql/mutations/player.ts
  packages/backend/src/handlers/graphql/queries/player.ts
  packages/web/lib/hooks/ceramic/useSaveToComposeDB.ts
Due: eslint --fix, prettier --write

Fixed a couple errors in first-time setup flow
  packages/web/lib/hooks/ceramic/useGetOwnProfileFromComposeDB.ts
  packages/web/lib/hooks/ceramic/useSaveToComposeDB.ts
Due: eslint --fix, prettier --write

Unified composeDB models into one, updated setup flow to use new model
  hasura/metadata/tables.yaml
  hasura/migrations/1676052460627_alter_table_public_player_add_column_ceramic_profile_id/down.sql
  hasura/migrations/1676052460627_alter_table_public_player_add_column_ceramic_profile_id/up.sql
  packages/utils/schema/README.md
  packages/utils/schema/separate-models/user-profile-1.graphql
  packages/utils/schema/separate-models/user-profile-2.graphql
  packages/utils/schema/separate-models/user-profile-composite-1.json
  packages/utils/schema/separate-models/user-profile-composite-2.json
  packages/utils/schema/separate-models/user-profile-composite.json
  packages/utils/schema/separate-models/user-profile-definition-1.json
  packages/utils/schema/separate-models/user-profile-definition-2.json
  packages/utils/schema/separate-models/user-profile-definition.json
  packages/utils/schema/user-profile-composite.json
  packages/utils/schema/user-profile-definition.json
  packages/utils/schema/user-profile.graphql
  packages/utils/src/composeDBProfileFields.ts
  packages/web/components/Setup/SetupAvailability.tsx
  packages/web/components/Setup/SetupDescription.tsx
  packages/web/components/Setup/SetupDone.tsx
  packages/web/components/Setup/SetupName.tsx
  packages/web/components/Setup/SetupPersonalityType.tsx
  packages/web/components/Setup/SetupPlayerType.tsx
  packages/web/components/Setup/SetupTimeZone.tsx
  packages/web/components/Setup/WizardPane.tsx
  packages/web/contexts/ComposeDBContext.tsx
  packages/web/graphql/composeDB/queries/profile.ts
  packages/web/graphql/fragments.ts
  packages/web/graphql/mutations/player.ts
  packages/web/graphql/types.ts
  packages/web/lib/hooks/ceramic/useGetOwnProfileFromComposeDB.ts
  packages/web/lib/hooks/ceramic/useGetPlayerProfileFromComposeDB.ts
  packages/web/lib/hooks/ceramic/usePlayerSetupSaveToComposeDB.ts
  packages/web/lib/hooks/ceramic/useSaveToComposeDB.ts
  packages/web/pages/player/[username].tsx
  schema.graphql
Due: eslint --fix, prettier --write

Fetch profile details from ComposeDB during [username] page SSR
  packages/utils/src/composeDBProfileFields.ts
  packages/web/components/Setup/SetupRoles.tsx
  packages/web/graphql/composeDB/queries/profile.ts
  packages/web/lib/hooks/ceramic/useGetPlayerProfileFromComposeDB.ts
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

Call new linkProfileNode action
  hasura/metadata/actions.graphql
  packages/backend/src/handlers/actions/ceramic/linkProfileNode.ts
  packages/utils/src/index.ts
  packages/web/graphql/mutations/player.ts
  packages/web/lib/hooks/ceramic/useSaveToComposeDB.ts
Due: eslint --fix, prettier --write

Added new linkProfileNode action to validate ceramic node on the backend
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
  package.json
  packages/backend/package.json
  packages/backend/src/handlers/actions/ceramic/linkProfileNode.ts
  packages/backend/src/handlers/actions/ceramic/routes.ts
  packages/utils/src/index.ts
  packages/web/contexts/ComposeDBContext.tsx
  packages/web/package.json
  schema.graphql
Due: eslint --fix, prettier --write

Added PlayerHydrationContext for dynamically refreshing player data on player page
  packages/web/components/Player/PlayerSection.tsx
  packages/web/components/Player/Section/PlayerPersonalityType.tsx
  packages/web/components/Player/Section/PlayerType.tsx
  packages/web/components/Section/ProfileSection.tsx
  packages/web/components/Setup/SetupPersonalityType.tsx
  packages/web/components/Setup/SetupPlayerType.tsx
  packages/web/components/Setup/SetupRoles.tsx
  packages/web/components/Setup/WizardPane.tsx
  packages/web/contexts/PlayerHydrationContext.tsx
  packages/web/graphql/composeDB/queries/profile.ts
  packages/web/lib/hooks/ceramic/useGetPlayerProfileFromComposeDB.ts
  packages/web/lib/hooks/ceramic/usePlayerSetupSaveToComposeDB.ts
  packages/web/lib/hooks/ceramic/useSaveToComposeDB.ts
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

Implemented player hydration from Hasura
  packages/utils/package.json
  packages/web/components/Player/PlayerSection.tsx
  packages/web/components/Player/Section/PlayerRoles.tsx
  packages/web/components/Player/Section/PlayerSkills.tsx
  packages/web/components/Section/ProfileSection.tsx
  packages/web/components/Setup/SetupRoles.tsx
  packages/web/components/Setup/SetupSkills.tsx
  packages/web/contexts/PlayerHydrationContext.tsx
  packages/web/graphql/getMe.ts
  packages/web/lib/hooks/ceramic/useGetPlayerProfileFromComposeDB.ts
Due: eslint --fix, prettier --write

Slight refactor of Setup components to accept a player object
  packages/web/components/Player/PlayerSection.tsx
  packages/web/components/Player/Section/PlayerSkills.tsx
  packages/web/components/Section/ProfileSection.tsx
  packages/web/components/Setup/SetupRoles.tsx
  packages/web/components/Setup/SetupSkills.tsx
  packages/web/contexts/PlayerHydrationContext.tsx
  packages/web/graphql/getPlayer.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,yml,md})
