Repository MetaFam/TheGame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Improved UX for guild announcements
  packages/design-system/src/compatibilityHelpers.ts
  packages/design-system/src/index.ts
  packages/design-system/src/theme/index.ts
  packages/web/components/Guild/Section/GuildAnnouncements.tsx
  packages/web/components/Guild/Section/GuildPlayers.tsx
  packages/web/components/Player/Section/PlayerBrightId.tsx
Due: eslint --fix, prettier --write

Unified render
  packages/web/components/Guild/Section/GuildAnnouncements.tsx
Due: eslint --fix, prettier --write

Improved announcement styling
  packages/web/components/Guild/Section/GuildAnnouncements.tsx
Due: eslint --fix, prettier --write

Explicitly set FRONTEND_URL
  .github/workflows/gcp-deploy-frontend.yaml
Due: none

Added GA ID, fixed FRONTEND_URL
  .github/workflows/gcp-deploy-frontend.yaml
  .github/workflows/gcp-deploy.yaml
  docker/frontend/Dockerfile
Due: none

GA should only work on prod
  .github/workflows/gcp-deploy-frontend.yaml
Due: none

Added missing GA4_ID output
  .github/workflows/gcp-deploy-frontend.yaml
Due: none

Bumped a whole bunch of deps
  .github/workflows/PR-CI.yml
  .github/workflows/gcp-deploy-frontend.yaml
  .github/workflows/gcp-deploy.yaml
  .github/workflows/gcp-undeploy.yaml
  package.json
  packages/backend/package.json
  packages/discord-bot/package.json
  packages/utils/package.json
  packages/web/package.json
  yarn.lock
Due: prettier --write

Added prefix to avoid conflict with TS Record<> type
  packages/backend/codegen.yml
Due: prettier --write

Reverted the ceramic dependency bumps
  packages/backend/package.json
  packages/utils/package.json
  packages/web/package.json
  yarn.lock
Due: prettier --write

Fixed FRONTEND_URL env variable in render
  render.yaml
Due: none

Explicitly reset all players' XP at the beginning of a season
  package.json
  packages/backend/package.json
  packages/backend/src/handlers/actions/migrateSourceCredAccounts/handler.ts
  packages/backend/src/handlers/graphql/mutations.ts
  packages/utils/src/xpHelpers.ts
  packages/utils/tests/lib/xpHelpers.test.ts
  yarn.lock
Due: eslint --fix, prettier --write

Text changes on the Wild Web slide (#1313)
  packages/web/components/Landing/WildWeb.tsx
Due: eslint --fix, prettier --write

Add the gradient to bold text (#1313)
  packages/web/components/Landing/Build.tsx
  packages/web/components/Landing/WildWeb.tsx
Due: eslint --fix, prettier --write

Add headings on two slides
  packages/web/components/Landing/Build.tsx
  packages/web/components/Landing/WildWeb.tsx
Due: eslint --fix, prettier --write

Add new slide 'Why are we here?' and corresponding updates to nav/scroll (#1313)
  packages/web/components/Landing/LandingHeader.tsx
  packages/web/components/Landing/WhyAreWeHere.tsx
  packages/web/pages/index.tsx
Due: eslint --fix, prettier --write

Removed forLoginDisplay to clean up PlayerFragment
  packages/web/graphql/fragments.ts
  packages/web/graphql/getMe.ts
  packages/web/graphql/getPatrons.ts
  packages/web/graphql/getPlayer.ts
  packages/web/graphql/getPlayers.ts
  packages/web/graphql/getQuest.ts
Due: eslint --fix, prettier --write

On /players, Load guilds and daos rather than daohaus memberships
  hasura/metadata/tables.yaml
  packages/web/components/Player/PlayerTileMemberships.tsx
  packages/web/graphql/fragments.ts
  schema.graphql
Due: eslint --fix, prettier --write

Refactored backend graphql mutations
  packages/backend/src/handlers/graphql/mutations.ts
  packages/backend/src/handlers/graphql/mutations/dao.ts
  packages/backend/src/handlers/graphql/mutations/guild.ts
  packages/backend/src/handlers/graphql/mutations/player.ts
  packages/backend/src/handlers/graphql/mutations/quest.ts
  packages/backend/src/handlers/remote-schemas/resolvers/daohaus/resolver.ts
Due: eslint --fix, prettier --write

Refactored backend graphql queries
  packages/backend/src/handlers/graphql/mutations/dao.ts
  packages/backend/src/handlers/graphql/queries.ts
  packages/backend/src/handlers/graphql/queries/dao.ts
  packages/backend/src/handlers/graphql/queries/guild.ts
  packages/backend/src/handlers/graphql/queries/player.ts
  packages/backend/src/handlers/graphql/queries/quest.ts
  packages/backend/src/handlers/remote-schemas/resolvers/daohaus/resolver.ts
Due: eslint --fix, prettier --write

Added DAO / player membership sync when fetching a player
  .prettierignore
  hasura/metadata/tables.yaml
  hasura/migrations/1658632037425_alter_table_public_dao_add_unique_contract_address_network/down.sql
  hasura/migrations/1658632037425_alter_table_public_dao_add_unique_contract_address_network/up.sql
  packages/backend/src/handlers/graphql/mutations/dao.ts
  packages/backend/src/handlers/remote-schemas/resolvers/daohaus/resolver.ts
  packages/web/graphql/fragments.ts
  packages/web/graphql/getMemberships.ts
  packages/web/graphql/getPlayer.ts
  schema.graphql
Due: eslint --fix, prettier --write

Fixed tests
  package.json
  packages/backend/jest.config.js
  packages/backend/package.json
  packages/utils/jest.config.js
  packages/utils/package.json
  yarn.lock
Due: eslint --fix, prettier --write

Don't sync during tests
  packages/backend/src/handlers/remote-schemas/resolvers/daohaus/resolver.ts
Due: eslint --fix, prettier --write

Full-stop / period is included in rainbow text
  packages/web/components/Landing/Build.tsx
  packages/web/components/Landing/WhyAreWeHere.tsx
  packages/web/components/Landing/WildWeb.tsx
Due: eslint --fix, prettier --write

Deleted a comma
  packages/web/components/Landing/WildWeb.tsx
Due: eslint --fix, prettier --write

Initial commit of the Onboarding game. Game flow is working but some bugs exist.
  packages/design-system/src/theme/index.ts
  packages/web/assets/landing/sections/section-6.png
  packages/web/assets/landing/sections/section-7.png
  packages/web/components/Landing/JoinUs.tsx
  packages/web/components/Landing/Onboard.tsx
  packages/web/components/Landing/OnboardingGame/Game.tsx
  packages/web/components/Landing/OnboardingGame/game.json
  packages/web/components/Landing/OnboardingGame/gameTypes.ts
  packages/web/contexts/GameContext.tsx
  packages/web/package.json
  packages/web/pages/_document.tsx
  packages/web/pages/index.tsx
  packages/web/utils/stringHelpers.ts
  yarn.lock
Due: eslint --fix, prettier --write

Working game, pulling from json on IPFS. Very much a WIP.
  packages/web/assets/landing/external-link-icon.png
  packages/web/components/Landing/OnboardingGame/Game.tsx
  packages/web/components/Landing/OnboardingGame/gameTypes.ts
  packages/web/components/Landing/OnboardingGame/metagame-onboarding-game.json
  packages/web/config.ts
  packages/web/contexts/GameContext.tsx
  packages/web/utils/stringHelpers.ts
Due: eslint --fix, prettier --write

removied unused consts, etc
  packages/web/components/Landing/OnboardingGame/Game.tsx
  packages/web/components/Landing/OnboardingGame/gameTypes.ts
  packages/web/contexts/GameContext.tsx
  packages/web/utils/stringHelpers.ts
Due: eslint --fix, prettier --write

fix missing section
  packages/web/pages/index.tsx
Due: eslint --fix, prettier --write

changing file url to a file on fleek due to 504 errors on my ipfs directory. - also added a 'welcome back' for returning players - better justification on content
  packages/web/components/Landing/OnboardingGame/Game.tsx
  packages/web/config.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,yml,md})
