Repository MetaFam/TheGame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Discord Bot MVP
  .gitignore
  package.json
  packages/discord-bot/.eslintrc.json
  packages/discord-bot/codegen.yml
  packages/discord-bot/package.json
  packages/discord-bot/src/AppDiscord.ts
  packages/discord-bot/src/config.ts
  packages/discord-bot/src/index.ts
  packages/discord-bot/tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

Fix type errors
  packages/discord-bot/package.json
Due: prettier --write

Moved Web3Context stuff from @metafam/web to @metafam/utils package to be shared by other packages. Fixes #295
  packages/design-system/package.json
  packages/design-system/src/LoginButton.tsx
  packages/utils/package.json
  packages/utils/src/config.ts
  packages/utils/src/context/Web3Context.tsx
  packages/utils/src/index.ts
  packages/utils/src/lib/auth.ts
  packages/web/components/LoginButton.tsx
  packages/web/components/PageHeader.tsx
  packages/web/lib/hooks.ts
  packages/web/pages/_app.tsx
Due: eslint --fix, prettier --write

Quest models
  hasura/metadata/tables.yaml
  hasura/migrations/1612969610410_create_table_public_quest/down.sql
  hasura/migrations/1612969610410_create_table_public_quest/up.sql
  hasura/migrations/1612969782886_create_table_public_QuestStatus/down.sql
  hasura/migrations/1612969782886_create_table_public_QuestStatus/up.sql
  hasura/migrations/1612970053940_alter_table_public_quest_add_column_status/down.sql
  hasura/migrations/1612970053940_alter_table_public_quest_add_column_status/up.sql
  hasura/migrations/1612970063597_alter_table_public_quest_alter_column_status/down.sql
  hasura/migrations/1612970063597_alter_table_public_quest_alter_column_status/up.sql
  hasura/migrations/1612970071808_set_fk_public_quest_status/down.sql
  hasura/migrations/1612970071808_set_fk_public_quest_status/up.sql
  hasura/migrations/1612970129189_create_table_public_QuestRepetition/down.sql
  hasura/migrations/1612970129189_create_table_public_QuestRepetition/up.sql
  hasura/migrations/1612970198661_alter_table_public_quest_add_column_repetition/down.sql
  hasura/migrations/1612970198661_alter_table_public_quest_add_column_repetition/up.sql
  hasura/migrations/1612970213186_set_fk_public_quest_repetition/down.sql
  hasura/migrations/1612970213186_set_fk_public_quest_repetition/up.sql
  hasura/migrations/1612970318749_create_table_public_quest_skill/down.sql
  hasura/migrations/1612970318749_create_table_public_quest_skill/up.sql
  hasura/migrations/1612970455340_create_table_public_quest_completion/down.sql
  hasura/migrations/1612970455340_create_table_public_quest_completion/up.sql
  hasura/migrations/1612970475026_create_table_public_QuestCompletionStatus/down.sql
  hasura/migrations/1612970475026_create_table_public_QuestCompletionStatus/up.sql
  hasura/migrations/1612970527362_alter_table_public_quest_completion_add_column_status/down.sql
  hasura/migrations/1612970527362_alter_table_public_quest_completion_add_column_status/up.sql
  hasura/migrations/1612970542688_set_fk_public_quest_completion_status/down.sql
  hasura/migrations/1612970542688_set_fk_public_quest_completion_status/up.sql
  package.json
Due: prettier --write

Squash migrations
  hasura/migrations/1612969610410_create_table_public_quest/down.sql
  hasura/migrations/1612969610410_create_table_public_quest/up.sql
  hasura/migrations/1612969782886_create_table_public_QuestStatus/down.sql
  hasura/migrations/1612969782886_create_table_public_QuestStatus/up.sql
  hasura/migrations/1612970053940_alter_table_public_quest_add_column_status/down.sql
  hasura/migrations/1612970053940_alter_table_public_quest_add_column_status/up.sql
  hasura/migrations/1612970063597_alter_table_public_quest_alter_column_status/down.sql
  hasura/migrations/1612970063597_alter_table_public_quest_alter_column_status/up.sql
  hasura/migrations/1612970071808_set_fk_public_quest_status/down.sql
  hasura/migrations/1612970071808_set_fk_public_quest_status/up.sql
  hasura/migrations/1612970129189_create_table_public_QuestRepetition/down.sql
  hasura/migrations/1612970129189_create_table_public_QuestRepetition/up.sql
  hasura/migrations/1612970198661_alter_table_public_quest_add_column_repetition/down.sql
  hasura/migrations/1612970198661_alter_table_public_quest_add_column_repetition/up.sql
  hasura/migrations/1612970213186_set_fk_public_quest_repetition/down.sql
  hasura/migrations/1612970213186_set_fk_public_quest_repetition/up.sql
  hasura/migrations/1612970318749_create_table_public_quest_skill/down.sql
  hasura/migrations/1612970318749_create_table_public_quest_skill/up.sql
  hasura/migrations/1612970455340_create_table_public_quest_completion/down.sql
  hasura/migrations/1612970455340_create_table_public_quest_completion/up.sql
  hasura/migrations/1612970475026_create_table_public_QuestCompletionStatus/down.sql
  hasura/migrations/1612970475026_create_table_public_QuestCompletionStatus/up.sql
  hasura/migrations/1612970527362_alter_table_public_quest_completion_add_column_status/down.sql
  hasura/migrations/1612970527362_alter_table_public_quest_completion_add_column_status/up.sql
  hasura/migrations/1612970542688_set_fk_public_quest_completion_status/down.sql
  hasura/migrations/1612970542688_set_fk_public_quest_completion_status/up.sql
  hasura/migrations/1612970700332_quests/down.sql
  hasura/migrations/1612970700332_quests/up.sql
Due: none

Tracks
  hasura/metadata/tables.yaml
Due: none

Status defaults
  hasura/migrations/1612970700332_quests/up.sql
Due: none

Permissions
  hasura/metadata/tables.yaml
Due: none

schema
  schema.graphql
Due: none

Use timestamptz instead of date
  hasura/migrations/1612970700332_quests/up.sql
Due: none

Persist personality type immediately rather than when saving player type
  packages/web/components/Setup/SetupPersonalityType.tsx
  packages/web/components/Setup/SetupPlayerType.tsx
Due: eslint --fix, prettier --write

change quest repetition to PERSONAL, RECURRING, UNIQUE
  hasura/migrations/1612970700332_quests/up.sql
  schema.graphql
Due: none

Adding id field in quest_completion
  hasura/migrations/1612970700332_quests/up.sql
Due: none

Fixing down migration
  hasura/migrations/1612970700332_quests/down.sql
Due: none

Fix repetition default value
  hasura/migrations/1612970700332_quests/up.sql
Due: none

removing backend-only permissions and changing permissions for quest_completion updates
  hasura/metadata/tables.yaml
Due: none

update schema.graphql
  schema.graphql
Due: none

Remove web3-provider dependency from @web. #295
  packages/web/package.json
Due: prettier --write

Made abstracted Login Button component into the design-system. (#328)
  packages/design-system/package.json
  packages/design-system/src/LoginButton.tsx
  packages/design-system/src/index.ts
  packages/utils/package.json
  packages/utils/src/config.ts
  packages/utils/src/context/Web3Context.tsx
  packages/utils/src/index.ts
  packages/utils/src/lib/auth.ts
  packages/web/components/LoginButton.tsx
  packages/web/components/PageHeader.tsx
  packages/web/lib/hooks.ts
  packages/web/package.json
  packages/web/pages/_app.tsx
Due: eslint --fix, prettier --write

Cross Browser Gradient for App Drawer (#294)
  .gitignore
  packages/design-system/package.json
  packages/design-system/src/BoxedNextImage.tsx
  packages/design-system/src/index.ts
  packages/web/components/LoginButton.tsx
  packages/web/components/MobileFooter.tsx
  packages/web/components/PageHeader.tsx
  packages/web/lib/hooks.ts
  packages/web/package.json
  packages/web/pages/guild/[guildname].tsx
  packages/web/pages/player/[username].tsx
  packages/web/public/assets/drawer/desktop-box.png
  packages/web/public/assets/drawer/desktop.gradient.bottom.png
  packages/web/public/assets/drawer/desktop.gradient.png
  yarn.lock
Due: eslint --fix, prettier --write

merge dependabot (#352)
  packages/design-system/package.json
  yarn.lock
Due: prettier --write

Revert react-timezone-select version
  packages/design-system/package.json
  yarn.lock
Due: prettier --write

Revert react-timezone-select version (#353)
  packages/design-system/package.json
  yarn.lock
Due: prettier --write

Added rank helpers for computing rank, hooked up to account migrator, with bonus tests
  .eslintrc.json
  packages/backend/package.json
  packages/backend/src/handlers/actions/migrateSourceCredAccounts/handler.ts
  packages/backend/src/lib/rankHelpers.ts
  packages/backend/tests/lib/rankHelpers.test.ts
Due: eslint --fix, prettier --write

Better handle auth bearer token
  packages/backend/src/handlers/auth-webhook/handler.ts
Due: eslint --fix, prettier --write

Basic tests for creating quests
  packages/backend/src/handlers/actions/createQuest/createQuest.ts
  packages/backend/src/handlers/actions/createQuest/handler.ts
  packages/backend/src/handlers/actions/types.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js}
  prettier --write: (any of: *.{ts,tsx,js}) or (any of: *.{json,yml,md})
