Repository MetaFam/TheGame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js}": ["eslint --fix", "prettier --write"],
  "*.{json,yml,md}": "prettier --write"
}

slight issue w/ color description 🏳️‍🌈
  packages/web/components/Player/Section/PlayerHero.tsx
Due: eslint --fix, prettier --write

Spin up services for the web build to point to
  .github/workflows/PR-CI.yml
Due: prettier --write

Create why-patron.md
  docs/enter-metagame/why-patron.md
Due: prettier --write

Update why-patron.md
  docs/enter-metagame/why-patron.md
Due: prettier --write

Update join-metagame.md
  docs/enter-metagame/join-metagame.md
Due: prettier --write

Update sidebars.js
  sidebars.js
Due: eslint --fix, prettier --write

adding metafest page with iframed metafest (#215)
  docs/metafest.mdx
  docusaurus.config.js
  package.json
  sidebars.js
  src/components/floatingWindow.js
  src/components/signpost.js
  src/components/signpost.module.scss
  src/components/startMetafestInstance.js
  src/css/custom.scss
  static/img/MetaFest.png
  yarn.lock
Due: eslint --fix, prettier --write

Update house-of-ethereum.mdx (#212)
  docs/great-houses/house-of-ethereum.mdx
Due: none

SLRead: Create "how to" house page (#198)
  docs/great-houses/house-of-NFTs.md
  docs/great-houses/how-to-house.md
  sidebars.js
Due: eslint --fix, prettier --write

Update how-to-house.md
  docs/great-houses/how-to-house.md
Due: prettier --write

Update house-of-NFTs.md
  docs/great-houses/house-of-NFTs.md
Due: prettier --write

Fixed wrong path for metafest logo (#216)
  src/components/signpost.js
Due: eslint --fix, prettier --write

~ minimum code to add color chooser 🔦
  hasura/metadata/tables.yaml
  hasura/migrations/1616101057636_create-mtg-color-table/down.sql
  hasura/migrations/1616101057636_create-mtg-color-table/up.sql
  packages/design-system/src/SVG.tsx
  packages/design-system/src/index.ts
  packages/web/assets/colors/Ambition.svg
  packages/web/assets/colors/Balance.svg
  packages/web/assets/colors/Chaos.svg
  packages/web/assets/colors/Justice.svg
  packages/web/assets/colors/Wisdom.svg
  packages/web/assets/enneagram/achiever.png
  packages/web/assets/enneagram/challenger.png
  packages/web/assets/enneagram/enthusiast.png
  packages/web/assets/enneagram/helper.png
  packages/web/assets/enneagram/individualist.png
  packages/web/assets/enneagram/investigator.png
  packages/web/assets/enneagram/loyalist.png
  packages/web/assets/enneagram/peacemaker.png
  packages/web/assets/enneagram/reformer.png
  packages/web/components/Player/ColorBar.tsx
  packages/web/components/Player/Section/PlayerHero.tsx
  packages/web/components/Setup/SetupPersonalityType.tsx
  packages/web/graphql/fragments.ts
  packages/web/graphql/getPersonalityInfo.ts
  packages/web/graphql/getPersonalityTypes.ts
  packages/web/graphql/types.ts
  packages/web/pages/profile/setup/personalityType.tsx
  packages/web/utils/mathHelper.ts
  schema.graphql
Due: eslint --fix, prettier --write

removin' Enneagram table 🏓
  hasura/metadata/tables.yaml
  hasura/migrations/1616124361730_drop-enneagram-table/down.sql
  hasura/migrations/1616124361730_drop-enneagram-table/up.sql
Due: none

removin' vistiges of Enneagram ✴
  packages/web/graphql/mutations/updateAboutYou.ts
  schema.graphql
Due: eslint --fix, prettier --write

addin' frontend to render.yaml 🐂
  render.yaml
  yarn.lock
Due: none

settin' node version 🐀
  render.yaml
Due: none

tweakin' build step 🐾
  render.yaml
Due: none

alt specification of graphql endpoint 🦡
  render.yaml
Due: none

no interpolation in render.yaml 🌮
  packages/web/config.ts
  render.yaml
Due: eslint --fix, prettier --write

tryin' static specification 🧁
  render.yaml
Due: none

printin' URI 🖨
  packages/web/config.ts
  packages/web/graphql/client.ts
  render.yaml
Due: eslint --fix, prettier --write

pushin' just to see the value 🚡
  packages/web/config.ts
  render.yaml
Due: eslint --fix, prettier --write

printin' the right value 💅
  render.yaml
Due: none

debuggin' hasura 🐜
  render.yaml
Due: none

tryin' to capture port 🚢
  packages/web/config.ts
  render.yaml
Due: eslint --fix, prettier --write

tryin' w/o port 🌅
  packages/web/config.ts
Due: eslint --fix, prettier --write

redeployin' altered render.yaml 🥦
  packages/web/graphql/client.ts
  render.yaml
Due: eslint --fix, prettier --write

resettin' yarn.lock 🔒
  yarn.lock
Due: none

testin' is dev environment will run 🥢
  render.yaml
Due: none

addin' yarn serve 🥘
  packages/web/package.json
  render.yaml
Due: prettier --write

addin' loggin' to skills error 🧣
  packages/web/components/Setup/SetupSkills.tsx
  packages/web/package.json
  render.yaml
Due: eslint --fix, prettier --write

printin' graphql server 💈
  packages/web/graphql/client.ts
Due: eslint --fix, prettier --write

changin' variable name to see if it is passed 🏈
  packages/web/config.ts
  render.yaml
Due: eslint --fix, prettier --write
