Repository MetaFam/TheGame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Updated GA4 ID
  .github/workflows/gcp-deploy.yaml
Due: none

Update frontend ceramic_url as well
  .github/workflows/gcp-deploy.yaml
  docker/frontend/Dockerfile
  packages/web/lib/hooks/ceramic/useSaveToComposeDB.ts
Due: eslint --fix, prettier --write

Fix ceramic API change
  packages/web/lib/hooks/ceramic/useSaveToComposeDB.ts
Due: eslint --fix, prettier --write

Handle errors during DAO sync
  packages/backend/src/handlers/remote-schemas/resolvers/daohaus/resolver.ts
Due: eslint --fix, prettier --write

Fixed white background in menus
  package.json
  packages/design-system/package.json
  packages/design-system/src/theme/index.ts
  packages/design-system/src/theme/menu.ts
  yarn.lock
Due: eslint --fix, prettier --write

Updated model ID in definition
  package.json
  packages/utils/src/graphql/composeDBDefinition.ts
  yarn.lock
Due: eslint --fix, prettier --write

Fix setup / avatar upload
  packages/web/lib/hooks/ceramic/usePlayerSetupSaveToComposeDB.ts
Due: eslint --fix, prettier --write

Upgrade Hasura
  hasura/Dockerfile
  package.json
  yarn.lock
Due: prettier --write

Fixed construction of profile payload when changing an image
  packages/web/lib/hooks/ceramic/usePlayerSetupSaveToComposeDB.ts
Due: eslint --fix, prettier --write

Pull in additional data in seed-db script
  hasura/seed-db.mjs
Due: none

Reinstate original deployment action
  .github/workflows/gcp-deploy-persistent-instances.yaml
  .github/workflows/gcp-deploy-pr.yaml
Due: none

Create a new model, last one got hosed
  packages/backend/package.json
  packages/utils/schema/user-profile-composite.json
  packages/utils/schema/user-profile-definition.json
  packages/utils/schema/user-profile.graphql
  packages/web/package.json
  yarn.lock
Due: prettier --write

Only authenticate the DID for the model the compose client connects to
  packages/web/contexts/ComposeDBContext.tsx
Due: eslint --fix, prettier --write

Fixed edit profile field saving, updated useUser to load from composeDB
  packages/web/components/EditProfileModal.tsx
  packages/web/components/Setup/SetupDone.tsx
  packages/web/contexts/ComposeDBContext.tsx
  packages/web/contexts/PlayerHydrationContext.tsx
  packages/web/contexts/SetupContext.tsx
  packages/web/graphql/types.ts
  packages/web/lib/hooks/ceramic/useComposeDB.ts
  packages/web/lib/hooks/ceramic/useGetPlayerProfileFromComposeDB.ts
  packages/web/lib/hooks/ceramic/usePlayerSetupSaveToComposeDB.ts
  packages/web/lib/hooks/ceramic/useSaveToComposeDB.ts
  packages/web/lib/hooks/useUser.ts
  packages/web/pages/_app.tsx
  packages/web/pages/player/[username].tsx
  schema.graphql
  yarn.lock
Due: eslint --fix, prettier --write

fix bad merge
  packages/web/components/Player/Profile/ComposeDBPromptModal.tsx
  packages/web/components/Player/Section/PlayerHero.tsx
  packages/web/components/Setup/SetupTimeZone.tsx
  packages/web/pages/player/[username].tsx
  packages/web/utils/ensHelpers.ts
Due: eslint --fix, prettier --write

Added mainnet check to composeDB port modal
  hasura/metadata/actions.yaml
  packages/backend/package.json
  packages/backend/src/handlers/actions/composeDB/linkProfileNode/handler.ts
  packages/web/components/Player/Profile/ComposeDBPromptModal.tsx
  packages/web/contexts/ComposeDBContext.tsx
Due: eslint --fix, prettier --write

Set CERAMIC_URL in deployment action
  .github/workflows/gcp-deploy.yaml
  docker/backend/Dockerfile
Due: none

Bumped composedb version
  package.json
  packages/backend/package.json
  packages/utils/schema/user-profile-composite.json
  packages/utils/schema/user-profile-definition.json
  packages/web/package.json
  yarn.lock
Due: prettier --write

Fixed issue where saving from the edit profile modal was wiping out fields
  hasura/metadata/actions.yaml
  packages/web/components/EditProfileModal.tsx
  packages/web/contexts/PlayerHydrationContext.tsx
  packages/web/lib/hooks/ceramic/useGetPlayerProfileFromComposeDB.ts
Due: eslint --fix, prettier --write

Don't delete / recreate stuff
  .github/workflows/gcp-deploy-pr.yaml.old
  packages/backend/src/handlers/actions/ceramic/linkProfileNode.ts
Due: eslint --fix, prettier --write

Add ComposeDBPromptModal to setup pages as well
  packages/utils/src/constants.ts
  packages/web/components/EditProfileModal.tsx
  packages/web/components/Player/Profile/ComposeDBPromptModal.tsx
  packages/web/components/Setup/SetupProfile.tsx
  packages/web/lib/hooks/ceramic/useComputeComposeDBImageMetadata.ts
  packages/web/lib/hooks/ceramic/usePlayerSetupSaveToComposeDB.ts
  packages/web/utils/playerHelpers.ts
Due: eslint --fix, prettier --write

Point to ceramic mainnet
  .github/workflows/gcp-deploy.yaml
Due: none

refactor: :lipstick: Update profile UI to new design
  packages/web/components/EditProfileModal.tsx
  packages/web/components/Player/Profile/EditAvatarImage.tsx
  packages/web/components/Player/Profile/EditBackgroundImage.tsx
  packages/web/components/Player/Profile/EditDescription.tsx
Due: eslint --fix, prettier --write

style: :lipstick: Minor style changes
  packages/web/assets/avatar-placeholder.svg
  packages/web/components/EditProfileModal.tsx
  packages/web/components/Player/Profile/EditAvatarImage.tsx
Due: eslint --fix, prettier --write

Add getPlayer import
  packages/web/components/EditProfileModal.tsx
Due: eslint --fix, prettier --write

rebase
  packages/@types/@orbisclub__orbis-sdk/index.d.ts
  packages/web/components/Dashboard/Seed.tsx
  packages/web/components/EditProfileModal.tsx
  packages/web/components/Player/PlayerSection.tsx
  packages/web/components/Player/Section/PlayerMeToken.tsx
  packages/web/components/Player/Section/config.ts
  packages/web/contracts/FoundryFacet.abi.ts
  packages/web/contracts/HubFacet.abi.ts
  packages/web/contracts/erc20.abi.ts
  packages/web/contracts/meTokensFactory.abi.ts
  packages/web/contracts/meTokensRegistry.abi.ts
  packages/web/package.json
  packages/web/utils/boxTypes.ts
  packages/web/utils/mathHelper.ts
  packages/web/utils/meTokens.ts
Due: eslint --fix, prettier --write

remove editing thing for block
  packages/web/components/Player/Section/PlayerMeToken.tsx
  packages/web/contracts/erc20.abi.ts
  packages/web/utils/meTokens.ts
Due: eslint --fix, prettier --write

fixing miscompilation of `??=` 🚏
  packages/design-system/src/ResponsiveText.tsx
  packages/web/utils/skillHelpers.ts
Due: eslint --fix, prettier --write

logging to try & find login issue 🐟
  packages/web/components/ConnectedPage.tsx
Due: eslint --fix, prettier --write

pulling in fix from `master` 💳
  docker/frontend/Dockerfile
Due: none

add plausible
  packages/utils/src/constants.ts
  packages/web/pages/_app.tsx
  packages/web/pages/_document.tsx
  packages/web/public/_redirects
Due: eslint --fix, prettier --write

add the graph token to sample env
  .env.sample
Due: none

Make the Proposals heading match the rest of the design—font fam, weight, size, etc
  packages/web/pages/quest/[id].tsx
Due: eslint --fix, prettier --write

Add the Quest Status and Repetition tags to the Quest Details page
  packages/web/components/Quest/QuestDetailsHeader.tsx
  packages/web/components/Quest/QuestTags.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,yml,md})
