Repository MetaFam/TheGame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,yml,md}": "prettier --write"
}

feat: add pronouns input to edit form
  packages/web/components/EditProfileForm.tsx
  packages/web/components/Player/Section/PlayerHero.tsx
  packages/web/components/Player/Section/PlayerPronouns.tsx
Due: eslint --fix, prettier --write

fix remaining issues
  packages/web/components/Player/Section/PlayerPronouns.tsx
  packages/web/components/Setup/SetupAvailability.tsx
  packages/web/components/Setup/SetupPronouns.tsx
  packages/web/components/Setup/SetupUsername.tsx
  packages/web/graphql/mutations/player.ts
  packages/web/utils/setupOptions.tsx
Due: eslint --fix, prettier --write

really fix pronouns type
  packages/web/components/Setup/SetupPronouns.tsx
  packages/web/pages/profile/setup/pronouns.tsx
Due: eslint --fix, prettier --write

fix pronouns type
  packages/web/components/Setup/SetupPronouns.tsx
  packages/web/pages/profile/setup/pronouns.tsx
Due: eslint --fix, prettier --write

fix: rebasing/merging problem
  packages/web/graphql/mutations/player.ts
Due: eslint --fix, prettier --write

fix: order of steps
  packages/web/utils/setupOptions.tsx
Due: eslint --fix, prettier --write

fix: revert formatting changes
  schema.graphql
Due: none

allow a player to store their pronouns as part of their profile
  hasura/metadata/tables.yaml
  hasura/migrations/1626453884524_alter_table_public_player_add_column_pronouns/down.sql
  hasura/migrations/1626453884524_alter_table_public_player_add_column_pronouns/up.sql
  packages/web/components/Player/Section/PlayerHero.tsx
  packages/web/components/Player/Section/PlayerPronouns.tsx
  packages/web/components/Setup/SetupAvailability.tsx
  packages/web/components/Setup/SetupDone.tsx
  packages/web/components/Setup/SetupPersonalityType.tsx
  packages/web/components/Setup/SetupPlayerType.tsx
  packages/web/components/Setup/SetupPronouns.tsx
  packages/web/components/Setup/SetupTimeZone.tsx
  packages/web/graphql/fragments.ts
  packages/web/graphql/mutations/player.ts
  packages/web/pages/profile/setup/pronouns.tsx
  packages/web/pages/profile/setup/timeZone.tsx
  packages/web/pages/profile/setup/username.tsx
  packages/web/utils/setupOptions.tsx
  schema.graphql
Due: eslint --fix, prettier --write

fix: style roles buttons
  packages/web/components/Setup/SetupRoles.tsx
Due: eslint --fix, prettier --write

get rid of react warning
  packages/web/components/Setup/SetupPronouns.tsx
Due: eslint --fix, prettier --write

allow a player to store their pronouns as part of their profile
  packages/web/graphql/mutations/player.ts
Due: eslint --fix, prettier --write

fix the pr + fix the useUser redirect bug
  packages/web/components/Quest/QuestForm.tsx
  packages/web/components/Setup/SetupAvailability.tsx
  packages/web/components/Setup/SetupPronouns.tsx
  packages/web/components/Setup/SetupTimeZone.tsx
  packages/web/components/Setup/SetupUsername.tsx
  packages/web/lib/hooks/index.ts
  packages/web/pages/quest/[id]/complete.tsx
  packages/web/pages/quest/[id]/edit.tsx
  packages/web/pages/quest/create.tsx
Due: eslint --fix, prettier --write

fix: capitalisation and disabling button when no user
  packages/web/components/Setup/SetupPronouns.tsx
Due: eslint --fix, prettier --write

fix: navaigating between profiles and edit button
  packages/web/components/Player/Section/PlayerHero.tsx
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

Feature/dashboard UI mvp (WIP) (#882)
  README.md
  packages/web/package.json
  packages/web/pages/dashboard.tsx
  yarn.lock
Due: eslint --fix, prettier --write

Dashboard structure (#885)
  packages/web/components/Dashboard/Calendar.tsx
  packages/web/components/Dashboard/GridItem.tsx
  packages/web/components/Dashboard/LatestContent.tsx
  packages/web/components/Dashboard/Leaderboard.tsx
  packages/web/components/Dashboard/Seed.tsx
  packages/web/components/Dashboard/XP.tsx
  packages/web/pages/dashboard.tsx
  packages/web/utils/dashboard.ts
Due: eslint --fix, prettier --write

fix: don't redirect to /dashboard yet
  packages/web/components/MegaMenu.tsx
Due: eslint --fix, prettier --write

feat: set up dashboard page
  packages/web/pages/dashboard.tsx
Due: eslint --fix, prettier --write

feat: direct user to dashboard on MetaLink click
  packages/web/components/MegaMenu.tsx
Due: eslint --fix, prettier --write

feature: Container Queries (#884)
  packages/design-system/src/index.ts
  packages/design-system/src/theme/index.ts
  packages/web/components/Dashboard/Section.tsx
  packages/web/package.json
  packages/web/pages/dashboard.tsx
  yarn.lock
Due: eslint --fix, prettier --write

build(docker): use slim base images
  docker/backend/Dockerfile
  docker/discord-bot/Dockerfile
  docker/frontend/Dockerfile
Due: none

build(docker): create new stages that only include necessary files
  docker/backend/Dockerfile
  docker/discord-bot/Dockerfile
  docker/frontend/Dockerfile
Due: none

build(docker): delete devDependencies after build
  docker/backend/Dockerfile
  docker/discord-bot/Dockerfile
  docker/frontend/Dockerfile
Due: none

build(docker): move env vars to a later point for better caching
  docker/backend/Dockerfile
  docker/discord-bot/Dockerfile
  docker/frontend/Dockerfile
Due: none

Update join-metagame.md
  docs/enter-metagame/join-metagame.md
Due: prettier --write

docs(guides): use staging server for development (#912)
  guides/FRONTEND.md
Due: prettier --write

enabling the use of Webpack 5 📶
  packages/web/next.config.js
Due: eslint --fix, prettier --write

ignoring next config when linting 🇳🇫
  .eslintrc.json
Due: prettier --write

removing erroneous types & fixing timezone select 🌄
  packages/@types/react-timezone-select/index.d.ts
  packages/design-system/src/SelectTimeZone.tsx
Due: eslint --fix, prettier --write

renaming filterTimezones → timezonesFilter as the function generates a filter
  packages/design-system/src/MetaFilterSelect.tsx
  packages/design-system/src/index.ts
  packages/web/components/Player/Filter/MobileFilters.tsx
Due: eslint --fix, prettier --write

semicolons 🐓
  packages/backend/src/handlers/actions/storage/handler.ts
Due: eslint --fix, prettier --write

chore: miss config for sample env
  .env.sample
Due: none
