Repository MetaFam/TheGame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js}": ["eslint --fix", "prettier --write"],
  "*.{json,yml,md}": "prettier --write"
}

[MyMeta] Use responsive units on the header and footer (#305)
  packages/web/components/MobileFooter.tsx
  packages/web/components/PageHeader.tsx
  packages/web/pages/player/[username].tsx
  packages/web/public/assets/drawer/desktop.gradient.png
Due: eslint --fix, prettier --write

Remove unused codegen stuff and update Hasura to latest version (#314)
  README.md
  guides/BACKEND.md
  hasura/Dockerfile
  packages/codegen/customFragments.ts
  packages/codegen/graphql-codegen-gql.yaml
  packages/codegen/graphql-codegen-typescript.yaml
  packages/codegen/package.json
  yarn.lock
Due: eslint --fix, prettier --write

Use exact versions in package.json files
  package.json
  packages/backend/package.json
  packages/codegen/package.json
  packages/design-system/package.json
  packages/metamaps/package.json
  packages/utils/package.json
  packages/web/package.json
  yarn.lock
Due: prettier --write

Move schema.graphql to root of project and delete codegen package
  .graphqlconfig
  package.json
  packages/backend/codegen.yml
  packages/codegen/package.json
  packages/web/codegen.yml
  schema.graphql
Due: prettier --write

`Error serializing `.guild` returned from `getStaticProps` in "/guild/[guildname]"`
  packages/web/pages/guild/[guildname].tsx
Due: eslint --fix, prettier --write

codegen was removed, but some references linger
  docker-compose.yml
  docker/backend/Dockerfile
  package.json
Due: prettier --write

switching profile options to icons to save space
  packages/web/components/LoginButton.tsx
  packages/web/components/PageHeader.tsx
Due: eslint --fix, prettier --write

simplifying & making links clickable
  .gitignore
  packages/web/components/PageHeader.tsx
Due: eslint --fix, prettier --write

accidentally duplicated a parameter
  packages/web/components/PageHeader.tsx
Due: eslint --fix, prettier --write

adding Chakra icons to web app
  packages/web/package.json
  yarn.lock
Due: prettier --write

removing version smudge from icons lib
  yarn.lock
Due: none

simplifying clumsy ternary statement
  packages/web/components/PageHeader.tsx
Due: eslint --fix, prettier --write

lint cares that imports are in alphabetical order
  packages/web/components/LoginButton.tsx
Due: eslint --fix, prettier --write

switching drawer images to next.js component (re: #294)
  packages/web/components/PageHeader.tsx
Due: eslint --fix, prettier --write

satiating the linter
  packages/web/components/PageHeader.tsx
Due: eslint --fix, prettier --write

Added skyweaver in house of NFTs. (#202)
  docs/great-houses/house-of-NFTs.md
Due: prettier --write

Delete guilds-of-metagame.md
  docs/Guilding/guilds-of-metagame.md
Due: prettier --write

Made abstracted Login Button compoment into the design-system. Fixes #295
  packages/design-system/src/LoginButton.tsx
  packages/design-system/src/index.ts
  packages/web/components/PageHeader.tsx
Due: eslint --fix, prettier --write

Improved codes. #295
  packages/design-system/src/LoginButton.tsx
  packages/web/components/PageHeader.tsx
Due: eslint --fix, prettier --write

Improved codes. #295
  packages/web/components/PageHeader.tsx
Due: eslint --fix, prettier --write

added the metasys 😱 (#204)
  docs/Guilding/metasys.md
  sidebars.js
Due: eslint --fix, prettier --write

Odyssey Completion (#201)
  docs/wtf-is-metagame/origin-story.md
  sidebars.js
  static/img/origin.1.png
  static/img/origin.10.png
  static/img/origin.11.jpg
  static/img/origin.12.jpg
  static/img/origin.13.jpg
  static/img/origin.14.png
  static/img/origin.15.png
  static/img/origin.16.png
  static/img/origin.17.jpg
  static/img/origin.18.jpg
  static/img/origin.19.jpg
  static/img/origin.2.png
  static/img/origin.20.png
  static/img/origin.21.png
  static/img/origin.3.jpg
  static/img/origin.4.jpg
  static/img/origin.5.jpg
  static/img/origin.6.png
  static/img/origin.7.png
  static/img/origin.8.png
  static/img/origin.9.jpg
Due: eslint --fix, prettier --write

Update origin-story.md
  docs/wtf-is-metagame/origin-story.md
Due: prettier --write

Update metasys.md
  docs/Guilding/metasys.md
Due: prettier --write

Fix build card aspect ratio as the play card. #326
  packages/web/components/Guild/GuildTile.tsx
  packages/web/components/GuildList.tsx
Due: eslint --fix, prettier --write

moving BoxedNextImage to deign-system
  packages/design-system/package.json
  packages/design-system/src/BoxedNextImage.tsx
  packages/design-system/src/index.ts
  packages/web/components/PageHeader.tsx
  yarn.lock
Due: eslint --fix, prettier --write

Update obtaining-seeds.md (#205)
  docs/how-does-it-work/obtaining-seeds.md
Due: prettier --write

Fix build card aspect ratio as the play card. #326 (#329)
  packages/web/components/Guild/GuildTile.tsx
  packages/web/components/GuildList.tsx
Due: eslint --fix, prettier --write

Improvied abstracted LoginButton. #295
  packages/web/components/PageHeader.tsx
Due: eslint --fix, prettier --write

Improvied abstracted LoginButton. #295
  packages/design-system/src/LoginButton.tsx
Due: eslint --fix, prettier --write

Fix server side rendering issues with backdrop filter
  packages/web/components/MobileFooter.tsx
  packages/web/components/PageHeader.tsx
  packages/web/lib/hooks.ts
Due: eslint --fix, prettier --write

boxing next.js images
  packages/design-system/src/BoxedNextImage.tsx
  packages/web/components/MobileFooter.tsx
  packages/web/components/PageHeader.tsx
  yarn.lock
Due: eslint --fix, prettier --write

these only look broken in Chrome's mobile emulator 🍄
  packages/web/components/Guild/GuildTile.tsx
  packages/web/components/GuildList.tsx
  packages/web/components/MobileFooter.tsx
  packages/web/components/PageHeader.tsx
  packages/web/lib/hooks.ts
Due: eslint --fix, prettier --write

making the serialization fix precisely correct 🎷
  packages/web/pages/guild/[guildname].tsx
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

Discord Bot MVP
  .gitignore
  package.json
  packages/discord-bot/.eslintrc.json
  packages/discord-bot/codegen.yml
  packages/discord-bot/package.json
  packages/discord-bot/src/AppDiscord.ts
  packages/discord-bot/src/config.ts
  packages/discord-bot/src/index.ts
  packages/discord-bot/tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

Fix type errors
  packages/discord-bot/package.json
Due: prettier --write
