Repository MetaFam/TheGame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js}": ["eslint --fix", "prettier --write"],
  "*.{json,yml,md}": "prettier --write"
}

Update signpost.md
  docs/enter-metagame/signpost.md
Due: prettier --write

Update metafam-way.mdx
  docs/wtf-is-metagame/metafam-way.mdx
Due: none

Update how-to-become-a-player.mdx
  docs/enter-metagame/how-to-become-a-player.mdx
Due: none

Update phases-of-metagame.md
  docs/how-does-it-work/phases-of-metagame.md
Due: prettier --write

Update introduction.mdx
  docs/introduction.mdx
Due: none

Update sidebars.js
  sidebars.js
Due: eslint --fix, prettier --write

dangling </p> was causing the build to fail. (#149)
  docs/introduction.mdx
Due: none

Luxumbra fix consolelog (#148)
  src/components/typeform.js
Due: eslint --fix, prettier --write

Add type errors
  packages/@types/3box/index.d.ts
  packages/web/components/Setup/3BoxProfileEdit/Edit.tsx
  packages/web/components/Setup/Setup3Box.tsx
Due: eslint --fix, prettier --write

homepage redesign (#150)
  src/components/panel.js
  src/css/custom.scss
  src/pages/index.js
  src/pages/styles.module.scss
  static/assets/lamers.png
Due: eslint --fix, prettier --write

added shit to the landing page (#151)
  src/css/custom.scss
  src/pages/index.js
  src/pages/styles.module.scss
Due: eslint --fix, prettier --write

Update sidebars.js (#152)
  sidebars.js
Due: eslint --fix, prettier --write

Update narrative-1-a-decentralized-factory.md
  docs/wtf-is-metagame/narrative-1-a-decentralized-factory.md
Due: prettier --write

here we go
  static/assets/guilds.png
  static/assets/patrons.png
  static/assets/players.png
Due: none

Tweaks to tidy up player panels (#153)
  src/pages/index.js
  src/pages/styles.module.scss
Due: eslint --fix, prettier --write

updated text & the graphic (#154)
  docs/how-does-it-work/how-metagame-works.md
Due: prettier --write

Luxumbra signpost redesign (#155)
  docs/enter-metagame/signpost.md
  docs/enter-metagame/signpost.mdx
  src/components/signpost.js
  src/components/signpost.module.scss
  src/css/custom.scss
  src/pages/styles.module.scss
Due: eslint --fix, prettier --write

Update signpost.js
  src/components/signpost.js
Due: eslint --fix, prettier --write

Create home.mdx
  home.mdx
Due: none

Fixed hjomepage buttons on mobile (#156)
  src/pages/styles.module.scss
Due: none

Added projects to the phases (#157)
  docs/Guilding/guilding-101.md
  docs/great-houses/house-of-daos.mdx
  docs/how-does-it-work/become-a-founder-of-metagame.md
  docs/how-does-it-work/phases-of-metagame.md
  docs/wtf-is-metagame/wtf-is-metagame.mdx
Due: prettier --write

Added the guilds page, updated the signpost page with new buttons, added the talk, & hopefuly updated the sidebar without breaking it (#158)
  docs/enter-metagame/guilds-of-metagame.md
  docs/enter-metagame/signpost.mdx
  docs/great-houses/house-of-daos.mdx
  docs/home.mdx
  docs/how-does-it-work/phases-of-metagame.md
  docs/resources/talks.md
  home.mdx
  sidebars.js
  src/components/signpost.js
  src/css/custom.scss
  src/pages/index.js
  src/pages/styles.module.scss
Due: eslint --fix, prettier --write

Update home.mdx
  docs/home.mdx
Due: none

Update guilds-of-metagame.md
  docs/enter-metagame/guilds-of-metagame.md
Due: prettier --write

styling for player tiles
  packages/design-system/src/index.ts
  packages/web/assets/image 37.png
  packages/web/assets/logo.png
  packages/web/components/Player/PlayerFeatures.tsx
  packages/web/components/Player/PlayerTile.tsx
  packages/web/components/Setup/SetupHeader.tsx
  packages/web/components/Setup/SetupPersonalityType.tsx
  packages/web/components/Setup/SetupPlayerType.tsx
  packages/web/components/Setup/SetupSkills.tsx
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

cover image for player tile
  packages/web/assets/tile-background.jpg
  packages/web/components/Player/PlayerTile.tsx
  packages/web/utils/playerHelpers.ts
Due: eslint --fix, prettier --write

styling for player tiles (#173)
  packages/design-system/src/index.ts
  packages/web/assets/image 37.png
  packages/web/assets/logo.png
  packages/web/assets/tile-background.jpg
  packages/web/components/Player/PlayerFeatures.tsx
  packages/web/components/Player/PlayerTile.tsx
  packages/web/components/Setup/SetupAvailability.tsx
  packages/web/components/Setup/SetupHeader.tsx
  packages/web/components/Setup/SetupPersonalityType.tsx
  packages/web/components/Setup/SetupPlayerType.tsx
  packages/web/components/Setup/SetupProfile.tsx
  packages/web/components/Setup/SetupSkills.tsx
  packages/web/components/Setup/SetupUsername.tsx
  packages/web/contexts/SetupContext.tsx
  packages/web/graphql/mutations/updateUsername.ts
  packages/web/pages/player/[username].tsx
  packages/web/utils/playerHelpers.ts
  packages/web/utils/setupOptions.tsx
Due: eslint --fix, prettier --write

added personality types in backend
  hasura/metadata/tables.yaml
  hasura/migrations/1604681746813_personality-type-table/down.sql
  hasura/migrations/1604681746813_personality-type-table/up.sql
Due: none

xp & seeds rewritten (#159)
  docs/how-does-it-work/xp.mdx
Due: none

there
  static/assets/MBTI placeholders/ENFJ.png
  static/assets/MBTI placeholders/ENFP.png
  static/assets/MBTI placeholders/ENTJ.png
  static/assets/MBTI placeholders/ENTP.png
  static/assets/MBTI placeholders/ESFJ.png
  static/assets/MBTI placeholders/ESFP.png
  static/assets/MBTI placeholders/ESTJ.png
  static/assets/MBTI placeholders/ESTP.png
  static/assets/MBTI placeholders/INFJ.png
  static/assets/MBTI placeholders/INFP.png
  static/assets/MBTI placeholders/INTJ.png
  static/assets/MBTI placeholders/INTP.png
  static/assets/MBTI placeholders/ISFJ.png
  static/assets/MBTI placeholders/ISFP.png
  static/assets/MBTI placeholders/ISTP.png
Due: none

the files
  MBTI placeholders/ENFJ.png
  MBTI placeholders/ENFP.png
  MBTI placeholders/ENTJ.png
  MBTI placeholders/ENTP.png
  MBTI placeholders/ESFJ.png
  MBTI placeholders/ESFP.png
  MBTI placeholders/ESTJ.png
  MBTI placeholders/ESTP.png
  MBTI placeholders/INFJ.png
  MBTI placeholders/INFP.png
  MBTI placeholders/INTJ.png
  MBTI placeholders/INTP.png
  MBTI placeholders/ISFJ.png
  MBTI placeholders/ISFP.png
  MBTI placeholders/ISTP.png
Due: none
