Repository MetaFam/TheGame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Fixed erroneous import in GuildJoin component
  packages/web/components/Guild/GuildJoin.tsx
  packages/web/pages/join/guild/index.tsx
Due: eslint --fix, prettier --write

Started discord oauth implementation
  docker-compose.yml
  package.json
  packages/backend/src/config.ts
  packages/backend/src/handlers/actions/discordOAuth/handler.ts
  packages/backend/src/handlers/actions/routes.ts
  packages/backend/src/handlers/graphql/mutations.ts
  packages/discord-bot/package.json
  packages/discord-bot/src/auth.ts
  packages/discord-bot/src/config.ts
  packages/discord-bot/src/index.ts
  packages/discord-bot/src/types.ts
  packages/discord-bot/tsconfig.json
  packages/utils/src/constants.ts
  packages/utils/src/index.ts
  packages/web/components/Guild/GuildJoin.tsx
  packages/web/config.ts
Due: eslint --fix, prettier --write

updating schema 🐡
  schema.graphql
Due: none

completed patrons leaderboard
  packages/web/components/Patron/PatronTile.tsx
  packages/web/components/PatronList.tsx
  packages/web/components/PlayerList.tsx
  packages/web/public/assets/emojis/money-dollar-sign.png
  packages/web/utils/drawerItems.ts
Due: eslint --fix, prettier --write

completed patrons leaderboard (#477)
  packages/web/components/Patron/PatronTile.tsx
  packages/web/components/PatronList.tsx
  packages/web/components/PlayerList.tsx
  packages/web/public/assets/emojis/money-dollar-sign.png
  packages/web/utils/drawerItems.ts
Due: eslint --fix, prettier --write

Setup command to link ETH account to Ledger
  packages/discord-bot/src/AppDiscord.ts
  packages/discord-bot/src/config.ts
  packages/discord-bot/src/graphql/client.ts
  packages/discord-bot/src/graphql/queries.ts
  tsconfig.base.json
  yarn.lock
Due: eslint --fix, prettier --write

Discord Bot MVP
  packages/discord-bot/package.json
Due: prettier --write

use sourcecred-publish-test for latest SC features
  packages/@types/sourcecred/index.d.ts
  packages/backend/src/handlers/actions/migrateSourceCredAccounts/handler.ts
  packages/discord-bot/src/AppDiscord.ts
Due: eslint --fix, prettier --write

Implement activation of identities and persisting ledger
  packages/@types/sourcecred/index.d.ts
  packages/backend/src/handlers/actions/migrateSourceCredAccounts/handler.ts
  packages/discord-bot/package.json
  packages/discord-bot/src/AppDiscord.ts
  yarn.lock
Due: eslint --fix, prettier --write

Added Dockerfile for discord-bot
  docker-compose.yml
  docker/discord-bot/Dockerfile
  packages/backend/.eslintrc.json
  packages/backend/src/handlers/actions/migrateSourceCredAccounts/handler.ts
  packages/discord-bot/package.json
  packages/discord-bot/src/AppDiscord.ts
  packages/discord-bot/src/start.ts
  packages/discord-bot/src/utils.ts
  yarn.lock
Due: eslint --fix, prettier --write

Setup command to link ETH account to Ledger
  packages/@types/sourcecred/index.d.ts
Due: eslint --fix, prettier --write

Implement activation of identities and persisting ledger
  packages/@types/sourcecred/index.d.ts
  packages/backend/src/handlers/actions/migrateSourceCredAccounts/handler.ts
  packages/discord-bot/src/AppDiscord.ts
Due: eslint --fix, prettier --write

correcting invalid username error 🗼
  packages/web/components/Setup/SetupUsername.tsx
Due: eslint --fix, prettier --write

Update sidebars.js (#223)
  sidebars.js
Due: eslint --fix, prettier --write

allowing username to be completely removed 🐭
  packages/web/components/Setup/SetupAvailability.tsx
  packages/web/components/Setup/SetupSkills.tsx
  packages/web/components/Setup/SetupUsername.tsx
  packages/web/pages/profile/setup/username.tsx
Due: eslint --fix, prettier --write

Test docker container in build
  .github/workflows/PR-CI.yml
Due: prettier --write

Wait for backend to come up before building web
  .github/workflows/PR-CI.yml
  package.json
  yarn.lock
Due: prettier --write

computing patron rank
  packages/web/components/Patron/PatronTile.tsx
  packages/web/components/PatronList.tsx
  packages/web/utils/rankHelpers.ts
Due: eslint --fix, prettier --write

made computeRank more generic
  packages/web/components/Patron/PatronTile.tsx
  packages/web/utils/rankHelpers.ts
Due: eslint --fix, prettier --write

moved rankHelpers to utils
  packages/backend/src/lib/rankHelpers.ts
  packages/utils/src/index.ts
  packages/utils/src/rankHelpers.ts
  packages/web/components/Patron/PatronTile.tsx
Due: eslint --fix, prettier --write

upgraded storybook dependencies
  packages/design-system/.storybook/config.js
  packages/design-system/.storybook/main.js
  packages/design-system/.storybook/preview.js
  packages/design-system/package.json
  yarn.lock
Due: eslint --fix, prettier --write

updated timezone selector
  packages/design-system/package.json
  packages/web/package.json
  yarn.lock
Due: prettier --write

upgraded web dependencies
  package.json
  packages/web/package.json
  yarn.lock
Due: prettier --write

upgrade chakra in metamaps
  packages/metamaps/components/Loading.tsx
  packages/metamaps/components/Menu.tsx
  packages/metamaps/components/Popup.tsx
  packages/metamaps/components/ThreeBox.tsx
  packages/metamaps/package.json
  packages/metamaps/pages/_app.tsx
  yarn.lock
Due: eslint --fix, prettier --write

upgraded react-dnd in metamaps
  packages/metamaps/components/Circle.tsx
  packages/metamaps/components/Image.tsx
  packages/metamaps/components/Line.tsx
  packages/metamaps/components/Square.tsx
  packages/metamaps/package.json
  packages/metamaps/redux/ThreeBox.tsx
  yarn.lock
Due: eslint --fix, prettier --write

upgraded framer-motion
  packages/design-system/package.json
  packages/metamaps/package.json
  packages/web/package.json
  yarn.lock
Due: prettier --write

fixed types in metamaps
  packages/metamaps/components/Menu.tsx
  packages/metamaps/package.json
  packages/metamaps/redux/ThreeBox.tsx
Due: eslint --fix, prettier --write

upgraded node version
  .github/workflows/PR-CI.yml
Due: prettier --write

removed metamaps package
  packages/metamaps/.babelrc
  packages/metamaps/.eslintrc.json
  packages/metamaps/README.md
  packages/metamaps/components/Circle.tsx
  packages/metamaps/components/Container.tsx
  packages/metamaps/components/Image.tsx
  packages/metamaps/components/Line.tsx
  packages/metamaps/components/Loading.tsx
  packages/metamaps/components/Menu.tsx
  packages/metamaps/components/Popup.tsx
  packages/metamaps/components/Square.tsx
  packages/metamaps/components/ThreeBox.tsx
  packages/metamaps/next-env.d.ts
  packages/metamaps/package.json
  packages/metamaps/pages/_app.tsx
  packages/metamaps/pages/_document.tsx
  packages/metamaps/pages/index.tsx
  packages/metamaps/redux/Reducer.state.tsx
  packages/metamaps/redux/Reducer.tsx
  packages/metamaps/redux/ThreeBox.tsx
  packages/metamaps/redux/Types.tsx
  packages/metamaps/styles/App.tsx
  packages/metamaps/styles/Loading.tsx
  packages/metamaps/styles/Mapping.tsx
  packages/metamaps/styles/Menu.tsx
  packages/metamaps/styles/Styles.tsx
  packages/metamaps/styles/ThreeBox.tsx
  packages/metamaps/tsconfig.json
Due: eslint --fix, prettier --write

upgraded lerna, husky and graphql
  .husky/.gitignore
  .husky/pre-commit
  lerna.json
  package.json
  packages/backend/package.json
  packages/discord-bot/package.json
  packages/web/package.json
  yarn.lock
Due: prettier --write

updated lint-staged & husky scripts
  .husky/pre-push
  package.json
Due: prettier --write

fixed all eslint issues
  package.json
  packages/backend/.eslintrc.json
  packages/backend/src/lib/apiHelpers.ts
  packages/backend/src/lib/ethereum.ts
  packages/backend/src/lib/hasuraClient.ts
  packages/design-system/src/MetaButton.tsx
  packages/design-system/src/ResponsiveText.tsx
  packages/design-system/test/0-Text.test.tsx
  packages/discord-bot/.eslintrc.json
  packages/discord-bot/package.json
  packages/discord-bot/src/AppDiscord.ts
  packages/web/components/Quest/QuestFilter.tsx
  packages/web/components/Quest/QuestForm.tsx
  packages/web/graphql/client.ts
  packages/web/lib/hooks/quests.ts
  packages/web/utils/questHelpers.ts
  yarn.lock
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js}
  prettier --write: (any of: *.{ts,tsx,js}) or (any of: *.{json,yml,md})
