Repository MetaFam/TheGame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

updating Ceramic libraries & removing IDX 🌭
  packages/web/package.json
  yarn.lock
Due: prettier --write

loading account ownerships from Ceramic & renaming foreign key 💐
  docker/backend/Dockerfile
  hasura/metadata/tables.yaml
  packages/backend/src/config.ts
  packages/backend/src/handlers/actions/idxCache/updateSingle.ts
  packages/backend/src/handlers/graphql/mutations.ts
  packages/backend/src/handlers/triggers/cacheIDXProfile.ts
  schema.graphql
Due: eslint --fix, prettier --write

removing tsBuildInfoFile 🧞
  .gitignore
  packages/backend/tsconfig.json
  packages/design-system/tsconfig.json
  packages/utils/tsconfig.json
Due: prettier --write

removing duplicated tag 🎢
  packages/web/pages/_document.tsx
Due: eslint --fix, prettier --write

removing IDX 🌼
  packages/web/contexts/Web3Context.tsx
Due: eslint --fix, prettier --write

added program to generate document id for an extended schema ⚔
  packages/utils/.gitignore
  packages/utils/bin/create-model.mjs
  packages/utils/package.json
  packages/utils/schema/extended-profile.json5
  packages/utils/src/ExtendedProfileModel.json
  yarn.lock
Due: prettier --write

adding IDX basic profile & removing erroring options in tsc config 🧣
  packages/web/package.json
  packages/web/tsconfig.json
  tsconfig.base.json
  yarn.lock
Due: prettier --write

reenabling incremental build post a tooling update 🎠
  packages/backend/tsconfig.json
  packages/design-system/tsconfig.json
  packages/utils/tsconfig.json
  packages/web/tsconfig.json
  tsconfig.base.json
Due: prettier --write

migrating for IDX to Glaze & loopifying crypto accounts ownership 🐊
  packages/backend/src/handlers/actions/idxCache/updateSingle.ts
Due: eslint --fix, prettier --write

tweaking sizes to be more visually balanced 🍾
  packages/web/components/MegaMenu.tsx
  packages/web/components/PlayerStatsBar.tsx
Due: eslint --fix, prettier --write

missed variables in the player camel casing 🐫
  packages/web/lib/hooks/players.ts
Due: eslint --fix, prettier --write

adding file upload for profiles
  package.json
  packages/web/components/EditProfileForm.tsx
  packages/web/config.ts
  packages/web/package.json
  packages/web/pages/api/storage.tsx
  packages/web/tsconfig.json
  tsconfig.base.json
  yarn.lock
Due: eslint --fix, prettier --write

cleaning up editing flow 🧛
  packages/web/components/EditProfileForm.tsx
  packages/web/components/MegaMenu.tsx
  packages/web/components/Player/PlayerTile.tsx
  packages/web/components/Player/Section/PlayerAddSection.tsx
  packages/web/components/Player/Section/PlayerColorDisposition.tsx
  packages/web/components/Player/Section/PlayerHero.tsx
  packages/web/components/Player/Section/PlayerRoles.tsx
  packages/web/components/PlayerStatsBar.tsx
  packages/web/components/Profile/ProfileSection.tsx
Due: eslint --fix, prettier --write

correcting capitalization 🧵
  packages/web/components/Seo.tsx
Due: eslint --fix, prettier --write

removing static sizes in favor of viewBoxes 🛸
  packages/web/assets/Skip.svg
  packages/web/assets/colors/Ambition.svg
  packages/web/assets/colors/Balance.svg
  packages/web/assets/colors/Wisdom.svg
Due: none

fixing permissions on pronouns 🌡
  packages/web/graphql/fragments.ts
Due: eslint --fix, prettier --write

switching from JavaScript interpolation to URL templates 🥫
  packages/web/utils/linkHelpers.ts
Due: eslint --fix, prettier --write

updating node to v16 🥍
  .github/workflows/PR-CI.yml
  .github/workflows/gcp-deploy.yaml
  docker/backend/Dockerfile
  docker/frontend/Dockerfile
  package.json
  packages/backend/src/handlers/actions/migrateSourceCredAccounts/handler.ts
  packages/backend/src/handlers/remote-schemas/resolvers/brightId/resolver.ts
  packages/web/graphql/fragments.ts
  packages/web/graphql/mutations/player.ts
  yarn.lock
Due: eslint --fix, prettier --write

fixing ESM require & attempting to redeploy on push to a PR 🧁
  .github/workflows/gcp-deploy.yaml
  packages/discord-bot/src/auth.ts
Due: eslint --fix, prettier --write

testing env section within jobs 🗨
  .github/workflows/gcp-deploy.yaml
Due: none

updating GraphQL schema 🥦
  schema.graphql
Due: none

prettying readability & fixing basic profile saving 👄
  packages/web/assets/generic-user-icon.svg
  packages/web/components/EditProfileForm.tsx
  packages/web/components/MegaMenu.tsx
  packages/web/components/Player/PlayerAvatar.tsx
  packages/web/components/Player/PlayerList.tsx
  packages/web/components/Player/PlayerTile.tsx
  packages/web/components/Player/Section/PlayerGallery.tsx
  packages/web/components/Player/Section/PlayerMemberships.tsx
  packages/web/components/Player/Section/PlayerSkills.tsx
  packages/web/components/Player/Section/PlayerType.tsx
  packages/web/components/PlayerStatsBar.tsx
  packages/web/components/Profile/ProfileSection.tsx
  packages/web/components/Seo.tsx
  packages/web/components/Setup/SetupPersonalityType.tsx
  packages/web/components/Setup/SetupPlayerType.tsx
  packages/web/pages/player/[username].tsx
  packages/web/utils/playerHelpers.ts
Due: eslint --fix, prettier --write

intermittently I get the following error & reinstalling @typescript-eslint/eslint-plugin isn't fixing it 💇
  packages/backend/tsconfig.json
  packages/design-system/tsconfig.json
  packages/discord-bot/tsconfig.json
Due: prettier --write

camel casing profile fields & removing color_aspect join 📼
  hasura/metadata/tables.yaml
  hasura/migrations/1638333712988_alter_table_public_profile_cache_alter_column_country/down.sql
  hasura/migrations/1638333712988_alter_table_public_profile_cache_alter_column_country/up.sql
  hasura/seed-local-db.js
  packages/backend/src/handlers/actions/idxCache/updateSingle.ts
  packages/backend/src/handlers/graphql/mutations.ts
  packages/backend/src/handlers/graphql/queries.ts
  packages/design-system/src/SelectTimeZone.tsx
  packages/web/graphql/fragments.ts
  packages/web/graphql/mutations/player.ts
  schema.graphql
Due: eslint --fix, prettier --write

disabling default parser to get busboy to work 🥘
  packages/web/pages/api/storage.tsx
Due: eslint --fix, prettier --write

updating to React 17.0.2 for react-form-hook ⚾
  package.json
  packages/backend/package.json
  packages/web/components/EditProfileForm.tsx
  packages/web/next.config.js
  packages/web/package.json
  yarn.lock
Due: eslint --fix, prettier --write

capitalizing MetaGame & refactoring WYSIWYG editor for TypeScript 🗞
  packages/web/components/MegaMenu.tsx
  packages/web/components/Quest/QuestForm.tsx
  packages/web/components/WYSIWYGEditor.tsx
  packages/web/contexts/Web3Context.tsx
  packages/web/lib/hooks/index.ts
  packages/web/pages/community/guilds.tsx
  packages/web/pages/community/patrons.tsx
  packages/web/pages/quest/[id].tsx
  packages/web/pages/quest/create.tsx
  packages/web/pages/quests.tsx
Due: eslint --fix, prettier --write

fixed hasura permissions
  hasura/metadata/tables.yaml
  packages/web/graphql/getPlayers.ts
  packages/web/pages/community/players.tsx
Due: eslint --fix, prettier --write

fixing linting errors 🐔
  packages/web/lib/hooks/opensea.ts
  packages/web/pages/api/storage.tsx
Due: eslint --fix, prettier --write

solving react-dom error, prettying leaderboard & SEED display, & fixing filters 🧚
  package.json
  packages/design-system/package.json
  packages/design-system/src/MetaFilterSelect.tsx
  packages/web/components/Dashboard/Leaderboard.tsx
  packages/web/components/Dashboard/Seed.tsx
  packages/web/components/Dashboard/XP.tsx
  packages/web/components/Dashboard/config.ts
  packages/web/components/LoginButton.tsx
  packages/web/components/Player/Filter/PlayerFilter.tsx
  packages/web/lib/hooks/index.ts
  packages/web/lib/hooks/players.ts
  packages/web/package.json
  packages/web/utils/playerHelpers.ts
  yarn.lock
Due: eslint --fix, prettier --write

testing variable references 💼
  .github/workflows/gcp-deploy.yaml
Due: none

moving fields to profile table & finalizing schema (closes #919) 💴
  hasura/metadata/tables.yaml
  hasura/migrations/1639455871385_rename_table_public_profile_cache/down.sql
  hasura/migrations/1639455871385_rename_table_public_profile_cache/up.sql
  hasura/migrations/1639455903307_alter_table_public_profile_alter_column_background_image_url/down.sql
  hasura/migrations/1639455903307_alter_table_public_profile_alter_column_background_image_url/up.sql
  hasura/migrations/1639457137925_alter_table_public_profile_add_column_pronouns/down.sql
  hasura/migrations/1639457137925_alter_table_public_profile_add_column_pronouns/up.sql
  hasura/migrations/1639457861149_alter_table_public_profile_add_column_background_image_url/down.sql
  hasura/migrations/1639457861149_alter_table_public_profile_add_column_background_image_url/up.sql
  hasura/migrations/1639458378073_set_fk_public_profile_player_id/down.sql
  hasura/migrations/1639458378073_set_fk_public_profile_player_id/up.sql
  hasura/migrations/1639458403546_alter_table_public_profile_add_unique_player_id/down.sql
  hasura/migrations/1639458403546_alter_table_public_profile_add_unique_player_id/up.sql
  hasura/migrations/1639458853392_alter_table_public_profile_add_column_username/down.sql
  hasura/migrations/1639458853392_alter_table_public_profile_add_column_username/up.sql
  hasura/migrations/1639476052965_alter_table_public_player_drop_column_pronouns/down.sql
  hasura/migrations/1639476052965_alter_table_public_player_drop_column_pronouns/up.sql
  hasura/migrations/1639476452544_move_view_username_to_profile/up.sql
  hasura/migrations/1639476534860_alter_table_public_player_drop_column_username/down.sql
  hasura/migrations/1639476534860_alter_table_public_player_drop_column_username/up.sql
  packages/backend/src/handlers/actions/idxCache/updateExpiredProfiles/handler.ts
  packages/backend/src/handlers/graphql/mutations.ts
  packages/backend/src/handlers/graphql/queries.ts
  packages/utils/bin/create-model.mjs
  packages/utils/schema/extended-profile.json5
  packages/utils/src/ExtendedProfileModel.json
  packages/utils/tsconfig.json
  packages/web/graphql/fragments.ts
  packages/web/graphql/queries/guild.ts
  packages/web/graphql/types.ts
  packages/web/utils/playerHelpers.ts
  schema.graphql
Due: eslint --fix, prettier --write

adding an `env.` prefix to everything 🎼
  .github/workflows/gcp-deploy.yaml
Due: none

increasing timeout on getXP test 🌶
  packages/discord-bot/src/discord/commands/getXp.ts
  packages/discord-bot/src/utils.ts
  packages/discord-bot/test/getXp.test.ts
Due: eslint --fix, prettier --write

mobile tweaks & hunting a caching bug 🥊
  packages/design-system/src/LoadingState.tsx
  packages/utils/bin/create-model.mjs
  packages/utils/bin/test-retrieval.mjs
  packages/utils/package.json
  packages/web/components/Container.tsx
  packages/web/components/MegaMenu.tsx
  packages/web/components/Player/Filter/MobileFilters.tsx
  packages/web/components/Player/PlayerTile.tsx
  packages/web/components/Player/Section/PlayerHero.tsx
  packages/web/components/PlayerStatsBar.tsx
  packages/web/pages/community/players.tsx
  yarn.lock
Due: eslint --fix, prettier --write

migrating node-fetch to utils & cleaning up references 🗝
  packages/backend/src/handlers/actions/migrateSourceCredAccounts/handler.ts
  packages/backend/src/handlers/remote-schemas/resolvers/brightId/resolver.ts
  packages/discord-bot/src/auth.ts
  packages/discord-bot/src/discord/commands/getXp.ts
  packages/utils/package.json
  packages/utils/src/index.ts
  packages/utils/src/networkHelpers.ts
Due: eslint --fix, prettier --write

switching player info accessors, Player type from fragment, & profile image field ✈
  hasura/metadata/tables.yaml
  hasura/migrations/1640057892300_alter_table_public_profile_alter_column_image_url/down.sql
  hasura/migrations/1640057892300_alter_table_public_profile_alter_column_image_url/up.sql
  packages/backend/src/handlers/actions/idxCache/updateSingle.ts
  packages/backend/src/handlers/actions/idxCache/updateSingleProfile/handler.ts
  packages/backend/src/handlers/graphql/mutations.ts
  packages/backend/src/handlers/remote-schemas/typeDefs.ts
  packages/utils/schema/extended-profile.json5
  packages/utils/src/ExtendedProfileModel.json
  packages/utils/src/extendedProfileTypes.ts
  packages/web/components/Dashboard/Leaderboard.tsx
  packages/web/components/Guild/Section/GuildPlayer.tsx
  packages/web/components/MegaMenu.tsx
  packages/web/components/Patron/PatronTile.tsx
  packages/web/components/Player/PlayerAvatar.tsx
  packages/web/components/Player/PlayerList.tsx
  packages/web/components/Player/PlayerTile.tsx
  packages/web/components/Player/Section/PlayerHero.tsx
  packages/web/components/PlayerStatsBar.tsx
  packages/web/components/Quest/QuestCompletions.tsx
  packages/web/contexts/Web3Context.tsx
  packages/web/graphql/fragments.ts
  packages/web/graphql/getPlayer.ts
  packages/web/graphql/mutations/player.ts
  packages/web/graphql/queries/guild.ts
  packages/web/graphql/types.ts
  packages/web/lib/hooks/index.ts
  packages/web/lib/hooks/players.ts
  packages/web/pages/_app.tsx
  packages/web/pages/_document.tsx
  packages/web/pages/player/[username].tsx
  packages/web/pages/quest/[id].tsx
  packages/web/utils/playerHelpers.ts
  schema.graphql
Due: eslint --fix, prettier --write

more testing variable references 🍖
  .github/workflows/gcp-deploy.yaml
Due: none

moving time zone to the profile table 🐠
  hasura/metadata/tables.yaml
  hasura/migrations/1640078300535_move_avaialable_hours_column_to_profile/up.sql
  hasura/migrations/1640176497098_alter_table_public_profile_add_column_time_zone/down.sql
  hasura/migrations/1640176497098_alter_table_public_profile_add_column_time_zone/up.sql
  hasura/migrations/1640183267176_move_time_zone_to_profile_table/down.sql
  hasura/migrations/1640183267176_move_time_zone_to_profile_table/up.sql
  packages/utils/schema/extended-profile.json5
  packages/utils/src/ExtendedProfileModel.json
  packages/web/components/Patron/PatronTile.tsx
  packages/web/components/Player/PlayerTile.tsx
  packages/web/components/Player/Section/PlayerHero.tsx
  packages/web/graphql/fragments.ts
  schema.graphql
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,yml,md})
