Repository MetaFam/TheGame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Revert "Revert ethereum address lowercase (#407)"
  hasura/migrations/1615534737144_lowercase_player_ethereum_address/up.sql
  hasura/migrations/1615534770163_alter_table_public_player_add_check_constraint_ethereum_address_is_valid/down.sql
  hasura/migrations/1615534770163_alter_table_public_player_add_check_constraint_ethereum_address_is_valid/up.sql
  packages/backend/src/handlers/actions/migrateSourceCredAccounts/handler.ts
  packages/backend/src/handlers/auth-webhook/users.ts
Due: eslint --fix, prettier --write

Fix mobile connect (#360)
  packages/utils/src/did/index.ts
  packages/utils/src/ethereumHelper.ts
  packages/web/components/LoginButton.tsx
  packages/web/contexts/Web3Context.tsx
  packages/web/graphql/getMemberships.ts
  packages/web/lib/auth.ts
  packages/web/lib/store.ts
  packages/web/package.json
  packages/web/pages/_app.tsx
  yarn.lock
Due: eslint --fix, prettier --write

add if not null check to ethereum address (#406)
  hasura/migrations/1615534737144_lowercase_player_ethereum_address/up.sql
Due: none

added seed-graph as a new remote schema (#410)
  packages/backend/src/handlers/remote-schemas/resolvers/seedGraph/queries.ts
  packages/backend/src/handlers/remote-schemas/resolvers/seedGraph/resolver.ts
  packages/backend/src/handlers/remote-schemas/schema.ts
  packages/backend/src/handlers/remote-schemas/typeDefs.ts
  schema.graphql
Due: eslint --fix, prettier --write

Revert ethereum address lowercase (#407)
  hasura/migrations/1615534737144_lowercase_player_ethereum_address/up.sql
  hasura/migrations/1615534770163_alter_table_public_player_add_check_constraint_ethereum_address_is_valid/down.sql
  hasura/migrations/1615534770163_alter_table_public_player_add_check_constraint_ethereum_address_is_valid/up.sql
  packages/backend/src/handlers/actions/migrateSourceCredAccounts/handler.ts
  packages/backend/src/handlers/auth-webhook/users.ts
Due: eslint --fix, prettier --write

fixed constraints
  hasura/migrations/1614710766234_alter_table_public_player_add_check_constraint_username_is_valid/up.sql
  hasura/migrations/1615534770163_alter_table_public_player_add_check_constraint_ethereum_address_is_valid/up.sql
Due: none

make ethereum_address lowercase in backend (#405)
  hasura/migrations/1615534737144_lowercase_player_ethereum_address/up.sql
  hasura/migrations/1615534770163_alter_table_public_player_add_check_constraint_ethereum_address_is_valid/down.sql
  hasura/migrations/1615534770163_alter_table_public_player_add_check_constraint_ethereum_address_is_valid/up.sql
  packages/backend/src/handlers/actions/migrateSourceCredAccounts/handler.ts
  packages/backend/src/handlers/auth-webhook/users.ts
Due: eslint --fix, prettier --write

printin' URI 🖨
  packages/web/config.ts
  packages/web/graphql/client.ts
  render.yaml
Due: eslint --fix, prettier --write

addin' yarn serve 🥘
  packages/web/package.json
  render.yaml
Due: prettier --write

Deploy frontend through render.yaml (#421)
  packages/web/config.ts
  render.yaml
Due: eslint --fix, prettier --write

removin' Enneagram table 🏓
  hasura/metadata/tables.yaml
  hasura/migrations/1616124361730_drop-enneagram-table/down.sql
  hasura/migrations/1616124361730_drop-enneagram-table/up.sql
Due: none

alt specification of graphql endpoint 🦡
  render.yaml
Due: none

tryin' w/o port 🌅
  packages/web/config.ts
Due: eslint --fix, prettier --write

Tweaked sourcecred migrator to use new player.discord_id column
  schema.graphql
Due: none

Fixed typing issue in trigger
  packages/backend/src/handlers/triggers/handler.ts
  packages/backend/src/handlers/triggers/types.ts
Due: eslint --fix, prettier --write

~ minimum code to add color chooser 🔦
  hasura/metadata/tables.yaml
  hasura/migrations/1616101057636_create-mtg-color-table/down.sql
  hasura/migrations/1616101057636_create-mtg-color-table/up.sql
  packages/design-system/src/SVG.tsx
  packages/design-system/src/index.ts
  packages/web/assets/colors/Ambition.svg
  packages/web/assets/colors/Balance.svg
  packages/web/assets/colors/Chaos.svg
  packages/web/assets/colors/Justice.svg
  packages/web/assets/colors/Wisdom.svg
  packages/web/assets/enneagram/achiever.png
  packages/web/assets/enneagram/challenger.png
  packages/web/assets/enneagram/enthusiast.png
  packages/web/assets/enneagram/helper.png
  packages/web/assets/enneagram/individualist.png
  packages/web/assets/enneagram/investigator.png
  packages/web/assets/enneagram/loyalist.png
  packages/web/assets/enneagram/peacemaker.png
  packages/web/assets/enneagram/reformer.png
  packages/web/components/Player/ColorBar.tsx
  packages/web/components/Player/Section/PlayerHero.tsx
  packages/web/components/Setup/SetupPersonalityType.tsx
  packages/web/graphql/fragments.ts
  packages/web/graphql/getPersonalityInfo.ts
  packages/web/graphql/getPersonalityTypes.ts
  packages/web/graphql/types.ts
  packages/web/pages/profile/setup/personalityType.tsx
  packages/web/utils/mathHelper.ts
  schema.graphql
Due: eslint --fix, prettier --write

squash backend changes (#438)
  docker-compose.yml
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
  hasura/metadata/tables.yaml
  packages/backend/src/handlers/actions/quests/createQuest/createQuest.ts
  packages/backend/src/handlers/actions/quests/createQuest/permissions.ts
  packages/backend/src/handlers/actions/quests/updateCompletion/updateCompletion.ts
  schema.graphql
Due: eslint --fix, prettier --write

[MyMeta] Patrons leaderboard (#395)
  packages/design-system/src/MetaTile.tsx
  packages/design-system/src/index.ts
  packages/web/components/Guild/GuildTile.tsx
  packages/web/components/Patron/PatronTile.tsx
  packages/web/components/PatronList.tsx
  packages/web/components/Player/PlayerTileMemberships.tsx
  packages/web/components/Player/PlayerTileSkills.tsx
  packages/web/graphql/fragments.ts
  packages/web/graphql/getPatrons.ts
  packages/web/graphql/types.ts
  packages/web/pages/patrons.tsx
Due: eslint --fix, prettier --write

Support connection from smart wallets (#416)
  packages/backend/package.json
  packages/backend/src/handlers/auth-webhook/handler.ts
  packages/utils/package.json
  packages/utils/src/did/index.ts
  packages/utils/src/ethereumHelper.ts
  packages/web/contexts/Web3Context.tsx
  packages/web/lib/auth.ts
  packages/web/package.json
  yarn.lock
Due: eslint --fix, prettier --write

addin' loggin' to skills error 🧣
  packages/web/components/Setup/SetupSkills.tsx
  packages/web/package.json
  render.yaml
Due: eslint --fix, prettier --write

updated schema
  schema.graphql
Due: none

Spin up services for the web build to point to
  .github/workflows/PR-CI.yml
Due: prettier --write

addin' comments to silence eslint 🍤
  packages/@types/3box/index.d.ts
  packages/backend/src/handlers/actions/migrateSourceCredAccounts/handler.ts
  packages/backend/src/handlers/actions/updateBoxProfile/updateVerifiedAccounts.ts
  packages/backend/src/handlers/triggers/types.ts
  packages/backend/src/index.ts
  packages/metamaps/redux/ThreeBox.tsx
  packages/utils/src/did/index.ts
  packages/web/contexts/Web3Context.tsx
Due: eslint --fix, prettier --write

printin' the right value 💅
  render.yaml
Due: none

addin' frontend to render.yaml 🐂
  render.yaml
Due: none

Added status to guild table
  hasura/metadata/tables.yaml
  hasura/migrations/1615328641179_add_guild_status/down.sql
  hasura/migrations/1615328641179_add_guild_status/up.sql
  schema.graphql
Due: none

Added migration to populate metafam discord_id, using that in updateDiscordRole action
  hasura/migrations/1616096764854_move_metafam_discord_id/down.sql
  hasura/migrations/1616096764854_move_metafam_discord_id/up.sql
  packages/backend/src/handlers/actions/migrateSourceCredAccounts/handler.ts
  packages/backend/src/handlers/graphql/queries.ts
  packages/backend/src/handlers/triggers/updateDiscordRole.ts
Due: eslint --fix, prettier --write

Added discord_metadata column to guild, moved inviteUrl there
  hasura/metadata/tables.yaml
  hasura/migrations/1615594547538_guild_add_discord_metadata_jsonb/down.sql
  hasura/migrations/1615594547538_guild_add_discord_metadata_jsonb/up.sql
Due: none

Added migration for metafam rank discord role IDs
  hasura/migrations/1615614610171_add_metafam_rank_role_ids/down.sql
  hasura/migrations/1615614610171_add_metafam_rank_role_ids/up.sql
  packages/backend/src/handlers/graphql/queries.ts
  packages/web/graphql/fragments.ts
  schema.graphql
Due: eslint --fix, prettier --write

Added migration to move discord_id fields to guild and player
  hasura/migrations/1615312118803_move_discord_ids/down.sql
  hasura/migrations/1615312118803_move_discord_ids/up.sql
Due: none

Added down migration for metafam/discord account
  hasura/migrations/1613085907468_add_metafam_discord/down.sql
Due: none

no interpolation in render.yaml 🌮
  packages/web/config.ts
  render.yaml
Due: eslint --fix, prettier --write

Fixed lint errors
  packages/backend/src/handlers/actions/discordOAuth/handler.ts
  packages/backend/src/handlers/actions/migrateSourceCredAccounts/handler.ts
  yarn.lock
Due: eslint --fix, prettier --write

tweakin' build step 🐾
  render.yaml
Due: none

code review changes from @alaonde to hopefully code #422 🥅
  .eslintrc.json
  packages/discord-bot/package.json
  packages/web/components/Player/ColorBar.tsx
  packages/web/components/Setup/SetupPersonalityType.tsx
  packages/web/package.json
  packages/web/utils/mathHelper.ts
  yarn.lock
Due: eslint --fix, prettier --write

Tweaked sourcecred migrator to use new player.discord_id column
  packages/backend/src/handlers/actions/migrateSourceCredAccounts/handler.ts
  packages/backend/src/handlers/graphql/mutations.ts
  schema.graphql
Due: eslint --fix, prettier --write

fixin' lintin' 🥼
  packages/web/components/Setup/SetupPersonalityType.tsx
  packages/web/components/Setup/SetupSkills.tsx
  packages/web/contexts/Web3Context.tsx
  packages/web/graphql/client.ts
Due: eslint --fix, prettier --write

testin' is dev environment will run 🥢
  render.yaml
Due: none

tryin' one more variable version 🍇
  packages/web/config.ts
  render.yaml
Due: eslint --fix, prettier --write

set next button as loading until next page loads (#418)
  packages/web/components/Setup/SetupAvailability.tsx
  packages/web/components/Setup/SetupDone.tsx
  packages/web/components/Setup/SetupMemberships.tsx
  packages/web/components/Setup/SetupPersonalityType.tsx
  packages/web/components/Setup/SetupPlayerType.tsx
  packages/web/components/Setup/SetupSkills.tsx
  packages/web/components/Setup/SetupTimeZone.tsx
  packages/web/components/Setup/SetupUsername.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js}
  prettier --write: (any of: *.{ts,tsx,js}) or (any of: *.{json,yml,md})
