Repository MetaFam/TheGame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

missing CacheProcessOutput 🐥
  schema.graphql
Due: none

frontend changes to use cached profile rather than remote schema 🍥
  packages/web/components/Patron/PatronTile.tsx
  packages/web/graphql/fragments.ts
  packages/web/lib/hooks/opensea.ts
  packages/web/pages/profile/setup/username.tsx
  packages/web/utils/playerHelpers.ts
Due: eslint --fix, prettier --write

reverting the timeout for Hasura to wait on the backend 🤹
  .github/workflows/PR-CI.yml
Due: prettier --write

reviewing pull request 🇯🇲
  packages/backend/src/handlers/actions/idxCache/updateSingleProfile/handler.ts
  packages/backend/src/handlers/graphql/queries.ts
  packages/web/lib/hooks/opensea.ts
  yarn.lock
Due: eslint --fix, prettier --write

allowing migration to run w/o conflicts multiple times 🦈
  hasura/migrations/1625633004312_create_table_public_profile_cache/up.sql
Due: none

preparing to squash migrations into one 🦑
  .github/workflows/PR-CI.yml
  hasura/migrations/1625550966531_create_table_public_profile_cache/up.sql
  hasura/migrations/1625624005406_alter_table_public_profile_cache_drop_column_ethereumAddress/up.sql
  hasura/migrations/1625624052694_alter_table_public_profile_cache_drop_column_job/up.sql
Due: prettier --write

standardizing the capitalization of URL ⛽
  hasura/metadata/tables.yaml
  packages/backend/src/config.ts
  packages/backend/src/handlers/actions/3Box/cache3BoxProfile/updateCachedProfile.ts
  packages/backend/src/handlers/actions/3Box/refresh3BoxCache/cache3BoxProfiles.ts
  packages/backend/src/handlers/remote-schemas/resolvers/brightId/resolver.ts
  packages/backend/src/handlers/remote-schemas/resolvers/getBoxProfile/resolver.ts
  packages/backend/src/handlers/remote-schemas/typeDefs.ts
  packages/web/components/Guild/GuildJoin.tsx
  packages/web/config.ts
  packages/web/graphql/fragments.ts
  packages/web/lib/hooks/brightId.ts
  packages/web/utils/playerHelpers.ts
Due: eslint --fix, prettier --write

removing commented code 🎁
  packages/backend/src/handlers/actions/3Box/cache3BoxProfile/updateCachedProfile.ts
  packages/backend/src/handlers/actions/3Box/refresh3BoxCache/handler.ts
Due: eslint --fix, prettier --write

locking stylis version to eliminate middleware error 🧤
  package.json
Due: prettier --write

removing isExternal from guild signup 📻
  packages/web/components/Guild/GuildJoin.tsx
Due: eslint --fix, prettier --write

renaming for clarity & adding queued invalidation 🌠
  packages/backend/package.json
  packages/backend/src/handlers/actions/3Box/cache3BoxProfile/handler.ts
  packages/backend/src/handlers/actions/3Box/refresh3BoxCache/cache3BoxProfiles.ts
  packages/backend/src/handlers/actions/3Box/refresh3BoxCache/handler.ts
  packages/backend/src/handlers/actions/3Box/routes.ts
  packages/backend/src/handlers/actions/idxCache/routes.ts
  packages/backend/src/handlers/actions/idxCache/updateExpiredProfiles/handler.ts
  packages/backend/src/handlers/actions/idxCache/updateSingle.ts
  packages/backend/src/handlers/actions/idxCache/updateSingleProfile/handler.ts
  packages/backend/src/handlers/actions/migrateSourceCredAccounts/handler.ts
  packages/backend/src/handlers/actions/routes.ts
  packages/backend/src/handlers/graphql/mutations.ts
  packages/backend/src/handlers/graphql/queries.ts
  packages/backend/src/handlers/triggers/cache3BoxProfile.ts
  packages/backend/src/handlers/triggers/cacheIDXProfile.ts
  packages/backend/src/handlers/triggers/handler.ts
  packages/backend/src/index.ts
Due: eslint --fix, prettier --write

Added Local host to Frontend Guide
  guides/FRONTEND.md
Due: prettier --write

Update FRONTEND.md
  guides/FRONTEND.md
Due: prettier --write

Update glossary.md
  docs/resources/glossary.md
Due: prettier --write

resolve moloch titles after DaoHaus schema change
  packages/backend/src/handlers/remote-schemas/resolvers/daohaus/queries.ts
  packages/backend/src/handlers/remote-schemas/resolvers/daohaus/resolver.ts
Due: eslint --fix, prettier --write

resolve moloch titles after DaoHaus schema change (#729)
  packages/backend/src/handlers/remote-schemas/resolvers/daohaus/queries.ts
  packages/backend/src/handlers/remote-schemas/resolvers/daohaus/resolver.ts
Due: eslint --fix, prettier --write

adding LinkBox & LinkOverlay (fixes #343) 🖇
  packages/design-system/src/MetaTile.tsx
  packages/design-system/src/index.ts
  packages/web/components/Link.tsx
  packages/web/components/Player/PlayerContacts.tsx
  packages/web/components/Player/PlayerTile.tsx
Due: eslint --fix, prettier --write

Make entire player tile into a link (fixes #343) 🖇
  packages/design-system/src/MetaTile.tsx
  packages/design-system/src/index.ts
  packages/web/components/Link.tsx
  packages/web/components/Player/PlayerContacts.tsx
  packages/web/components/Player/PlayerTile.tsx
Due: eslint --fix, prettier --write

added documentation
  README.md
  guides/FRONTEND.md
Due: prettier --write

added documentation (#731)
  README.md
  guides/FRONTEND.md
Due: prettier --write

reposition LinkOverlay link (fixes #732) 🎳
  packages/web/components/Player/PlayerTile.tsx
Due: eslint --fix, prettier --write

remove now unused MetaLink reference 🍳
  packages/web/components/Player/PlayerTile.tsx
Due: eslint --fix, prettier --write

MyMeta Fix: Nested Link Error (#737)
  packages/web/components/Player/PlayerTile.tsx
Due: eslint --fix, prettier --write

Create player skill rank migration
  hasura/metadata/tables.yaml
  hasura/migrations/1626994599013_add_rank_to_skill_table/up.sql
  packages/web/components/Setup/SetupUsername.tsx
  packages/web/graphql/mutations/player.ts
  render.yaml
Due: eslint --fix, prettier --write

Update schema after merging branches
  schema.graphql
Due: none

Update PlayerSkills fragment
  packages/web/graphql/fragments.ts
Due: eslint --fix, prettier --write

Update schema
  hasura/migrations/1626996347721_modify_primarykey_public_player_skill/down.sql
  hasura/migrations/1626996347721_modify_primarykey_public_player_skill/up.sql
  hasura/migrations/1626996361256_modify_primarykey_public_player_skill/down.sql
  hasura/migrations/1626996361256_modify_primarykey_public_player_skill/up.sql
  packages/web/pages/players.tsx
Due: eslint --fix, prettier --write

fix errant slash in render.yaml
  render.yaml
Due: none

Pass error from useUser
  packages/web/components/LoginButton.tsx
  packages/web/graphql/fragments.ts
  packages/web/lib/hooks/index.ts
Due: eslint --fix, prettier --write

yarn lint
  packages/web/components/Player/PlayerAvatar.tsx
Due: eslint --fix, prettier --write

run yarn lint
  packages/web/components/Player/PlayerTile.tsx
Due: eslint --fix, prettier --write

return h and w
  packages/web/components/Player/Section/PlayerHero.tsx
Due: eslint --fix, prettier --write

Print out error if ssr build fails
  packages/web/pages/players.tsx
Due: eslint --fix, prettier --write

feat: make list items into links
  packages/web/components/Player/Section/PlayerMemberships.tsx
Due: eslint --fix, prettier --write

Fix transparent bg profile img bug [fixes 385]
  packages/design-system/src/index.ts
  packages/web/components/Player/PlayerAvatar.tsx
  packages/web/components/Player/PlayerTile.tsx
  packages/web/utils/playerHelpers.ts
  scratch.txt
Due: eslint --fix, prettier --write

Update packages/web/components/Player/PlayerAvatar.tsx
  packages/web/components/Player/PlayerAvatar.tsx
Due: eslint --fix, prettier --write

refactor: was a temporary measure, no longer needed
  packages/backend/src/handlers/remote-schemas/resolvers/daohaus/resolver.ts
Due: eslint --fix, prettier --write

run yarn lint
  packages/web/components/Player/Section/PlayerHero.tsx
Due: eslint --fix, prettier --write

Fixed discord role update
  packages/backend/src/handlers/triggers/updateDiscordRole.ts
Due: eslint --fix, prettier --write

remove note
  scratch.txt
Due: none

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,yml,md})
