Repository MetaFam/TheGame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Update index.html
  static/admin/index.html
Due: none

Update skills and simplify skill categories
  hasura/migrations/1602389597441_update-skills/up.sql
Due: none

Update skills and simplify skill categories (#144)
  hasura/migrations/1602389597441_update-skills/up.sql
Due: none

Implement user auth on web
  package.json
  packages/codegen/schema.graphql
  packages/utils/package.json
  packages/utils/src/did/index.ts
  packages/web/components/Setup/SetupMemberships.tsx
  packages/web/components/Welcome/RegisterPlayer.tsx
  packages/web/contexts/Web3Context.tsx
  packages/web/graphql/client.ts
  packages/web/graphql/getMe.ts
  packages/web/lib/auth.ts
  packages/web/lib/hooks.ts
  packages/web/package.json
  packages/web/pages/_app.tsx
  packages/web/pages/profile/setup.tsx
  yarn.lock
Due: eslint --fix, prettier --write

Create "me" view for logged in user
  hasura/metadata/tables.yaml
  hasura/migrations/1602392593424_create-me-view/down.sql
  hasura/migrations/1602392593424_create-me-view/up.sql
Due: none

Fix type errors
  packages/app-react/package.json
  packages/app-react/src/contexts/Web3.tsx
  yarn.lock
Due: eslint --fix, prettier --write

Setup static regeneration
  packages/web/pages/index.tsx
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

Disable next export
  packages/web/package.json
Due: prettier --write

Address PR feedback
  packages/web/.eslintrc.json
  packages/web/lib/hooks.ts
  packages/web/pages/_app.tsx
Due: eslint --fix, prettier --write

Implement User Auth on Web (#145)
  hasura/metadata/tables.yaml
  hasura/migrations/1602392593424_create-me-view/down.sql
  hasura/migrations/1602392593424_create-me-view/up.sql
  package.json
  packages/app-react/package.json
  packages/app-react/src/contexts/Web3.tsx
  packages/codegen/schema.graphql
  packages/utils/package.json
  packages/utils/src/did/index.ts
  packages/web/.eslintrc.json
  packages/web/components/Setup/SetupMemberships.tsx
  packages/web/components/Welcome/RegisterPlayer.tsx
  packages/web/contexts/Web3Context.tsx
  packages/web/graphql/client.ts
  packages/web/graphql/getMe.ts
  packages/web/lib/auth.ts
  packages/web/lib/hooks.ts
  packages/web/package.json
  packages/web/pages/_app.tsx
  packages/web/pages/index.tsx
  packages/web/pages/player/[username].tsx
  packages/web/pages/profile/setup.tsx
  yarn.lock
Due: eslint --fix, prettier --write

Implement user auth on web
  packages/web/pages/_app.tsx
Due: eslint --fix, prettier --write

Setup Image Optimization
  docker-compose.yml
  packages/backend/package.json
  packages/backend/src/config.ts
  packages/backend/src/handlers/remote-schemas/resolvers/getBoxProfile/resolver.ts
  packages/backend/src/handlers/remote-schemas/typeDefs.ts
  packages/backend/src/lib/imageHelpers.ts
  packages/codegen/schema.graphql
  packages/web/components/Player/PlayerHero.tsx
  packages/web/graphql/fragments.ts
  packages/web/utils/playerHelpers.ts
  yarn.lock
Due: eslint --fix, prettier --write

Add favicon
  packages/web/pages/_document.tsx
  packages/web/public/favicon.png
Due: eslint --fix, prettier --write

Add IMGIX_TOKEN to render.yaml
  render.yaml
Due: none

Update house-of-daos.mdx
  docs/great-houses/house-of-daos.mdx
Due: none

WIP: 134 moar design tweaks (#137)
  docs/great-houses/house-of-daos.mdx
  src/css/custom.css
  src/pages/index.js
  src/pages/styles.module.css
  static/img/mymeta-bg.jpg
Due: eslint --fix, prettier --write

Setup Image Optimization (#146)
  docker-compose.yml
  packages/backend/package.json
  packages/backend/src/config.ts
  packages/backend/src/handlers/remote-schemas/resolvers/getBoxProfile/resolver.ts
  packages/backend/src/handlers/remote-schemas/typeDefs.ts
  packages/backend/src/lib/imageHelpers.ts
  packages/codegen/schema.graphql
  packages/web/components/Player/PlayerHero.tsx
  packages/web/graphql/fragments.ts
  packages/web/pages/_app.tsx
  packages/web/pages/_document.tsx
  packages/web/public/favicon.png
  packages/web/utils/playerHelpers.ts
  render.yaml
  yarn.lock
Due: eslint --fix, prettier --write

134 moar design tweaks (#140)
  docs/great-houses/house-of-daos.mdx
  src/css/custom.css
  src/pages/styles.module.css
Due: none

134 moar design tweaks (#141)
  src/css/custom.css
  src/pages/styles.module.css
Due: none

134 design tweaks (#142)
  src/css/custom.css
  src/pages/styles.module.css
Due: none

Setup PlayerTypes in backend
  hasura/metadata/tables.yaml
  hasura/migrations/1602808981811_add_player_type/down.sql
  hasura/migrations/1602808981811_add_player_type/up.sql
Due: none

Setup PlayerTypes in backend (#157)
  hasura/metadata/tables.yaml
  hasura/migrations/1602808981811_add_player_type/down.sql
  hasura/migrations/1602808981811_add_player_type/up.sql
Due: none

create useSetupFlow hook
  packages/web/components/Setup/SetupAvailability.tsx
  packages/web/components/Setup/SetupHeader.tsx
  packages/web/components/Setup/SetupMemberships.tsx
  packages/web/components/Setup/SetupPersonalityType.tsx
  packages/web/components/Setup/SetupPlayerType.tsx
  packages/web/components/Setup/SetupProfile.tsx
  packages/web/components/Setup/SetupSkills.tsx
  packages/web/contexts/SetupContext.tsx
Due: eslint --fix, prettier --write

Add availability hours and fix permissions in Hasura
  hasura/metadata/tables.yaml
  hasura/migrations/1602811082541_alter_table_public_Player_add_column_availability_hours/down.sql
  hasura/migrations/1602811082541_alter_table_public_Player_add_column_availability_hours/up.sql
  packages/codegen/schema.graphql
Due: none

Implement mutation for About You section of profile setup
  package.json
  packages/web/components/Setup/SetupPersonalityType.tsx
  packages/web/components/Setup/SetupPlayerType.tsx
  packages/web/contexts/SetupContext.tsx
  packages/web/graphql/getPersonalityTypes.ts
  packages/web/graphql/getPlayerTypes.ts
  packages/web/graphql/mutations/updateAboutYou.ts
  packages/web/graphql/types.ts
Due: eslint --fix, prettier --write

Setup Mutations on web app (#158)
  hasura/metadata/tables.yaml
  hasura/migrations/1602811082541_alter_table_public_Player_add_column_availability_hours/down.sql
  hasura/migrations/1602811082541_alter_table_public_Player_add_column_availability_hours/up.sql
  package.json
  packages/codegen/schema.graphql
  packages/web/components/Setup/SetupAvailability.tsx
  packages/web/components/Setup/SetupHeader.tsx
  packages/web/components/Setup/SetupMemberships.tsx
  packages/web/components/Setup/SetupPersonalityType.tsx
  packages/web/components/Setup/SetupPlayerType.tsx
  packages/web/components/Setup/SetupProfile.tsx
  packages/web/components/Setup/SetupSkills.tsx
  packages/web/contexts/SetupContext.tsx
  packages/web/graphql/getPersonalityTypes.ts
  packages/web/graphql/getPlayerTypes.ts
  packages/web/graphql/mutations/updateAboutYou.ts
  packages/web/graphql/types.ts
Due: eslint --fix, prettier --write

fix styles + minor changes
  packages/design-system/package.json
  packages/design-system/src/theme.ts
  packages/web/components/LoginButton.tsx
  packages/web/pages/_app.tsx
  packages/web/pages/profile/setup.tsx
  yarn.lock
Due: eslint --fix, prettier --write

fix styles + minor changes (#159)
  packages/design-system/package.json
  packages/design-system/src/theme.ts
  packages/web/components/LoginButton.tsx
  packages/web/pages/_app.tsx
  packages/web/pages/profile/setup.tsx
  yarn.lock
Due: eslint --fix, prettier --write

Setup Player Skills and complete setup flow
  hasura/metadata/tables.yaml
  packages/codegen/schema.graphql
  packages/web/components/Player/PlayerFeatures.tsx
  packages/web/components/Player/PlayerHero.tsx
  packages/web/components/Setup/SetupAvailability.tsx
  packages/web/graphql/fragments.ts
  packages/web/graphql/getSkills.ts
  packages/web/graphql/mutations/updateSkills.ts
  packages/web/pages/player/[username].tsx
  packages/web/utils/skillHelpers.ts
Due: eslint --fix, prettier --write

Improve UX for Skills Selector
  packages/design-system/src/SelectSearch.tsx
  packages/web/components/Setup/SetupSkills.tsx
Due: eslint --fix, prettier --write

Setup Player Skills and complete setup flow (#161)
  hasura/metadata/tables.yaml
  packages/codegen/schema.graphql
  packages/web/components/Player/PlayerFeatures.tsx
  packages/web/components/Player/PlayerHero.tsx
  packages/web/components/Setup/SetupAvailability.tsx
  packages/web/graphql/fragments.ts
  packages/web/graphql/getSkills.ts
  packages/web/graphql/mutations/updateSkills.ts
  packages/web/pages/player/[username].tsx
  packages/web/utils/skillHelpers.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js}
  prettier --write: (any of: *.{ts,tsx,js}) or (any of: *.{json,yml,md})
