Repository MetaFam/TheGame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,yml,md}": "prettier --write"
}

lowercase
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

expirement with revalidate
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

useSWR to fetch data from getStaticPath
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

build for test
  packages/web/pages/player/[username].tsx
  packages/web/utils/ensHelpers.ts
Due: eslint --fix, prettier --write

remove unused code from getPlayerData
  packages/web/utils/ensHelpers.ts
Due: eslint --fix, prettier --write

use def envs
  packages/web/utils/ensHelpers.ts
Due: eslint --fix, prettier --write

fixes
  packages/web/utils/ensHelpers.ts
Due: eslint --fix, prettier --write

Update vite.config.ts.timestamp-1675691765700.mjs
  packages/design-system/vite.config.ts.timestamp-1675691765700.mjs
Due: none

fix
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

change migration to include _-
  packages/web/lib/hooks/ens.tsx
Due: eslint --fix, prettier --write

remove hook
  packages/web/lib/hooks/ens.tsx
Due: eslint --fix, prettier --write

fix /me
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

Delete vite.config.ts.timestamp-1675691765700.mjs
  packages/design-system/vite.config.ts.timestamp-1675691765700.mjs
Due: none

type
  packages/web/components/Player/PlayerTile.tsx
Due: eslint --fix, prettier --write

moving pr over to fresh branch
  .github/workflows/gcp-deploy.yaml
  hasura/metadata/tables.yaml
  hasura/migrations/1677180693792_alter_table_public_profile_add_check_constraint_no_periods_in_username/up.sql
  hasura/seed-db.mjs
  packages/web/components/Dashboard/Leaderboard.tsx
  packages/web/components/Dashboard/QuestsCreated.tsx
  packages/web/components/EditableGridLayout.tsx
  packages/web/components/Guild/Section/GuildPlayer.tsx
  packages/web/components/MegaMenu/DesktopPlayerStats.tsx
  packages/web/components/MegaMenu/MegaMenuFooter.tsx
  packages/web/components/Player/Filter/PlayerFilter.tsx
  packages/web/components/Player/PlayerAvatar.tsx
  packages/web/components/Player/PlayerSection.tsx
  packages/web/components/Player/PlayerTile.tsx
  packages/web/components/Player/Section/PlayerHero.tsx
  packages/web/components/Quest/QuestCompletions.tsx
  packages/web/config.ts
  packages/web/package.json
  packages/web/pages/player/[username].tsx
  packages/web/utils/ensHelpers.ts
  packages/web/utils/playerHelpers.ts
  yarn.lock
Due: eslint --fix, prettier --write

fixes
  yarn.lock
Due: none

update migrate
  hasura/seed-db.mjs
Due: none

pulling in files for rename of `migrate` to `sync` for SourceCred 🔖
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
  hasura/metadata/cron_triggers.yaml
  hasura/seed-db.mjs
  packages/backend/src/handlers/actions/guild/sync.ts
  packages/backend/src/handlers/actions/routes.ts
  packages/backend/src/handlers/actions/sourcecred/sync.ts
  packages/backend/src/handlers/graphql/mutations/player.ts
  packages/backend/src/handlers/triggers/handler.ts
  packages/backend/src/handlers/triggers/syncDiscordGuildMembers.ts
  packages/backend/src/lib/apiHelpers.ts
  packages/utils/src/arrayHelpers.ts
Due: eslint --fix, prettier --write

fix
  hasura/metadata/tables.yaml
Due: none

prevent lack of data
  packages/web/components/Player/PlayerTile.tsx
Due: eslint --fix, prettier --write

formatAddress
  packages/web/components/Player/PlayerTile.tsx
Due: eslint --fix, prettier --write

tile
  packages/web/components/Player/PlayerTile.tsx
Due: eslint --fix, prettier --write

fixes
  packages/web/components/Player/PlayerTile.tsx
Due: eslint --fix, prettier --write

switch rpc
  packages/web/config.ts
  packages/web/utils/ensHelpers.ts
Due: eslint --fix, prettier --write

refactor and remove maps, clean up set
  packages/web/components/Dashboard/Leaderboard.tsx
  packages/web/components/Dashboard/LeaderboardLink.tsx
  packages/web/components/Dashboard/QuestCompletionItem.tsx
  packages/web/components/Dashboard/QuestsCreated.tsx
  packages/web/components/Guild/Section/GuildPlayer.tsx
  packages/web/components/MegaMenu/DesktopPlayerStats.tsx
  packages/web/components/MegaMenu/MegaMenuFooter.tsx
  packages/web/components/Player/PlayerAvatar.tsx
  packages/web/components/Player/PlayerTile.tsx
  packages/web/components/Quest/QuestCompletions.tsx
  packages/web/components/Quest/QuestCompletionsItem.tsx
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

Resolve ENS
  .github/workflows/gcp-deploy.yaml
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
  hasura/metadata/cron_triggers.yaml
  hasura/migrations/1677180693792_alter_table_public_profile_add_check_constraint_no_periods_in_username/up.sql
  hasura/seed-db.mjs
  packages/backend/src/handlers/actions/guild/sync.ts
  packages/backend/src/handlers/actions/routes.ts
  packages/backend/src/handlers/actions/sourcecred/sync.ts
  packages/backend/src/handlers/graphql/mutations/player.ts
  packages/backend/src/handlers/triggers/handler.ts
  packages/backend/src/handlers/triggers/syncDiscordGuildMembers.ts
  packages/backend/src/lib/apiHelpers.ts
  packages/utils/src/arrayHelpers.ts
  packages/web/components/Dashboard/Leaderboard.tsx
  packages/web/components/Dashboard/LeaderboardLink.tsx
  packages/web/components/Dashboard/QuestCompletionItem.tsx
  packages/web/components/Dashboard/QuestsCreated.tsx
  packages/web/components/EditableGridLayout.tsx
  packages/web/components/Guild/Section/GuildPlayer.tsx
  packages/web/components/MegaMenu/DesktopPlayerStats.tsx
  packages/web/components/MegaMenu/MegaMenuFooter.tsx
  packages/web/components/Player/Filter/PlayerFilter.tsx
  packages/web/components/Player/PlayerAvatar.tsx
  packages/web/components/Player/PlayerSection.tsx
  packages/web/components/Player/PlayerTile.tsx
  packages/web/components/Player/Section/PlayerHero.tsx
  packages/web/components/Quest/QuestCompletions.tsx
  packages/web/components/Quest/QuestCompletionsItem.tsx
  packages/web/config.ts
  packages/web/package.json
  packages/web/pages/player/[username].tsx
  packages/web/utils/ensHelpers.ts
  packages/web/utils/playerHelpers.ts
  yarn.lock
Due: eslint --fix, prettier --write

squashing bugs in Discord & SourceCred syncs 🤹🏿‍♀️
  packages/backend/src/handlers/actions/idxCache/updateSingle.ts
  packages/utils/src/sourceCredHelpers.ts
Due: eslint --fix, prettier --write

fixing SourceCred & Discord syncs, Meet w/ Wallet, & gating backgrounds 🥶
  packages/backend/src/handlers/actions/idxCache/updateSingle.ts
  packages/backend/src/handlers/actions/meetwithwallet/handler.ts
  packages/backend/src/handlers/actions/meetwithwallet/index.ts
  packages/utils/src/extendedProfileTypes.ts
  packages/web/components/EditProfileModal.tsx
  packages/web/graphql/fragments.ts
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

exposing sync tasks in Hasura GraphQL interface 👊🏿
  package.json
  packages/design-system/package.json
Due: prettier --write

renaming migrateSC to syncSC 🥾
  .github/workflows/gcp-deploy.yaml
  README.md
  hasura/seed-db.mjs
Due: prettier --write

updating MetaFam image & membership roles 🎍
  hasura/migrations/1613085907468_add_metafam_discord/up.sql
  hasura/migrations/1615594547538_guild_add_discord_metadata_jsonb/up.sql
  hasura/migrations/1615614610171_add_metafam_rank_role_ids/up.sql
Due: none

commiting to try @Sero's changes 🏅
  yarn.lock
Due: none

tweaking Ceramic aliases & trying to remove duplicate `@emotion`s ⛽
  package.json
  packages/backend/src/handlers/actions/idxCache/updateSingle.ts
  packages/design-system/package.json
  packages/utils/src/ceramic.ts
  packages/web/package.json
  packages/web/pages/_app.tsx
  yarn.lock
Due: eslint --fix, prettier --write

repeated `p` weirdness 🐥
  packages/web/components/Guild/Join/Requirements.tsx
  packages/web/components/Landing/OnboardingGame/index.tsx
  packages/web/components/Patron/Join/WhoArePatrons.tsx
  packages/web/components/Quest/QuestDetails.tsx
  packages/web/components/Quest/QuestTile.tsx
Due: eslint --fix, prettier --write

fixing generate task & missed PNGs 🌷
  packages/web/assets/landing/sections/section-1.sm.webp
  packages/web/assets/landing/sections/section-1.webp
  packages/web/assets/landing/sections/section-5.sm.webp
  packages/web/assets/landing/sections/section-5.webp
  packages/web/assets/landing/sections/section-6-rerender-001-1600.webp
  packages/web/assets/landing/sections/section-6-rerender-001.webp
  packages/web/assets/landing/sections/section-6.webp
  packages/web/assets/landing/sections/section-7.webp
  packages/web/assets/landing/whatdo/computer.webp
Due: none

fixed time zone saving & rendered description as Markdown ➿
  packages/web/components/Player/Section/PlayerHero.tsx
  packages/web/components/Setup/SetupDescription.tsx
  packages/web/components/Setup/SetupName.tsx
  packages/web/components/Setup/SetupTimeZone.tsx
Due: eslint --fix, prettier --write

updating to Next.js v13 🀐
  packages/design-system/package.json
  packages/web/package.json
  yarn.lock
Due: prettier --write

💇🏿‍♀️ npx @next/codemod next-image-to-legacy-image .
  packages/design-system/src/BoxedNextImage.tsx
  packages/web/components/QuestChain/UploadImageForm.tsx
Due: eslint --fix, prettier --write
