Repository MetaFam/TheGame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Use InferGetStaticPropsType to simplify type annotations
  packages/web/.eslintrc.json
  packages/web/pages/index.tsx
Due: eslint --fix, prettier --write

Consolidate more package.json entries into root package.json
  package.json
  packages/app-react/package.json
  packages/backend/package.json
  packages/design-system/tsconfig.json
  packages/web/package.json
  yarn.lock
Due: prettier --write

Fallback to restore previous node_modules cache in github action
  .github/workflows/PR-CI.yml
  packages/backend/tsconfig.json
Due: prettier --write

Centralize more of eslint config, gitignore, and tsconfig
  .eslintrc.json
  .gitignore
  packages/app-react/tsconfig.json
  packages/backend/.gitignore
  packages/design-system/stories/.eslintrc
  packages/utils/.gitignore
  packages/web/.eslintrc.json
  tsconfig.base.json
Due: prettier --write

Fix test command
  package.json
  yarn.lock
Due: prettier --write

prettier
  hasura/metadata/actions.yaml
  hasura/metadata/tables.yaml
Due: none

Update models (#33)
  README.md
  hasura/metadata/tables.yaml
  hasura/migrations/1575910000000_init/up.sql
  hasura/migrations/1595681063913_insert_seed_data/up.sql
  packages/backend/src/handlers/actions/updateBoxProfile/handler.ts
  packages/web/graphql/client.ts
  packages/web/graphql/getPokemon.ts
  packages/web/graphql/getPokemons.ts
  packages/web/types/pokemon.ts
Due: eslint --fix, prettier --write

Fix package/utils TS compiling
  packages/utils/tsconfig.json
Due: prettier --write

Setup TSDX for design system
  package.json
  packages/design-system/.storybook/main.js
  packages/design-system/README.md
  packages/design-system/__tests__/0-Text.test.tsx
  packages/design-system/package.json
  packages/design-system/stories/0-Text.stories.tsx
  packages/design-system/stories/1-Button.stories.tsx
  packages/design-system/tsconfig.build.json
  packages/design-system/tsconfig.json
  packages/web/pages/index.tsx
  packages/web/pages/pokemon/[name].tsx
  packages/web/tsconfig.json
  tsconfig.base.json
  yarn.lock
Due: eslint --fix, prettier --write

Use new TS build system for ds and utils
  package.json
  packages/design-system/package.json
  packages/utils/package.json
Due: prettier --write

Fix broken tests
  packages/design-system/package.json
  packages/design-system/test/0-Text.test.tsx
  packages/design-system/tsconfig.json
Due: eslint --fix, prettier --write

Remove restore key for CI cache
  .github/workflows/PR-CI.yml
Due: prettier --write

add fonts to storybook
  packages/design-system/.storybook/themeDecorator.js
  packages/design-system/package.json
  yarn.lock
Due: eslint --fix, prettier --write

add fonts to storybook (#45)
  packages/design-system/.storybook/themeDecorator.js
  packages/design-system/package.json
  yarn.lock
Due: eslint --fix, prettier --write

Metamaps base prototype
  packages/metamaps/.babelrc
  packages/metamaps/.eslintrc.json
  packages/metamaps/README.md
  packages/metamaps/components/Circle.tsx
  packages/metamaps/components/Container.tsx
  packages/metamaps/components/Image.tsx
  packages/metamaps/components/Line.tsx
  packages/metamaps/components/Menu.tsx
  packages/metamaps/components/Popup.tsx
  packages/metamaps/components/Square.tsx
  packages/metamaps/components/ThreeBox.tsx
  packages/metamaps/next-env.d.ts
  packages/metamaps/package.json
  packages/metamaps/pages/_app.tsx
  packages/metamaps/pages/_document.tsx
  packages/metamaps/pages/index.tsx
  packages/metamaps/redux/Reducer.tsx
  packages/metamaps/redux/ThreeBox.tsx
  packages/metamaps/redux/Types.tsx
  packages/metamaps/styles/App.tsx
  packages/metamaps/styles/Mapping.tsx
  packages/metamaps/styles/Menu.tsx
  packages/metamaps/styles/Styles.tsx
  packages/metamaps/styles/ThreeBox.tsx
  packages/metamaps/tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

Fix fonts in web app
  packages/web/package.json
  packages/web/pages/_document.tsx
  yarn.lock
Due: eslint --fix, prettier --write

Resolved all lint related issues
  packages/metamaps/components/Circle.tsx
  packages/metamaps/components/Container.tsx
  packages/metamaps/components/Image.tsx
  packages/metamaps/components/Line.tsx
  packages/metamaps/components/Loading.tsx
  packages/metamaps/components/Menu.tsx
  packages/metamaps/components/Popup.tsx
  packages/metamaps/components/Square.tsx
  packages/metamaps/components/ThreeBox.tsx
  packages/metamaps/pages/_app.tsx
  packages/metamaps/pages/_document.tsx
  packages/metamaps/pages/index.tsx
  packages/metamaps/redux/Reducer.state.tsx
  packages/metamaps/redux/Reducer.tsx
  packages/metamaps/redux/ThreeBox.tsx
  packages/metamaps/styles/App.tsx
  packages/metamaps/styles/Loading.tsx
  packages/metamaps/styles/Mapping.tsx
  packages/metamaps/styles/Menu.tsx
  packages/metamaps/styles/ThreeBox.tsx
Due: eslint --fix, prettier --write

get3BoxProfile handler
  packages/backend/src/config.ts
  packages/backend/src/handlers/actions/getBoxProfile/handler.ts
  packages/backend/src/handlers/actions/routes.ts
  packages/backend/src/handlers/actions/types.ts
  packages/backend/src/lib/apiHelpers.ts
Due: eslint --fix, prettier --write

added getBoxProfile action
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
Due: none

add ethereumAddress to getBoxProfile
  hasura/metadata/actions.graphql
  packages/backend/src/handlers/actions/getBoxProfile/handler.ts
  packages/backend/src/handlers/actions/types.ts
Due: eslint --fix, prettier --write

using a remote schema instead of an action for getBoxProfile
  hasura/Dockerfile
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
  hasura/metadata/remote_schemas.yaml
  hasura/metadata/tables.yaml
  packages/@types/express-graphql/index.d.ts
  packages/app-react/src/apollo/auth.js
  packages/app-react/src/components/PlayerDetails.tsx
  packages/app-react/src/serviceWorker.ts
  packages/backend/package.json
  packages/backend/src/handlers/actions/routes.ts
  packages/backend/src/handlers/actions/types.ts
  packages/backend/src/handlers/remote-schemas/resolvers/getBoxProfile/resolver.ts
  packages/backend/src/handlers/remote-schemas/routes.ts
  packages/backend/src/handlers/remote-schemas/schema.ts
  packages/backend/src/handlers/remote-schemas/typeDefs.ts
  packages/backend/src/handlers/remote-schemas/types.ts
  packages/backend/src/handlers/routes.ts
  packages/design-system/.storybook/themeDecorator.js
  packages/web/pages/index.tsx
  packages/web/pages/pokemon/[name].tsx
Due: eslint --fix, prettier --write

lint
  packages/backend/src/handlers/remote-schemas/schema.ts
  packages/backend/src/handlers/routes.ts
Due: eslint --fix, prettier --write

Correct authentication webhook and frontend with ethereum_address in Player
  packages/app-react/src/apollo/auth.js
  packages/app-react/src/components/PlayerDetails.tsx
  packages/app-react/src/containers/Player.tsx
  packages/app-react/src/containers/PlayerList.tsx
  packages/app-react/src/graphql/fragments.ts
  packages/app-react/src/graphql/hooks.ts
  packages/app-react/src/graphql/queries.ts
  packages/app-react/src/utils/players.ts
  packages/backend/src/handlers/auth-webhook/users.ts
Due: eslint --fix, prettier --write

Add ethereum_address to Player model in order to get the box profile
  docker-compose.yml
  hasura/metadata/tables.yaml
  hasura/migrations/1575910000000_init/up.sql
  hasura/migrations/1595681063913_insert_seed_data/up.sql
  packages/backend/src/handlers/remote-schemas/resolvers/getBoxProfile/resolver.ts
Due: eslint --fix, prettier --write

lint
  packages/app-react/src/graphql/queries.ts
Due: eslint --fix, prettier --write

fetch box profile from hasura
  packages/app-react/src/components/PlayerDetails.tsx
  packages/app-react/src/graphql/fragments.ts
  packages/app-react/src/graphql/queries.ts
Due: eslint --fix, prettier --write

Refromat files and fix config
  .eslintrc.json
  packages/app-react/src/apollo/auth.js
  packages/app-react/src/components/PlayerDetails.tsx
  packages/app-react/src/graphql/queries.ts
  packages/app-react/src/serviceWorker.ts
  packages/backend/src/config.ts
  packages/backend/src/handlers/remote-schemas/resolvers/getBoxProfile/resolver.ts
  packages/backend/src/handlers/routes.ts
  packages/backend/src/lib/apiHelpers.ts
  packages/design-system/.storybook/themeDecorator.js
  packages/web/pages/index.tsx
  packages/web/pages/pokemon/[name].tsx
  yarn.lock
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js}
  prettier --write: (any of: *.{ts,tsx,js}) or (any of: *.{json,yml,md})
