Repository MetaFam/TheGame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js}": ["eslint --fix", "prettier --write"],
  "*.{json,yml,md}": "prettier --write"
}

Revert "Added player username regex check constraint"
  hasura/migrations/1614710766234_alter_table_public_player_add_check_constraint_username_is_valid/down.sql
  hasura/migrations/1614710766234_alter_table_public_player_add_check_constraint_username_is_valid/up.sql
Due: none

Revert "Allow case-insensitive player username lookups"
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

Revert "Redirect to the proper player page URL when appropriate"
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

Revert "Add username lowercase mutation"
  hasura/migrations/1614278149225_lowercase_player_username/up.sql
  packages/web/components/Setup/SetupUsername.tsx
Due: eslint --fix, prettier --write

Revert "Make username params lowercase to match those in the database"
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

Revert "Removed client-side username regex so as not to duplicate the server-side one"
  packages/web/components/Setup/SetupUsername.tsx
Due: eslint --fix, prettier --write

pushing for review 👓
  packages/web/assets/alternates/Ambition.svg
  packages/web/assets/alternates/Balance.svg
  packages/web/assets/alternates/Chaos.svg
  packages/web/assets/alternates/Justice.svg
  packages/web/assets/alternates/Wisdom.svg
  packages/web/components/Setup/SetupPersonalityType.tsx
  packages/web/graphql/getPersonalityInfo.ts
  packages/web/graphql/types.ts
  packages/web/pages/profile/setup/personalityType.tsx
  schema.graphql
Due: eslint --fix, prettier --write

addin' color bar & fixin' savin' 🌈
  hasura/metadata/tables.yaml
  packages/web/assets/colors/The Golgari Swarm.svg
  packages/web/assets/colors/The Orzhov Syndicate.svg
  packages/web/assets/empty.svg
  packages/web/components/Setup/SetupPersonalityType.tsx
  packages/web/components/Setup/SetupProfile.tsx
  packages/web/graphql/fragments.ts
  packages/web/graphql/getPersonalityInfo.ts
  packages/web/graphql/mutations/updateAboutYou.ts
  packages/web/pages/profile/setup/personalityType.tsx
Due: eslint --fix, prettier --write

prettyin' mobile & satiatin' the linter 🌷
  packages/web/components/PlayerList.tsx
  packages/web/components/Setup/SetupAvailability.tsx
  packages/web/components/Setup/SetupPersonalityType.tsx
  packages/web/components/Setup/SetupPlayerType.tsx
  packages/web/components/Setup/SetupProfile.tsx
  packages/web/components/Setup/SetupSkills.tsx
  packages/web/components/Setup/SetupTimeZone.tsx
  packages/web/graphql/getPersonalityInfo.ts
  packages/web/pages/profile/setup/personalityType.tsx
Due: eslint --fix, prettier --write

addin' personality color image to profile ✳
  packages/design-system/src/index.ts
  packages/web/components/Player/Section/ColorImage.tsx
  packages/web/components/Player/Section/PlayerHero.tsx
  packages/web/utils/svgHelpers.ts
Due: eslint --fix, prettier --write

refactorin' to use MTG colors on profile view 🥋
  packages/web/components/Player/Section/ColorImage.tsx
  packages/web/components/Player/Section/PlayerHero.tsx
  packages/web/components/Setup/SetupHeader.tsx
  packages/web/components/Setup/SetupMemberships.tsx
  packages/web/components/Setup/SetupPersonalityType.tsx
  packages/web/components/Setup/SetupPlayerType.tsx
  packages/web/graphql/getPersonalityInfo.ts
  packages/web/utils/svgHelpers.ts
Due: eslint --fix, prettier --write

Make the whole Player card clickable
  packages/web/components/Player/PlayerTile.tsx
Due: eslint --fix, prettier --write

Make the whole Player card clickable
  .env.sample
Due: none

reviewin' pull request & checkin' linter 💳
  packages/design-system/src/index.ts
  packages/web/components/Player/Section/ColorImage.tsx
  packages/web/components/Player/Section/PlayerHero.tsx
  packages/web/components/PlayerList.tsx
  packages/web/components/Setup/SetupPersonalityType.tsx
  packages/web/components/Setup/SetupPlayerType.tsx
  packages/web/components/Setup/SetupSkills.tsx
  packages/web/components/Setup/SetupTimeZone.tsx
  packages/web/components/Setup/SetupUsername.tsx
  packages/web/graphql/fragments.ts
  packages/web/graphql/getPersonalityInfo.ts
  packages/web/graphql/types.ts
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

removin' Enneagram 💎
  hasura/metadata/tables.yaml
  hasura/migrations/1602298657385_enneagram-type-table/down.sql
  hasura/migrations/1614710766234_alter_table_public_player_add_check_constraint_username_is_valid/up.sql
  hasura/migrations/1614966015138_drop-enneagram-table/down.sql
  hasura/migrations/1614966015138_drop-enneagram-table/up.sql
  schema.graphql
Due: none

readdin' permissions to player table 🎳
  hasura/metadata/tables.yaml
Due: none

removin' unintentionally included png 🔶
  packages/web/assets/colors/Balance.svg
  packages/web/assets/colors/The Abzan Houses.svg
Due: none

🥌 svgo *.svg
  packages/web/assets/colors/Aggression.svg
  packages/web/assets/colors/Altruism.svg
  packages/web/assets/colors/Artifice.svg
  packages/web/assets/colors/Balance.svg
  packages/web/assets/colors/Black.svg
  packages/web/assets/colors/Blue.svg
  packages/web/assets/colors/Chaos.svg
  packages/web/assets/colors/Colorless.svg
  packages/web/assets/colors/Green.svg
  packages/web/assets/colors/Growth.svg
  packages/web/assets/colors/Jund.svg
  packages/web/assets/colors/Red.svg
  packages/web/assets/colors/The Abzan Houses.svg
  packages/web/assets/colors/The Azorius Senate.svg
  packages/web/assets/colors/The Bant Shard.svg
  packages/web/assets/colors/The Boros Legion.svg
  packages/web/assets/colors/The Cult of Rakdos.svg
  packages/web/assets/colors/The Esper Shard.svg
  packages/web/assets/colors/The Golgari Swarm.svg
  packages/web/assets/colors/The Grixis Shard.svg
  packages/web/assets/colors/The Gruul Clans.svg
  packages/web/assets/colors/The House Dimir.svg
  packages/web/assets/colors/The Izzet League.svg
  packages/web/assets/colors/The Jeskai Way.svg
  packages/web/assets/colors/The Jund Shard.svg
  packages/web/assets/colors/The Mardu Horde.svg
  packages/web/assets/colors/The Naya Shard.svg
  packages/web/assets/colors/The Orzhov Syndicate.svg
  packages/web/assets/colors/The Selesnya Conclave.svg
  packages/web/assets/colors/The Simic Combine.svg
  packages/web/assets/colors/The Sultai Brood.svg
  packages/web/assets/colors/The Temur Frontier.svg
  packages/web/assets/colors/WUBRG.svg
  packages/web/assets/colors/White.svg
Due: none

⚰ for file in *.svg; do cat "$file" | xmllint --format - | sponge "$file"; done
  packages/web/assets/colors/Aggression.svg
  packages/web/assets/colors/Altruism.svg
  packages/web/assets/colors/Artifice.svg
  packages/web/assets/colors/Balance.svg
  packages/web/assets/colors/Black.svg
  packages/web/assets/colors/Blue.svg
  packages/web/assets/colors/Chaos.svg
  packages/web/assets/colors/Colorless.svg
  packages/web/assets/colors/Green.svg
  packages/web/assets/colors/Growth.svg
  packages/web/assets/colors/Jund.svg
  packages/web/assets/colors/Red.svg
  packages/web/assets/colors/The Abzan Houses.svg
  packages/web/assets/colors/The Azorius Senate.svg
  packages/web/assets/colors/The Bant Shard.svg
  packages/web/assets/colors/The Boros Legion.svg
  packages/web/assets/colors/The Cult of Rakdos.svg
  packages/web/assets/colors/The Esper Shard.svg
  packages/web/assets/colors/The Golgari Swarm.svg
  packages/web/assets/colors/The Grixis Shard.svg
  packages/web/assets/colors/The Gruul Clans.svg
  packages/web/assets/colors/The House Dimir.svg
  packages/web/assets/colors/The Izzet League.svg
  packages/web/assets/colors/The Jeskai Way.svg
  packages/web/assets/colors/The Jund Shard.svg
  packages/web/assets/colors/The Mardu Horde.svg
  packages/web/assets/colors/The Naya Shard.svg
  packages/web/assets/colors/The Orzhov Syndicate.svg
  packages/web/assets/colors/The Selesnya Conclave.svg
  packages/web/assets/colors/The Simic Combine.svg
  packages/web/assets/colors/The Sultai Brood.svg
  packages/web/assets/colors/The Temur Frontier.svg
  packages/web/assets/colors/WUBRG.svg
  packages/web/assets/colors/White.svg
Due: none

performin' code review & commentin' as necessary 🗯
  packages/web/components/Player/Section/ColorImage.tsx
  packages/web/components/Player/Section/PlayerHero.tsx
  packages/web/components/Setup/SetupPersonalityType.tsx
  packages/web/graphql/getPersonalityInfo.ts
  packages/web/pages/player/[username].tsx
  packages/web/utils/svgHelpers.ts
Due: eslint --fix, prettier --write

it's possible to mask a div, so this isn't needed ✂
  packages/web/assets/empty.svg
Due: none

allowin' profile completion using the keyboard (fixes #386) ⌨
  packages/design-system/src/ResponsiveText.tsx
  packages/design-system/src/SelectSearch.tsx
  packages/design-system/src/SelectTimeZone.tsx
  packages/web/components/Player/PlayerTimeZone.tsx
  packages/web/components/Player/Section/PlayerCollab.tsx
  packages/web/components/ProfileSection.tsx
  packages/web/components/Setup/ColorBar.tsx
  packages/web/components/Setup/SetupAvailability.tsx
  packages/web/components/Setup/SetupHeader.tsx
  packages/web/components/Setup/SetupMemberships.tsx
  packages/web/components/Setup/SetupPersonalityType.tsx
  packages/web/components/Setup/SetupPlayerType.tsx
  packages/web/components/Setup/SetupProfile.tsx
  packages/web/components/Setup/SetupTimeZone.tsx
  packages/web/components/Setup/SetupUsername.tsx
  packages/web/contexts/SetupContext.tsx
  packages/web/pages/profile/setup/availability.tsx
  packages/web/utils/setupOptions.tsx
Due: eslint --fix, prettier --write

wrappin' lines to fit in 80 columns 🔮
  packages/web/components/Setup/SetupMemberships.tsx
Due: eslint --fix, prettier --write

addin' Docker db param & formating for readability 🕶
  docker-compose.yml
  package.json
  packages/backend/src/config.ts
  packages/backend/src/handlers/auth-webhook/handler.ts
  packages/backend/src/handlers/triggers/handler.ts
  packages/backend/src/lib/apiHelpers.ts
  packages/backend/src/lib/ethereum.ts
  packages/backend/src/lib/hasuraClient.ts
  packages/backend/src/lib/rankHelpers.ts
  packages/backend/src/lib/seedGraphClient.ts
Due: eslint --fix, prettier --write

enabin' enter for submission on all forms 📰
  packages/web/components/Setup/SetupAvailability.tsx
  packages/web/components/Setup/SetupPersonalityType.tsx
  packages/web/components/Setup/SetupPlayerType.tsx
  packages/web/components/Setup/SetupUsername.tsx
  packages/web/pages/profile/setup/username.tsx
Due: eslint --fix, prettier --write

moved brightId verified tag to contacts
  packages/design-system/src/index.ts
  packages/design-system/src/theme/colors.ts
  packages/web/components/Player/PlayerContacts.tsx
  packages/web/components/Player/PlayerTile.tsx
  packages/web/components/Player/Section/PlayerBrightId.tsx
  packages/web/lib/hooks/useCopyToClipboard.ts
  packages/web/package.json
  yarn.lock
Due: eslint --fix, prettier --write

empty commit
  packages/web/lib/hooks/useCopyToClipboard.ts
Due: eslint --fix, prettier --write

placed back .env.sample
  .env.sample
Due: none

revertin' images broken by svgo 🚂
  packages/web/assets/colors/Aggression.svg
  packages/web/assets/colors/Altruism.svg
  packages/web/assets/colors/Artifice.svg
  packages/web/assets/colors/Chaos.svg
  packages/web/assets/colors/Growth.svg
  packages/web/assets/colors/The Azorius Senate.svg
Due: none

moved brightId verified tag to contacts (#388)
  packages/design-system/src/index.ts
  packages/design-system/src/theme/colors.ts
  packages/web/components/Player/PlayerContacts.tsx
  packages/web/components/Player/PlayerTile.tsx
  packages/web/components/Player/Section/PlayerBrightId.tsx
  packages/web/lib/hooks/useCopyToClipboard.ts
  packages/web/package.json
  yarn.lock
Due: eslint --fix, prettier --write

tweakin' styles for :focus 🥃
  packages/web/components/Setup/SetupPersonalityType.tsx
Due: eslint --fix, prettier --write

Added createDiscordClient to discord-bot, changed backend to use it
  docker/backend/Dockerfile
  packages/backend/package.json
  packages/backend/src/handlers/triggers/updateDiscordRole.ts
  packages/backend/tsconfig.json
  packages/discord-bot/package.json
  packages/discord-bot/src/index.ts
Due: eslint --fix, prettier --write

Added GetGuild graphql query
  packages/backend/package.json
  packages/backend/src/handlers/graphql/queries.ts
  packages/backend/src/handlers/triggers/updateDiscordRole.ts
  yarn.lock
Due: eslint --fix, prettier --write

Added trigger for player.rank update
  hasura/metadata/tables.yaml
  packages/backend/package.json
  packages/backend/src/handlers/triggers/handler.ts
  packages/backend/src/handlers/triggers/updateDiscordRole.ts
  packages/discord-bot/package.json
  packages/discord-bot/src/index.ts
  packages/discord-bot/src/types.d.ts
Due: eslint --fix, prettier --write

Removed --include-dependencies on backend:dev command
  docker-compose.yml
  package.json
  packages/discord-bot/tsconfig.json
Due: prettier --write
