Repository MetaFam/TheGame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,yml,md}": "prettier --write"
}

Fixed invalid links (#266)
  docs/playbooks/become-a-buidler-on-ethereum-by-austin-griffith.md
Due: prettier --write

Allow users to force-update their linked ETH address
  README.md
  hasura/metadata/tables.yaml
  hasura/migrations/1623259967735_alter_table_public_player_drop_column_sc_identity_id/down.sql
  hasura/migrations/1623259967735_alter_table_public_player_drop_column_sc_identity_id/up.sql
  packages/backend/src/handlers/actions/migrateSourceCredAccounts/handler.ts
  packages/backend/src/handlers/graphql/mutations.ts
  packages/discord-bot/.env.sample
  packages/discord-bot/package.json
  packages/discord-bot/src/discord/commands/setEthAddress.ts
  packages/utils/package.json
  packages/utils/src/index.ts
  packages/utils/src/sourceCredHelpers.ts
  schema.graphql
Due: eslint --fix, prettier --write

Create how-to-play-twitter-by-visa.md (#262)
  docs/playbooks/how-to-play-twitter-by-visa.md
Due: prettier --write

Update Great Houses “house-of-daos” (#265)
  docs/great-houses/house-of-daos.md
Due: prettier --write

Gnomeski patch 1 writing playbook (#268)
  docs/playbooks/entering-daos-as-a-writer.md
  sidebars.js
Due: eslint --fix, prettier --write

Update sidebars.js (#269)
  sidebars.js
Due: eslint --fix, prettier --write

locking stylis version to eliminate middleware error 🧤
  package.json
Due: prettier --write

adding ceramic and IDX to the backend 🎱
  .gitignore
  packages/backend/package.json
  packages/web/package.json
  yarn.lock
Due: prettier --write

creating table to hold cached 3Box profile 🦘
  hasura/migrations/1625550966531_create_table_public_profile_cache/down.sql
  hasura/migrations/1625550966531_create_table_public_profile_cache/up.sql
  hasura/migrations/1625552324557_alter_table_public_profile_cache_add_column_player_id/down.sql
  hasura/migrations/1625552324557_alter_table_public_profile_cache_add_column_player_id/up.sql
  hasura/migrations/1625552537557_set_fk_public_profile_cache_player_id/down.sql
  hasura/migrations/1625552537557_set_fk_public_profile_cache_player_id/up.sql
  hasura/migrations/1625561772331_alter_table_public_profile_cache_add_unique_id/down.sql
  hasura/migrations/1625561772331_alter_table_public_profile_cache_add_unique_id/up.sql
Due: none

configuring Hasura actions and triggers to cache profiles 🎡
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
  hasura/metadata/tables.yaml
  schema.graphql
Due: none

missing CacheProcessOutput 🐥
  schema.graphql
Due: none

frontend changes to use cached profile rather than remote schema 🍥
  packages/web/components/Patron/PatronTile.tsx
  packages/web/components/Player/PlayerTile.tsx
  packages/web/graphql/fragments.ts
  packages/web/lib/hooks/opensea.ts
  packages/web/lib/hooks/players.ts
  packages/web/pages/players.tsx
  packages/web/pages/profile/setup/username.tsx
  packages/web/utils/playerHelpers.ts
Due: eslint --fix, prettier --write

queries and mutations to support profile caching 🗽
  package.json
  packages/backend/package.json
  packages/backend/src/config.ts
  packages/backend/src/handlers/actions/3Box/cache3BoxProfile/handler.ts
  packages/backend/src/handlers/actions/3Box/cache3BoxProfile/updateCachedProfile.ts
  packages/backend/src/handlers/actions/3Box/cache3BoxProfile/updateVerifiedAccounts.ts
  packages/backend/src/handlers/actions/3Box/refresh3BoxCache/cache3BoxProfiles.ts
  packages/backend/src/handlers/actions/3Box/refresh3BoxCache/handler.ts
  packages/backend/src/handlers/actions/3Box/routes.ts
  packages/backend/src/handlers/actions/routes.ts
  packages/backend/src/handlers/graphql/mutations.ts
  packages/backend/src/handlers/graphql/queries.ts
  packages/backend/src/handlers/triggers/cache3BoxProfile.ts
  packages/backend/src/handlers/triggers/fetchBoxVerifiedAccounts.ts
  packages/backend/src/handlers/triggers/handler.ts
  packages/backend/src/lib/apiHelpers.ts
  yarn.lock
Due: eslint --fix, prettier --write

rebasing & regenerating schema 🥘
  packages/backend/src/handlers/graphql/mutations.ts
  schema.graphql
Due: eslint --fix, prettier --write

Fix Titles on 3 PRs (#274)
  docs/great-houses/house-of-dapps.md
  docs/playbooks/become-a-buidler-on-ethereum-by-austin-griffith.md
  docs/playbooks/entering-daos-as-a-writer.md
  docs/playbooks/how-to-play-twitter-by-visa.md
Due: prettier --write

removing job & ethereum addr from cached info 🎯
  hasura/metadata/tables.yaml
  packages/web/graphql/fragments.ts
  schema.graphql
Due: eslint --fix, prettier --write

Gnomeski patch 7 (#275)
  docs/playbooks/entering-daos-as-a-writer.md
Due: prettier --write

wtf is NODE_ENV
  packages/backend/src/config.ts
  packages/backend/src/handlers/triggers/updateDiscordRole.ts
Due: eslint --fix, prettier --write

removing commented code 🎁
  packages/backend/src/handlers/actions/3Box/cache3BoxProfile/updateCachedProfile.ts
  packages/backend/src/handlers/actions/3Box/refresh3BoxCache/handler.ts
Due: eslint --fix, prettier --write

First pass at responsive design; add new HamburgerIcon component to chakra-ui
  packages/design-system/src/index.ts
  packages/web/components/MegaMenu.tsx
Due: eslint --fix, prettier --write

Fix implicit types
  packages/web/components/MegaMenu.tsx
Due: eslint --fix, prettier --write

redoing all the permissions to try & make Hasura function 🥊
  hasura/metadata/tables.yaml
  hasura/migrations/1625550966531_create_table_public_profile_cache/down.sql
  hasura/migrations/1625550966531_create_table_public_profile_cache/up.sql
  hasura/migrations/1625552324557_alter_table_public_profile_cache_add_column_player_id/down.sql
  hasura/migrations/1625552324557_alter_table_public_profile_cache_add_column_player_id/up.sql
  hasura/migrations/1625552537557_set_fk_public_profile_cache_player_id/down.sql
  hasura/migrations/1625552537557_set_fk_public_profile_cache_player_id/up.sql
  hasura/migrations/1625561772331_alter_table_public_profile_cache_add_unique_id/down.sql
  hasura/migrations/1625561772331_alter_table_public_profile_cache_add_unique_id/up.sql
  hasura/migrations/1625624005406_alter_table_public_profile_cache_drop_column_ethereumAddress/down.sql
  hasura/migrations/1625624005406_alter_table_public_profile_cache_drop_column_ethereumAddress/up.sql
  hasura/migrations/1625624028172_alter_table_public_profile_cache_alter_column_backgroundImageUrl/down.sql
  hasura/migrations/1625624028172_alter_table_public_profile_cache_alter_column_backgroundImageUrl/up.sql
  hasura/migrations/1625624044328_alter_table_public_profile_cache_alter_column_imageUrl/down.sql
  hasura/migrations/1625624044328_alter_table_public_profile_cache_alter_column_imageUrl/up.sql
  hasura/migrations/1625624052694_alter_table_public_profile_cache_drop_column_job/down.sql
  hasura/migrations/1625624052694_alter_table_public_profile_cache_drop_column_job/up.sql
Due: none

🍵 yarn update-schema
  packages/backend/src/handlers/graphql/mutations.ts
  schema.graphql
Due: eslint --fix, prettier --write

preparing to squash migrations into one 🦑
  .github/workflows/PR-CI.yml
  hasura/migrations/1625550966531_create_table_public_profile_cache/up.sql
  hasura/migrations/1625624005406_alter_table_public_profile_cache_drop_column_ethereumAddress/up.sql
  hasura/migrations/1625624052694_alter_table_public_profile_cache_drop_column_job/up.sql
Due: prettier --write

🕌 yarn hasura migrate squash --from 1625550966531 --name create_table_public_profile_cache
  hasura/migrations/1625550966531_create_table_public_profile_cache/down.sql
  hasura/migrations/1625552324557_alter_table_public_profile_cache_add_column_player_id/down.sql
  hasura/migrations/1625552324557_alter_table_public_profile_cache_add_column_player_id/up.sql
  hasura/migrations/1625552537557_set_fk_public_profile_cache_player_id/up.sql
  hasura/migrations/1625561772331_alter_table_public_profile_cache_add_unique_id/down.sql
  hasura/migrations/1625561772331_alter_table_public_profile_cache_add_unique_id/up.sql
  hasura/migrations/1625624005406_alter_table_public_profile_cache_drop_column_ethereumAddress/down.sql
  hasura/migrations/1625624005406_alter_table_public_profile_cache_drop_column_ethereumAddress/up.sql
  hasura/migrations/1625624028172_alter_table_public_profile_cache_alter_column_backgroundImageUrl/down.sql
  hasura/migrations/1625624028172_alter_table_public_profile_cache_alter_column_backgroundImageUrl/up.sql
  hasura/migrations/1625624044328_alter_table_public_profile_cache_alter_column_imageUrl/down.sql
  hasura/migrations/1625624044328_alter_table_public_profile_cache_alter_column_imageUrl/up.sql
  hasura/migrations/1625624052694_alter_table_public_profile_cache_drop_column_job/down.sql
  hasura/migrations/1625624052694_alter_table_public_profile_cache_drop_column_job/up.sql
  hasura/migrations/1625633004312_create_table_public_profile_cache/down.sql
  hasura/migrations/1625633004312_create_table_public_profile_cache/up.sql
Due: none

allowing migration to run w/o conflicts multiple times 🦈
  hasura/migrations/1625633004312_create_table_public_profile_cache/up.sql
Due: none

removing account link cache trigger 🦟
  hasura/metadata/tables.yaml
  hasura/migrations/1625633004312_create_table_public_profile_cache/up.sql
  packages/backend/src/handlers/actions/3Box/cache3BoxProfile/updateVerifiedAccounts.ts
  packages/backend/src/handlers/triggers/fetchBoxVerifiedAccounts.ts
  packages/backend/src/handlers/triggers/handler.ts
Due: eslint --fix, prettier --write

setting the package versions to a single option 📐
  package.json
  packages/backend/package.json
Due: prettier --write

standardizing the capitalization of URL ⛽
  hasura/metadata/tables.yaml
  packages/backend/src/config.ts
  packages/backend/src/handlers/actions/3Box/cache3BoxProfile/updateCachedProfile.ts
  packages/backend/src/handlers/actions/3Box/refresh3BoxCache/cache3BoxProfiles.ts
  packages/backend/src/handlers/remote-schemas/resolvers/brightId/resolver.ts
  packages/backend/src/handlers/remote-schemas/resolvers/getBoxProfile/resolver.ts
  packages/backend/src/handlers/remote-schemas/typeDefs.ts
  packages/web/components/Guild/GuildJoin.tsx
  packages/web/config.ts
  packages/web/graphql/fragments.ts
  packages/web/lib/hooks/brightId.ts
  packages/web/utils/playerHelpers.ts
  schema.graphql
Due: eslint --fix, prettier --write

updating yarn lock 🧵
  yarn.lock
Due: none

reverting the timeout for Hasura to wait on the backend 🤹
  .github/workflows/PR-CI.yml
Due: prettier --write

Add period to metacartel ventures description
  hasura/migrations/1624277873142_insert_metacartel_ventures_data/up.sql
Due: none

fixed collectible favorites schema bug
  packages/backend/src/handlers/remote-schemas/resolvers/getBoxProfile/resolver.ts
Due: eslint --fix, prettier --write

fix rebase error
  hasura/metadata/tables.yaml
Due: none

link error fix
  packages/web/pages/_app.tsx
Due: eslint --fix, prettier --write

removed unnecessary console log
  packages/backend/src/handlers/remote-schemas/resolvers/getBoxProfile/resolver.ts
Due: eslint --fix, prettier --write
