Repository MetaFam/TheGame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

committing partial rollback of next.js upgragde for external validation 🦃
  package.json
  packages/design-system/src/index.ts
  packages/web/contexts/Web3Context.tsx
  packages/web/pages/profile/info/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write

basic profile form
  packages/backend/src/handlers/actions/routes.ts
  packages/backend/src/handlers/actions/storage/handler.ts
  packages/web/components/LoginButton.tsx
  packages/web/contexts/Web3Context.tsx
  packages/web/pages/profile/info/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write

WIP: ceramic login
  .gitignore
  packages/web/components/LoginButton.tsx
  yarn.lock
Due: eslint --fix, prettier --write

meta profile info page/form
  packages/web/contexts/Web3Context.tsx
  packages/web/tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

committing partial rollback of next.js upgragde for external validation 🦃
  package.json
  packages/web/pages/profile/info/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write

fixing various typescript and dependency issues 🧷
  package.json
  packages/web/pages/profile/info/index.tsx
  packages/web/tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

switching to multer (& writing to a file) from streaming 🎮
  packages/backend/src/handlers/actions/routes.ts
  packages/backend/src/handlers/actions/storage/handler.ts
  packages/backend/src/index.ts
  packages/web/pages/profile/info/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write

adding dotenv & publishing to web3.storage 💰
  packages/backend/src/handlers/actions/storage/handler.ts
  packages/backend/src/index.ts
Due: eslint --fix, prettier --write

basic profile form
  packages/web/pages/profile/info/index.tsx
Due: eslint --fix, prettier --write

updating Ceramic dependencies 👅
  package.json
  packages/backend/src/handlers/actions/storage/handler.ts
  packages/web/package.json
  packages/web/pages/profile/info/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write

refining basic profile input form 🍾
  package.json
  packages/backend/package.json
  packages/backend/src/handlers/actions/storage/handler.ts
  packages/backend/src/index.ts
  packages/backend/src/lib/apiHelpers.ts
  packages/web/contexts/Web3Context.tsx
  packages/web/package.json
  packages/web/pages/profile/info/index.tsx
  packages/web/tsconfig.json
  tsconfig.base.json
  yarn.lock
Due: eslint --fix, prettier --write

downgrading ceramic packages to avoid typescript conflict ⏰
  package.json
  packages/backend/package.json
  packages/web/components/MegaMenu.tsx
  packages/web/components/PlayerStatsBar.tsx
  packages/web/package.json
  yarn.lock
Due: eslint --fix, prettier --write

fixing build errors & duplicated fields 🐸
  packages/backend/src/config.ts
  packages/backend/src/handlers/actions/idxCache/updateSingle.ts
  packages/web/pages/profile/info/index.tsx
Due: eslint --fix, prettier --write

Fixed edit profile button
  packages/web/components/Player/Section/PlayerHero.tsx
Due: eslint --fix, prettier --write

Hide menu while going through player setup
  packages/web/pages/_app.tsx
  packages/web/pages/profile/setup/availability.tsx
  packages/web/pages/profile/setup/complete.tsx
  packages/web/pages/profile/setup/memberships.tsx
  packages/web/pages/profile/setup/personalityType.tsx
  packages/web/pages/profile/setup/playerType.tsx
  packages/web/pages/profile/setup/skills.tsx
  packages/web/pages/profile/setup/timeZone.tsx
  packages/web/pages/profile/setup/username.tsx
  packages/web/pages/profile/success.tsx
Due: eslint --fix, prettier --write

Added requestPolicy option to useUser hook
  packages/web/lib/hooks/index.ts
  packages/web/pages/profile/setup/skills.tsx
Due: eslint --fix, prettier --write

Update BACKEND.md
  guides/BACKEND.md
Due: prettier --write

Updated navigation & join metagame (#300)
  docs/Guilding/guilding-101.md
  docs/enter-metagame/join-metagame.md
  docs/enter-metagame/leaderboard.md
  docs/enter-metagame/navigation-board.md
  docs/great-houses/house-of-daos.md
  docs/how-does-it-work/phases-of-metagame.md
  docs/how-does-it-work/why-gamification-works.md
  docs/resources/talks.md
  docs/wtf-is-metagame/the-300-of-metagame.md
  sidebars.js
  src/components/signpost.js
  src/css/custom.scss
  yarn.lock
Due: eslint --fix, prettier --write

Update join-metagame.md
  docs/enter-metagame/join-metagame.md
Due: prettier --write

upgrading yarn from 1.18.0 → 3.0.2 🧲
  .yarnrc.yml
  package.json
  packages/backend/package.json
  packages/design-system/package.json
  packages/web/lib/hooks/opensea.ts
  packages/web/package.json
  packages/web/pages/profile/info/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write

adding in missing dev dependencies 🚸
  package.json
  packages/backend/package.json
  packages/design-system/package.json
  packages/discord-bot/package.json
  packages/utils/package.json
  packages/web/package.json
  yarn.lock
Due: prettier --write

handling yarn berry's truculence with executables 🎹
  package.json
Due: prettier --write

adding a generate step to the CI process 🔦
  .github/workflows/PR-CI.yml
Due: prettier --write

yarn 2 doesn't run prepare target on build ☔
  packages/web/package.json
Due: prettier --write

fix: Setup Header Images
  packages/web/components/Setup/SetupHeader.tsx
Due: eslint --fix, prettier --write

fix: replace next/image with BoxedNextImage
  packages/design-system/src/BoxedNextImage.tsx
  packages/web/components/Setup/SetupHeader.tsx
Due: eslint --fix, prettier --write

add new icons
  packages/web/assets/menuIcon/becomeapatron.svg
  packages/web/assets/menuIcon/events.svg
  packages/web/assets/menuIcon/metaradio.svg
  packages/web/assets/menuIcon/youtube.svg
Due: none

fix links
  packages/web/utils/menuLinks.ts
Due: eslint --fix, prettier --write

fix invest dropdown positioning
  packages/web/components/MegaMenu.tsx
Due: eslint --fix, prettier --write

fix link icon
  packages/web/utils/menuLinks.ts
Due: eslint --fix, prettier --write

reorder steps to build and deploy everything sequentially
  .github/workflows/gcp-deploy.yaml
  .github/workflows/gcp-undeploy.yaml
Due: none

fix database deletion for cloudrun previews
  .github/workflows/gcp-undeploy.yaml
Due: none

fix discord link
  packages/web/utils/menuLinks.ts
Due: eslint --fix, prettier --write

fix menu alignment (#842)
  packages/web/assets/menuIcon/becomeapatron.svg
  packages/web/assets/menuIcon/events.svg
  packages/web/assets/menuIcon/metaradio.svg
  packages/web/assets/menuIcon/youtube.svg
  packages/web/components/MegaMenu.tsx
  packages/web/components/PlayerStatsBar.tsx
  packages/web/utils/menuLinks.ts
Due: eslint --fix, prettier --write

Update BACKEND.md (#847)
  guides/BACKEND.md
Due: prettier --write

remove unused files
  packages/web/components/MobileFooter.tsx
  packages/web/components/PageHeader.tsx
  packages/web/components/Ticker.tsx
  packages/web/public/assets/drawer/desktop.gradient.bottom.png
  packages/web/public/assets/drawer/desktop.gradient.png
  packages/web/public/assets/emojis/alien.png
  packages/web/public/assets/emojis/baby-chick.png
  packages/web/public/assets/emojis/books.png
  packages/web/public/assets/emojis/calendar.png
  packages/web/public/assets/emojis/chart-increasing.png
  packages/web/public/assets/emojis/classical-building.png
  packages/web/public/assets/emojis/crossed-swords.png
  packages/web/public/assets/emojis/four-leaf-clover.png
  packages/web/public/assets/emojis/hammer-and-wrench.png
  packages/web/public/assets/emojis/money-dollar-sign.png
  packages/web/public/assets/emojis/question-mark.png
  packages/web/public/assets/emojis/rolled-up-newspaper.png
  packages/web/public/assets/emojis/seedling.png
  packages/web/public/assets/emojis/speech-balloon.png
  packages/web/public/assets/emojis/studio-microphone.png
  packages/web/public/assets/emojis/world-map.png
  packages/web/public/assets/logo.alt.png
  packages/web/public/assets/metagame.png
  packages/web/utils/drawerItems.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,yml,md})
