Repository MetaFam/TheGame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,yml,md}": "prettier --write"
}

readding the installation of node-fetch for seeding 🇧🇹
  .github/workflows/gcp-deploy.yaml
Due: none

🚢 yarn lint --fix
  packages/web/components/Guild/Section/GuildPlayers.tsx
Due: eslint --fix, prettier --write

pushing type changes to @tenfinney 🥏
  package.json
  packages/backend/src/handlers/actions/idxCache/updateSingle.ts
  packages/utils/package.json
  packages/utils/src/extendedProfileTypes.ts
  packages/utils/src/index.ts
  packages/web/components/Guild/GuildJoin.tsx
  packages/web/index.ts
  yarn.lock
Due: eslint --fix, prettier --write

moving color disposition to profile table 🌭
  hasura/metadata/tables.yaml
  hasura/migrations/1640506201289_move_color_mask_to_profile/down.sql
  hasura/migrations/1640506201289_move_color_mask_to_profile/up.sql
  hasura/migrations/1640517316534_case_insensitive_username_uniqueness/down.sql
  hasura/migrations/1640517316534_case_insensitive_username_uniqueness/up.sql
  packages/backend/src/handlers/actions/idxCache/updateSingle.ts
  packages/backend/src/handlers/graphql/mutations.ts
  packages/backend/src/lib/colorHelpers.ts
  packages/design-system/src/MetaButton.tsx
  packages/utils/src/extendedProfileTypes.ts
  packages/web/components/MegaMenu.tsx
  packages/web/components/Player/Section/PlayerColorDisposition.tsx
  packages/web/components/Player/Section/PlayerHero.tsx
  packages/web/components/Setup/SetupPersonalityType.tsx
  packages/web/config.ts
  packages/web/contexts/Web3Context.tsx
  packages/web/graphql/fragments.ts
  packages/web/graphql/getPlayer.ts
  packages/web/graphql/mutations/player.ts
  packages/web/lib/hooks/index.ts
  packages/web/utils/playerHelpers.ts
  schema.graphql
Due: eslint --fix, prettier --write

regenrating schema & removing player.type 🌅
  hasura/metadata/tables.yaml
  hasura/migrations/1641944106670_alter_table_public_player_drop_column_player_type_id/down.sql
  hasura/migrations/1641944106670_alter_table_public_player_drop_column_player_type_id/up.sql
  packages/web/components/Guild/Section/GuildPlayer.tsx
  packages/web/components/Player/PlayerAvatar.tsx
  packages/web/components/Player/PlayerTile.tsx
  packages/web/components/Setup/SetupTimeZone.tsx
  packages/web/graphql/getPlayers.ts
  packages/web/graphql/mutations/player.ts
  packages/web/graphql/types.ts
  packages/web/lib/hooks/players.ts
  packages/web/utils/playerHelpers.ts
  schema.graphql
Due: eslint --fix, prettier --write

refining types for timezones
  packages/backend/src/handlers/graphql/mutations.ts
  packages/design-system/src/MetaFilterSelect.tsx
  packages/utils/src/extendedProfileTypes.ts
Due: eslint --fix, prettier --write

fixing eslint confusion 🎣
  packages/web/components/EditProfileForm.tsx
Due: eslint --fix, prettier --write

piping to $GITHUB_ENV 📉
  .github/workflows/gcp-deploy.yaml
Due: none

fixing the typing on the time zone selector 🕰
  packages/backend/package.json
  packages/backend/src/handlers/actions/idxCache/updateSingle.ts
  packages/design-system/package.json
  packages/design-system/src/MetaFilterSelect.tsx
  packages/design-system/src/SelectTimeZone.tsx
  packages/design-system/src/index.ts
  packages/discord-bot/package.json
  packages/utils/package.json
  packages/utils/src/extendedProfileTypes.ts
  packages/web/components/Dashboard/Leaderboard.tsx
  packages/web/components/Player/Filter/AdjacentTimezonePlayers.tsx
  packages/web/components/Player/Filter/DesktopFilters.tsx
  packages/web/lib/hooks/players.ts
  packages/web/package.json
  yarn.lock
Due: eslint --fix, prettier --write

git stash pop to see if it resolves a bizarre typescript error 🎮
  tsconfig.base.json
Due: prettier --write

trying to get PR deployment to function again 🚜
  .github/workflows/gcp-deploy.yaml
Due: none

progressing on creating an extended profile
  packages/backend/src/handlers/actions/idxCache/updateSingle.ts
  packages/backend/src/handlers/graphql/mutations.ts
  packages/utils/src/extendedProfileTypes.ts
  packages/web/index.ts
Due: eslint --fix, prettier --write

passing web3.storage token to backend & improving erroring 🕯
  .github/workflows/gcp-deploy.yaml
  packages/web/components/EditProfileForm.tsx
Due: eslint --fix, prettier --write

splitting Cloud Run env variables & printing seeding urls ⛽
  .github/workflows/gcp-deploy.yaml
  hasura/seed-local-db.mjs
Due: none

🍯 yarn typecheck && yarn lint
  packages/web/components/Player/Section/PlayerHero.tsx
Due: eslint --fix, prettier --write

switching Hasura link from GraphQL endpoint to base host 🎁
  .github/workflows/gcp-deploy.yaml
Due: none

adding /me page for direct profile access 🎍
  packages/web/components/EditProfileForm.tsx
  packages/web/components/Seo.tsx
  packages/web/pages/api/storage.tsx
  packages/web/pages/me.tsx
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

passing imgix token
  .github/workflows/gcp-deploy.yaml
  packages/utils/src/constants.ts
Due: eslint --fix, prettier --write

🍳 yarn typecheck && yarn lint
  packages/web/lib/hooks/index.ts
Due: eslint --fix, prettier --write

removing durplicate CORS entry & switching to HTTPS Ceramic 🧸
  packages/backend/src/index.ts
  packages/web/config.ts
Due: eslint --fix, prettier --write

sorting Next'js's & GCP's environment variables & updating docs 🗞
  .github/workflows/gcp-deploy.yaml
  guides/FRONTEND.md
  packages/backend/src/handlers/auth-webhook/users.ts
  packages/utils/src/constants.ts
  packages/web/config.ts
Due: eslint --fix, prettier --write

fixing upsert value overwriting bug 🌐
  hasura/seed-local-db.mjs
  packages/backend/src/handlers/actions/idxCache/updateSingle.ts
  packages/backend/src/handlers/actions/migrateSourceCredAccounts/handler.ts
  packages/backend/src/handlers/graphql/mutations.ts
  packages/backend/src/handlers/graphql/queries.ts
  packages/web/components/Player/Section/config.ts
  packages/web/pages/player/[username].tsx
  packages/web/utils/playerHelpers.ts
Due: eslint --fix, prettier --write

moving the password generation to an earlier step 🐮
  .github/workflows/gcp-deploy.yaml
Due: none

missed line continuation 🎲
  .github/workflows/gcp-deploy.yaml
Due: none

setting max-width on profile editing form 🥁
  packages/web/components/Player/Section/PlayerHero.tsx
  packages/web/lib/store.ts
Due: eslint --fix, prettier --write

this makes no sense whatsoever 🏚
  .github/workflows/gcp-deploy.yaml
Due: none

trying multi-step interpolation 🚸
  .github/workflows/gcp-deploy.yaml
  docker/backend/Dockerfile
  docker/frontend/Dockerfile
  hasura/Dockerfile
Due: none

correctly namespacing GraphQL endpoint 🛸
  .github/workflows/gcp-deploy.yaml
Due: none

partitioning 🎑
  .github/workflows/gcp-deploy.yaml
Due: none

passing GraphQL endpoint to frontend 🔎
  .github/workflows/gcp-deploy.yaml
Due: none

added rate limiting to seeding script for Cloud Run 🌤
  .github/workflows/gcp-deploy.yaml
  hasura/seed-local-db.mjs
  package.json
Due: prettier --write

mobile display fixes & prepping to fork to add jotai 🚒
  packages/design-system/src/SelectTimeZone.tsx
  packages/design-system/src/index.ts
  packages/web/components/EditProfileForm.tsx
  packages/web/components/Player/PlayerTile.tsx
  packages/web/components/Player/Section/PlayerGallery.tsx
  packages/web/components/Player/Section/PlayerHero.tsx
  packages/web/components/Player/Section/PlayerMemberships.tsx
  packages/web/graphql/client.ts
Due: eslint --fix, prettier --write

rate limiting seeding process, Imgix optimizing images, & migrating helpers to @metafam/utils 🦘
  .env.sample
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
  hasura/migrations/1642440758431_remove_eth_address_usernames/up.sql
  hasura/seed-local-db.mjs
  packages/backend/package.json
  packages/backend/src/config.ts
  packages/backend/src/handlers/actions/idxCache/updateExpiredProfiles/handler.ts
  packages/backend/src/handlers/actions/idxCache/updateSingle.ts
  packages/backend/src/handlers/actions/idxCache/updateSingleProfile/handler.ts
  packages/backend/src/handlers/triggers/cacheIDXProfile.ts
  packages/backend/src/handlers/triggers/handler.ts
  packages/backend/src/index.ts
  packages/backend/src/lib/cacheHelper.ts
  packages/backend/src/lib/imageHelpers.ts
  packages/utils/package.json
  packages/utils/src/constants.ts
  packages/utils/src/imageHelpers.ts
  packages/utils/src/index.ts
  packages/utils/src/linkHelpers.ts
  packages/web/components/EditProfileForm.tsx
  packages/web/components/Player/Section/config.ts
  packages/web/config.ts
  packages/web/lib/hooks/players.ts
  packages/web/pages/player/[username].tsx
  packages/web/utils/imageHelpers.ts
  packages/web/utils/linkHelpers.ts
  packages/web/utils/playerHelpers.ts
  schema.graphql
  yarn.lock
Due: eslint --fix, prettier --write

switching responsive grid to columns 🏺
  hasura/seed-local-db.mjs
  packages/backend/src/handlers/actions/idxCache/updateSingle.ts
  packages/backend/src/handlers/actions/migrateSourceCredAccounts/handler.ts
  packages/backend/src/handlers/auth-webhook/users.ts
  packages/backend/src/handlers/graphql/mutations.ts
  packages/web/components/Profile/ProfileSection.tsx
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

profile edit form mobile formatting & fixed player type search
  packages/web/components/EditProfileForm.tsx
  packages/web/components/Player/ColorBar.tsx
  packages/web/components/Player/Filter/PlayerFilter.tsx
  packages/web/components/Player/Section/PlayerHero.tsx
  packages/web/lib/hooks/index.ts
  packages/web/pages/me.tsx
Due: eslint --fix, prettier --write

installing bottleneck for seeding job ⛸
  .github/workflows/gcp-deploy.yaml
Due: none

getting yarn typecheck && yarn lint to succeed 🏰
  packages/design-system/src/MetaFilterSelect.tsx
  packages/design-system/src/SelectTimeZone.tsx
  packages/design-system/src/index.ts
  packages/web/components/Dashboard/Leaderboard.tsx
  packages/web/components/Guild/Section/GuildPlayer.tsx
  packages/web/components/MegaMenu.tsx
  packages/web/components/Patron/PatronTile.tsx
  packages/web/components/Player/Filter/DesktopFilters.tsx
  packages/web/components/Player/Filter/MobileFilters.tsx
  packages/web/components/Player/Filter/PlayerFilter.tsx
  packages/web/components/Player/PlayerAvatar.tsx
  packages/web/components/Player/PlayerTile.tsx
  packages/web/components/Player/Section/PlayerColorDisposition.tsx
  packages/web/components/Player/Section/PlayerHero.tsx
  packages/web/components/Player/Section/PlayerSkills.tsx
  packages/web/components/Player/Section/PlayerType.tsx
  packages/web/components/PlayerStatsBar.tsx
  packages/web/components/Profile/ProfileSection.tsx
  packages/web/components/Quest/QuestCompletions.tsx
  packages/web/pages/player/[username].tsx
  packages/web/utils/playerHelpers.ts
Due: eslint --fix, prettier --write

fixing missing TextDecoder for cids package 🐧
  .nvmrc
  packages/backend/jest.config.js
  packages/web/utils/playerHelpers.ts
Due: eslint --fix, prettier --write

silencing linter on unused vars 🕊
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

replacing Ceramic endpoint & camel casing profile_layout 🦠
  docker/backend/Dockerfile
  packages/backend/src/config.ts
  packages/utils/bin/create-model.mjs
  packages/utils/bin/test-retrieval.mjs
  packages/utils/package.json
  packages/web/pages/player/[username].tsx
  yarn.lock
Due: eslint --fix, prettier --write
