Repository MetaFam/TheGame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Update packages/web/components/Player/PlayerAvatar.tsx
  packages/web/components/Player/PlayerAvatar.tsx
Due: eslint --fix, prettier --write

yarn lint
  packages/web/components/Player/PlayerAvatar.tsx
Due: eslint --fix, prettier --write

Create "How to HackMD" (#250)
  docs/playbooks/how-to-coach-eth.md
  docs/playbooks/how-to-hackmd.md
  sidebars.js
Due: eslint --fix, prettier --write

Add PlayerAvatar class to PlayerHero
  packages/web/components/Player/Section/PlayerHero.tsx
Due: eslint --fix, prettier --write

run yarn lint
  packages/web/components/Player/Section/PlayerHero.tsx
Due: eslint --fix, prettier --write

return h and w
  packages/web/components/Player/Section/PlayerHero.tsx
Due: eslint --fix, prettier --write

Fix transparent bg profile img bug [fixes 385]
  packages/design-system/src/index.ts
  packages/web/components/Player/PlayerAvatar.tsx
  packages/web/components/Player/PlayerTile.tsx
  packages/web/utils/playerHelpers.ts
  scratch.txt
Due: eslint --fix, prettier --write

run yarn lint
  packages/web/components/Player/PlayerTile.tsx
Due: eslint --fix, prettier --write

remove note
  scratch.txt
Due: none

Print out error if ssr build fails
  packages/web/pages/players.tsx
Due: eslint --fix, prettier --write

Edit hackmd doc for clarity and add markdown cheatsheet link (#254)
  docs/playbooks/how-to-hackmd.md
Due: prettier --write

Added Zed Run to Games. Also moved F1 Detla Time to Games from Collectibles. (#255)
  docs/great-houses/house-of-NFTs.md
Due: prettier --write

Fixed discord role update
  packages/backend/src/handlers/triggers/updateDiscordRole.ts
Due: eslint --fix, prettier --write

the 300 of metagame
  docs/wtf-is-metagame/300-of-metagame
Due: none

Update sidebars.js
  sidebars.js
Due: eslint --fix, prettier --write

added tracking snippet for clarity
  packages/web/config.ts
  packages/web/pages/_app.tsx
Due: eslint --fix, prettier --write

Update house-of-daos.md
  docs/great-houses/house-of-daos.md
Due: prettier --write

condition check format update
  packages/web/pages/_app.tsx
Due: eslint --fix, prettier --write

minor change
  packages/web/pages/_app.tsx
Due: eslint --fix, prettier --write

added clarity snippet
  packages/web/config.ts
  packages/web/pages/_app.tsx
Due: eslint --fix, prettier --write

link error fix
  packages/web/pages/_app.tsx
Due: eslint --fix, prettier --write

config env var name fix
  packages/web/config.ts
Due: eslint --fix, prettier --write

Rename become-a-buidler-on-ethereum-by-austin-griffith to become-a-buidler-on-ethereum-by-austin-griffith.md
  docs/playbooks/become-a-buidler-on-ethereum-by-austin-griffith.md
Due: prettier --write

insert metacartel ventures data
  hasura/metadata/tables.yaml
  hasura/migrations/1624277873142_insert_metacartel_ventures_data/up.sql
Due: none

fix rebase error
  hasura/metadata/tables.yaml
Due: none

fixed collectible favorites schema bug
  packages/backend/src/handlers/remote-schemas/resolvers/getBoxProfile/resolver.ts
Due: eslint --fix, prettier --write

removed unnecessary console log
  packages/backend/src/handlers/remote-schemas/resolvers/getBoxProfile/resolver.ts
Due: eslint --fix, prettier --write

Working on the pr (#259)
  docs/great-houses/house-of-dapps.md
  docs/wtf-is-metagame/300-of-metagame.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,yml,md})
