Repository MetaFam/TheGame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,yml,md}": "prettier --write"
}

remove unnecessary piece of code
  packages/web/components/LoginButton.tsx
Due: eslint --fix, prettier --write

Fix/delete leftovers (#854)
  packages/web/components/LoginButton.tsx
  packages/web/components/MobileFooter.tsx
  packages/web/components/PageHeader.tsx
  packages/web/components/Ticker.tsx
  packages/web/public/assets/drawer/desktop.gradient.bottom.png
  packages/web/public/assets/drawer/desktop.gradient.png
  packages/web/public/assets/emojis/alien.png
  packages/web/public/assets/emojis/baby-chick.png
  packages/web/public/assets/emojis/books.png
  packages/web/public/assets/emojis/calendar.png
  packages/web/public/assets/emojis/chart-increasing.png
  packages/web/public/assets/emojis/classical-building.png
  packages/web/public/assets/emojis/crossed-swords.png
  packages/web/public/assets/emojis/four-leaf-clover.png
  packages/web/public/assets/emojis/hammer-and-wrench.png
  packages/web/public/assets/emojis/money-dollar-sign.png
  packages/web/public/assets/emojis/question-mark.png
  packages/web/public/assets/emojis/rolled-up-newspaper.png
  packages/web/public/assets/emojis/seedling.png
  packages/web/public/assets/emojis/speech-balloon.png
  packages/web/public/assets/emojis/studio-microphone.png
  packages/web/public/assets/emojis/world-map.png
  packages/web/public/assets/logo.alt.png
  packages/web/public/assets/metagame.png
  packages/web/utils/drawerItems.ts
Due: eslint --fix, prettier --write

add workflow that deploys previews of pull requests
  .github/workflows/gcp-deploy.yaml
Due: none

make env vars in hasura and backend containers more customizable
  docker/backend/Dockerfile
  hasura/Dockerfile
Due: none

fix service account key references in cloudrun workflows
  .github/workflows/gcp-deploy.yaml
  .github/workflows/gcp-undeploy.yaml
Due: none

reorder steps to build and deploy everything sequentially
  .github/workflows/gcp-deploy.yaml
  .github/workflows/gcp-undeploy.yaml
Due: none

make cloudrun deploy step dependent on build-and-push
  .github/workflows/gcp-deploy.yaml
Due: none

add file argument to hasura build step to make the action happy
  .github/workflows/gcp-deploy.yaml
Due: none

add Dockerfile for frontend
  docker/frontend/Dockerfile
Due: none

add workflow that undeploys previews of pull requests
  .github/workflows/gcp-undeploy.yaml
Due: none

fix database deletion for cloudrun previews
  .github/workflows/gcp-undeploy.yaml
Due: none

various fixes for cloudrun previews
  .github/workflows/gcp-deploy.yaml
Due: none

allow a player to store their pronouns as part of their profile
  hasura/metadata/tables.yaml
  hasura/migrations/1626453884524_alter_table_public_player_add_column_pronouns/down.sql
  hasura/migrations/1626453884524_alter_table_public_player_add_column_pronouns/up.sql
  packages/web/components/Player/Section/PlayerHero.tsx
  packages/web/components/Player/Section/PlayerPronouns.tsx
  packages/web/components/Setup/SetupAvailability.tsx
  packages/web/components/Setup/SetupDone.tsx
  packages/web/components/Setup/SetupPersonalityType.tsx
  packages/web/components/Setup/SetupPlayerType.tsx
  packages/web/components/Setup/SetupPronouns.tsx
  packages/web/components/Setup/SetupSkills.tsx
  packages/web/components/Setup/SetupTimeZone.tsx
  packages/web/graphql/fragments.ts
  packages/web/graphql/mutations/player.ts
  packages/web/pages/profile/setup/personalityType.tsx
  packages/web/pages/profile/setup/playerType.tsx
  packages/web/pages/profile/setup/pronouns.tsx
  packages/web/pages/profile/setup/timeZone.tsx
  packages/web/pages/profile/setup/username.tsx
  packages/web/utils/setupOptions.tsx
  schema.graphql
Due: eslint --fix, prettier --write

fix the pr + fix the useUser redirect bug
  packages/web/components/Quest/QuestForm.tsx
  packages/web/components/Setup/SetupAvailability.tsx
  packages/web/components/Setup/SetupPersonalityType.tsx
  packages/web/components/Setup/SetupPlayerType.tsx
  packages/web/components/Setup/SetupPronouns.tsx
  packages/web/components/Setup/SetupSkills.tsx
  packages/web/components/Setup/SetupTimeZone.tsx
  packages/web/components/Setup/SetupUsername.tsx
  packages/web/lib/hooks/index.ts
  packages/web/pages/profile/setup/skills.tsx
  packages/web/pages/quest/[id]/complete.tsx
  packages/web/pages/quest/[id]/edit.tsx
  packages/web/pages/quest/create.tsx
Due: eslint --fix, prettier --write

fix pronouns type
  packages/web/components/Setup/SetupPronouns.tsx
  packages/web/pages/profile/setup/pronouns.tsx
Due: eslint --fix, prettier --write

really fix pronouns type
  packages/web/components/Setup/SetupPronouns.tsx
  packages/web/pages/profile/setup/pronouns.tsx
Due: eslint --fix, prettier --write

revert the formatting changes
  schema.graphql
Due: none

fix remaining issues
  packages/web/components/Player/Section/PlayerPronouns.tsx
  packages/web/components/Setup/SetupAvailability.tsx
  packages/web/components/Setup/SetupPronouns.tsx
  packages/web/components/Setup/SetupUsername.tsx
  packages/web/graphql/mutations/player.ts
  packages/web/utils/setupOptions.tsx
Due: eslint --fix, prettier --write

get rid of react warning
  packages/web/components/Setup/SetupPronouns.tsx
Due: eslint --fix, prettier --write

allow a player to store their pronouns as part of their profile
  hasura/metadata/tables.yaml
  hasura/migrations/1626453884524_alter_table_public_player_add_column_pronouns/down.sql
  hasura/migrations/1626453884524_alter_table_public_player_add_column_pronouns/up.sql
  packages/web/components/Player/Section/PlayerHero.tsx
  packages/web/components/Player/Section/PlayerPronouns.tsx
  packages/web/components/Setup/SetupAvailability.tsx
  packages/web/components/Setup/SetupDone.tsx
  packages/web/components/Setup/SetupPersonalityType.tsx
  packages/web/components/Setup/SetupPlayerType.tsx
  packages/web/components/Setup/SetupPronouns.tsx
  packages/web/components/Setup/SetupSkills.tsx
  packages/web/components/Setup/SetupTimeZone.tsx
  packages/web/graphql/fragments.ts
  packages/web/graphql/mutations/player.ts
  packages/web/pages/profile/setup/availability.tsx
  packages/web/pages/profile/setup/personalityType.tsx
  packages/web/pages/profile/setup/playerType.tsx
  packages/web/pages/profile/setup/pronouns.tsx
  packages/web/pages/profile/setup/skills.tsx
  packages/web/pages/profile/setup/username.tsx
  packages/web/utils/setupOptions.tsx
  schema.graphql
Due: eslint --fix, prettier --write

Cms/playbooks/how to join a dao community (#301)
  docs/playbooks/how-to-join-a-dao-community.md
Due: prettier --write

delete duplicates
  schema.graphql
Due: none

delete duplicate step
  packages/web/utils/setupOptions.tsx
Due: eslint --fix, prettier --write

yarn generate
  schema.graphql
Due: none

Cms 1633712910222/playbooks/how to join a dao community (#303)
  docs/playbooks/how-to-join-a-dao-community.md
Due: prettier --write

Cms/great houses/house of defi (#302)
  docs/great-houses/house-of-defi.md
Due: prettier --write

add link to logo
  packages/web/components/MegaMenu.tsx
Due: eslint --fix, prettier --write

Create MyMeta_tokenlog.json
  MyMeta_tokenlog.json
Due: prettier --write

Delete MyMeta_tokenlog.json
  MyMeta_tokenlog.json
Due: prettier --write

Update tokenlog.json
  tokenlog.json
Due: prettier --write

enable hasura console on previews
  .github/workflows/gcp-deploy.yaml
Due: none

First pass at desktop select-roles UI
  hasura/metadata/tables.yaml
  hasura/migrations/1631675618782_add_details_to_PlayerRole/down.sql
  hasura/migrations/1631675618782_add_details_to_PlayerRole/up.sql
  packages/web/components/Setup/SetupHeader.tsx
  packages/web/components/Setup/SetupRoles.tsx
  packages/web/components/Setup/SetupSkills.tsx
  packages/web/graphql/fragments.ts
  packages/web/graphql/queries/enums/getRoles.ts
  packages/web/pages/profile/setup/roles.tsx
  packages/web/public/assets/roles/artist.svg
  packages/web/public/assets/roles/builder.svg
  packages/web/public/assets/roles/designer.svg
  packages/web/public/assets/roles/innkeeper.svg
  packages/web/public/assets/roles/patron.svg
  packages/web/public/assets/roles/shiller.svg
  packages/web/public/assets/roles/writer.svg
  packages/web/utils/setupOptions.tsx
  schema.graphql
Due: eslint --fix, prettier --write

Added emojis and descriptions to player roles
  hasura/metadata/tables.yaml
  hasura/migrations/1631675618782_add_details_to_PlayerRole/down.sql
  hasura/migrations/1631675618782_add_details_to_PlayerRole/up.sql
Due: none

Fixed permissions in hasura metadata
  hasura/metadata/tables.yaml
Due: none

Use generic Field component in QuestForm
  packages/web/components/Quest/QuestForm.tsx
Due: eslint --fix, prettier --write

Stubbed out SetupRoles step
  hasura/metadata/tables.yaml
  packages/web/assets/roles/artist.svg
  packages/web/assets/roles/builder.svg
  packages/web/assets/roles/designer.svg
  packages/web/assets/roles/innkeeper.svg
  packages/web/assets/roles/patron.svg
  packages/web/assets/roles/shiller.svg
  packages/web/assets/roles/writer.svg
  packages/web/components/Player/ColorBar.tsx
  packages/web/components/Player/Section/PlayerHero.tsx
  packages/web/components/Setup/SetupPersonalityType.tsx
  packages/web/components/Setup/SetupRoles.tsx
  packages/web/graphql/fragments.ts
  packages/web/graphql/mutations/player.ts
  packages/web/graphql/queries/enums/getPersonalityInfo.ts
  packages/web/graphql/queries/enums/getPlayerTypes.ts
  packages/web/graphql/queries/enums/getRoles.ts
  packages/web/graphql/queries/enums/getSkills.ts
  packages/web/pages/profile/setup/personalityType.tsx
  packages/web/pages/profile/setup/playerType.tsx
  packages/web/pages/profile/setup/roles.tsx
  packages/web/pages/profile/setup/skills.tsx
  packages/web/pages/quest/[id]/edit.tsx
  packages/web/pages/quest/create.tsx
  packages/web/utils/setupOptions.tsx
  schema.graphql
Due: eslint --fix, prettier --write

Removed reference to old PlayerRole_Enum
  hasura/metadata/tables.yaml
  packages/backend/src/handlers/triggers/playerRoleChanged.ts
Due: eslint --fix, prettier --write
