Repository MetaFam/TheGame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

using latest version of quest-chains sdk
  packages/backend/src/handlers/triggers/syncDiscordGuildMembers.ts
  packages/web/components/MarkdownEditor/index.tsx
  packages/web/components/Quest/QuestChain/QuestTile.tsx
  packages/web/components/Quest/UploadProof.tsx
  packages/web/package.json
  packages/web/pages/quests/general.tsx
  packages/web/utils/metadata.ts
  packages/web/utils/questChains.ts
  packages/web/utils/schema.json
  packages/web/utils/validate.ts
  yarn.lock
Due: eslint --fix, prettier --write

added link to quest chains
  packages/web/components/MarkdownViewer/MarkdownViewer.tsx
  packages/web/components/QuestChain/QuestHeading.tsx
  packages/web/components/QuestChain/QuestTile.tsx
  packages/web/components/QuestChain/UploadProof.tsx
  packages/web/pages/roles.tsx
Due: eslint --fix, prettier --write

fix quest categories
  packages/web/assets/quests/bridge.svg
  packages/web/assets/quests/diploma-roll.svg
  packages/web/assets/quests/hammer_wrench.svg
  packages/web/assets/quests/octopus.svg
  packages/web/assets/quests/quest-engaged.svg
  packages/web/assets/quests/quest-general.svg
  packages/web/assets/quests/sprout.svg
  packages/web/pages/quests/bridgebuilders-path.tsx
  packages/web/pages/quests/builders-path.tsx
  packages/web/pages/quests/patrons-path.tsx
Due: eslint --fix, prettier --write

minor fixes
  packages/web/components/QuestChain/MintNFTTile.tsx
  packages/web/pages/roles.tsx
  yarn.lock
Due: eslint --fix, prettier --write

added back to onboarding paths link
  packages/web/pages/play/paths/[questchain].tsx
Due: eslint --fix, prettier --write

fixed external link icon as absolute pos
  packages/web/components/QuestChain/QuestHeading.tsx
Due: eslint --fix, prettier --write

reduce gaps for mobile
  packages/web/components/QuestChain/Chain.tsx
  packages/web/components/QuestChain/QuestTile.tsx
  packages/web/pages/play/paths/[questchain].tsx
  packages/web/pages/roles.tsx
Due: eslint --fix, prettier --write

final styling, new seed economy diagram image, spacing around leagues grid.
  packages/web/assets/patron/seed-diagram.png
  packages/web/assets/patron/seed-economy.png
  packages/web/components/Patron/Join/BecomePatron.tsx
  packages/web/components/Patron/Join/PerksGrid.tsx
  packages/web/components/Patron/Join/WateringSeeds.tsx
  packages/web/pages/community/join/patrons/index.tsx
Due: eslint --fix, prettier --write

update the prices for lagues from the new figma column design
  packages/web/components/Patron/Join/PerksGrid.tsx
Due: eslint --fix, prettier --write

fix link to /play/paths/patrons-path
  packages/web/components/Patron/Join/BecomePatron.tsx
Due: eslint --fix, prettier --write

fix for 1376 priority issues.
  packages/web/components/Landing/OnboardingGame/metagame-onboarding-game.json
  packages/web/components/Setup/SetupDone.tsx
Due: eslint --fix, prettier --write

fix ts erorrs
  packages/web/components/Setup/SetupDone.tsx
Due: eslint --fix, prettier --write

WIP: 1341 build the patrons conversion page (#1360)
  packages/web/assets/patron/blue-arrow.png
  packages/web/assets/patron/checkmark.png
  packages/web/assets/patron/patron-circle.png
  packages/web/assets/patron/patron-mage.png
  packages/web/assets/patron/seed-diagram.png
  packages/web/assets/patron/seed.png
  packages/web/components/Patron/Join/BecomePatron.tsx
  packages/web/components/Patron/Join/LeagueCardItem.tsx
  packages/web/components/Patron/Join/PerksGrid.tsx
  packages/web/components/Patron/Join/RankedLeagues.tsx
  packages/web/components/Patron/Join/WateringSeeds.tsx
  packages/web/components/Patron/Join/WhatsTheProduct.tsx
  packages/web/components/Patron/Join/WhoArePatrons.tsx
  packages/web/pages/community/join/patrons/index.tsx
Due: eslint --fix, prettier --write

fix metamanifesto link
  packages/web/components/Landing/OnboardingGame/metagame-onboarding-game.json
Due: prettier --write

Fix/glaring holes (#1377)
  packages/web/components/Landing/OnboardingGame/metagame-onboarding-game.json
  packages/web/components/Setup/SetupDone.tsx
Due: eslint --fix, prettier --write

remove undeploy step
  .github/workflows/gcp-deploy-frontend.yaml
Due: none

remove undeploy step (#1388)
  .github/workflows/gcp-deploy-frontend.yaml
Due: none

fix job dependencies
  .github/workflows/gcp-deploy-frontend.yaml
Due: none

Fix deployment downtime (hotfix) (#1389)
  .github/workflows/gcp-deploy-frontend.yaml
Due: none

Added markdown component & 'read more' to the quest tile description & truncated to 180 chars. - some additional styling to tidy up and give `code` blocks in MD a more MG feel.
  packages/design-system/src/theme/index.ts
  packages/web/components/Quest/QuestTile.tsx
  packages/web/pages/quest/[id].tsx
Due: eslint --fix, prettier --write

The description on the details page now handles both HTML or Markdown. \n - added styles and correct fonts for the headings.
  packages/design-system/package.json
  packages/design-system/src/theme/index.ts
  packages/web/components/Player/PlayerTile.tsx
  packages/web/components/Quest/QuestDetails.tsx
  packages/web/components/Quest/QuestTile.tsx
  packages/web/package.json
  packages/web/pages/quest/[id].tsx
  packages/web/pages/quests.tsx
  packages/web/utils/stringHelpers.ts
  yarn.lock
Due: eslint --fix, prettier --write

adding prose & parsing for cases of HTML in the quest tiles
  packages/design-system/src/index.ts
  packages/web/components/Quest/QuestDetails.tsx
  packages/web/components/Quest/QuestTile.tsx
  packages/web/package.json
Due: eslint --fix, prettier --write

rename url, set redirects, update prices
  packages/web/components/Guild/Join/Requirements.tsx
  packages/web/components/Landing/OnboardingGame/metagame-onboarding-game.json
  packages/web/components/Patron/Join/PerksGrid.tsx
  packages/web/components/Patron/Join/RankedLeagues.tsx
  packages/web/components/Patron/Join/WhatsTheProduct.tsx
  packages/web/next.config.js
  packages/web/pages/join/patron/index.tsx
  packages/web/pages/raids.tsx
Due: eslint --fix, prettier --write

rename url, set redirects, update prices (#1392)
  packages/web/components/Guild/Join/Requirements.tsx
  packages/web/components/Landing/OnboardingGame/metagame-onboarding-game.json
  packages/web/components/Patron/Join/PerksGrid.tsx
  packages/web/components/Patron/Join/RankedLeagues.tsx
  packages/web/components/Patron/Join/WhatsTheProduct.tsx
  packages/web/next.config.js
  packages/web/pages/join/patron/index.tsx
  packages/web/pages/raids.tsx
Due: eslint --fix, prettier --write

fix missing dep
  packages/design-system/src/index.ts
Due: eslint --fix, prettier --write

fix missing dep (#1404)
  packages/design-system/src/index.ts
Due: eslint --fix, prettier --write

no more dependabot for npm packages
  .github/dependabot.yml
Due: prettier --write

Updated /join/patron to compute patron league tiers properly
  packages/backend/src/handlers/remote-schemas/resolvers/seedGraph/queries.ts
  packages/utils/src/constants.ts
  packages/web/components/Patron/Join/PerksGrid.tsx
  packages/web/components/Patron/Join/RankedLeagues.tsx
  packages/web/components/Patron/PatronTile.tsx
  packages/web/graphql/getPatrons.ts
  packages/web/pages/join/patron/index.tsx
  packages/web/utils/patronHelpers.ts
  packages/web/utils/roleHelpers.ts
Due: eslint --fix, prettier --write

Filter out contract address in pSeed holders
  packages/backend/src/handlers/remote-schemas/resolvers/seedGraph/queries.ts
  packages/web/components/Patron/Join/PerksGrid.tsx
  packages/web/graphql/getPatrons.ts
  packages/web/pages/join/patron/index.tsx
  packages/web/utils/patronHelpers.ts
Due: eslint --fix, prettier --write

Better pseed holdings calculations
  packages/utils/src/constants.ts
  packages/web/components/MegaMenu/XPSeedsBalance.tsx
  packages/web/utils/patronHelpers.ts
Due: eslint --fix, prettier --write

Replace pSeed quantity with USD amount on patron card
  packages/web/components/Patron/PatronList.tsx
  packages/web/components/Patron/PatronTile.tsx
  packages/web/graphql/getPatrons.ts
  packages/web/pages/community/patrons.tsx
  packages/web/pages/join/patron/index.tsx
Due: eslint --fix, prettier --write

Filter out contract address in pSeed holders
  packages/web/pages/join/patron/index.tsx
Due: eslint --fix, prettier --write

Fixed react warnings
  packages/web/components/Patron/Join/PerksGrid.tsx
  packages/web/components/Patron/PatronTile.tsx
  packages/web/pages/join/patron/index.tsx
Due: eslint --fix, prettier --write

Temporarily Circumventing MyMeta Profiles
  packages/web/components/Landing/OnboardingGame/metagame-onboarding-game.json
Due: prettier --write

Temporarily Circumventing MyMeta Profiles (#1423)
  packages/web/components/Landing/OnboardingGame/metagame-onboarding-game.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,yml,md})
