Repository MetaFam/TheGame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Added backdropFilter workaround and custom scrollbar for non-webkit browsers (#256)
  packages/web/components/Player/Section/PlayerGallery.tsx
  packages/web/utils/compatibilityHelpers.ts
Due: eslint --fix, prettier --write

Renamed player columns to be consistent snake_case (#262)
  hasura/metadata/tables.yaml
  hasura/migrations/1609960864949_alter_table_public_player_drop_column_timezone/down.sql
  hasura/migrations/1609960864949_alter_table_public_player_drop_column_timezone/up.sql
  hasura/migrations/1609965105543_player_table_consistent_column_names/down.sql
  hasura/migrations/1609965105543_player_table_consistent_column_names/up.sql
  packages/backend/src/handlers/graphql/mutations.ts
  packages/codegen/customFragments.ts
  packages/codegen/schema.graphql
  packages/web/components/Player/PlayerTile.tsx
  packages/web/components/Player/Section/PlayerMemberships.tsx
  packages/web/components/Setup/SetupPlayerType.tsx
  packages/web/components/Setup/SetupProfile.tsx
  packages/web/components/Setup/SetupTimeZone.tsx
  packages/web/graphql/fragments.ts
  packages/web/graphql/getPlayers.ts
  packages/web/graphql/mutations/updateProfile.ts
  packages/web/utils/dateHelpers.ts
Due: eslint --fix, prettier --write

Create Playbooks
  docs/Playbooks
Due: none

Delete Playbooks
  docs/Playbooks
Due: none

f
  static/assets/MBTI placeholders/ENFJ.png
  static/assets/MBTI placeholders/ENFP.png
  static/assets/MBTI placeholders/ENTJ.png
  static/assets/MBTI placeholders/ENTP.png
  static/assets/MBTI placeholders/ESFJ.png
  static/assets/MBTI placeholders/ESFP.png
  static/assets/MBTI placeholders/ESTJ.png
  static/assets/MBTI placeholders/ESTP.png
  static/assets/MBTI placeholders/INFJ.png
  static/assets/MBTI placeholders/INFP.png
  static/assets/MBTI placeholders/INTJ.png
  static/assets/MBTI placeholders/INTP.png
  static/assets/MBTI placeholders/ISFJ.png
  static/assets/MBTI placeholders/ISFP.png
  static/assets/MBTI placeholders/ISTP.png
Due: none

Create how-to-crypto-by-peth.mdx
  docs/playbooks/how-to-crypto-by-peth.mdx
Due: none

Update how-to-become-a-player.md (#188)
  docs/enter-metagame/how-to-become-a-player.md
Due: prettier --write

Create C4
  guides/C4
Due: none

Rename C4 to C4.md
  guides/C4.md
Due: prettier --write

Added a link to C4 in the README
  README.md
Due: prettier --write

Create C4 (#270)
  README.md
  guides/C4.md
Due: prettier --write

Discourse link (#185)
  docs/how-does-it-work/xp.md
Due: prettier --write

Fixed migration handler
  packages/backend/src/handlers/actions/migrateSourceCredAccounts/handler.ts
Due: eslint --fix, prettier --write

Fixed a couple react warnings
  packages/web/components/Player/Section/PlayerGallery.tsx
  packages/web/utils/compatibilityHelpers.ts
Due: eslint --fix, prettier --write

Force minimum row height, narrower column max width
  packages/web/components/Player/PlayerTile.tsx
  packages/web/components/PlayerList.tsx
Due: eslint --fix, prettier --write

Replaced drawer images with higher-res versions, mobile/desktop button improvements
  packages/web/components/MobileFooter.tsx
  packages/web/components/PageHeader.tsx
  packages/web/public/assets/drawer/box.button.bg.png
  packages/web/public/assets/drawer/calendar.png
  packages/web/public/assets/drawer/discord.png
  packages/web/public/assets/drawer/forum.png
  packages/web/public/assets/drawer/github.png
  packages/web/public/assets/drawer/guilds.png
  packages/web/public/assets/drawer/leaderboard.png
  packages/web/public/assets/drawer/library.png
  packages/web/public/assets/drawer/metaview.png
  packages/web/public/assets/drawer/newsletter.png
  packages/web/public/assets/drawer/players.png
  packages/web/public/assets/drawer/quests.png
  packages/web/public/assets/drawer/raids.png
  packages/web/public/assets/drawer/seed_pool.png
  packages/web/public/assets/drawer/seedmarket.png
  packages/web/public/assets/drawer/twitter.png
  packages/web/public/assets/emojis/alien.png
  packages/web/public/assets/emojis/baby-chick.png
  packages/web/public/assets/emojis/books.png
  packages/web/public/assets/emojis/calendar.png
  packages/web/public/assets/emojis/chart-increasing.png
  packages/web/public/assets/emojis/classical-building.png
  packages/web/public/assets/emojis/four-leaf-clover.png
  packages/web/public/assets/emojis/hammer-and-wrench.png
  packages/web/public/assets/emojis/question-mark.png
  packages/web/public/assets/emojis/rolled-up-newspaper.png
  packages/web/public/assets/emojis/seedling.png
  packages/web/public/assets/emojis/speech-balloon.png
  packages/web/public/assets/emojis/studio-microphone.png
  packages/web/public/assets/emojis/world-map.png
  packages/web/utils/drawerItems.ts
Due: eslint --fix, prettier --write

On drawer footer, don't show outline when clicking buttons
  packages/web/components/MobileFooter.tsx
Due: eslint --fix, prettier --write

Drawer Images + Other Improvements (#276)
  packages/web/components/MobileFooter.tsx
  packages/web/components/PageHeader.tsx
  packages/web/public/assets/drawer/box.button.bg.png
  packages/web/public/assets/drawer/calendar.png
  packages/web/public/assets/drawer/discord.png
  packages/web/public/assets/drawer/forum.png
  packages/web/public/assets/drawer/github.png
  packages/web/public/assets/drawer/guilds.png
  packages/web/public/assets/drawer/leaderboard.png
  packages/web/public/assets/drawer/library.png
  packages/web/public/assets/drawer/metaview.png
  packages/web/public/assets/drawer/newsletter.png
  packages/web/public/assets/drawer/players.png
  packages/web/public/assets/drawer/quests.png
  packages/web/public/assets/drawer/raids.png
  packages/web/public/assets/drawer/seed_pool.png
  packages/web/public/assets/drawer/seedmarket.png
  packages/web/public/assets/drawer/twitter.png
  packages/web/public/assets/emojis/alien.png
  packages/web/public/assets/emojis/baby-chick.png
  packages/web/public/assets/emojis/books.png
  packages/web/public/assets/emojis/calendar.png
  packages/web/public/assets/emojis/chart-increasing.png
  packages/web/public/assets/emojis/classical-building.png
  packages/web/public/assets/emojis/four-leaf-clover.png
  packages/web/public/assets/emojis/hammer-and-wrench.png
  packages/web/public/assets/emojis/question-mark.png
  packages/web/public/assets/emojis/rolled-up-newspaper.png
  packages/web/public/assets/emojis/seedling.png
  packages/web/public/assets/emojis/speech-balloon.png
  packages/web/public/assets/emojis/studio-microphone.png
  packages/web/public/assets/emojis/world-map.png
  packages/web/utils/drawerItems.ts
Due: eslint --fix, prettier --write

Fixed migration handler (#274)
  packages/backend/src/handlers/actions/migrateSourceCredAccounts/handler.ts
Due: eslint --fix, prettier --write

Fixed a couple react warnings (#273)
  packages/web/components/Player/Section/PlayerGallery.tsx
  packages/web/utils/compatibilityHelpers.ts
Due: eslint --fix, prettier --write

Force minimum row height, narrower column max width (#275)
  packages/web/components/Player/PlayerTile.tsx
  packages/web/components/PlayerList.tsx
Due: eslint --fix, prettier --write

Add step to remove duplicate players in migrateSourceCredAccounts handler
  packages/backend/src/handlers/actions/migrateSourceCredAccounts/handler.ts
  packages/backend/src/handlers/graphql/mutations.ts
Due: eslint --fix, prettier --write

Wiki info update (#189)
  docs/enter-metagame/how-to-become-a-player.md
Due: prettier --write

Fix CMS Config for Vercel (#192)
  .gitignore
  static/admin/config.yml
  static/admin/index.html
Due: prettier --write

Create House of NFTs for the wiki (#183)
  docs/great-houses/house-of-NFTs.mdx
Due: none

Setup Auth handler serverless function (#193)
  api/_lib/oauth2.ts
  api/auth.ts
  api/callback.ts
  package.json
  static/admin/config.yml
  static/admin/index.html
  yarn.lock
Due: eslint --fix, prettier --write

Fix simple-oauth2 version
  package.json
  yarn.lock
Due: prettier --write

added new line to fix markdown (#195)
  docs/great-houses/house-of-NFTs.mdx
Due: none

Add house of NFTs to sidebar and use MD instead of MDX (#194)
  docs/great-houses/house-of-NFTs.md
  docs/great-houses/house-of-daos.md
  sidebars.js
Due: eslint --fix, prettier --write

Update chakra/core to chakra/react and cleanup theme setup
  .env.sample
  packages/design-system/README.md
  packages/design-system/package.json
  packages/design-system/src/LoadingState.tsx
  packages/design-system/src/MetaBox.tsx
  packages/design-system/src/MetaButton.tsx
  packages/design-system/src/MetaHeading.tsx
  packages/design-system/src/MetaTag.tsx
  packages/design-system/src/ResponsiveText.tsx
  packages/design-system/src/index.ts
  packages/design-system/src/theme.ts
  packages/design-system/src/theme/colors.ts
  packages/design-system/src/theme/index.ts
  packages/design-system/src/typography.tsx
  yarn.lock
Due: eslint --fix, prettier --write

Update chakra/core to chakra/react and cleanup theme setup (#281)
  .env.sample
  packages/design-system/README.md
  packages/design-system/package.json
  packages/design-system/src/LoadingState.tsx
  packages/design-system/src/MetaBox.tsx
  packages/design-system/src/MetaButton.tsx
  packages/design-system/src/MetaHeading.tsx
  packages/design-system/src/MetaTag.tsx
  packages/design-system/src/ResponsiveText.tsx
  packages/design-system/src/index.ts
  packages/design-system/src/theme.ts
  packages/design-system/src/theme/colors.ts
  packages/design-system/src/theme/index.ts
  packages/design-system/src/typography.tsx
  yarn.lock
Due: eslint --fix, prettier --write

Move SEED Ticker to left side
  packages/web/components/PageHeader.tsx
  packages/web/components/Ticker.tsx
Due: eslint --fix, prettier --write

Remove NextJS Build from Render config
  render.yaml
Due: none

Remove NextJS Build from Render config (#283)
  render.yaml
Due: none

Move SEED Ticker to left side (#282)
  packages/web/components/PageHeader.tsx
  packages/web/components/Ticker.tsx
Due: eslint --fix, prettier --write

Add step to remove duplicate players in migrateSourceCredAccounts handler (#280)
  packages/backend/src/handlers/actions/migrateSourceCredAccounts/handler.ts
  packages/backend/src/handlers/graphql/mutations.ts
Due: eslint --fix, prettier --write

Remove unused pages / components
  packages/web/components/Welcome/RegisterPlayer.tsx
  packages/web/components/Welcome/WelcomeHeader.tsx
  packages/web/components/Welcome/WelcomePlayer.tsx
  packages/web/pages/register.tsx
  packages/web/pages/welcome.tsx
Due: eslint --fix, prettier --write

Add WrapItem around components inside Wrap component
  packages/design-system/src/index.ts
  packages/web/components/Guild/GuildLinks.tsx
  packages/web/components/Guild/GuildTile.tsx
  packages/web/components/Link.tsx
  packages/web/components/Player/PlayerContacts.tsx
  packages/web/components/Player/PlayerTile.tsx
  packages/web/components/Player/Section/PlayerSkills.tsx
  packages/web/components/Setup/SetupMemberships.tsx
Due: eslint --fix, prettier --write

Update LoginButton to link to own profile and show Avatar
  packages/web/components/LoginButton.tsx
  packages/web/utils/playerHelpers.ts
Due: eslint --fix, prettier --write

Change SetupUsername to explicitly mention "username"
  packages/web/components/Setup/SetupUsername.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js}
  prettier --write: (any of: *.{ts,tsx,js}) or (any of: *.{json,yml,md})
