Repository MetaFam/TheGame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,yml,md}": "prettier --write"
}

trying to specify `REMOTE_SCHEMA_ENDPOINT` to satiate Hasura 🥫
  .github/workflows/gcp-deploy-pr.yaml
Due: none

fixing `getStaticProps` TypeScript errors 🕷
  packages/web/components/Player/Section/PlayerMeToken.tsx
  packages/web/pages/players.tsx
  packages/web/pages/quest/[id].tsx
  packages/web/pages/quests.tsx
Due: eslint --fix, prettier --write

set up boxtype, playersection and dework profile component
  packages/web/components/Player/PlayerSection.tsx
  packages/web/components/Player/Section/PlayerDework.tsx
  packages/web/components/Player/Section/config.ts
  packages/web/utils/boxTypes.ts
Due: eslint --fix, prettier --write

regenerating `yarn.lock` to fix `graphql` 🇬🇺
  package.json
  yarn.lock
Due: prettier --write

Fixed urql issues
  package.json
  packages/web/graphql/getDeworkUsername.ts
  packages/web/package.json
  yarn.lock
Due: eslint --fix, prettier --write

graphql stuff on FE
  hasura/metadata/tables.yaml
  hasura/migrations/1691747987091_add_dework_to_account_type/down.sql
  hasura/migrations/1691747987091_add_dework_to_account_type/up.sql
  packages/backend/codegen.ts
  packages/web/components/Player/Section/PlayerDework.tsx
  packages/web/graphql/getDeworkUsername.ts
  packages/web/graphql/mutations/dework.ts
  schema.graphql
Due: eslint --fix, prettier --write

set up boxtype, playersection and dework profile component
  packages/web/components/Player/Section/PlayerDework.tsx
Due: eslint --fix, prettier --write

no shrink for the loading icon
  packages/web/components/Player/Section/PlayerDework.tsx
Due: eslint --fix, prettier --write

better mobile display
  packages/web/components/Player/Section/PlayerDework.tsx
Due: eslint --fix, prettier --write

working on build task 🥳
  package.json
  packages/design-system/package.json
  packages/discord-bot/package.json
  packages/utils/package.json
  packages/web/pages/players.tsx
Due: eslint --fix, prettier --write

process data and display
  packages/web/components/Player/Section/PlayerDework.tsx
Due: eslint --fix, prettier --write

Upgrade to TypeScript v5 and fix resultant issues (#1584)
  package.json
  packages/design-system/package.json
  packages/design-system/src/BoxedNextImage.tsx
  packages/design-system/src/SelectTimeZone.tsx
  packages/design-system/src/index.ts
  packages/discord-bot/package.json
  packages/utils/package.json
  packages/web/components/Dashboard/DashboardSection.tsx
  packages/web/components/EditableGridLayout.tsx
  packages/web/components/Guild/GuildSection.tsx
  packages/web/components/Player/PlayerSection.tsx
  packages/web/components/Player/Section/PlayerDework.tsx
  packages/web/components/Section/AddBoxSection.tsx
  packages/web/graphql/client.ts
  packages/web/lib/hooks/useBoxHeights.ts
  packages/web/package.json
  packages/web/pages/_app.tsx
  packages/web/pages/dashboard.tsx
  packages/web/pages/guild/[guildname]/index.tsx
  packages/web/pages/player/[username].tsx
  packages/web/utils/boxTypes.ts
  packages/web/utils/dework.ts
  yarn.lock
Due: eslint --fix, prettier --write

pointing `$REMOTE_SCHEMA_ENDPOINT` to actual GraphQL 🧲
  .github/workflows/gcp-deploy-pr.yaml
Due: none

switching from `get-graphql-schema` to `@appollo/rover` & regenerating `schema.graphql` 👔
  package.json
  packages/backend/codegen.ts
  packages/backend/package.json
  packages/discord-bot/package.json
  packages/web/package.json
  schema.graphql
  yarn.lock
Due: eslint --fix, prettier --write

forgot to reset the loading state 🤦
  packages/web/components/Player/Section/PlayerDework.tsx
Due: eslint --fix, prettier --write

Styling the Dework integration. - also took it upon myself to fix a little ui bug with the meToken section. Hope you dont mind my meddling @nitegeist. Two birds n all that 😅
  packages/web/components/Player/Section/PlayerDework.tsx
Due: eslint --fix, prettier --write

updates to include Error state when user has no dework profile
  packages/web/components/Player/Section/PlayerDework.tsx
Due: eslint --fix, prettier --write

making TypeScript happy 🐏
  packages/design-system/src/BoxedNextImage.tsx
  packages/design-system/src/SelectTimeZone.tsx
Due: eslint --fix, prettier --write

forgot to truncate the text
  packages/web/components/Player/Section/PlayerDework.tsx
Due: eslint --fix, prettier --write

updating graphql codegen \& removing more glaze 🐁
  package.json
  packages/backend/package.json
  packages/discord-bot/codegen.yml
  packages/discord-bot/package.json
  packages/web/package.json
  schema.graphql
  yarn.lock
Due: prettier --write

forgot to truncate the text
  packages/web/components/Player/Section/PlayerDework.tsx
  packages/web/utils/dework.ts
Due: eslint --fix, prettier --write

Added types for Dework item wrapper & heading
  packages/web/components/Player/Section/PlayerDework.tsx
Due: eslint --fix, prettier --write

exposing `` in `env.outputs` 🛶
  .github/workflows/gcp-deploy-pr.yaml
Due: none

Upgrade to TypeScript v5 and fix resultant issues (#1584)
  packages/backend/package.json
  packages/web/components/Player/Section/PlayerDework.tsx
  packages/web/package.json
  yarn.lock
Due: eslint --fix, prettier --write

running typecheck on both `precommit` & `prepush` 🙊
  package.json
  packages/backend/package.json
  packages/design-system/package.json
  packages/discord-bot/package.json
  packages/utils/package.json
  packages/web/package.json
Due: prettier --write

process data and display
  packages/web/components/Player/Section/PlayerDework.tsx
  packages/web/utils/dework.ts
Due: eslint --fix, prettier --write

removing branch restrictions 🧜🏿‍♀️
  .github/workflows/gcp-deploy-pr.yaml
Due: none

someone put \`s in a random variable 🍀
  .github/workflows/gcp-deploy-pr.yaml
Due: none

style tidy for the dework block
  packages/web/components/Player/Section/PlayerDework.tsx
Due: eslint --fix, prettier --write

Write and Read Dework URL to player_account
  hasura/metadata/tables.yaml
  hasura/migrations/1691995935355_modify_primarykey_public_player_account/down.sql
  hasura/migrations/1691995935355_modify_primarykey_public_player_account/up.sql
  hasura/migrations/1692017802834_alter_table_public_player_account_add_unique_type_player_id/down.sql
  hasura/migrations/1692017802834_alter_table_public_player_account_add_unique_type_player_id/up.sql
  packages/backend/package.json
  packages/backend/src/handlers/actions/sourcecred/sync.ts
  packages/backend/src/handlers/graphql/mutations/player.ts
  packages/web/components/Player/Section/PlayerDework.tsx
  packages/web/graphql/mutations/dework.ts
  schema.graphql
Due: eslint --fix, prettier --write

Write and Read Dework URL to player_account
  hasura/metadata/tables.yaml
  packages/web/components/Player/Section/PlayerDework.tsx
Due: eslint --fix, prettier --write

`Player` type is missing 👩🏿‍⚖️
  packages/web/package.json
Due: prettier --write

update ProfileSection to include connected state for Dework
  packages/web/components/Player/Section/PlayerDework.tsx
Due: eslint --fix, prettier --write

Remove extraneous dependencies
  packages/backend/package.json
  packages/web/package.json
  yarn.lock
Due: prettier --write

removing Husky's `pre-push` since everything's done on `commit` 🍸
  .husky/pre-push
Due: none
