Repository MetaFam/TheGame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,yml,md}": "prettier --write"
}

locking @ceramicnetwork/core version & bumping profile pic size 🦖
  package.json
  packages/backend/package.json
  packages/backend/src/handlers/actions/idxCache/updateSingle.ts
  packages/web/components/MegaMenu/MegaMenu.tsx
  packages/web/components/MegaMenu/PlayerStatsBar.tsx
  packages/web/contexts/Web3Context.tsx
  yarn.lock
Due: eslint --fix, prettier --write

regenerating on changes to package.json & bumping plugin versions 🥮
  .github/dependabot.yml
  .github/workflows/PR-CI.yml
  .github/workflows/gcp-deploy.yaml
  .github/workflows/gcp-undeploy.yaml
  .github/workflows/nightly-merge.yml
Due: prettier --write

miscellaneous changes pulled from #1078 for brevity 💺
  yarn.lock
Due: none

fixing inconsistencies raised by `yarn typecheck && yarn lint` 🌵
  yarn.lock
Due: none

75 of 100 files from #1078 have been added; need to rebase the parent branch 🚲
  packages/backend/src/handlers/auth-webhook/users.ts
  packages/design-system/src/MetaButton.tsx
  packages/design-system/src/StatusedSubmitButton.tsx
  packages/design-system/src/index.ts
  packages/web/components/EditProfileForm.tsx
  packages/web/components/MegaMenu/MegaMenu.tsx
  packages/web/components/MegaMenu/index.tsx
  packages/web/components/Player/PlayerAvatar.tsx
  packages/web/components/Player/PlayerContacts.tsx
  packages/web/components/Player/Section/PlayerBrightId.tsx
  packages/web/components/Player/Section/PlayerColorDisposition.tsx
  packages/web/components/Player/Section/PlayerHero.tsx
  packages/web/components/Profile/PlayerSection.tsx
  packages/web/components/Quest/QuestFilter.tsx
  packages/web/components/Setup/GenericWizardPane.tsx
  packages/web/components/Setup/ProfileWizardPane.tsx
  packages/web/components/Setup/SetupDone.tsx
  packages/web/contexts/Web3Context.tsx
  packages/web/graphql/getPlayers.ts
  packages/web/lib/hooks/brightId.ts
  packages/web/lib/hooks/index.ts
  packages/web/lib/hooks/useField.ts
  packages/web/lib/hooks/useSaveCeramicProfile.ts
  packages/web/lib/hooks/useUser.ts
  packages/web/pages/api/metadata.ts
  packages/web/pages/api/storage.ts
  packages/web/pages/me.tsx
  packages/web/utils/playerHelpers.ts
Due: eslint --fix, prettier --write

adding caniuse to remove outdated db warning & trying to fix deployment report link 🧘
  .github/workflows/gcp-deploy.yaml
  package.json
  yarn.lock
Due: prettier --write

update plant & water their seeds link
  docs/how-does-it-work/xp.md
Due: prettier --write

printing `github` object caused the run to fail 🧐
  .github/workflows/gcp-deploy.yaml
Due: none

tests are failing b/c of an out-of-date lock file 🕴
  yarn.lock
Due: none

testing if `log` parameter affects the GitHub deployment 🍅
  .github/workflows/gcp-deploy.yaml
Due: none

`logs` seems to have the desired effect; screwed up the contents 🎒
  .github/workflows/gcp-deploy.yaml
Due: none

debugging authentication process ⛺
  .github/workflows/gcp-deploy.yaml
  packages/utils/src/did/index.ts
  packages/utils/src/ethereumHelper.ts
  packages/web/components/MegaMenu/MegaMenu.tsx
  packages/web/components/MegaMenu/index.tsx
  packages/web/contexts/Web3Context.tsx
  packages/web/lib/auth.ts
  packages/web/lib/hooks/useField.ts
  packages/web/pages/_app.tsx
Due: eslint --fix, prettier --write

clearing auth token on address change 🍡
  packages/backend/src/handlers/auth-webhook/handler.ts
  packages/backend/src/handlers/auth-webhook/users.ts
  packages/utils/src/did/index.ts
  packages/utils/src/ethereumHelper.ts
  packages/web/contexts/Web3Context.tsx
Due: eslint --fix, prettier --write

preventing menu flip & wrapping player hero characteristics 🕵🏾
  packages/web/components/MegaMenu/MegaMenu.tsx
  packages/web/components/Player/Section/PlayerHero.tsx
Due: eslint --fix, prettier --write

having eslint ignore a `console.error` call 🎑
  packages/utils/src/ethereumHelper.ts
Due: eslint --fix, prettier --write

fixing deployment environment to avoid cross-PR deactivations 🎰
  .github/workflows/gcp-deploy.yaml
Due: none

Fixed bug on the issue #1128
  packages/web/components/Landing/sections/Build.tsx
Due: eslint --fix, prettier --write

Update Build.tsx
  packages/web/components/Landing/sections/Build.tsx
Due: eslint --fix, prettier --write

code review requests from @dan13ram
  packages/design-system/src/StatusedSubmitButton.tsx
  packages/web/components/MegaMenu/MegaMenu.tsx
Due: eslint --fix, prettier --write

fix: moved opensea to api & fixed env var
  .env.sample
  packages/web/components/Player/Section/PlayerGallery.tsx
  packages/web/config.ts
  packages/web/lib/hooks/opensea.ts
  packages/web/pages/api/opensea.ts
  packages/web/utils/openseaHelpers.ts
Due: eslint --fix, prettier --write

feat: better error handling in opensea hook
  packages/web/lib/hooks/opensea.ts
  packages/web/pages/api/opensea.ts
Due: eslint --fix, prettier --write

review changes from @dysbulic
  packages/web/components/Player/Section/PlayerGallery.tsx
  packages/web/components/Player/Section/PlayerMemberships.tsx
  packages/web/utils/openseaHelpers.ts
Due: eslint --fix, prettier --write

feat: implement biux's design - setting colors & gradients - section 1 hero with ctas
  packages/design-system/.storybook/preview.js
  packages/design-system/src/index.ts
  packages/design-system/src/theme/colors.ts
  packages/design-system/src/theme/index.ts
  packages/web/assets/landing/sections/section-1.jpg
  packages/web/components/Landing/sections/Intro.tsx
Due: eslint --fix, prettier --write
