Repository MetaFam/TheGame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Fix getBoxProfile resolver for players with no ETH address
  packages/backend/src/handlers/remote-schemas/resolvers/getBoxProfile/resolver.ts
  packages/backend/src/handlers/remote-schemas/typeDefs.ts
Due: eslint --fix, prettier --write

Add rank to publicly exposed fields on Player object
  hasura/metadata/tables.yaml
Due: none

Update Hasura CLI version
  package.json
  yarn.lock
Due: prettier --write

Add NextJS environment vars and remove app-react from Render build
  .env.sample
  packages/web/config.ts
  render.yaml
Due: eslint --fix, prettier --write

Setup URQL with own backend and create basic player list page
  package.json
  packages/@types/fake-tag/index.d.ts
  packages/codegen/package.json
  packages/design-system/src/MetaTag.tsx
  packages/design-system/src/index.ts
  packages/design-system/src/theme.ts
  packages/web/codegen.yml
  packages/web/components/Container.tsx
  packages/web/graphql/client.ts
  packages/web/graphql/fragments.ts
  packages/web/graphql/getPlayer.ts
  packages/web/graphql/getPlayers.ts
  packages/web/graphql/getPokemon.ts
  packages/web/graphql/getPokemons.ts
  packages/web/package.json
  packages/web/pages/index.tsx
  packages/web/pages/login.tsx
  packages/web/pages/player/[username].tsx
  packages/web/pages/pokemon/[name].tsx
  packages/web/utils/playerHelpers.ts
  yarn.lock
Due: eslint --fix, prettier --write

Update error handling
  packages/web/graphql/getPlayers.ts
Due: eslint --fix, prettier --write

Clean up colors in theme and fix redundant backgroundSize
  packages/design-system/src/theme.ts
  packages/web/components/Container.tsx
  packages/web/components/SetupHeader.tsx
  packages/web/pages/index.tsx
  packages/web/pages/login.tsx
Due: eslint --fix, prettier --write

Fix backend build and add graphql codegen watch to web:dev
  packages/codegen/package.json
  packages/utils/package.json
  packages/web/.eslintrc.json
  packages/web/package.json
  packages/web/pages/player/[username].tsx
  packages/web/types/pokemon.ts
Due: eslint --fix, prettier --write

Setup .graphqlconfig and update schema
  .graphqlconfig
  packages/codegen/schema.graphql
Due: none

Remove constraint on Account, allowing a Player to have multiple identifiers of the same type
  hasura/migrations/1597818654956_alter_table_public_Account_drop_constraint_Account_identifier_type_player_key/down.sql
  hasura/migrations/1597818654956_alter_table_public_Account_drop_constraint_Account_identifier_type_player_key/up.sql
Due: none

Use BACKEND_HOST environment variable in WAIT_HOSTS for docker-compose.yml
  docker-compose.yml
Due: prettier --write

Add Remote Schema for DAOHaus / Moloch Dao memberships
  hasura/metadata/tables.yaml
  packages/backend/codegen.yml
  packages/backend/src/config.ts
  packages/backend/src/handlers/actions/migrateSourceCredAccounts/handler.ts
  packages/backend/src/handlers/remote-schemas/resolvers/daohaus/queries.ts
  packages/backend/src/handlers/remote-schemas/resolvers/daohaus/resolver.ts
  packages/backend/src/handlers/remote-schemas/schema.ts
  packages/backend/src/handlers/remote-schemas/typeDefs.ts
  packages/backend/src/lib/daoHausClient.ts
  packages/backend/src/lib/hasuraClient.ts
Due: eslint --fix, prettier --write

Setup Trigger to fetch verified accounts from 3box when ETH address gets updated or user gets inserted
  docker-compose.yml
  hasura/Dockerfile
  hasura/metadata/tables.yaml
  hasura/migrations/1597822038999_alter_table_public_Player_add_column_created_at/down.sql
  hasura/migrations/1597822038999_alter_table_public_Player_add_column_created_at/up.sql
  hasura/migrations/1597822046056_alter_table_public_Player_add_column_updated_at/down.sql
  hasura/migrations/1597822046056_alter_table_public_Player_add_column_updated_at/up.sql
  package.json
  packages/backend/src/handlers/actions/migrateSourceCredAccounts/handler.ts
  packages/backend/src/handlers/actions/updateBoxProfile/handler.ts
  packages/backend/src/handlers/actions/updateBoxProfile/updateVerifiedAccounts.ts
  packages/backend/src/handlers/graphql/mutations.ts
  packages/backend/src/handlers/routes.ts
  packages/backend/src/handlers/triggers/fetchBoxVerifiedAccounts.ts
  packages/backend/src/handlers/triggers/handler.ts
  packages/backend/src/handlers/triggers/types.ts
  packages/codegen/schema.graphql
Due: eslint --fix, prettier --write

Simple profile page
  packages/web/components/Container.tsx
  packages/web/components/PageHeader.tsx
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

use rems
  packages/web/components/Container.tsx
  packages/web/components/Player/PlayerHero.tsx
Due: eslint --fix, prettier --write

use chakra sizes
  packages/design-system/src/theme.ts
  packages/web/components/Container.tsx
  packages/web/components/PageHeader.tsx
  packages/web/components/Player/PlayerFeature.tsx
  packages/web/components/Player/PlayerFeatures.tsx
  packages/web/components/Player/PlayerHero.tsx
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

add features section
  packages/design-system/src/index.ts
  packages/web/components/PageHeader.tsx
  packages/web/components/Player/PlayerFeature.tsx
  packages/web/components/Player/PlayerFeatures.tsx
  packages/web/components/Player/PlayerHero.tsx
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

remove PageHeader for now
  packages/web/components/PageHeader.tsx
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

Add contact info and DAOHaus memberships to player list
  packages/design-system/src/index.ts
  packages/web/graphql/fragments.ts
  packages/web/package.json
  packages/web/pages/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write

The Cleanup
  docs/Guilding/Guilds.mdx
  docs/Players/enter-the-house-of-metafam.md
  docs/Players/local-knowledge.md
  docs/Players/start-here.md
  docs/enter-metagame/how-to-become-a-player.md
  docs/enter-metagame/leaderboard.md
  docs/enter-metagame/navigation-board.md
  docs/enter-metagame/roles-in-metagame.md
  docs/enter-metagame/signpost.md
  docs/handbook/achievements.mdx
  docs/handbook/how-to-play.md
  docs/handbook/where-to-start.md
  docs/handbook/why-play.md
  docs/how-does-it-work/become-a-founder-of-metagame.md
  docs/how-does-it-work/how-metagame-works.md
  docs/how-does-it-work/phases-of-metagame.md
  docs/how-does-it-work/xp.mdx
  docs/manifesto/founders.mdx
  docs/manifesto/perspective.mdx
  docs/manifesto/pillar-articles.mdx
  docs/resources/alignment2021.mdx
  docs/roadmap/phases.mdx
  docs/roadmap/tldr.mdx
  docs/start-here/for-guilds.md
  docs/start-here/for-patrons.md
  docs/start-here/for-players.md
  docs/wtf-is-metagame/in-search-of-commons-that-scale.md
  docs/wtf-is-metagame/metafam-way.mdx
  docs/wtf-is-metagame/narrative-1-a-decentralized-factory.md
  docs/wtf-is-metagame/narrative-2-a-web-of-opportunity.md
  docs/wtf-is-metagame/the-coming-of-metagame.md
  docs/wtf-is-metagame/way-of-web3-founders.md
  docs/wtf-is-metagame/wtf-is-metagame.mdx
  docusaurus.config.js
  sidebars.js
  src/pages/index.js
Due: eslint --fix, prettier --write

Create glossary.md
  docs/resources/glossary.md
Due: prettier --write

Add responsive page header
  packages/web/components/PageHeader.tsx
  packages/web/pages/_app.tsx
  packages/web/pages/login.tsx
Due: eslint --fix, prettier --write

improvements after code review
  packages/web/components/PageHeader.tsx
  packages/web/pages/_app.tsx
  packages/web/pages/profile/setup.tsx
  packages/web/pages/profile/success.tsx
Due: eslint --fix, prettier --write

Hotfix Hasura Port env var
  render.yaml
Due: none

basic setup flow components done
  packages/web/components/Link.tsx
  packages/web/components/SetupAvatar.tsx
  packages/web/components/SetupDone.tsx
  packages/web/components/SetupHeader.tsx
  packages/web/components/SetupPersonality.tsx
  packages/web/components/SetupProfession.tsx
  packages/web/pages/profile/setup.tsx
Due: eslint --fix, prettier --write

fixed fontWeight as normal for MetaHeading
  packages/design-system/src/MetaHeading.tsx
Due: eslint --fix, prettier --write

created ResponsiveText in design-system
  packages/design-system/src/ResponsiveText.tsx
  packages/design-system/src/index.ts
  packages/design-system/stories/3-ResponsiveText.stories.tsx
Due: eslint --fix, prettier --write

using ResponsiveText for SetupHeader
  packages/web/components/Container.tsx
  packages/web/components/SetupAvatar.tsx
  packages/web/components/SetupHeader.tsx
  packages/web/pages/profile/setup.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js}
  prettier --write: (any of: *.{ts,tsx,js}) or (any of: *.{json,yml,md})
