Repository MetaFam/TheGame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,yml,md}": "prettier --write"
}

debugging Ceramic & winnowing down `ethers` presence 🏎️
  packages/web/contexts/ComposeDBContext.tsx
  packages/web/contexts/Web3Context.tsx
  packages/web/lib/hooks/ceramic/useSaveToComposeDB.ts
  packages/web/lib/hooks/useEAS.ts
Due: eslint --fix, prettier --write

in the process of upgrading `ethers` to `v6`
  package.json
  packages/backend/package.json
  packages/backend/src/handlers/actions/player/syncBalances.ts
  packages/backend/src/handlers/auth-webhook/handler.ts
  packages/backend/src/lib/ethereum.ts
  packages/utils/package.json
  packages/utils/src/did/index.ts
  packages/utils/src/ethereumHelper.ts
  packages/web/components/QuestChain/QuestTile.tsx
  packages/web/components/QuestChain/UploadProof.tsx
  packages/web/contexts/ComposeDBContext.tsx
  packages/web/package.json
  yarn.lock
Due: eslint --fix, prettier --write

trying to get `yarn` to not die when installing from GitHub 🥕
  docker/frontend/Dockerfile
  package.json
Due: prettier --write

pushing so I can reinstall my OS 🧙‍♂️
  .yarnrc.yml
  package.json
  packages/backend/codegen.ts
  packages/backend/package.json
  packages/design-system/package.json
  packages/design-system/src/MetaFilterSelect.tsx
  packages/design-system/src/MultiSelect.tsx
  packages/design-system/src/SelectSearch.tsx
  packages/design-system/src/SelectTimeZone.tsx
  packages/design-system/src/StatusedSubmitButton.tsx
  packages/design-system/src/index.ts
  packages/discord-bot/package.json
  packages/utils/package.json
  packages/utils/src/did/index.ts
  packages/web/codegen.ts
  packages/web/lib/hooks/useEthersProvider.ts
  packages/web/package.json
  packages/web/utils/ensHelpers.ts
  packages/web/utils/errorHandler.ts
  yarn.lock
Due: eslint --fix, prettier --write

adding `onComplete` handler for uploading 🥕
  .nvmrc
  packages/web/components/QuestChain/MintNFTTile.tsx
  packages/web/components/QuestChain/QuestTile.tsx
  packages/web/components/QuestChain/UploadProof.tsx
  packages/web/components/QuestChain/UploadProofButton.tsx
Due: eslint --fix, prettier --write

fighting with `docker` ⛑️
  docker/backend/Dockerfile
  packages/backend/package.json
  yarn.lock
Due: prettier --write

trying DAOHaus Graph endpoint from [the docs]('https://docs.daohaus.club/subgraphs#explorers-and-api-endpoints') 🛩️
  packages/backend/codegen.ts
Due: eslint --fix, prettier --write

maybe this Graph will work 🛰️
  packages/backend/codegen.ts
Due: eslint --fix, prettier --write

reenabling EAS & switching `node-ts` to `tsx` 🏚️
  docker/backend/Dockerfile
  docker/frontend/Dockerfile
  package.json
  packages/backend/package.json
  packages/backend/src/handlers/actions/composeDB/updatePlayerFromComposeDB.ts
  packages/backend/src/handlers/actions/player/syncBalances.ts
  packages/design-system/package.json
  packages/discord-bot/package.json
  packages/utils/package.json
  packages/utils/src/did/index.ts
  packages/web/components/Player/PlayerSection.tsx
  packages/web/components/Player/Section/config.ts
  packages/web/contexts/Web3Context.tsx
  packages/web/utils/layoutHelpers.ts
  tsconfig.base.json
  yarn.lock
Due: eslint --fix, prettier --write

improving login experience 🪴
  packages/design-system/src/icons/ChevronRight.tsx
  packages/web/components/MegaMenu/MegaMenuHeader.tsx
  packages/web/components/Patron/PatronRank.tsx
  packages/web/lib/hooks/useUser.ts
Due: eslint --fix, prettier --write

Update questChains.ts
  packages/web/utils/questChains.ts
Due: eslint --fix, prettier --write

Add files via upload
  packages/web/assets/academy/buildingonop.webp
Due: none

D academy updates innkeep (#1776)
  packages/web/assets/academy/Building-on-optimism.png
  packages/web/assets/academy/buildingonop.webp
  packages/web/utils/questChains.ts
Due: eslint --fix, prettier --write

Add to dAcademy -Creator Game 🕹
  packages/web/assets/academy/creatorgame.png
  packages/web/utils/questChains.ts
Due: eslint --fix, prettier --write

Add to dAcademy -Creator Game 🕹 (#1778)
  packages/web/assets/academy/creatorgame.png
  packages/web/utils/questChains.ts
Due: eslint --fix, prettier --write

testing the Quest Chains minting process 🙀
  packages/web/components/QuestChain/MintNFTTile.tsx
  packages/web/components/QuestChain/QuestChainDisplay.tsx
  packages/web/components/QuestChain/UploadProof.tsx
Due: eslint --fix, prettier --write

Add webp of creatorgame
  packages/web/assets/academy/creatorgame.webp
Due: none

Update Creatorgame image from png to webp
  packages/web/utils/questChains.ts
Due: eslint --fix, prettier --write

making TypeScript happy 🕳️
  packages/web/components/QuestChain/UploadProof.tsx
Due: eslint --fix, prettier --write

cleaning 💢
  packages/web/components/QuestChain/QuestHeading.tsx
  packages/web/components/QuestChain/UploadProof.tsx
Due: eslint --fix, prettier --write

Update QuestHeading.tsx - percentage finished
  packages/web/components/QuestChain/QuestHeading.tsx
Due: eslint --fix, prettier --write

code straight from [Claude](https://claude.ai) 🎪
  packages/utils/bin/balances-to-csv.mjs
  packages/utils/bin/clear-gcloud-artifact-registry.sh
Due: none

code from Hugging Face: Meta-Llama-3.1 🍁
  packages/utils/bin/balances-to-csv.mjs
  packages/utils/bin/divide-assets.google-app-script.js
  packages/utils/bin/safe-balances.mjs
  packages/utils/package.json
  yarn.lock
Due: eslint --fix, prettier --write

refined Meta-Llama script 🐈‍⬛
  packages/utils/bin/divide-assets.google-app-script.js
Due: eslint --fix, prettier --write
