Repository MetaFam/TheGame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,yml,md}": "prettier --write"
}

Added context to 'port data' modal
  packages/backend/src/handlers/actions/composeDB/linkProfileNode/handler.ts
  packages/web/components/Player/Profile/ComposeDBPromptModal.tsx
Due: eslint --fix, prettier --write

Point to ceramic mainnet
  .github/workflows/gcp-deploy.yaml
Due: none

Add background image helper text
  packages/web/components/Player/Profile/EditBackgroundImage.tsx
Due: eslint --fix, prettier --write

Added PlayerHydrationContext for dynamically refreshing player data on player page
  packages/web/components/Player/PlayerSection.tsx
  packages/web/components/Player/Section/PlayerPersonalityType.tsx
  packages/web/components/Player/Section/PlayerType.tsx
  packages/web/components/Section/ProfileSection.tsx
  packages/web/components/Setup/SetupPersonalityType.tsx
  packages/web/components/Setup/SetupPlayerType.tsx
  packages/web/components/Setup/SetupRoles.tsx
  packages/web/components/Setup/WizardPane.tsx
  packages/web/contexts/PlayerHydrationContext.tsx
  packages/web/graphql/composeDB/queries/profile.ts
  packages/web/lib/hooks/ceramic/useGetPlayerProfileFromComposeDB.ts
  packages/web/lib/hooks/ceramic/usePlayerSetupSaveToComposeDB.ts
  packages/web/lib/hooks/ceramic/useSaveToComposeDB.ts
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

Fixed and tested image upload during setup
  packages/web/components/EditProfileModal.tsx
  packages/web/components/Setup/SetupAvailability.tsx
  packages/web/components/Setup/SetupDescription.tsx
  packages/web/components/Setup/SetupName.tsx
  packages/web/components/Setup/SetupPersonalityType.tsx
  packages/web/components/Setup/SetupPlayerType.tsx
  packages/web/components/Setup/SetupProfilePicture.tsx
  packages/web/components/Setup/SetupTimeZone.tsx
  packages/web/lib/hooks/ceramic/usePlayerSetupSaveToComposeDB.ts
  packages/web/pages/player/[username].tsx
  packages/web/utils/imageHelpers.ts
Due: eslint --fix, prettier --write

Unified composeDB models into one, updated setup flow to use new model
  hasura/metadata/tables.yaml
  hasura/migrations/1676052460627_alter_table_public_player_add_column_ceramic_profile_id/down.sql
  hasura/migrations/1676052460627_alter_table_public_player_add_column_ceramic_profile_id/up.sql
  packages/utils/schema/README.md
  packages/utils/schema/separate-models/user-profile-1.graphql
  packages/utils/schema/separate-models/user-profile-2.graphql
  packages/utils/schema/separate-models/user-profile-composite-1.json
  packages/utils/schema/separate-models/user-profile-composite-2.json
  packages/utils/schema/separate-models/user-profile-composite.json
  packages/utils/schema/separate-models/user-profile-definition-1.json
  packages/utils/schema/separate-models/user-profile-definition-2.json
  packages/utils/schema/separate-models/user-profile-definition.json
  packages/utils/schema/user-profile-composite.json
  packages/utils/schema/user-profile-definition.json
  packages/utils/schema/user-profile.graphql
  packages/utils/src/composeDBProfileFields.ts
  packages/web/components/Setup/SetupAvailability.tsx
  packages/web/components/Setup/SetupDescription.tsx
  packages/web/components/Setup/SetupDone.tsx
  packages/web/components/Setup/SetupName.tsx
  packages/web/components/Setup/SetupPersonalityType.tsx
  packages/web/components/Setup/SetupPlayerType.tsx
  packages/web/components/Setup/SetupTimeZone.tsx
  packages/web/components/Setup/WizardPane.tsx
  packages/web/contexts/ComposeDBContext.tsx
  packages/web/graphql/composeDB/queries/profile.ts
  packages/web/graphql/fragments.ts
  packages/web/graphql/mutations/player.ts
  packages/web/graphql/types.ts
  packages/web/lib/hooks/ceramic/useGetOwnProfileFromComposeDB.ts
  packages/web/lib/hooks/ceramic/useGetPlayerProfileFromComposeDB.ts
  packages/web/lib/hooks/ceramic/usePlayerSetupSaveToComposeDB.ts
  packages/web/lib/hooks/ceramic/useSaveToComposeDB.ts
  packages/web/pages/player/[username].tsx
  schema.graphql
Due: eslint --fix, prettier --write

Updated GA4 ID
  .github/workflows/gcp-deploy.yaml
Due: none

Some fixes after bumping urql to 3.x
  packages/web/components/EditProfileModal.tsx
  packages/web/components/Setup/WizardPane.tsx
  packages/web/graphql/getPatrons.ts
  packages/web/graphql/getPlayers.ts
  packages/web/graphql/queries/enums/getExplorerTypes.ts
  packages/web/graphql/queries/enums/getPersonalityInfo.ts
  packages/web/graphql/queries/enums/getRoles.ts
  packages/web/graphql/queries/enums/getSkills.ts
  packages/web/lib/hooks/useSaveProfileToComposeDB.ts
  packages/web/package.json
  yarn.lock
Due: eslint --fix, prettier --write

Update frontend ceramic_url as well
  docker/frontend/Dockerfile
  packages/web/lib/hooks/ceramic/useSaveToComposeDB.ts
Due: eslint --fix, prettier --write

Handle errors during DAO sync
  packages/backend/src/handlers/remote-schemas/resolvers/daohaus/resolver.ts
Due: eslint --fix, prettier --write

Started hooking up the edit profile page to composedb
  package.json
  packages/backend/package.json
  packages/discord-bot/package.json
  packages/utils/schema/user-profile-composite.json
  packages/utils/schema/user-profile-definition.json
  packages/web/components/EditProfileModal.tsx
  packages/web/components/Setup/WizardPane.tsx
  packages/web/contexts/Web3Context.tsx
  packages/web/graphql/composeDB/mutations/profile.ts
  packages/web/lib/errors.ts
  packages/web/lib/hooks/useSaveCeramicProfile.ts
  packages/web/lib/hooks/useSaveProfileToComposeDB.ts
  packages/web/package.json
  yarn.lock
Due: eslint --fix, prettier --write

Upgrade Hasura
  hasura/Dockerfile
  package.json
  packages/web/pages/learn/thegreathouses/[questchain].tsx
  yarn.lock
Due: eslint --fix, prettier --write

Fix setup / avatar upload
  packages/web/lib/hooks/ceramic/usePlayerSetupSaveToComposeDB.ts
Due: eslint --fix, prettier --write

First pass at composedb models
  packages/utils/schema/user-profile.graphql
Due: none

Added ComposeDB migration modal, still need to implement image migration
  packages/backend/package.json
  packages/utils/src/colorHelpers.ts
  packages/utils/src/composeDBProfileFields.ts
  packages/utils/src/imageHelpers.ts
  packages/web/components/EditProfileModal.tsx
  packages/web/components/EditableGridLayout.tsx
  packages/web/components/Player/PlayerStart.tsx
  packages/web/components/Player/Profile/ComposeDBPromptModal.tsx
  packages/web/components/Setup/SetupAvailability.tsx
  packages/web/components/Setup/SetupDescription.tsx
  packages/web/components/Setup/SetupName.tsx
  packages/web/components/Setup/SetupPersonalityType.tsx
  packages/web/components/Setup/SetupPlayerType.tsx
  packages/web/components/Setup/SetupTimeZone.tsx
  packages/web/contexts/ComposeDBContext.tsx
  packages/web/graphql/composeDB/queries/profile.ts
  packages/web/lib/hooks/ceramic/useGetOwnProfileFromComposeDB.ts
  packages/web/lib/hooks/ceramic/useGetPlayerProfileFromComposeDB.ts
  packages/web/lib/hooks/ceramic/usePlayerSetupSaveToComposeDB.ts
  packages/web/lib/hooks/ceramic/useSaveToComposeDB.ts
  packages/web/pages/player/[username].tsx
  packages/web/utils/playerHelpers.ts
  yarn.lock
Due: eslint --fix, prettier --write

Removed patterns as they're not supported yet
  packages/utils/schema/user-profile.graphql
Due: none

Use updated player from context
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

More debug logs
  packages/backend/src/handlers/actions/ceramic/linkProfileNode.ts
Due: eslint --fix, prettier --write

Use latest docker build stuff
  .github/workflows/PR-CI.yml
  .github/workflows/gcp-deploy-persistent-instances.yaml
  .github/workflows/gcp-deploy-pr.yaml
Due: prettier --write

Reinstate original deployment action
  .github/workflows/gcp-deploy-persistent-instances.yaml
  .github/workflows/gcp-deploy-pr.yaml
Due: none

Replaced IDX cache actions / triggers with composeDB ones
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
  hasura/metadata/cron_triggers.yaml
  hasura/metadata/tables.yaml
  packages/backend/src/handlers/actions/ceramic/routes.ts
  packages/backend/src/handlers/actions/composeDB/cacheHelper.ts
  packages/backend/src/handlers/actions/composeDB/linkProfileNode/handler.ts
  packages/backend/src/handlers/actions/composeDB/routes.ts
  packages/backend/src/handlers/actions/composeDB/updatePlayerFromComposeDB.ts
  packages/backend/src/handlers/actions/composeDB/updateSingleProfile/handler.ts
  packages/backend/src/handlers/actions/idxCache/routes.ts
  packages/backend/src/handlers/actions/idxCache/updateExpiredProfiles/handler.ts
  packages/backend/src/handlers/actions/idxCache/updateSingle.ts
  packages/backend/src/handlers/actions/routes.ts
  packages/backend/src/handlers/auth-webhook/users.ts
  packages/backend/src/handlers/triggers/cacheComposeDBProfile.ts
  packages/backend/src/handlers/triggers/handler.ts
  packages/utils/src/composeDB/fields.ts
  packages/utils/src/composeDB/utils.ts
  packages/utils/src/index.ts
  packages/web/components/EditProfileModal.tsx
  packages/web/graphql/mutations/idxCache.ts
  packages/web/lib/hooks/ceramic/useGetPlayerProfileFromComposeDB.ts
  packages/web/lib/hooks/ceramic/usePlayerSetupSaveToComposeDB.ts
  packages/web/lib/hooks/ceramic/useSaveToComposeDB.ts
  schema.graphql
Due: eslint --fix, prettier --write

Refactored setup logic into ProfileWizardContext
  packages/web/components/EditProfileModal.tsx
  packages/web/components/Player/PlayerStart.tsx
  packages/web/components/Setup/ProfileWizardPane.tsx
  packages/web/components/Setup/SetupDescription.tsx
  packages/web/components/Setup/SetupName.tsx
  packages/web/components/Setup/WizardPane.tsx
  packages/web/contexts/ComposeDBContext.tsx
  packages/web/contexts/ProfileWizardContext.tsx
  packages/web/contexts/SetupContext.tsx
  packages/web/contexts/Web3Context.tsx
  packages/web/lib/auth.ts
  packages/web/lib/hooks/useSaveProfileToComposeDB.ts
  packages/web/lib/hooks/useSaveToComposeDB.ts
Due: eslint --fix, prettier --write

Refactored wizard stuff again to simplify it
  packages/backend/tsconfig.json
  packages/utils/schema/user-profile-composite.json
  packages/utils/schema/user-profile-definition.json
  packages/utils/schema/user-profile.graphql
  packages/utils/src/composeDBProfileFields.ts
  packages/utils/src/extendedProfileTypes.ts
  packages/web/components/Setup/SetupDescription.tsx
  packages/web/components/Setup/SetupName.tsx
  packages/web/components/Setup/SetupPersonalityType.tsx
  packages/web/components/Setup/SetupProfile.tsx
  packages/web/components/Setup/SetupSkills.tsx
  packages/web/components/Setup/SetupTimeZone.tsx
  packages/web/components/Setup/WizardPane.tsx
  packages/web/contexts/ComposeDBContext.tsx
  packages/web/contexts/ProfileWizardComposeDBContext.tsx
  packages/web/graphql/composeDB/queries/profile.ts
  packages/web/lib/hooks/usePlayerSetupSaveToComposeDB.ts
  packages/web/lib/hooks/useQueryFromComposeDB.ts
Due: eslint --fix, prettier --write

Added fallback for non-SSR player pages
  packages/web/contexts/PlayerHydrationContext.tsx
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

Slight refactor of Setup components to accept a player object
  packages/web/components/Player/PlayerSection.tsx
  packages/web/components/Player/Section/PlayerSkills.tsx
  packages/web/components/Section/ProfileSection.tsx
  packages/web/components/Setup/SetupRoles.tsx
  packages/web/components/Setup/SetupSkills.tsx
  packages/web/contexts/PlayerHydrationContext.tsx
  packages/web/graphql/getPlayer.ts
Due: eslint --fix, prettier --write

Made edit profile form more compact, show field errors on blur
  .env.sample
  packages/web/components/EditProfileModal.tsx
  packages/web/components/Player/Profile/EditDescription.tsx
  packages/web/components/Player/Profile/MeetWithWalletProfileEdition.tsx
Due: eslint --fix, prettier --write

Implemented fetching file size and dimensions before persisting to ComposeDB
  docker/backend/Dockerfile
  docker/frontend/Dockerfile
  packages/utils/schema/user-profile.graphql
  packages/web/components/EditProfileModal.tsx
  packages/web/components/Player/Profile/ComposeDBPromptModal.tsx
  packages/web/components/Player/Profile/EditBackgroundImage.tsx
  packages/web/lib/hooks/ceramic/usePlayerSetupSaveToComposeDB.ts
  packages/web/utils/imageHelpers.ts
Due: eslint --fix, prettier --write

Create a new model, last one got hosed
  packages/backend/package.json
  packages/utils/schema/user-profile-composite.json
  packages/utils/schema/user-profile-definition.json
  packages/utils/schema/user-profile.graphql
  yarn.lock
Due: prettier --write

Finished upgrading profile setup components
  packages/utils/src/composeDBProfileFields.ts
  packages/web/components/Setup/SetupAvailability.tsx
  packages/web/components/Setup/SetupPersonalityType.tsx
  packages/web/components/Setup/SetupPlayerType.tsx
  packages/web/components/Setup/SetupRoles.tsx
  packages/web/components/Setup/SetupSkills.tsx
  packages/web/components/Setup/WizardPane.tsx
  packages/web/graphql/composeDB/queries/profile.ts
  packages/web/lib/hooks/useQueryFromComposeDB.ts
Due: eslint --fix, prettier --write

Handle questchain lookup errors during SSR build
  packages/web/pages/learn/thegreathouses/[questchain].tsx
  packages/web/pages/play/paths/[questchain].tsx
Due: eslint --fix, prettier --write

fix bad merge
  packages/web/components/Player/Profile/ComposeDBPromptModal.tsx
  packages/web/components/Player/Section/PlayerHero.tsx
  packages/web/components/Setup/SetupTimeZone.tsx
  packages/web/utils/ensHelpers.ts
Due: eslint --fix, prettier --write

Added mainnet check to composeDB port modal
  hasura/metadata/actions.yaml
  packages/backend/package.json
  packages/backend/src/handlers/actions/composeDB/linkProfileNode/handler.ts
  packages/web/components/Player/Profile/ComposeDBPromptModal.tsx
  packages/web/contexts/ComposeDBContext.tsx
Due: eslint --fix, prettier --write

Fixed MWW integration, removed more cruft
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
  hasura/metadata/cron_triggers.yaml
  hasura/metadata/network.yaml
  hasura/metadata/tables.yaml
  packages/backend/src/handlers/actions/meetwithwallet/handler.ts
  packages/utils/src/extendedProfileTypes.ts
  packages/web/components/EditProfileModal.tsx
  packages/web/components/Landing/WhatSay.tsx
  packages/web/components/Player/Profile/MeetWithWalletProfileEdition.tsx
  packages/web/components/Player/Section/PlayerHero.tsx
  packages/web/contexts/PlayerHydrationContext.tsx
  packages/web/contexts/Web3Context.tsx
  packages/web/graphql/mutations/player.ts
  packages/web/lib/hooks/index.ts
  packages/web/lib/hooks/useField.ts
  packages/web/lib/jotaiState.ts
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

Added new linkProfileNode action to validate ceramic node on the backend
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
  packages/backend/package.json
  packages/backend/src/handlers/actions/ceramic/linkProfileNode.ts
  packages/backend/src/handlers/actions/ceramic/routes.ts
  packages/utils/src/index.ts
  packages/web/contexts/ComposeDBContext.tsx
  packages/web/package.json
  schema.graphql
Due: eslint --fix, prettier --write

Don't delete / recreate stuff
  .github/workflows/gcp-deploy-pr.yaml.old
  packages/backend/src/handlers/actions/ceramic/linkProfileNode.ts
Due: eslint --fix, prettier --write

Implemented proper persistence w/ verification of a user's ceramic profile node
  docker-compose.yml
  hasura/metadata/actions.graphql
  packages/backend/src/handlers/actions/ceramic/linkProfileNode.ts
  packages/backend/src/handlers/actions/ceramic/routes.ts
  packages/backend/src/handlers/actions/routes.ts
  packages/backend/src/handlers/graphql/mutations/player.ts
  packages/backend/src/handlers/graphql/queries/player.ts
  packages/web/lib/hooks/ceramic/useSaveToComposeDB.ts
Due: eslint --fix, prettier --write

Set CERAMIC_URL in deployment action
  .github/workflows/gcp-deploy.yaml
  docker/backend/Dockerfile
Due: none

Hasura 2.0 requires a flag for our sloppy queries to still work
  hasura/Dockerfile
Due: none

Edit profile styling improvements
  packages/web/components/EditProfileModal.tsx
  packages/web/components/Player/Profile/EditBackgroundImage.tsx
Due: eslint --fix, prettier --write

Pull in additional data in seed-db script
  hasura/seed-db.mjs
Due: none
