Repository MetaFam/TheGame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Add xpHelpers test
  packages/utils/tests/lib/xpHelpers.test.ts
Due: eslint --fix, prettier --write

Add convertToRoman util function
  packages/web/utils/formatHelpers.ts
Due: eslint --fix, prettier --write

Display current season label dynamically
  packages/web/components/Player/PlayerTile.tsx
Due: eslint --fix, prettier --write

Add onboarding text if player does not have xp
  packages/web/components/Dashboard/XP.tsx
Due: eslint --fix, prettier --write

Remove ConnectToProgress import
  packages/web/components/EditProfileModal.tsx
Due: eslint --fix, prettier --write

adding almost all logic and ui elements
  packages/backend/src/handlers/actions/idxCache/updateSingle.ts
  packages/design-system/src/icons/MWWIcon.tsx
  packages/design-system/src/icons/index.ts
  packages/utils/src/ethereumHelper.ts
  packages/utils/src/extendedProfileTypes.ts
  packages/utils/src/index.ts
  packages/web/components/EditProfileModal.tsx
  packages/web/components/Player/MeetWithWalletProfileEdition.tsx
  packages/web/components/Player/Section/PlayerHero.tsx
  packages/web/graphql/fragments.ts
  packages/web/pages/api/integrations/meetwithwallet/[address].ts
  schema.graphql
Due: eslint --fix, prettier --write

Added graphql mutation to remove a PlayerAccount
  packages/backend/src/handlers/actions/idxCache/updateSingle.ts
  packages/backend/src/handlers/graphql/mutations.ts
Due: eslint --fix, prettier --write

finished integration
  packages/web/components/Player/MeetWithWalletProfileEdition.tsx
  packages/web/components/Player/Section/PlayerHero.tsx
  packages/web/utils/playerHelpers.ts
Due: eslint --fix, prettier --write

Implementing proper outline button based on design system
  packages/design-system/src/icons/MWWIcon.tsx
  packages/design-system/src/theme/colors.ts
  packages/design-system/src/theme/index.ts
  packages/web/components/Player/MeetWithWalletProfileEdition.tsx
Due: eslint --fix, prettier --write

changing to MWW prod url
  packages/web/pages/api/integrations/meetwithwallet/[address].ts
Due: eslint --fix, prettier --write

adding missing migration
  hasura/migrations/1650213538515_adds_mww_account_type/up.sql
Due: none

Trigger on pushes to develop and master only
  .github/workflows/gcp-deploy-frontend.yaml
Due: none

Removed nightly merge action, it was broken anyway
  .github/workflows/gcp-deploy-frontend.yaml
  .github/workflows/nightly-merge.yml
Due: prettier --write

Added github action to auto-deploy GCP frontend from a branch
  .github/workflows/gcp-deploy-frontend.yaml
Due: none

Pick appropriate hasura host based on branch
  .github/workflows/gcp-deploy-frontend.yaml
Due: none

Fixed GRAPHQL_URL env variable
  .github/workflows/gcp-deploy-frontend.yaml
Due: none

designer approved image - plus added a new property for the SEO component so we can select what style of card is shown when sharing the URL
  packages/web/assets/social.png
  packages/web/components/Seo.tsx
  packages/web/pages/index.tsx
Due: eslint --fix, prettier --write

Added min-instances setting
  .github/workflows/gcp-deploy-frontend.yaml
Due: none

addressing Alec's comments on the PR
  hasura/migrations/1650213538515_adds_mww_account_type/down.sql
  packages/backend/src/handlers/actions/idxCache/updateSingle.ts
  packages/backend/src/handlers/actions/meetwithwallet/index.tsx
  packages/design-system/src/icons/MeetWithWalletIcon.tsx
  packages/design-system/src/icons/index.ts
  packages/utils/src/extendedProfileTypes.ts
  packages/web/components/EditProfileModal.tsx
  packages/web/components/Player/MeetWithWalletProfileEdition.tsx
  packages/web/components/Player/Section/PlayerHero.tsx
  packages/web/pages/api/integrations/meetwithwallet/[address].ts
Due: eslint --fix, prettier --write

Build fix and removing useless code
  packages/backend/src/handlers/actions/idxCache/updateSingle.ts
  packages/web/components/Player/MeetWithWalletProfileEdition.tsx
Due: eslint --fix, prettier --write

Fixed guild member sync
  README.md
  docker-compose.yml
  packages/backend/package.json
  packages/backend/src/handlers/triggers/playerRankUpdated.ts
  packages/backend/src/handlers/triggers/syncDiscordGuildMembers.ts
  packages/backend/src/handlers/triggers/types.ts
Due: eslint --fix, prettier --write

Remove debugging log
  packages/backend/src/handlers/triggers/syncDiscordGuildMembers.ts
Due: eslint --fix, prettier --write

Fix database seeding of GCP PR backend instances
  .github/workflows/gcp-deploy.yaml
Due: none

better og image
  packages/web/public/assets/landing-social.jpg
Due: none

base url as the default for `useRef🤞
  packages/web/pages/index.tsx
Due: eslint --fix, prettier --write

Better text and image dimensions
  packages/web/pages/index.tsx
  packages/web/public/assets/landing-social.jpg
Due: eslint --fix, prettier --write

A new image for the og tags & better display when sharing. - Also added a few tweaks for 2k displays
  packages/web/components/Landing/Intro.tsx
  packages/web/components/Landing/LandingHeader.tsx
  packages/web/public/assets/landing-social.jpg
Due: eslint --fix, prettier --write

`useRef` defaults to a an empty string Hopefully this is an improvement @dysbulic?
  packages/web/pages/index.tsx
Due: eslint --fix, prettier --write

Improved the image - also added hostName (is there a better way to do it?) as i think abs is better than relative here.
  packages/web/pages/index.tsx
  packages/web/public/assets/landing-social.jpg
Due: eslint --fix, prettier --write

improved the getting of the origin
  packages/web/pages/index.tsx
Due: eslint --fix, prettier --write

addressing feedback from @dysbulic
  packages/web/components/Landing/Intro.tsx
  packages/web/components/Landing/LandingHeader.tsx
  packages/web/pages/index.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,yml,md})
