Repository MetaFam/TheGame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js}": ["eslint --fix", "prettier --write"],
  "*.{json,yml,md}": "prettier --write"
}

Move to v2 dependabot config
  .dependabot/config.yml
  .github/dependabot.yml
  .github/workflows/PR-CI.yml
Due: prettier --write

login landing page + fixed fonts (#51)
  .gitignore
  packages/design-system/.storybook/main.js
  packages/design-system/.storybook/themeDecorator.js
  packages/design-system/src/index.ts
  packages/web/components/Link.tsx
  packages/web/next-env.d.ts
  packages/web/next.config.js
  packages/web/package.json
  packages/web/pages/_app.tsx
  packages/web/pages/index.tsx
  packages/web/pages/login.tsx
  packages/web/public/images/background.png
  packages/web/public/images/metagame.png
  packages/web/public/images/players.png
  yarn.lock
Due: eslint --fix, prettier --write

Fix automerge action
  .github/workflows/PR-CI.yml
Due: prettier --write

registerPlayer & successPlayer layout done
  packages/design-system/src/index.ts
  packages/design-system/src/theme.ts
  packages/web/components/RegisterPlayer.tsx
  packages/web/components/SuccessPlayer.tsx
  packages/web/components/WelcomePlayer.tsx
  packages/web/components/icons/Icon3box.tsx
  packages/web/pages/login.tsx
  packages/web/pages/profile.tsx
  packages/web/public/images/avatar.png
  packages/web/public/images/login-background.png
  packages/web/public/images/profile-background.png
  yarn.lock
Due: eslint --fix, prettier --write

Fix github token in automerge
  .github/workflows/PR-CI.yml
Due: prettier --write

Remove automerge
  .github/workflows/PR-CI.yml
Due: prettier --write

Metamaps base prototype (#50)
  packages/metamaps/.babelrc
  packages/metamaps/.eslintrc.json
  packages/metamaps/README.md
  packages/metamaps/components/Circle.tsx
  packages/metamaps/components/Container.tsx
  packages/metamaps/components/Image.tsx
  packages/metamaps/components/Line.tsx
  packages/metamaps/components/Loading.tsx
  packages/metamaps/components/Menu.tsx
  packages/metamaps/components/Popup.tsx
  packages/metamaps/components/Square.tsx
  packages/metamaps/components/ThreeBox.tsx
  packages/metamaps/next-env.d.ts
  packages/metamaps/package.json
  packages/metamaps/pages/_app.tsx
  packages/metamaps/pages/_document.tsx
  packages/metamaps/pages/index.tsx
  packages/metamaps/redux/Reducer.state.tsx
  packages/metamaps/redux/Reducer.tsx
  packages/metamaps/redux/ThreeBox.tsx
  packages/metamaps/redux/Types.tsx
  packages/metamaps/styles/App.tsx
  packages/metamaps/styles/Loading.tsx
  packages/metamaps/styles/Mapping.tsx
  packages/metamaps/styles/Menu.tsx
  packages/metamaps/styles/Styles.tsx
  packages/metamaps/styles/ThreeBox.tsx
  packages/metamaps/tsconfig.json
Due: eslint --fix, prettier --write

registerPlayer & successPlayer layout done
  packages/design-system/src/index.ts
  packages/design-system/src/theme.ts
  packages/web/components/RegisterPlayer.tsx
  packages/web/components/SuccessPlayer.tsx
  packages/web/components/WelcomePlayer.tsx
  packages/web/components/icons/Icon3box.tsx
  packages/web/pages/login.tsx
  packages/web/pages/profile.tsx
  packages/web/public/images/avatar.png
  packages/web/public/images/login-background.png
  packages/web/public/images/profile-background.png
Due: eslint --fix, prettier --write

moved to chakra-ui@next
  packages/design-system/.storybook/themeDecorator.js
  packages/design-system/package.json
  packages/design-system/src/GlobalStyle.tsx
  packages/design-system/src/index.ts
  packages/design-system/src/theme.ts
  packages/design-system/stories/1-Button.stories.tsx
Due: eslint --fix, prettier --write

added meta components and icons
  packages/design-system/src/MetaButton.tsx
  packages/design-system/src/MetaHeading.tsx
  packages/design-system/src/icons/Icon3box.tsx
  packages/design-system/src/icons/index.ts
  packages/design-system/src/index.ts
Due: eslint --fix, prettier --write

refactored code based on review comments
  packages/web/components/Container.tsx
  packages/web/components/Link.tsx
  packages/web/components/RegisterPlayer.tsx
  packages/web/components/SuccessPlayer.tsx
  packages/web/components/WelcomePlayer.tsx
  packages/web/components/icons/Icon3box.tsx
  packages/web/next-env.d.ts
  packages/web/pages/_app.tsx
  packages/web/pages/_document.tsx
  packages/web/pages/login.tsx
  packages/web/pages/profile.tsx
  yarn.lock
Due: eslint --fix, prettier --write

added layout for profile setup
  packages/design-system/src/theme.ts
  packages/web/components/RegisterPlayer.tsx
  packages/web/components/SetupHeader.tsx
  packages/web/components/SuccessPlayer.tsx
  packages/web/next-env.d.ts
  packages/web/pages/profile/setup.tsx
  packages/web/pages/profile/success.tsx
  packages/web/public/images/Back.svg
  packages/web/public/images/Skip.svg
Due: eslint --fix, prettier --write

Glossary update (#109)
  docs/handbook/glossary.md
Due: prettier --write

using React.ComponentProps for getting correct props
  packages/web/components/Container.tsx
  packages/web/components/Link.tsx
  packages/web/components/RegisterPlayer.tsx
Due: eslint --fix, prettier --write

using jpeg for background images
  packages/web/next-env.d.ts
  packages/web/pages/login.tsx
  packages/web/pages/profile.tsx
  packages/web/public/images/login-background.jpg
  packages/web/public/images/login-background.png
  packages/web/public/images/profile-background.jpg
  packages/web/public/images/profile-background.png
Due: eslint --fix, prettier --write

removed unwanted `declare module`
  packages/web/components/RegisterPlayer.tsx
  packages/web/next-env.d.ts
Due: eslint --fix, prettier --write

changed font naming in design-system
  packages/design-system/src/MetaHeading.tsx
  packages/design-system/src/theme.ts
Due: eslint --fix, prettier --write

fixed fontFamily in packge web
  packages/web/components/SuccessPlayer.tsx
  packages/web/pages/login.tsx
Due: eslint --fix, prettier --write

using Heading component for MetaHeading
  packages/design-system/src/MetaHeading.tsx
Due: eslint --fix, prettier --write

Layouts for RegisterPlayer and SuccessPlayer (#63)
  packages/design-system/.storybook/themeDecorator.js
  packages/design-system/package.json
  packages/design-system/src/GlobalStyle.tsx
  packages/design-system/src/MetaButton.tsx
  packages/design-system/src/MetaHeading.tsx
  packages/design-system/src/icons/Icon3box.tsx
  packages/design-system/src/icons/index.ts
  packages/design-system/src/index.ts
  packages/design-system/src/theme.ts
  packages/design-system/stories/1-Button.stories.tsx
  packages/web/components/Container.tsx
  packages/web/components/Link.tsx
  packages/web/components/RegisterPlayer.tsx
  packages/web/components/SuccessPlayer.tsx
  packages/web/components/WelcomePlayer.tsx
  packages/web/next-env.d.ts
  packages/web/pages/_app.tsx
  packages/web/pages/_document.tsx
  packages/web/pages/login.tsx
  packages/web/pages/profile.tsx
  packages/web/public/images/avatar.png
  packages/web/public/images/background.png
  packages/web/public/images/login-background.jpg
  packages/web/public/images/profile-background.jpg
  yarn.lock
Due: eslint --fix, prettier --write

fixed fonts & links
  packages/web/components/RegisterPlayer.tsx
  packages/web/components/SetupHeader.tsx
  packages/web/pages/profile/setup.tsx
  packages/web/pages/profile/success.tsx
Due: eslint --fix, prettier --write

added layout for profile setup (#67)
  packages/design-system/src/theme.ts
  packages/web/components/RegisterPlayer.tsx
  packages/web/components/SetupHeader.tsx
  packages/web/components/SuccessPlayer.tsx
  packages/web/next-env.d.ts
  packages/web/pages/profile/setup.tsx
  packages/web/pages/profile/success.tsx
  packages/web/public/images/Back.svg
  packages/web/public/images/Skip.svg
Due: eslint --fix, prettier --write

Generate Typesafe SDK for Hasura in Backend
  .eslintrc.json
  package.json
  packages/backend/.eslintrc.json
  packages/backend/codegen.yml
  packages/backend/package.json
  packages/backend/src/handlers/actions/updateBoxProfile/handler.ts
  packages/backend/src/handlers/auth-webhook/handler.ts
  packages/backend/src/handlers/auth-webhook/users.ts
  packages/backend/src/handlers/graphql/mutations.ts
  packages/backend/src/handlers/graphql/queries.ts
  packages/backend/src/lib/hasuraClient.ts
  packages/backend/src/lib/hasuraHelpers.ts
  yarn.lock
Due: eslint --fix, prettier --write

Generate Typesafe SDK for Hasura in Backend (#68)
  .eslintrc.json
  package.json
  packages/backend/.eslintrc.json
  packages/backend/codegen.yml
  packages/backend/package.json
  packages/backend/src/handlers/actions/updateBoxProfile/handler.ts
  packages/backend/src/handlers/auth-webhook/handler.ts
  packages/backend/src/handlers/auth-webhook/users.ts
  packages/backend/src/handlers/graphql/mutations.ts
  packages/backend/src/handlers/graphql/queries.ts
  packages/backend/src/lib/hasuraClient.ts
  packages/backend/src/lib/hasuraHelpers.ts
  yarn.lock
Due: eslint --fix, prettier --write

Simplify type defs for backend config.ts
  packages/backend/src/config.ts
Due: eslint --fix, prettier --write

Simplify type defs for backend config.ts (#69)
  packages/backend/src/config.ts
Due: eslint --fix, prettier --write

Setup handler to migrate SC ledger accounts to Database Players
  hasura/migrations/1597557008749_sourcecred-migration/down.sql
  hasura/migrations/1597557008749_sourcecred-migration/up.sql
  packages/backend/codegen.yml
  packages/backend/src/handlers/actions/migrateSourceCredAccounts/handler.ts
  packages/backend/src/handlers/actions/migrateSourceCredAccounts/types.ts
  packages/backend/src/handlers/actions/routes.ts
  packages/backend/src/handlers/actions/types.ts
  packages/backend/src/handlers/graphql/mutations.ts
  packages/codegen/schema.graphql
Due: eslint --fix, prettier --write

Setup Cron trigger to handle sourceCred Migration
  hasura/metadata/cron_triggers.yaml
Due: none

Implement Player Ranks
  hasura/metadata/tables.yaml
  hasura/migrations/1595681063913_insert_seed_data/up.sql
  hasura/migrations/1597563241280_player-ranks/down.sql
  hasura/migrations/1597563241280_player-ranks/up.sql
  packages/backend/src/handlers/actions/migrateSourceCredAccounts/handler.ts
  packages/codegen/schema.graphql
Due: eslint --fix, prettier --write

Hotfix migration
  hasura/migrations/1595681063913_insert_seed_data/up.sql
Due: none

define a few meta components in storybook
  packages/design-system/.storybook/preview-body.html
  packages/design-system/src/MetaBox.tsx
  packages/design-system/src/MetaTag.tsx
  packages/design-system/src/index.ts
  packages/design-system/src/theme.ts
  packages/design-system/stories/0-Text.stories.tsx
  packages/design-system/stories/1-Button.stories.tsx
  packages/design-system/stories/1-MetaButton.stories.tsx
  packages/design-system/stories/2-MetaBox.stories.tsx
  packages/design-system/test/0-Text.test.tsx
Due: eslint --fix, prettier --write

define a few meta components in storybook (#55)
  packages/design-system/.storybook/preview-body.html
  packages/design-system/src/MetaBox.tsx
  packages/design-system/src/MetaTag.tsx
  packages/design-system/src/index.ts
  packages/design-system/src/theme.ts
  packages/design-system/stories/0-Text.stories.tsx
  packages/design-system/stories/1-Button.stories.tsx
  packages/design-system/stories/1-MetaButton.stories.tsx
  packages/design-system/stories/2-MetaBox.stories.tsx
  packages/design-system/test/0-Text.test.tsx
Due: eslint --fix, prettier --write

Update backend Dockerfile to include codegen
  docker-compose.yml
  docker/backend/Dockerfile
Due: prettier --write

Add rank to publicly exposed fields on Player object
  hasura/metadata/tables.yaml
Due: none

Fix getBoxProfile resolver for players with no ETH address
  packages/backend/src/handlers/remote-schemas/resolvers/getBoxProfile/resolver.ts
  packages/backend/src/handlers/remote-schemas/typeDefs.ts
Due: eslint --fix, prettier --write
