Repository MetaFam/TheGame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js}": ["eslint --fix", "prettier --write"],
  "*.{json,yml,md}": "prettier --write"
}

Update How-To-Become-A-Player.md to solve issue: "🎩 Down the Rabbit Hole You Go 🐇# - Quest 1 hyperlink broken. #121" (#122)
  docs/enter-metagame/how-to-become-a-player.md
Due: prettier --write

refactored setup flow (#129)
  packages/design-system/src/MetaButton.tsx
  packages/web/components/Setup/SetupAvailability.tsx
  packages/web/components/Setup/SetupDone.tsx
  packages/web/components/Setup/SetupHeader.tsx
  packages/web/components/Setup/SetupMemberships.tsx
  packages/web/components/Setup/SetupPersonality.tsx
  packages/web/components/Setup/SetupPersonalityType.tsx
  packages/web/components/Setup/SetupPlayerType.tsx
  packages/web/components/Setup/SetupProfession.tsx
  packages/web/components/Setup/SetupSkills.tsx
  packages/web/contexts/SetupContext.tsx
  packages/web/pages/profile/setup.tsx
  packages/web/utils/setupOptions.tsx
Due: eslint --fix, prettier --write

added data for personality types and refactored images
  packages/web/assets/Back.svg
  packages/web/assets/Skip.svg
  packages/web/assets/achiever.png
  packages/web/assets/avatar.png
  packages/web/assets/challenger.png
  packages/web/assets/enthusiast.png
  packages/web/assets/helper.png
  packages/web/assets/image 37.png
  packages/web/assets/individualist.png
  packages/web/assets/investigator.png
  packages/web/assets/login-background.jpg
  packages/web/assets/loyalist.png
  packages/web/assets/metagame.png
  packages/web/assets/peacemaker.png
  packages/web/assets/players.png
  packages/web/assets/profile-background.jpg
  packages/web/assets/reformer.png
  packages/web/components/Container.tsx
  packages/web/components/PageHeader.tsx
  packages/web/components/Player/PlayerContacts.tsx
  packages/web/components/Player/PlayerHero.tsx
  packages/web/components/Setup/SetupHeader.tsx
  packages/web/components/SuccessPlayer.tsx
  packages/web/components/Welcome/WelcomeHeader.tsx
  packages/web/components/Welcome/WelcomePlayer.tsx
  packages/web/pages/index.tsx
  packages/web/pages/profile/setup.tsx
  packages/web/pages/profile/success.tsx
  packages/web/pages/register.tsx
  packages/web/pages/welcome.tsx
  packages/web/public/images/avatar.png
  packages/web/public/images/metagame.png
  packages/web/public/images/players.png
  packages/web/utils/setupOptions.tsx
Due: eslint --fix, prettier --write

setup personality type
  packages/design-system/src/MetaButton.tsx
  packages/web/components/Container.tsx
  packages/web/components/PageHeader.tsx
  packages/web/components/Player/PlayerContacts.tsx
  packages/web/components/Player/PlayerHero.tsx
  packages/web/components/Setup/SetupHeader.tsx
  packages/web/components/Setup/SetupPersonalityType.tsx
  packages/web/components/SuccessPlayer.tsx
  packages/web/components/Welcome/WelcomeHeader.tsx
  packages/web/components/Welcome/WelcomePlayer.tsx
  packages/web/contexts/SetupContext.tsx
  packages/web/pages/index.tsx
  packages/web/pages/profile/setup.tsx
  packages/web/pages/profile/success.tsx
  packages/web/pages/register.tsx
  packages/web/pages/welcome.tsx
  packages/web/utils/setupOptions.tsx
Due: eslint --fix, prettier --write

setup player type
  packages/web/components/Setup/SetupHeader.tsx
  packages/web/components/Setup/SetupPersonalityType.tsx
  packages/web/components/Setup/SetupPlayerType.tsx
  packages/web/contexts/SetupContext.tsx
  packages/web/utils/setupOptions.tsx
Due: eslint --fix, prettier --write

wht why how (#123)
  what-why-how-of-your-dao.md
Due: prettier --write

Update sidebars.js (#124)
  sidebars.js
Due: eslint --fix, prettier --write

assets transparent reup
  static/assets/guilds.png
  static/assets/patrons.png
  static/assets/players.png
Due: none

img
  static/guilds.png
  static/patrons.png
  static/players.png
Due: none

Issue#128 - Design Tweaks (#129)
  docs/Guilding/what-why-how-of-your-dao.md
  docusaurus.config.js
  sidebars.js
  src/css/custom.css
  src/pages/index.js
Due: eslint --fix, prettier --write

Update signpost.md (#125)
  docs/enter-metagame/signpost.md
Due: prettier --write

Icons (#127)
  static/assets/guilds.png
  static/assets/patrons.png
  static/assets/players.png
Due: none

Create house-of-daos (#130)
  docs/house-of-daos
Due: none

Update house-of-daos
  docs/house-of-daos
Due: none

some cleaning & moving (#131)
  docs/Guilding/building-successful-teams.md
  docs/Guilding/guilding-101.md
  docs/Guilding/what-why-how-of-your-dao.md
  docs/Players/players-of-metagame.md
  docs/Players/start-here.md
  docs/enter-metagame/how-to-become-a-player.md
  docs/enter-metagame/leaderboard.md
  docs/great-houses/house-of-daos.mdx
  docs/how-does-it-work/become-a-founder-of-metagame.md
  docs/resources/alignment2021.mdx
  docs/wtf-is-metagame/in-search-of-commons-that-scale.md
  docs/wtf-is-metagame/metafam-way.mdx
  docs/wtf-is-metagame/narrative-1-a-decentralized-factory.md
  docs/wtf-is-metagame/narrative-2-a-web-of-opportunity.md
  docs/wtf-is-metagame/the-coming-of-metagame.md
  docs/wtf-is-metagame/way-of-web3-founders.md
  docs/wtf-is-metagame/wtf-is-metagame.mdx
  sidebars.js
Due: eslint --fix, prettier --write

player types descriptions
  packages/web/utils/setupOptions.tsx
Due: eslint --fix, prettier --write

#128 design tweaks (#132)
  docs/great-houses/house-of-daos.mdx
  docs/wtf-is-metagame/metafam-way.mdx
  sidebars.js
  src/css/custom.css
  src/pages/index.js
  src/pages/styles.module.css
Due: eslint --fix, prettier --write

Update sidebars.js
  sidebars.js
Due: eslint --fix, prettier --write

profile setup - about you flow (#130)
  packages/design-system/src/MetaButton.tsx
  packages/web/assets/Back.svg
  packages/web/assets/Skip.svg
  packages/web/assets/achiever.png
  packages/web/assets/avatar.png
  packages/web/assets/challenger.png
  packages/web/assets/enthusiast.png
  packages/web/assets/helper.png
  packages/web/assets/image 37.png
  packages/web/assets/individualist.png
  packages/web/assets/investigator.png
  packages/web/assets/login-background.jpg
  packages/web/assets/loyalist.png
  packages/web/assets/metagame.png
  packages/web/assets/peacemaker.png
  packages/web/assets/players.png
  packages/web/assets/profile-background.jpg
  packages/web/assets/reformer.png
  packages/web/components/Container.tsx
  packages/web/components/PageHeader.tsx
  packages/web/components/Player/PlayerContacts.tsx
  packages/web/components/Player/PlayerHero.tsx
  packages/web/components/Setup/SetupHeader.tsx
  packages/web/components/Setup/SetupPersonalityType.tsx
  packages/web/components/Setup/SetupPlayerType.tsx
  packages/web/components/SuccessPlayer.tsx
  packages/web/components/Welcome/WelcomeHeader.tsx
  packages/web/components/Welcome/WelcomePlayer.tsx
  packages/web/contexts/SetupContext.tsx
  packages/web/pages/index.tsx
  packages/web/pages/profile/setup.tsx
  packages/web/pages/profile/success.tsx
  packages/web/pages/register.tsx
  packages/web/pages/welcome.tsx
  packages/web/public/images/avatar.png
  packages/web/public/images/metagame.png
  packages/web/public/images/players.png
  packages/web/utils/setupOptions.tsx
Due: eslint --fix, prettier --write

setup availability with lint fixes
  packages/design-system/src/index.ts
  packages/web/components/Setup/SetupAvailability.tsx
  packages/web/components/Setup/SetupHeader.tsx
  packages/web/components/Setup/SetupPersonalityType.tsx
  packages/web/components/Setup/SetupPlayerType.tsx
  packages/web/components/Setup/SetupProfile.tsx
  packages/web/contexts/SetupContext.tsx
  packages/web/graphql/getMemberships.ts
  packages/web/graphql/getPersonalityTypes.ts
  packages/web/graphql/getPlayerTypes.ts
  packages/web/graphql/getSkills.ts
  packages/web/graphql/types.ts
  packages/web/pages/profile/setup.tsx
  packages/web/utils/setupOptions.tsx
Due: eslint --fix, prettier --write

setup memberships
  packages/web/components/Setup/SetupMemberships.tsx
  packages/web/contexts/SetupContext.tsx
  packages/web/graphql/types.ts
  packages/web/utils/skillHelpers.ts
Due: eslint --fix, prettier --write

Setup prettier-ignore and add more instructions on running backend
  .prettierignore
  README.md
  package.json
  yarn.lock
Due: prettier --write

Dont throw error when updating verified accounts
  packages/backend/src/handlers/actions/updateBoxProfile/updateVerifiedAccounts.ts
Due: eslint --fix, prettier --write

Migrate account-type to use tables instead of native enum
  hasura/metadata/tables.yaml
  hasura/migrations/1602297882653_account-type-table/down.sql
  hasura/migrations/1602297882653_account-type-table/up.sql
Due: none

Migrate enneagram_type to use table instead of native enum
  hasura/metadata/tables.yaml
  hasura/migrations/1602298657385_enneagram-type-table/down.sql
  hasura/migrations/1602298657385_enneagram-type-table/up.sql
Due: none

Update schema and front end for new enum tables
  packages/backend/src/handlers/graphql/mutations.ts
  packages/codegen/schema.graphql
  packages/web/graphql/fragments.ts
Due: eslint --fix, prettier --write

Fix type errors
  packages/backend/src/handlers/actions/migrateSourceCredAccounts/handler.ts
  packages/backend/src/handlers/actions/updateBoxProfile/updateVerifiedAccounts.ts
Due: eslint --fix, prettier --write

setup availability & memberships (#138)
  packages/design-system/src/index.ts
  packages/web/components/Setup/SetupAvailability.tsx
  packages/web/components/Setup/SetupHeader.tsx
  packages/web/components/Setup/SetupMemberships.tsx
  packages/web/components/Setup/SetupPersonalityType.tsx
  packages/web/components/Setup/SetupPlayerType.tsx
  packages/web/components/Setup/SetupProfile.tsx
  packages/web/contexts/SetupContext.tsx
  packages/web/graphql/getMemberships.ts
  packages/web/graphql/getPersonalityTypes.ts
  packages/web/graphql/getPlayerTypes.ts
  packages/web/graphql/getSkills.ts
  packages/web/graphql/types.ts
  packages/web/pages/profile/setup.tsx
  packages/web/utils/setupOptions.tsx
  packages/web/utils/skillHelpers.ts
Due: eslint --fix, prettier --write

Update backend to use enum tables + fix migration trigger (#141)
  .prettierignore
  README.md
  hasura/metadata/tables.yaml
  hasura/migrations/1602297882653_account-type-table/down.sql
  hasura/migrations/1602297882653_account-type-table/up.sql
  hasura/migrations/1602298657385_enneagram-type-table/down.sql
  hasura/migrations/1602298657385_enneagram-type-table/up.sql
  package.json
  packages/backend/src/handlers/actions/migrateSourceCredAccounts/handler.ts
  packages/backend/src/handlers/actions/updateBoxProfile/updateVerifiedAccounts.ts
  packages/backend/src/handlers/graphql/mutations.ts
  packages/codegen/schema.graphql
  packages/web/graphql/fragments.ts
  yarn.lock
Due: eslint --fix, prettier --write

Improve 3Box profile data
  package.json
  packages/@types/3box/index.d.ts
  packages/backend/src/handlers/actions/updateBoxProfile/updateVerifiedAccounts.ts
  packages/backend/src/handlers/remote-schemas/resolvers/getBoxProfile/resolver.ts
  packages/backend/src/handlers/remote-schemas/typeDefs.ts
  yarn.lock
Due: eslint --fix, prettier --write

Fix schema types in migrate script
  packages/backend/src/handlers/actions/migrateSourceCredAccounts/handler.ts
  packages/codegen/schema.graphql
Due: eslint --fix, prettier --write

Improve 3Box profile data (#142)
  package.json
  packages/@types/3box/index.d.ts
  packages/backend/src/handlers/actions/updateBoxProfile/updateVerifiedAccounts.ts
  packages/backend/src/handlers/remote-schemas/resolvers/getBoxProfile/resolver.ts
  packages/backend/src/handlers/remote-schemas/typeDefs.ts
  yarn.lock
Due: eslint --fix, prettier --write

Fix schema types in migrate script (#143)
  packages/backend/src/handlers/actions/migrateSourceCredAccounts/handler.ts
  packages/codegen/schema.graphql
Due: eslint --fix, prettier --write

updated house of DAOs (#135)
  docs/great-houses/house-of-daos.mdx
  docs/start-here/for-patrons.md
Due: prettier --write

Design changes for #134 (#136)
  src/css/custom.css
  src/pages/styles.module.css
Due: none

Update index.js
  src/pages/index.js
Due: eslint --fix, prettier --write

Update introduction.mdx
  docs/introduction.mdx
Due: none

Update index.html
  static/admin/index.html
Due: none
