Repository MetaFam/TheGame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Load profile data from composeDB on player page
  packages/web/codegen.ts
  packages/web/components/EditProfileModal.tsx
  packages/web/components/Player/Profile/EditAvatarImage.tsx
  packages/web/components/Player/Profile/EditBackgroundImage.tsx
  packages/web/components/Setup/SetupPersonalityType.tsx
  packages/web/contexts/ComposeDBContext.tsx
  packages/web/graphql/fragments.ts
  packages/web/lib/hooks/ceramic/useGetPlayerProfileFromComposeDB.ts
  packages/web/lib/hooks/ceramic/usePlayerSetupSaveToComposeDB.ts
  packages/web/lib/hooks/ceramic/useSaveCeramicProfile.ts
  packages/web/lib/hooks/index.ts
  packages/web/next.config.mjs
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

Added PlayerHydrationContext for dynamically refreshing player data on player page
  packages/web/components/Player/PlayerSection.tsx
  packages/web/components/Player/Section/PlayerPersonalityType.tsx
  packages/web/components/Player/Section/PlayerType.tsx
  packages/web/components/Section/ProfileSection.tsx
  packages/web/components/Setup/SetupPersonalityType.tsx
  packages/web/components/Setup/SetupPlayerType.tsx
  packages/web/components/Setup/SetupRoles.tsx
  packages/web/components/Setup/WizardPane.tsx
  packages/web/contexts/PlayerHydrationContext.tsx
  packages/web/graphql/composeDB/queries/profile.ts
  packages/web/lib/hooks/ceramic/useGetPlayerProfileFromComposeDB.ts
  packages/web/lib/hooks/ceramic/usePlayerSetupSaveToComposeDB.ts
  packages/web/lib/hooks/ceramic/useSaveToComposeDB.ts
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

Added ComposeDB migration modal, still need to implement image migration
  packages/backend/package.json
  packages/utils/src/colorHelpers.ts
  packages/utils/src/composeDBProfileFields.ts
  packages/utils/src/imageHelpers.ts
  packages/web/components/EditProfileModal.tsx
  packages/web/components/EditableGridLayout.tsx
  packages/web/components/Player/PlayerStart.tsx
  packages/web/components/Player/Profile/ComposeDBPromptModal.tsx
  packages/web/components/Setup/SetupAvailability.tsx
  packages/web/components/Setup/SetupDescription.tsx
  packages/web/components/Setup/SetupName.tsx
  packages/web/components/Setup/SetupPersonalityType.tsx
  packages/web/components/Setup/SetupPlayerType.tsx
  packages/web/components/Setup/SetupTimeZone.tsx
  packages/web/contexts/ComposeDBContext.tsx
  packages/web/graphql/composeDB/queries/profile.ts
  packages/web/lib/hooks/ceramic/useGetOwnProfileFromComposeDB.ts
  packages/web/lib/hooks/ceramic/useGetPlayerProfileFromComposeDB.ts
  packages/web/lib/hooks/ceramic/usePlayerSetupSaveToComposeDB.ts
  packages/web/lib/hooks/ceramic/useSaveToComposeDB.ts
  packages/web/pages/player/[username].tsx
  packages/web/utils/playerHelpers.ts
  yarn.lock
Due: eslint --fix, prettier --write

Added useImageReader, updated EditProfileModal to get the appropriate picked file data
  packages/web/components/EditProfileModal.tsx
  packages/web/components/Guild/GuildForm.tsx
  packages/web/components/Player/Profile/EditAvatarImage.tsx
  packages/web/components/Player/Profile/EditBackgroundImage.tsx
  packages/web/lib/hooks/useImageReader.ts
Due: eslint --fix, prettier --write

Fetch profile details from ComposeDB during [username] page SSR
  packages/utils/src/composeDBProfileFields.ts
  packages/web/components/Setup/SetupRoles.tsx
  packages/web/graphql/composeDB/queries/profile.ts
  packages/web/lib/hooks/ceramic/useGetPlayerProfileFromComposeDB.ts
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

Removed patterns as they're not supported yet
  packages/utils/schema/user-profile.graphql
Due: none

Implemented proper persistence w/ verification of a user's ceramic profile node
  docker-compose.yml
  hasura/metadata/actions.graphql
  packages/backend/src/handlers/actions/ceramic/linkProfileNode.ts
  packages/backend/src/handlers/actions/ceramic/routes.ts
  packages/backend/src/handlers/actions/routes.ts
  packages/backend/src/handlers/graphql/mutations/player.ts
  packages/backend/src/handlers/graphql/queries/player.ts
  packages/web/lib/hooks/ceramic/useSaveToComposeDB.ts
Due: eslint --fix, prettier --write

Some fixes after bumping urql to 3.x
  packages/web/components/EditProfileModal.tsx
  packages/web/components/Setup/WizardPane.tsx
  packages/web/graphql/getPatrons.ts
  packages/web/graphql/getPlayers.ts
  packages/web/graphql/queries/enums/getExplorerTypes.ts
  packages/web/graphql/queries/enums/getPersonalityInfo.ts
  packages/web/graphql/queries/enums/getRoles.ts
  packages/web/graphql/queries/enums/getSkills.ts
  packages/web/lib/hooks/useSaveProfileToComposeDB.ts
  packages/web/package.json
  yarn.lock
Due: eslint --fix, prettier --write

Implemented fetching from ComposeDB for first three profile wizard screens
  packages/backend/src/handlers/actions/idxCache/updateSingle.ts
  packages/backend/tsconfig.json
  packages/utils/src/colorHelpers.ts
  packages/utils/src/composeDBProfileFields.ts
  packages/utils/src/extendedProfileTypes.ts
  packages/utils/src/index.ts
  packages/web/components/Setup/SetupDescription.tsx
  packages/web/components/Setup/SetupName.tsx
  packages/web/components/Setup/SetupPersonalityType.tsx
  packages/web/components/Setup/WizardPane.tsx
  packages/web/contexts/ProfileWizardContext.tsx
  packages/web/graphql/composeDB/queries/profile.ts
  packages/web/graphql/types.ts
  packages/web/lib/hooks/useQueryFromComposeDB.ts
Due: eslint --fix, prettier --write

Finished upgrading profile setup components
  packages/utils/src/composeDBProfileFields.ts
  packages/web/components/Setup/SetupAvailability.tsx
  packages/web/components/Setup/SetupPersonalityType.tsx
  packages/web/components/Setup/SetupPlayerType.tsx
  packages/web/components/Setup/SetupRoles.tsx
  packages/web/components/Setup/SetupSkills.tsx
  packages/web/components/Setup/WizardPane.tsx
  packages/web/graphql/composeDB/queries/profile.ts
  packages/web/lib/hooks/useQueryFromComposeDB.ts
Due: eslint --fix, prettier --write

Added query to fetch all profile fields from composeDB
  packages/utils/schema/user-profile.graphql
  packages/utils/src/composeDBProfileFields.ts
  packages/web/components/EditProfileModal.tsx
  packages/web/components/Player/Profile/EditAvatarImage.tsx
  packages/web/components/Player/Profile/EditBackgroundImage.tsx
  packages/web/components/Player/Profile/EditDescription.tsx
  packages/web/components/Player/Profile/Label.tsx
  packages/web/components/Setup/SetupAvailability.tsx
  packages/web/components/Setup/SetupDescription.tsx
  packages/web/components/Setup/SetupName.tsx
  packages/web/components/Setup/SetupPersonalityType.tsx
  packages/web/components/Setup/SetupPlayerType.tsx
  packages/web/components/Setup/SetupTimeZone.tsx
  packages/web/contexts/ProfileWizardComposeDBContext.tsx
  packages/web/contexts/ProfileWizardContext.tsx
  packages/web/graphql/composeDB/queries/profile.ts
  packages/web/graphql/fragments.ts
  packages/web/lib/hooks/ceramic/useGetPlayerProfileFromComposeDB.ts
  packages/web/lib/hooks/ceramic/usePlayerSetupSaveToComposeDB.ts
  packages/web/lib/hooks/ceramic/useQueryFromComposeDB.ts
  packages/web/lib/hooks/ceramic/useSaveCeramicProfile.ts
  packages/web/lib/hooks/ceramic/useSaveToComposeDB.ts
  packages/web/lib/hooks/index.ts
  packages/web/lib/hooks/useField.ts
  packages/web/package.json
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

Started hooking up the edit profile page to composedb
  package.json
  packages/backend/package.json
  packages/discord-bot/package.json
  packages/utils/schema/user-profile-composite.json
  packages/utils/schema/user-profile-definition.json
  packages/web/components/EditProfileModal.tsx
  packages/web/components/Setup/WizardPane.tsx
  packages/web/contexts/Web3Context.tsx
  packages/web/graphql/composeDB/mutations/profile.ts
  packages/web/lib/errors.ts
  packages/web/lib/hooks/useSaveCeramicProfile.ts
  packages/web/lib/hooks/useSaveProfileToComposeDB.ts
  packages/web/package.json
  yarn.lock
Due: eslint --fix, prettier --write

Unified composeDB models into one, updated setup flow to use new model
  hasura/metadata/tables.yaml
  hasura/migrations/1676052460627_alter_table_public_player_add_column_ceramic_profile_id/down.sql
  hasura/migrations/1676052460627_alter_table_public_player_add_column_ceramic_profile_id/up.sql
  packages/utils/schema/README.md
  packages/utils/schema/separate-models/user-profile-1.graphql
  packages/utils/schema/separate-models/user-profile-2.graphql
  packages/utils/schema/separate-models/user-profile-composite-1.json
  packages/utils/schema/separate-models/user-profile-composite-2.json
  packages/utils/schema/separate-models/user-profile-composite.json
  packages/utils/schema/separate-models/user-profile-definition-1.json
  packages/utils/schema/separate-models/user-profile-definition-2.json
  packages/utils/schema/separate-models/user-profile-definition.json
  packages/utils/schema/user-profile-composite.json
  packages/utils/schema/user-profile-definition.json
  packages/utils/schema/user-profile.graphql
  packages/utils/src/composeDBProfileFields.ts
  packages/web/components/Setup/SetupAvailability.tsx
  packages/web/components/Setup/SetupDescription.tsx
  packages/web/components/Setup/SetupDone.tsx
  packages/web/components/Setup/SetupName.tsx
  packages/web/components/Setup/SetupPersonalityType.tsx
  packages/web/components/Setup/SetupPlayerType.tsx
  packages/web/components/Setup/SetupTimeZone.tsx
  packages/web/components/Setup/WizardPane.tsx
  packages/web/contexts/ComposeDBContext.tsx
  packages/web/graphql/composeDB/queries/profile.ts
  packages/web/graphql/fragments.ts
  packages/web/graphql/mutations/player.ts
  packages/web/graphql/types.ts
  packages/web/lib/hooks/ceramic/useGetOwnProfileFromComposeDB.ts
  packages/web/lib/hooks/ceramic/useGetPlayerProfileFromComposeDB.ts
  packages/web/lib/hooks/ceramic/usePlayerSetupSaveToComposeDB.ts
  packages/web/lib/hooks/ceramic/useSaveToComposeDB.ts
  packages/web/pages/player/[username].tsx
  schema.graphql
Due: eslint --fix, prettier --write

Fixed white background in menus
  package.json
  packages/design-system/package.json
  packages/design-system/src/theme/index.ts
  packages/design-system/src/theme/menu.ts
  yarn.lock
Due: eslint --fix, prettier --write

Update frontend ceramic_url as well
  docker/frontend/Dockerfile
  packages/web/lib/hooks/ceramic/useSaveToComposeDB.ts
Due: eslint --fix, prettier --write

Merged in new setup profile image field page
  packages/utils/src/composeDBProfileFields.ts
  packages/utils/src/imageHelpers.ts
  packages/web/components/EditProfileModal.tsx
  packages/web/components/Setup/SetupPersonalityType.tsx
  packages/web/components/Setup/SetupProfilePicture.tsx
  packages/web/lib/hooks/ceramic/useGetOwnProfileFromComposeDB.ts
  packages/web/lib/hooks/ceramic/usePlayerSetupSaveToComposeDB.ts
  packages/web/utils/imageHelpers.ts
  packages/web/utils/uploadHelpers.ts
Due: eslint --fix, prettier --write

Added fallback for non-SSR player pages
  packages/web/contexts/PlayerHydrationContext.tsx
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

Set CERAMIC_URL in deployment action
  .github/workflows/gcp-deploy.yaml
  docker/backend/Dockerfile
Due: none

Fix setup / avatar upload
  packages/web/lib/hooks/ceramic/usePlayerSetupSaveToComposeDB.ts
Due: eslint --fix, prettier --write

Bumped composedb version
  packages/backend/package.json
  packages/utils/schema/user-profile-composite.json
  packages/utils/schema/user-profile-definition.json
  packages/web/package.json
  yarn.lock
Due: prettier --write

Updated GA4 ID
  .github/workflows/gcp-deploy.yaml
Due: none

Pull in additional data in seed-db script
  hasura/seed-db.mjs
Due: none

More debug logs
  packages/backend/src/handlers/actions/ceramic/linkProfileNode.ts
Due: eslint --fix, prettier --write

Create a new model, last one got hosed
  packages/backend/package.json
  packages/utils/schema/user-profile-composite.json
  packages/utils/schema/user-profile-definition.json
  packages/utils/schema/user-profile.graphql
  yarn.lock
Due: prettier --write

Handle errors during DAO sync
  packages/backend/src/handlers/remote-schemas/resolvers/daohaus/resolver.ts
Due: eslint --fix, prettier --write

Check in composeDB graphql definition because generating it at build time may be problematic
  packages/utils/src/graphql/composeDBDefinition.ts
  packages/utils/src/index.ts
Due: eslint --fix, prettier --write

Implemented fetching file size and dimensions before persisting to ComposeDB
  docker/backend/Dockerfile
  docker/frontend/Dockerfile
  packages/utils/schema/user-profile.graphql
  packages/web/components/EditProfileModal.tsx
  packages/web/components/Player/Profile/ComposeDBPromptModal.tsx
  packages/web/components/Player/Profile/EditBackgroundImage.tsx
  packages/web/lib/hooks/ceramic/usePlayerSetupSaveToComposeDB.ts
  packages/web/utils/imageHelpers.ts
Due: eslint --fix, prettier --write

Don't delete / recreate stuff
  .github/workflows/gcp-deploy-pr.yaml.old
  packages/backend/src/handlers/actions/ceramic/linkProfileNode.ts
Due: eslint --fix, prettier --write

Fixed player loading
  packages/web/components/ConnectedPage.tsx
  packages/web/pages/dashboard.tsx
  packages/web/pages/player/[username].tsx
  packages/web/utils/ensHelpers.ts
Due: eslint --fix, prettier --write

Implemented persisting ComposeDB profile fields from edit profile modal
  packages/utils/src/composeDBProfileFields.ts
  packages/web/components/EditProfileModal.tsx
  packages/web/components/MegaMenu/MegaMenuFooter.tsx
  packages/web/components/Player/PlayerProfilePicture.tsx
  packages/web/components/Player/PlayerSection.tsx
  packages/web/components/Player/Section/PlayerHero.tsx
  packages/web/components/Player/Section/PlayerPersonalityType.tsx
  packages/web/components/Player/Section/PlayerRoles.tsx
  packages/web/components/Player/Section/PlayerType.tsx
  packages/web/components/Section/ProfileSection.tsx
  packages/web/next.config.mjs
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

Fix ceramic API change
  packages/web/lib/hooks/ceramic/useSaveToComposeDB.ts
Due: eslint --fix, prettier --write

Fixed and tested image upload during setup
  packages/web/components/EditProfileModal.tsx
  packages/web/components/Setup/SetupAvailability.tsx
  packages/web/components/Setup/SetupDescription.tsx
  packages/web/components/Setup/SetupName.tsx
  packages/web/components/Setup/SetupPersonalityType.tsx
  packages/web/components/Setup/SetupPlayerType.tsx
  packages/web/components/Setup/SetupProfilePicture.tsx
  packages/web/components/Setup/SetupTimeZone.tsx
  packages/web/lib/hooks/ceramic/usePlayerSetupSaveToComposeDB.ts
  packages/web/pages/player/[username].tsx
  packages/web/utils/imageHelpers.ts
Due: eslint --fix, prettier --write

Point to ceramic mainnet
  .github/workflows/gcp-deploy.yaml
Due: none

Reinstate original deployment action
  .github/workflows/gcp-deploy-persistent-instances.yaml
  .github/workflows/gcp-deploy-pr.yaml
Due: none

Updated model ID in definition
  package.json
  packages/utils/src/graphql/composeDBDefinition.ts
Due: eslint --fix, prettier --write

Fixed edit profile field saving, updated useUser to load from composeDB
  packages/web/components/EditProfileModal.tsx
  packages/web/components/Setup/SetupDone.tsx
  packages/web/contexts/ComposeDBContext.tsx
  packages/web/contexts/PlayerHydrationContext.tsx
  packages/web/contexts/SetupContext.tsx
  packages/web/graphql/types.ts
  packages/web/lib/hooks/ceramic/useComposeDB.ts
  packages/web/lib/hooks/ceramic/useGetPlayerProfileFromComposeDB.ts
  packages/web/lib/hooks/ceramic/usePlayerSetupSaveToComposeDB.ts
  packages/web/lib/hooks/ceramic/useSaveToComposeDB.ts
  packages/web/lib/hooks/useUser.ts
  packages/web/pages/_app.tsx
  packages/web/pages/player/[username].tsx
  schema.graphql
Due: eslint --fix, prettier --write

Only authenticate the DID for the model the compose client connects to
  packages/web/contexts/ComposeDBContext.tsx
Due: eslint --fix, prettier --write

Fixed construction of profile payload when changing an image
  packages/web/lib/hooks/ceramic/usePlayerSetupSaveToComposeDB.ts
Due: eslint --fix, prettier --write

Fix lint issues
  packages/backend/src/handlers/actions/ceramic/linkProfileNode.ts
  packages/web/components/EditProfileModal.tsx
Due: eslint --fix, prettier --write

Fixed background image URL form field name
  .github/workflows/PR-CI.yml
  packages/web/components/EditProfileModal.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,yml,md})
