Repository MetaFam/TheGame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,yml,md}": "prettier --write"
}

Tip for splitting PRs with BE & FE changes
  guides/CONTRIBUTING.md
Due: prettier --write

frontend changes to use cached profile rather than remote schema 🍥
  packages/web/components/Patron/PatronTile.tsx
  packages/web/graphql/fragments.ts
  packages/web/lib/hooks/opensea.ts
  packages/web/pages/profile/setup/username.tsx
  packages/web/utils/playerHelpers.ts
Due: eslint --fix, prettier --write

🎢 yarn hasura metadata export
  hasura/metadata/cron_triggers.yaml
  hasura/metadata/tables.yaml
Due: none

removing commented code 🎁
  packages/backend/src/handlers/actions/3Box/cache3BoxProfile/updateCachedProfile.ts
  packages/backend/src/handlers/actions/3Box/refresh3BoxCache/handler.ts
Due: eslint --fix, prettier --write

made season_xp not null
  hasura/migrations/1626447130608_alter_table_public_player_add_column_season_xp/up.sql
Due: none

updating yarn lock 🧵
  yarn.lock
Due: none

better messaging for no players found
  packages/design-system/src/SelectTimeZone.tsx
  packages/web/assets/no-players-found.svg
  packages/web/components/Player/Filter/AdjascentTimezonePlayers.tsx
  packages/web/components/Player/Filter/PlayerFilter.tsx
  packages/web/components/Player/Filter/PlayersNotFound.tsx
  packages/web/lib/hooks/players.ts
  packages/web/pages/players.tsx
Due: eslint --fix, prettier --write

better styling for player timezone & profile page
  packages/web/components/Player/PlayerTile.tsx
  packages/web/components/Player/PlayerTimeZone.tsx
  packages/web/components/Player/Section/PlayerCollab.tsx
  packages/web/components/Player/Section/PlayerHero.tsx
  packages/web/components/ProfileSection.tsx
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

invalidating cache entry on profile page load 💣
  packages/web/components/Player/Section/PlayerHero.tsx
  packages/web/graphql/getPlayer.ts
  packages/web/graphql/mutations/idxCache.ts
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

rebasing & regenerating schema 🥘
  packages/backend/src/handlers/graphql/mutations.ts
  schema.graphql
Due: eslint --fix, prettier --write

removing job & ethereum addr from cached info 🎯
  hasura/metadata/tables.yaml
  packages/web/graphql/fragments.ts
Due: eslint --fix, prettier --write

necessary changes to the types
  packages/web/components/Player/Section/PlayerMemberships.tsx
Due: eslint --fix, prettier --write

fixed daoHaus membership links
  packages/web/components/Player/PlayerTile.tsx
  packages/web/components/Player/PlayerTileMemberships.tsx
  packages/web/components/Player/Section/PlayerMemberships.tsx
Due: eslint --fix, prettier --write

added season_xp to db
  hasura/migrations/1626447130608_alter_table_public_player_add_column_season_xp/down.sql
  hasura/migrations/1626447130608_alter_table_public_player_add_column_season_xp/up.sql
  packages/backend/src/handlers/actions/migrateSourceCredAccounts/handler.ts
  packages/backend/src/handlers/graphql/mutations.ts
  packages/backend/src/lib/xpHelpers.ts
  schema.graphql
Due: eslint --fix, prettier --write

padding above about section
  packages/web/components/Player/PlayerTile.tsx
Due: eslint --fix, prettier --write

better display in player page
  packages/web/pages/player/[username].tsx
  packages/web/utils/dateHelpers.ts
Due: eslint --fix, prettier --write

added about with max length
  packages/web/components/Player/PlayerTile.tsx
Due: eslint --fix, prettier --write

preparing to squash migrations into one 🦑
  .github/workflows/PR-CI.yml
  hasura/migrations/1625550966531_create_table_public_profile_cache/up.sql
  hasura/migrations/1625624005406_alter_table_public_profile_cache_drop_column_ethereumAddress/up.sql
  hasura/migrations/1625624052694_alter_table_public_profile_cache_drop_column_job/up.sql
Due: prettier --write

removed obsolete props
  packages/web/components/Player/Section/PlayerMemberships.tsx
Due: eslint --fix, prettier --write

🍵 yarn update-schema
  packages/backend/src/handlers/graphql/mutations.ts
Due: eslint --fix, prettier --write

Make entire player tile into a link (fixes #343) 🖇
  packages/design-system/src/MetaTile.tsx
  packages/design-system/src/index.ts
  packages/web/components/Link.tsx
  packages/web/components/Player/PlayerContacts.tsx
  packages/web/components/Player/PlayerTile.tsx
Due: eslint --fix, prettier --write

locking stylis version to eliminate middleware error 🧤
  package.json
Due: prettier --write

display GMT+0:00 for GMT
  packages/web/components/Player/PlayerTile.tsx
  packages/web/components/Player/PlayerTimeZone.tsx
  packages/web/utils/dateHelpers.ts
Due: eslint --fix, prettier --write

missing CacheProcessOutput 🐥
  schema.graphql
Due: none

adding recache cron job ⏳
  hasura/metadata/cron_triggers.yaml
Due: none

added guild position (internal / external)
  hasura/metadata/tables.yaml
Due: none

adding ceramic and IDX to the backend 🎱
  .gitignore
  packages/backend/package.json
  yarn.lock
Due: prettier --write

input bug in filter search
  packages/design-system/src/MetaFilterSelect.tsx
Due: eslint --fix, prettier --write

removing account link cache trigger 🦟
  hasura/metadata/tables.yaml
  hasura/migrations/1625633004312_create_table_public_profile_cache/up.sql
  packages/backend/src/handlers/actions/3Box/cache3BoxProfile/updateVerifiedAccounts.ts
  packages/backend/src/handlers/triggers/fetchBoxVerifiedAccounts.ts
  packages/backend/src/handlers/triggers/handler.ts
Due: eslint --fix, prettier --write

support select of season_xp by players & public
  hasura/metadata/tables.yaml
  schema.graphql
Due: none

redoing all the permissions to try & make Hasura function 🥊
  hasura/metadata/tables.yaml
  hasura/migrations/1625550966531_create_table_public_profile_cache/down.sql
  hasura/migrations/1625550966531_create_table_public_profile_cache/up.sql
  hasura/migrations/1625552324557_alter_table_public_profile_cache_add_column_player_id/down.sql
  hasura/migrations/1625552324557_alter_table_public_profile_cache_add_column_player_id/up.sql
  hasura/migrations/1625552537557_set_fk_public_profile_cache_player_id/down.sql
  hasura/migrations/1625552537557_set_fk_public_profile_cache_player_id/up.sql
  hasura/migrations/1625561772331_alter_table_public_profile_cache_add_unique_id/down.sql
  hasura/migrations/1625561772331_alter_table_public_profile_cache_add_unique_id/up.sql
  hasura/migrations/1625624005406_alter_table_public_profile_cache_drop_column_ethereumAddress/down.sql
  hasura/migrations/1625624005406_alter_table_public_profile_cache_drop_column_ethereumAddress/up.sql
  hasura/migrations/1625624028172_alter_table_public_profile_cache_alter_column_backgroundImageUrl/down.sql
  hasura/migrations/1625624028172_alter_table_public_profile_cache_alter_column_backgroundImageUrl/up.sql
  hasura/migrations/1625624044328_alter_table_public_profile_cache_alter_column_imageUrl/down.sql
  hasura/migrations/1625624044328_alter_table_public_profile_cache_alter_column_imageUrl/up.sql
  hasura/migrations/1625624052694_alter_table_public_profile_cache_drop_column_job/down.sql
  hasura/migrations/1625624052694_alter_table_public_profile_cache_drop_column_job/up.sql
Due: none

🕌 yarn hasura migrate squash --from 1625550966531 --name create_table_public_profile_cache
  hasura/migrations/1625550966531_create_table_public_profile_cache/down.sql
  hasura/migrations/1625552324557_alter_table_public_profile_cache_add_column_player_id/down.sql
  hasura/migrations/1625552324557_alter_table_public_profile_cache_add_column_player_id/up.sql
  hasura/migrations/1625552537557_set_fk_public_profile_cache_player_id/up.sql
  hasura/migrations/1625561772331_alter_table_public_profile_cache_add_unique_id/down.sql
  hasura/migrations/1625561772331_alter_table_public_profile_cache_add_unique_id/up.sql
  hasura/migrations/1625624005406_alter_table_public_profile_cache_drop_column_ethereumAddress/down.sql
  hasura/migrations/1625624005406_alter_table_public_profile_cache_drop_column_ethereumAddress/up.sql
  hasura/migrations/1625624028172_alter_table_public_profile_cache_alter_column_backgroundImageUrl/down.sql
  hasura/migrations/1625624028172_alter_table_public_profile_cache_alter_column_backgroundImageUrl/up.sql
  hasura/migrations/1625624044328_alter_table_public_profile_cache_alter_column_imageUrl/down.sql
  hasura/migrations/1625624044328_alter_table_public_profile_cache_alter_column_imageUrl/up.sql
  hasura/migrations/1625624052694_alter_table_public_profile_cache_drop_column_job/down.sql
  hasura/migrations/1625624052694_alter_table_public_profile_cache_drop_column_job/up.sql
  hasura/migrations/1625633004312_create_table_public_profile_cache/down.sql
  hasura/migrations/1625633004312_create_table_public_profile_cache/up.sql
Due: none

setting the package versions to a single option 📐
  package.json
  packages/backend/package.json
Due: prettier --write

showing adjacent timezones for players
  packages/web/components/Player/Filter/AdjascentTimezonePlayers.tsx
  packages/web/components/Player/Filter/DesktopFilters.tsx
  packages/web/components/Player/Filter/MobileFilters.tsx
  packages/web/lib/hooks/players.ts
  packages/web/pages/players.tsx
Due: eslint --fix, prettier --write

renaming for clarity & adding queued invalidation 🌠
  packages/backend/package.json
  packages/backend/src/handlers/actions/3Box/cache3BoxProfile/handler.ts
  packages/backend/src/handlers/actions/3Box/refresh3BoxCache/cache3BoxProfiles.ts
  packages/backend/src/handlers/actions/3Box/refresh3BoxCache/handler.ts
  packages/backend/src/handlers/actions/3Box/routes.ts
  packages/backend/src/handlers/actions/idxCache/routes.ts
  packages/backend/src/handlers/actions/idxCache/updateExpiredProfiles/handler.ts
  packages/backend/src/handlers/actions/idxCache/updateSingle.ts
  packages/backend/src/handlers/actions/idxCache/updateSingleProfile/handler.ts
  packages/backend/src/handlers/actions/migrateSourceCredAccounts/handler.ts
  packages/backend/src/handlers/actions/routes.ts
  packages/backend/src/handlers/graphql/mutations.ts
  packages/backend/src/handlers/graphql/queries.ts
  packages/backend/src/handlers/triggers/cache3BoxProfile.ts
  packages/backend/src/handlers/triggers/cacheIDXProfile.ts
  packages/backend/src/handlers/triggers/handler.ts
  packages/backend/src/index.ts
Due: eslint --fix, prettier --write

removing isExternal from guild signup 📻
  packages/web/components/Guild/GuildJoin.tsx
Due: eslint --fix, prettier --write

fixed filters not working with touch handlers
  packages/design-system/src/MetaFilterSelect.tsx
  packages/web/components/Player/Filter/DesktopFilters.tsx
Due: eslint --fix, prettier --write

fixed useEffect called too many times
  packages/design-system/src/SelectTimeZone.tsx
  packages/web/components/Player/Filter/AdjascentTimezonePlayers.tsx
  packages/web/components/Player/Filter/PlayerFilter.tsx
  packages/web/lib/hooks/players.ts
  packages/web/package.json
  packages/web/pages/players.tsx
  packages/web/utils/dateHelpers.ts
Due: eslint --fix, prettier --write

removed useState inside render
  packages/web/components/Player/Section/PlayerMemberships.tsx
Due: eslint --fix, prettier --write

better messaging for timezone filter
  packages/web/components/Player/Filter/AdjascentTimezonePlayers.tsx
  packages/web/pages/players.tsx
Due: eslint --fix, prettier --write
