Repository MetaFam/TheGame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

MetaMaps2.0 base structure
  packages/metamaps2.0/README.md
  packages/metamaps2.0/components/index/Index.input.tsx
  packages/metamaps2.0/components/index/Index.items.tsx
  packages/metamaps2.0/components/index/Index.title.tsx
  packages/metamaps2.0/components/index/dispatch/Navigation.dispatch.tsx
  packages/metamaps2.0/components/index/style/Index.input.style.tsx
  packages/metamaps2.0/components/index/style/Index.items.style.tsx
  packages/metamaps2.0/components/index/style/Index.title.style.tsx
  packages/metamaps2.0/components/map/Map.aux.menu.tsx
  packages/metamaps2.0/components/map/Map.container.tsx
  packages/metamaps2.0/components/map/Map.context.menu.tsx
  packages/metamaps2.0/components/map/Map.menu.tsx
  packages/metamaps2.0/components/map/dispatch/Map.dispatch.tsx
  packages/metamaps2.0/components/map/style/Map.aux.style.tsx
  packages/metamaps2.0/components/map/style/Map.container.style.tsx
  packages/metamaps2.0/components/map/style/Map.context.menu.style.tsx
  packages/metamaps2.0/components/map/style/Map.menu.style.tsx
  packages/metamaps2.0/components/map/style/Map.share.dialog.tsx
  packages/metamaps2.0/components/shared/Metamask.tsx
  packages/metamaps2.0/components/shared/style/Metamask.style.tsx
  packages/metamaps2.0/image/logo.png
  packages/metamaps2.0/image/metamask.png
  packages/metamaps2.0/next-env.d.ts
  packages/metamaps2.0/next.config.js
  packages/metamaps2.0/package.json
  packages/metamaps2.0/pages/[account]/map/[name].tsx
  packages/metamaps2.0/pages/_app.tsx
  packages/metamaps2.0/pages/_document.tsx
  packages/metamaps2.0/pages/index.tsx
  packages/metamaps2.0/redux/Reducer.map.tsx
  packages/metamaps2.0/redux/Reducer.navigation.tsx
  packages/metamaps2.0/redux/Reducer.tsx
  packages/metamaps2.0/theme/Theme.colors.tsx
  packages/metamaps2.0/theme/Theme.components.tsx
  packages/metamaps2.0/tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

Improve UX for Skills Selector (#160)
  packages/design-system/src/SelectSearch.tsx
  packages/web/components/Setup/SetupSkills.tsx
Due: eslint --fix, prettier --write

Begin adding 3Box profile editor
  packages/web/utils/setupOptions.tsx
Due: eslint --fix, prettier --write

Add Setup3Box component
  packages/web/components/Setup/Setup3Box.tsx
  packages/web/utils/setupOptions.tsx
Due: eslint --fix, prettier --write

Add 3box dependencies
  packages/web/package.json
Due: prettier --write

Update sidebars.js
  sidebars.js
Due: eslint --fix, prettier --write

Update how-to-become-a-player.md
  docs/enter-metagame/how-to-become-a-player.md
Due: prettier --write

Update xp.mdx
  docs/how-does-it-work/xp.mdx
Due: none

fixed update token on address change
  packages/web/contexts/Web3Context.tsx
Due: eslint --fix, prettier --write

fetching already set profile data in setup flow
  packages/web/components/Setup/SetupPlayerType.tsx
  packages/web/components/Setup/SetupProfile.tsx
  packages/web/graphql/getMe.ts
  packages/web/graphql/getPersonalityTypes.ts
  packages/web/graphql/types.ts
  packages/web/lib/hooks.ts
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

select skills colors
  packages/design-system/src/SelectSearch.tsx
  packages/design-system/src/index.ts
  packages/web/components/Setup/SetupPlayerType.tsx
  packages/web/components/Setup/SetupProfile.tsx
  packages/web/components/Setup/SetupSkills.tsx
  packages/web/graphql/getMe.ts
  packages/web/graphql/types.ts
  packages/web/lib/hooks.ts
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

showing more data on player tile
  packages/design-system/src/theme.ts
  packages/web/components/Player/PlayerFeatures.tsx
  packages/web/components/Player/PlayerTile.tsx
  packages/web/components/PlayerList.tsx
  packages/web/components/Setup/SetupAvailability.tsx
  packages/web/components/Setup/SetupDone.tsx
Due: eslint --fix, prettier --write

rename variables
  packages/web/components/Player/PlayerTile.tsx
  packages/web/components/Setup/SetupProfile.tsx
  packages/web/components/Setup/SetupSkills.tsx
  packages/web/graphql/getPersonalityTypes.ts
  packages/web/graphql/types.ts
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

profile setup flow clean up (#167)
  packages/design-system/src/SelectSearch.tsx
  packages/design-system/src/index.ts
  packages/design-system/src/theme.ts
  packages/web/components/Player/PlayerFeatures.tsx
  packages/web/components/Player/PlayerTile.tsx
  packages/web/components/PlayerList.tsx
  packages/web/components/Setup/SetupAvailability.tsx
  packages/web/components/Setup/SetupDone.tsx
  packages/web/components/Setup/SetupPlayerType.tsx
  packages/web/components/Setup/SetupProfile.tsx
  packages/web/components/Setup/SetupSkills.tsx
  packages/web/contexts/Web3Context.tsx
  packages/web/graphql/getMe.ts
  packages/web/graphql/getPersonalityTypes.ts
  packages/web/graphql/types.ts
  packages/web/lib/hooks.ts
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

update username flow
  packages/web/components/Player/PlayerFeatures.tsx
  packages/web/components/Player/PlayerTile.tsx
  packages/web/components/Setup/SetupAvailability.tsx
  packages/web/components/Setup/SetupUsername.tsx
  packages/web/contexts/SetupContext.tsx
  packages/web/graphql/mutations/updateUsername.ts
  packages/web/utils/setupOptions.tsx
Due: eslint --fix, prettier --write

skills/memberships not shown if non-existent
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

better errors
  packages/web/components/Setup/SetupProfile.tsx
  packages/web/components/Setup/SetupUsername.tsx
Due: eslint --fix, prettier --write

Fixed build 🤞 (#143)
  docs/enter-metagame/how-to-become-a-player.mdx
  docs/how-does-it-work/how-metagame-works.md
  sidebars.js
  src/components/typeform.js
Due: eslint --fix, prettier --write

Typeform embed now working. (#144)
  src/components/typeform.js
Due: eslint --fix, prettier --write

Update typeform.js
  src/components/typeform.js
Due: eslint --fix, prettier --write

Merge branch '134-design-tweaks' of https://github.com/luxumbra/metagame-wiki into luxumbra-134-design-tweaks after conflicts (#146)
  docusaurus.config.js
  package.json
  src/components/typeform.js
  src/css/custom.css
  src/css/custom.scss
  src/pages/index.js
  src/pages/styles.module.css
  src/pages/styles.module.scss
  src/pages/theRoom.module.scss
  src/pages/theroom.js
  yarn.lock
Due: eslint --fix, prettier --write

Add Edit Component with utils (no styling)
  packages/web/components/Setup/3BoxProfileEdit/Edit.tsx
  packages/web/components/Setup/3BoxProfileEdit/utils.ts
  packages/web/components/Setup/Setup3Box.tsx
Due: eslint --fix, prettier --write

Fix layout (#147)
  src/css/custom.scss
Due: none

Update in-search-of-commons-that-scale.md
  docs/wtf-is-metagame/in-search-of-commons-that-scale.md
Due: prettier --write

Update how-to-become-a-player.mdx
  docs/enter-metagame/how-to-become-a-player.mdx
Due: none

Add files via upload
  join-metagame.md
Due: prettier --write

Create join-metagame.md
  docs/enter-metagame/join-metagame.md
Due: prettier --write

Delete join-metagame.md
  join-metagame.md
Due: prettier --write

Update join-metagame.md
  docs/enter-metagame/join-metagame.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js}
  prettier --write: (any of: *.{ts,tsx,js}) or (any of: *.{json,yml,md})
