Repository MetaFam/TheGame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

tryin' w/o port 🌅
  packages/web/config.ts
Due: eslint --fix, prettier --write

changin' variable name to see if it is passed 🏈
  packages/web/config.ts
  render.yaml
Due: eslint --fix, prettier --write

addin' yarn serve 🥘
  packages/web/package.json
  render.yaml
Due: prettier --write

pushin' just to see the value 🚡
  packages/web/config.ts
  render.yaml
Due: eslint --fix, prettier --write

debuggin' hasura 🐜
  render.yaml
Due: none

printin' the right value 💅
  render.yaml
Due: none

redeployin' altered render.yaml 🥦
  packages/web/graphql/client.ts
  render.yaml
Due: eslint --fix, prettier --write

tryin' to capture port 🚢
  packages/web/config.ts
  render.yaml
Due: eslint --fix, prettier --write

addin' loggin' to skills error 🧣
  packages/web/components/Setup/SetupSkills.tsx
  packages/web/package.json
  render.yaml
Due: eslint --fix, prettier --write

printin' URI 🖨
  packages/web/config.ts
  packages/web/graphql/client.ts
  render.yaml
Due: eslint --fix, prettier --write

fixin' lintin' 🥼
  packages/web/components/Setup/SetupPersonalityType.tsx
  packages/web/components/Setup/SetupSkills.tsx
  packages/web/contexts/Web3Context.tsx
  packages/web/graphql/client.ts
Due: eslint --fix, prettier --write

code review changes from @alaonde to hopefully code #422 🥅
  .eslintrc.json
  packages/discord-bot/package.json
  packages/web/components/Player/ColorBar.tsx
  packages/web/components/Setup/SetupPersonalityType.tsx
  packages/web/package.json
  packages/web/utils/mathHelper.ts
  yarn.lock
Due: eslint --fix, prettier --write

Tweaked sourcecred migrator to use new player.discord_id column
  schema.graphql
Due: none

Added status to guild table
  hasura/metadata/tables.yaml
  schema.graphql
Due: none

Fixed lint errors
  yarn.lock
Due: none

addin' comments to silence eslint 🍤
  packages/web/contexts/Web3Context.tsx
Due: eslint --fix, prettier --write

fixed merge cruft
  packages/design-system/src/index.ts
  packages/web/components/Setup/SetupPersonalityType.tsx
  yarn.lock
Due: eslint --fix, prettier --write

tryin' static specification 🧁
  render.yaml
Due: none

printin' graphql server 💈
  packages/web/graphql/client.ts
Due: eslint --fix, prettier --write

removin' vistiges of Enneagram ✴
  packages/web/graphql/mutations/updateAboutYou.ts
  schema.graphql
Due: eslint --fix, prettier --write

testin' is dev environment will run 🥢
  render.yaml
Due: none

tweakin' build step 🐾
  render.yaml
Due: none

no interpolation in render.yaml 🌮
  packages/web/config.ts
  render.yaml
Due: eslint --fix, prettier --write

tryin' one more variable version 🍇
  packages/web/config.ts
  render.yaml
Due: eslint --fix, prettier --write

settin' node version 🐀
  render.yaml
Due: none

addin' frontend to render.yaml 🐂
  render.yaml
Due: none

removin' Enneagram table 🏓
  hasura/metadata/tables.yaml
  hasura/migrations/1616124361730_drop-enneagram-table/down.sql
  hasura/migrations/1616124361730_drop-enneagram-table/up.sql
Due: none

helps if the variable names are the same 👯
  packages/web/config.ts
  render.yaml
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js}
  prettier --write: (any of: *.{ts,tsx,js}) or (any of: *.{json,yml,md})
