Repository MetaFam/TheGame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

tryin' static specification 🧁
  render.yaml
Due: none

Added status to guild table
  hasura/metadata/tables.yaml
  schema.graphql
Due: none

Stubbed out oauth callback handler
  packages/backend/src/handlers/actions/discordOAuth/handler.ts
Due: eslint --fix, prettier --write

Added permissions for new guild columns
  hasura/metadata/tables.yaml
Due: none

settin' node version 🐀
  render.yaml
Due: none

changin' variable name to see if it is passed 🏈
  packages/web/config.ts
  render.yaml
Due: eslint --fix, prettier --write

debuggin' hasura 🐜
  render.yaml
Due: none

helps if the variable names are the same 👯
  packages/web/config.ts
  render.yaml
Due: eslint --fix, prettier --write

tryin' to capture port 🚢
  packages/web/config.ts
  render.yaml
Due: eslint --fix, prettier --write

Tweaked update discord role action to be more robust
  packages/backend/src/handlers/triggers/updateDiscordRole.ts
  packages/web/components/Guild/GuildLinks.tsx
Due: eslint --fix, prettier --write

redeployin' altered render.yaml 🥦
  packages/web/graphql/client.ts
  render.yaml
Due: eslint --fix, prettier --write

printin' graphql server 💈
  packages/web/graphql/client.ts
Due: eslint --fix, prettier --write

pushin' just to see the value 🚡
  packages/web/config.ts
  render.yaml
Due: eslint --fix, prettier --write

removin' vistiges of Enneagram ✴
  packages/web/graphql/mutations/updateAboutYou.ts
  schema.graphql
Due: eslint --fix, prettier --write

Fixed lint errors
  yarn.lock
Due: none

addin' comments to silence eslint 🍤
  packages/web/contexts/Web3Context.tsx
Due: eslint --fix, prettier --write

Move players page to /players (#439)
  packages/web/next.config.js
  packages/web/pages/player/[username].tsx
  packages/web/pages/players.tsx
  packages/web/utils/drawerItems.ts
Due: eslint --fix, prettier --write

fixed merge cruft
  packages/design-system/src/index.ts
  packages/web/components/Setup/SetupPersonalityType.tsx
  yarn.lock
Due: eslint --fix, prettier --write

fixed some typecheck errors
  packages/web/components/Guild/GuildPlayers.tsx
Due: eslint --fix, prettier --write

fixed some typecheck errors
  packages/web/pages/guilds/[guildname].tsx
Due: eslint --fix, prettier --write

Re-added guild discord_invite_url column as it should be public
  hasura/metadata/tables.yaml
  hasura/migrations/1617071740377_guild_separate_discord_invite_url/down.sql
  hasura/migrations/1617071740377_guild_separate_discord_invite_url/up.sql
  packages/web/components/Guild/GuildLinks.tsx
  packages/web/graphql/fragments.ts
  schema.graphql
Due: eslint --fix, prettier --write

Stubbed out guild join setup page
  packages/web/components/Guild/GuildJoin.tsx
  packages/web/components/Guild/GuildJoinSetup.tsx
  packages/web/graphql/getGuilds.ts
  packages/web/pages/guild/[guildname].tsx
  packages/web/pages/guilds.tsx
  packages/web/pages/join/guild/index.tsx
  packages/web/pages/join/guild/setup.tsx
Due: eslint --fix, prettier --write

Added LEGACY guild type, made guild join setup page server-side rendered
  hasura/migrations/1617144708940_add_legacy_guild_status/down.sql
  hasura/migrations/1617144708940_add_legacy_guild_status/up.sql
  packages/design-system/package.json
  packages/design-system/src/index.ts
  packages/web/.eslintrc.json
  packages/web/components/Guild/GuildJoinSetup.tsx
  packages/web/graphql/getGuilds.ts
  packages/web/pages/guild/[guildname].tsx
  packages/web/pages/guilds.tsx
  packages/web/pages/join/guild/[guildname].tsx
  schema.graphql
  yarn.lock
Due: eslint --fix, prettier --write

Move ConfirmModal in ds
  packages/design-system/src/ConfirmModal.tsx
  packages/design-system/src/index.ts
  packages/web/components/Quest/CompletionForm.tsx
  packages/web/components/Quest/QuestCompletions.tsx
  packages/web/components/Quest/QuestForm.tsx
Due: eslint --fix, prettier --write

Extract pSeed balance
  packages/web/lib/hooks/balances.ts
  packages/web/pages/quests.tsx
Due: eslint --fix, prettier --write

Fix "created by me" switch
  packages/web/components/Quest/QuestFilter.tsx
Due: eslint --fix, prettier --write

Reword complete quest
  packages/web/pages/quest/[id]/complete.tsx
Due: eslint --fix, prettier --write

Style quest form
  packages/web/components/Quest/QuestForm.tsx
Due: eslint --fix, prettier --write

prettier
  packages/web/components/Quest/CompletionForm.tsx
  packages/web/components/Quest/QuestCompletions.tsx
  packages/web/components/Quest/QuestForm.tsx
  packages/web/config.ts
  packages/web/graphql/client.ts
Due: eslint --fix, prettier --write

lint
  packages/design-system/src/ConfirmModal.tsx
Due: eslint --fix, prettier --write

Fixed webhook auth for public requests
  packages/backend/src/handlers/auth-webhook/handler.ts
Due: eslint --fix, prettier --write

Handle both 'Bearer ' and 'Bearer' auth headers properly
  packages/backend/src/handlers/auth-webhook/handler.ts
Due: eslint --fix, prettier --write

Create ds
  docs/how-does-it-work/ds
Due: none

Delete ds
  docs/how-does-it-work/ds
Due: none

Update sidebars.js
  sidebars.js
Due: eslint --fix, prettier --write

Create A-Cautionary-Tale (#219)
  docs/how-does-it-work/a-cautionary-tale
Due: none

Fix formatting for 'A Cautionary Tale' (#220)
  docs/how-does-it-work/a-cautionary-tale.md
Due: prettier --write

refactor(playertile/hero): minor edit
  packages/design-system/src/index.ts
  packages/web/components/Player/PlayerAvatar.tsx
  packages/web/components/Player/PlayerTile.tsx
  packages/web/components/Player/Section/PlayerHero.tsx
  packages/web/utils/playerHelpers.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js}
  prettier --write: (any of: *.{ts,tsx,js}) or (any of: *.{json,yml,md})
