Repository MetaFam/TheGame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js}": ["eslint --fix", "prettier --write"],
  "*.{json,yml,md}": "prettier --write"
}

using a remote schema instead of an action for getBoxProfile
  hasura/Dockerfile
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
  hasura/metadata/remote_schemas.yaml
  hasura/metadata/tables.yaml
  packages/@types/express-graphql/index.d.ts
  packages/app-react/src/apollo/auth.js
  packages/app-react/src/components/PlayerDetails.tsx
  packages/app-react/src/serviceWorker.ts
  packages/backend/package.json
  packages/backend/src/handlers/actions/routes.ts
  packages/backend/src/handlers/actions/types.ts
  packages/backend/src/handlers/remote-schemas/resolvers/getBoxProfile/resolver.ts
  packages/backend/src/handlers/remote-schemas/routes.ts
  packages/backend/src/handlers/remote-schemas/schema.ts
  packages/backend/src/handlers/remote-schemas/typeDefs.ts
  packages/backend/src/handlers/remote-schemas/types.ts
  packages/backend/src/handlers/routes.ts
  packages/design-system/.storybook/themeDecorator.js
  packages/web/pages/index.tsx
  packages/web/pages/pokemon/[name].tsx
Due: eslint --fix, prettier --write

Add ethereum_address to Player model in order to get the box profile
  docker-compose.yml
  hasura/metadata/tables.yaml
  hasura/migrations/1575910000000_init/up.sql
  hasura/migrations/1595681063913_insert_seed_data/up.sql
  packages/backend/src/handlers/remote-schemas/resolvers/getBoxProfile/resolver.ts
Due: eslint --fix, prettier --write

Correct authentication webhook and frontend with ethereum_address in Player
  packages/app-react/src/apollo/auth.js
  packages/app-react/src/components/PlayerDetails.tsx
  packages/app-react/src/containers/Player.tsx
  packages/app-react/src/containers/PlayerList.tsx
  packages/app-react/src/graphql/fragments.ts
  packages/app-react/src/graphql/hooks.ts
  packages/app-react/src/graphql/queries.ts
  packages/app-react/src/utils/players.ts
  packages/backend/src/handlers/auth-webhook/users.ts
Due: eslint --fix, prettier --write

get3BoxProfile handler
  packages/backend/src/config.ts
  packages/backend/src/handlers/actions/getBoxProfile/handler.ts
  packages/backend/src/handlers/actions/routes.ts
  packages/backend/src/handlers/actions/types.ts
  packages/backend/src/lib/apiHelpers.ts
Due: eslint --fix, prettier --write

lint
  packages/backend/src/handlers/remote-schemas/schema.ts
  packages/backend/src/handlers/routes.ts
Due: eslint --fix, prettier --write

add ethereumAddress to getBoxProfile
  hasura/metadata/actions.graphql
  packages/backend/src/handlers/actions/getBoxProfile/handler.ts
  packages/backend/src/handlers/actions/types.ts
Due: eslint --fix, prettier --write

Refromat files and fix config
  .eslintrc.json
  packages/app-react/src/apollo/auth.js
  packages/app-react/src/components/PlayerDetails.tsx
  packages/app-react/src/graphql/queries.ts
  packages/app-react/src/serviceWorker.ts
  packages/backend/src/config.ts
  packages/backend/src/handlers/remote-schemas/resolvers/getBoxProfile/resolver.ts
  packages/backend/src/handlers/routes.ts
  packages/backend/src/lib/apiHelpers.ts
  packages/design-system/.storybook/themeDecorator.js
  packages/web/pages/index.tsx
  packages/web/pages/pokemon/[name].tsx
  yarn.lock
Due: eslint --fix, prettier --write

added getBoxProfile action
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
Due: none

get3BoxProfile handler
  packages/backend/src/handlers/actions/getBoxProfile/handler.ts
Due: eslint --fix, prettier --write

added getBoxProfile action
  hasura/metadata/actions.graphql
Due: none

using a remote schema instead of an action for getBoxProfile
  hasura/metadata/actions.graphql
  hasura/metadata/tables.yaml
  packages/app-react/src/components/PlayerDetails.tsx
  packages/app-react/src/serviceWorker.ts
  packages/backend/src/handlers/actions/getBoxProfile/handler.ts
  packages/backend/src/handlers/actions/types.ts
  packages/design-system/.storybook/themeDecorator.js
  packages/web/pages/index.tsx
  packages/web/pages/pokemon/[name].tsx
  yarn.lock
Due: eslint --fix, prettier --write

rename codegen package, fix generated types and move graphql-codegen deps to root
  README.md
  package.json
  packages/codegen/customFragments.ts
  packages/codegen/graphql-codegen-gql.yaml
  packages/codegen/graphql-codegen-typescript.yaml
  packages/codegen/package.json
  packages/codegen/schema.graphql
  packages/graphql-codegen/schema.graphql
Due: eslint --fix, prettier --write

Remove unnecesarry typedefs
  packages/@types/express-graphql/index.d.ts
Due: eslint --fix, prettier --write

Setup codegen for backend resolvers and improve 3Box types
  README.md
  package.json
  packages/@types/3box/index.d.ts
  packages/backend/codegen.yml
  packages/backend/package.json
  packages/backend/src/handlers/actions/types.ts
  packages/backend/src/handlers/actions/updateBoxProfile/handler.ts
  packages/backend/src/handlers/auth-webhook/handler.ts
  packages/backend/src/handlers/remote-schemas/resolvers/getBoxProfile/resolver.ts
  packages/backend/src/handlers/remote-schemas/routes.ts
  packages/backend/src/handlers/remote-schemas/schema.ts
  packages/backend/src/handlers/remote-schemas/types.ts
  packages/backend/src/handlers/routes.ts
  packages/codegen/package.json
Due: eslint --fix, prettier --write

Reformat files and update yarn.lock
  README.md
  packages/app-react/src/components/PlayerDetails.tsx
  packages/app-react/src/serviceWorker.ts
  packages/backend/src/handlers/remote-schemas/resolvers/getBoxProfile/resolver.ts
  packages/design-system/.storybook/themeDecorator.js
  packages/web/pages/index.tsx
  packages/web/pages/pokemon/[name].tsx
  yarn.lock
Due: eslint --fix, prettier --write

Move typecheck to happen before lint
  .github/workflows/PR-CI.yml
Due: prettier --write

Remove unused remote relationship
  hasura/metadata/tables.yaml
Due: none

Update Hasura to 1.3.0
  hasura/Dockerfile
  render.yaml
Due: none

Fix command for backend Dockerfile
  docker/backend/Dockerfile
Due: none

Update dependencies and fix updateBoxProfile handler.ts
  package.json
  packages/app-react/package.json
  packages/backend/package.json
  packages/backend/src/handlers/actions/updateBoxProfile/handler.ts
  packages/backend/src/lib/hasuraHelpers.ts
  packages/backend/src/lib/playerHelpers.ts
  packages/design-system/package.json
  yarn.lock
Due: eslint --fix, prettier --write

Setup Dependabot to keep packages up to date
  .dependabot/config.yml
Due: prettier --write

fixed eslint errors
  packages/web/next.config.js
  packages/web/pages/_app.tsx
  packages/web/pages/index.tsx
  packages/web/pages/login.tsx
Due: eslint --fix, prettier --write

login landing page + fixed fonts
  .gitignore
  packages/design-system/.storybook/main.js
  packages/design-system/.storybook/themeDecorator.js
  packages/design-system/src/index.ts
  packages/web/components/Link.tsx
  packages/web/next.config.js
  packages/web/package.json
  packages/web/pages/_app.tsx
  packages/web/pages/index.tsx
  packages/web/pages/login.jsx
  packages/web/public/images/background.png
  packages/web/public/images/metagame.png
  packages/web/public/images/players.png
  yarn.lock
Due: eslint --fix, prettier --write

fixed most of typecheck errors
  packages/design-system/src/index.ts
  packages/web/components/Link.tsx
  packages/web/images.d.ts
  packages/web/package.json
  packages/web/pages/login.tsx
  packages/web/tsconfig.json
Due: eslint --fix, prettier --write

review comments incorporated
  packages/web/components/Link.tsx
  packages/web/images.d.ts
  packages/web/next-env.d.ts
  packages/web/tsconfig.json
Due: eslint --fix, prettier --write

Move to v2 dependabot config
  .dependabot/config.yml
  .github/dependabot.yml
  .github/workflows/PR-CI.yml
Due: prettier --write
