Repository MetaFam/TheGame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

trying some string breaking 🐯
  .github/workflows/gcp-deploy.yaml
Due: none

removing what were hopefully extraneous spaces 🛋
  .github/workflows/gcp-deploy.yaml
Due: none

fixed altered variable name 👵
  .github/workflows/gcp-deploy.yaml
Due: none

damned dangling quote character 🏟
  .github/workflows/gcp-deploy.yaml
Due: none

more spacing issues 🏛
  .github/workflows/gcp-deploy.yaml
Due: none

adding necessary env dependency 🌭
  .github/workflows/gcp-deploy.yaml
Due: none

Form styling improvements, hide the apply button until user is logged in
  packages/web/components/Forms/Field.tsx
  packages/web/components/Guild/GuildForm.tsx
  packages/web/components/Guild/GuildJoin.tsx
Due: eslint --fix, prettier --write

Added common FieldDescription component
  packages/web/components/Forms/Field.tsx
  packages/web/components/Guild/GuildForm.tsx
Due: eslint --fix, prettier --write

fix: minor ui bugs
  packages/web/components/Player/Section/PlayerHero.tsx
  packages/web/components/Player/Section/PlayerMemberships.tsx
  packages/web/components/Player/Section/PlayerPronouns.tsx
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

refactor: using next api for fetching metadata + eslint updates
  package.json
  packages/backend/package.json
  packages/design-system/package.json
  packages/web/components/Player/Section/PlayerAddSection.tsx
  packages/web/components/Profile/EmbeddedUrlSection.tsx
  packages/web/components/Profile/ProfileSection.tsx
  packages/web/lib/hooks/useDelay.ts
  packages/web/package.json
  packages/web/pages/api/metadata.tsx
  yarn.lock
Due: eslint --fix, prettier --write

fix: triangular menu icon position and width
  packages/web/components/MegaMenu/MegaMenu.tsx
Due: eslint --fix, prettier --write

style: megamenu paddings
  packages/web/components/MegaMenu/MegaMenu.tsx
Due: eslint --fix, prettier --write

feat: default layout button
  packages/design-system/src/index.ts
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

style: set background color of body
  packages/design-system/src/theme/index.ts
Due: eslint --fix, prettier --write

style: megamenu changes
  packages/web/components/MegaMenu/MegaMenu.tsx
Due: eslint --fix, prettier --write

style: center the menu + revert size of xp and seeds
  packages/web/components/MegaMenu/MegaMenu.tsx
Due: eslint --fix, prettier --write

style: fix the jumping of menu when loading
  packages/web/components/MegaMenu/MegaMenu.tsx
Due: eslint --fix, prettier --write

style: fix player stats bar on mobile
  packages/web/components/MegaMenu/PlayerStatsBar.tsx
Due: eslint --fix, prettier --write

chore: rename button
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

fix: position of menu in relation to the triangle
  packages/web/components/MegaMenu/MegaMenu.tsx
Due: eslint --fix, prettier --write

making @polimyl’s suggested changes 🥬
  .github/workflows/gcp-deploy.yaml
Due: none

fixing final @polimyl’s final niggle 🍳
  .github/workflows/gcp-deploy.yaml
Due: none

refactor: reuse XP + seeds balance in menu on client and mobile
  packages/web/components/MegaMenu/MegaMenu.tsx
  packages/web/components/MegaMenu/PlayerStatsBar.tsx
  packages/web/components/MegaMenu/XPSeedsBalance.tsx
Due: eslint --fix, prettier --write

chore: font size and weight
  packages/web/components/MegaMenu/XPSeedsBalance.tsx
Due: eslint --fix, prettier --write

style: increase font size and icon of XP and seed on mobile
  packages/web/components/MegaMenu/PlayerStatsBar.tsx
  packages/web/components/MegaMenu/XPSeedsBalance.tsx
Due: eslint --fix, prettier --write

feat: show reset to default button only when changed
  packages/web/components/Player/Section/config.ts
  packages/web/pages/player/[username].tsx
  packages/web/utils/layoutHelpers.ts
Due: eslint --fix, prettier --write

Break GitHub Deployment Action Into Jobs (#1103)
  .github/workflows/PR-CI.yml
  .github/workflows/gcp-deploy.yaml
  README.md
  guides/BACKEND.md
  hasura/seed-db.mjs
  package.json
Due: prettier --write

style: improved styling of dropdown
  packages/web/components/MegaMenu.tsx
Due: eslint --fix, prettier --write

fix: type errors
  packages/web/components/MegaMenu.tsx
Due: eslint --fix, prettier --write

fix: remove type errors
  packages/web/components/MegaMenu.tsx
Due: eslint --fix, prettier --write

refactor: improved readability
  packages/web/components/MegaMenu.tsx
Due: eslint --fix, prettier --write

fix: router bug
  packages/web/components/MegaMenu.tsx
Due: eslint --fix, prettier --write

chore: remove unused vars
  packages/web/pages/search/players.tsx
Due: eslint --fix, prettier --write

separating login profile query, removing `fake-tag`, & adding jotai 🥟
  packages/backend/package.json
  packages/backend/src/handlers/actions/idxCache/updateSingle.ts
  packages/web/components/PlayerStatsBar.tsx
  packages/web/contexts/Web3Context.tsx
  packages/web/graphql/fragments.ts
  packages/web/graphql/getMe.ts
  packages/web/graphql/getMemberships.ts
  packages/web/graphql/getPatrons.ts
  packages/web/graphql/getPlayer.ts
  packages/web/graphql/getPlayers.ts
  packages/web/graphql/getQuest.ts
  packages/web/graphql/getQuests.ts
  packages/web/graphql/queries/enums/getPersonalityInfo.ts
  packages/web/graphql/queries/enums/getRoles.ts
  packages/web/graphql/queries/enums/getSkills.ts
  packages/web/graphql/types.ts
  packages/web/lib/hooks/index.ts
  packages/web/lib/store.ts
  packages/web/package.json
  packages/web/utils/playerHelpers.ts
  yarn.lock
Due: eslint --fix, prettier --write

attempting player wrapper-based in-app updates 🥕
  hasura/metadata/actions.yaml
  packages/web/components/Player/Section/PlayerHero.tsx
  packages/web/lib/hooks/index.ts
  packages/web/lib/store.ts
  packages/web/pages/player/[username].tsx
  packages/web/utils/cacheHelper.ts
Due: eslint --fix, prettier --write

making player and skill combination unique in skills table 🌻
  hasura/migrations/1643682237699_alter_table_public_player_skill_add_unique_player_id_skill_id/down.sql
  hasura/migrations/1643682237699_alter_table_public_player_skill_add_unique_player_id_skill_id/up.sql
Due: none

returning Player directly type from useUser instead nested value 🛩
  packages/web/components/Dashboard/XP.tsx
  packages/web/components/EditProfileForm.tsx
  packages/web/components/MegaMenu.tsx
  packages/web/components/Player/Section/PlayerBrightId.tsx
  packages/web/components/Player/Section/PlayerHero.tsx
  packages/web/components/PlayerStatsBar.tsx
  packages/web/components/Quest/QuestCompletions.tsx
  packages/web/components/Quest/QuestFilter.tsx
  packages/web/components/Setup/SetupDone.tsx
  packages/web/components/Setup/SetupPersonalityType.tsx
  packages/web/components/Setup/SetupPlayerType.tsx
  packages/web/components/Setup/SetupSkills.tsx
  packages/web/components/Setup/SetupTimeZone.tsx
  packages/web/components/Setup/SetupUsername.tsx
  packages/web/graphql/getMe.ts
  packages/web/graphql/types.ts
  packages/web/lib/hooks/index.ts
  packages/web/lib/hooks/useUserXP.ts
  packages/web/pages/me.tsx
  packages/web/pages/player/[username].tsx
  packages/web/pages/profile/setup/availability.tsx
  packages/web/pages/profile/setup/pronouns.tsx
  packages/web/pages/profile/setup/roles.tsx
  packages/web/pages/profile/setup/username.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,yml,md})
