Repository MetaFam/TheGame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js}": ["eslint --fix", "prettier --write"],
  "*.{json,yml,md}": "prettier --write"
}

fix player about-me section to not be its own file
  packages/web/components/Player/PlayerAboutMe.tsx
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

About Me component
  packages/web/components/Player/PlayerAboutMe.tsx
Due: eslint --fix, prettier --write

Remove empty file
  packages/web/components/Player/PlayerAboutMe.tsx
Due: eslint --fix, prettier --write

Remove H1 in About Me
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

mymeta aboutme (#100)
  packages/design-system/src/index.ts
  packages/design-system/src/typography.tsx
  packages/web/pages/player/[username].tsx
  packages/web/utils/playerHelpers.ts
Due: eslint --fix, prettier --write

add bot to monorepo
  package.json
Due: prettier --write

Add bot to mono initial commit
  package.json
  packages/bot/.env.sample
  packages/bot/README.md
  packages/bot/package.json
  packages/bot/src/environment.js
  packages/bot/src/error-utils.js
  packages/bot/src/handler-utils.js
  packages/bot/src/handlers/addAddress.js
  packages/bot/src/handlers/help.js
  packages/bot/src/handlers/index.js
  packages/bot/src/handlers/signup.js
  packages/bot/src/index.js
  packages/bot/src/parser/addAddress.js
  packages/bot/src/parser/addAddress.test.js
  packages/bot/src/parser/detectHandler.js
  packages/bot/src/parser/detectHandler.test.js
  packages/bot/src/parser/signup.js
  packages/bot/src/parser/signup.test.js
  packages/bot/src/parser/whitelistedChannels.js
  packages/bot/src/utils.js
  packages/bot/src/web3-utils.js
  yarn.lock
Due: eslint --fix, prettier --write

Update README
  packages/bot/README.md
Due: prettier --write

run eslint and prettier
  package.json
  packages/bot/README.md
  packages/bot/package.json
  packages/bot/src/environment.js
  packages/bot/src/error-utils.js
  packages/bot/src/handler-utils.js
  packages/bot/src/handlers/addAddress.js
  packages/bot/src/handlers/help.js
  packages/bot/src/handlers/index.js
  packages/bot/src/handlers/signup.js
  packages/bot/src/index.js
  packages/bot/src/parser/addAddress.js
  packages/bot/src/parser/addAddress.test.js
  packages/bot/src/parser/detectHandler.js
  packages/bot/src/parser/detectHandler.test.js
  packages/bot/src/parser/signup.js
  packages/bot/src/parser/signup.test.js
  packages/bot/src/parser/whitelistedChannels.js
  packages/bot/src/utils.js
  packages/bot/src/web3-utils.js
Due: eslint --fix, prettier --write

ignore ts rules for tests
  packages/bot/src/parser/addAddress.test.js
  packages/bot/src/parser/detectHandler.test.js
  packages/bot/src/parser/signup.test.js
Due: eslint --fix, prettier --write

Update signpost.md
  docs/enter-metagame/signpost.md
Due: prettier --write

Update TS version and setup SourceCred API in backend
  package.json
  packages/@types/sourcecred/index.d.ts
  packages/backend/package.json
  packages/utils/src/arrayHelpers.ts
  packages/utils/src/index.ts
  packages/utils/src/promiseHelpers.ts
  tsconfig.base.json
Due: eslint --fix, prettier --write

Fix typeError in Player.tsx
  packages/app-react/src/containers/Player.tsx
  packages/backend/package.json
Due: eslint --fix, prettier --write

Update yarn.lock
  yarn.lock
Due: none

Update yarn.lock and fix type errors
  packages/@types/3box/index.d.ts
  packages/backend/tsconfig.json
  packages/design-system/tsconfig.json
  packages/metamaps/package.json
  packages/metamaps/tsconfig.json
  packages/web/tsconfig.json
  tsconfig.base.json
  yarn.lock
Due: eslint --fix, prettier --write

Update TS, setup SourceCred SDK, and add helpers to utils (#107)
  package.json
  packages/@types/3box/index.d.ts
  packages/@types/sourcecred/index.d.ts
  packages/app-react/src/containers/Player.tsx
  packages/backend/package.json
  packages/backend/tsconfig.json
  packages/design-system/tsconfig.json
  packages/metamaps/package.json
  packages/metamaps/tsconfig.json
  packages/utils/src/arrayHelpers.ts
  packages/utils/src/index.ts
  packages/utils/src/promiseHelpers.ts
  packages/web/tsconfig.json
  tsconfig.base.json
  yarn.lock
Due: eslint --fix, prettier --write

Fix handler for SourceCred migration
  hasura/metadata/actions.yaml
  packages/backend/package.json
  packages/backend/src/handlers/actions/migrateSourceCredAccounts/handler.ts
  packages/backend/src/handlers/actions/types.ts
  packages/backend/src/handlers/actions/updateBoxProfile/updateVerifiedAccounts.ts
  packages/backend/src/handlers/graphql/mutations.ts
  packages/codegen/schema.graphql
  yarn.lock
Due: eslint --fix, prettier --write

Fix handler for SourceCred migration (#108)
  hasura/metadata/actions.yaml
  packages/backend/package.json
  packages/backend/src/handlers/actions/migrateSourceCredAccounts/handler.ts
  packages/backend/src/handlers/actions/types.ts
  packages/backend/src/handlers/actions/updateBoxProfile/updateVerifiedAccounts.ts
  packages/backend/src/handlers/graphql/mutations.ts
  packages/codegen/schema.graphql
  yarn.lock
Due: eslint --fix, prettier --write

lint errors
  package.json
  packages/bot/package.json
  packages/bot/src/environment.js
  packages/bot/src/handler-utils.js
  packages/bot/src/handlers/addAddress.js
  packages/bot/src/handlers/help.js
  packages/bot/src/handlers/index.js
  packages/bot/src/handlers/signup.js
  packages/bot/src/index.js
  packages/bot/src/parser/addAddress.js
  packages/bot/src/parser/addAddress.test.js
  packages/bot/src/parser/detectHandler.js
  packages/bot/src/parser/detectHandler.test.js
  packages/bot/src/parser/signup.js
  packages/bot/src/parser/signup.test.js
  packages/bot/src/parser/whitelistedChannels.js
  packages/bot/src/utils.js
  packages/design-system/.storybook/main.js
  yarn.lock
Due: eslint --fix, prettier --write

Initial project refactor
  packages/metamaps/components/ThreeBox.tsx
  packages/metamaps/components/app/Circle.tsx
  packages/metamaps/components/app/Container.tsx
  packages/metamaps/components/app/ContextMenu.tsx
  packages/metamaps/components/app/Image.tsx
  packages/metamaps/components/app/Line.tsx
  packages/metamaps/components/app/Menu.tsx
  packages/metamaps/components/app/Popup.tsx
  packages/metamaps/components/app/Square.tsx
  packages/metamaps/components/navigation/Navigation.create.tsx
  packages/metamaps/components/navigation/Navigation.items.tsx
  packages/metamaps/components/navigation/Navigation.title.tsx
  packages/metamaps/components/navigation/dispatch/Navigation.tsx
  packages/metamaps/components/navigation/style/Navigation.create.style.tsx
  packages/metamaps/components/navigation/style/Navigation.items.style.tsx
  packages/metamaps/components/navigation/style/Navigation.style.tsx
  packages/metamaps/components/navigation/style/Navigation.title.style.tsx
  packages/metamaps/components/shared/Loading.tsx
  packages/metamaps/components/shared/Metamask.tsx
  packages/metamaps/image/logo.png
  packages/metamaps/image/metamask.png
  packages/metamaps/next.config.js
  packages/metamaps/package.json
  packages/metamaps/pages/_app.tsx
  packages/metamaps/pages/index.tsx
  packages/metamaps/pages/map/[name].tsx
  packages/metamaps/redux/Reducer.state.tsx
  packages/metamaps/redux/Reducer.tsx
  packages/metamaps/redux/Reducer.types.tsx
  packages/metamaps/styles/Loading.tsx
  packages/metamaps/styles/Menu.tsx
  packages/metamaps/styles/Styles.tsx
  packages/metamaps/styles/ThreeBox.tsx
  yarn.lock
Due: eslint --fix, prettier --write

connect wallet instead of login button
  packages/web/components/LoginButton.tsx
  packages/web/components/PageHeader.tsx
  packages/web/contexts/Web3Context.tsx
  packages/web/package.json
  yarn.lock
Due: eslint --fix, prettier --write

clear all web3 state on disconnect
  packages/web/contexts/Web3Context.tsx
Due: eslint --fix, prettier --write

connect wallet instead of login button (#118)
  packages/web/components/LoginButton.tsx
  packages/web/components/PageHeader.tsx
  packages/web/contexts/Web3Context.tsx
  packages/web/package.json
  yarn.lock
Due: eslint --fix, prettier --write

restructure and reorganize components
  packages/web/components/PageHeader.tsx
  packages/web/components/PlayerList.tsx
  packages/web/components/Setup/SetupDone.tsx
  packages/web/components/Setup/SetupHeader.tsx
  packages/web/components/Setup/SetupPersonality.tsx
  packages/web/components/Setup/SetupProfession.tsx
  packages/web/components/SuccessPlayer.tsx
  packages/web/components/Welcome/RegisterPlayer.tsx
  packages/web/components/Welcome/WelcomeHeader.tsx
  packages/web/components/Welcome/WelcomePlayer.tsx
  packages/web/pages/_app.tsx
  packages/web/pages/index.tsx
  packages/web/pages/login.tsx
  packages/web/pages/profile/setup.tsx
  packages/web/pages/profile/success.tsx
  packages/web/pages/register.tsx
  packages/web/pages/welcome.tsx
Due: eslint --fix, prettier --write

Fix broken links and setup Search functionality (#119)
  .nvmrc
  docs/enter-metagame/how-to-become-a-player.md
  docs/enter-metagame/signpost.md
  docs/resources/glossary.md
  docs/style-guide.md
  docusaurus.config.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

Update for-players.md
  docs/start-here/for-players.md
Due: prettier --write

Update for-patrons.md
  docs/start-here/for-patrons.md
Due: prettier --write

Update for-guilds.md
  docs/start-here/for-guilds.md
Due: prettier --write

restructure and reorganize components (#119)
  packages/web/components/PageHeader.tsx
  packages/web/components/PlayerList.tsx
  packages/web/components/Setup/SetupDone.tsx
  packages/web/components/Setup/SetupHeader.tsx
  packages/web/components/Setup/SetupPersonality.tsx
  packages/web/components/Setup/SetupProfession.tsx
  packages/web/components/SuccessPlayer.tsx
  packages/web/components/Welcome/RegisterPlayer.tsx
  packages/web/components/Welcome/WelcomeHeader.tsx
  packages/web/components/Welcome/WelcomePlayer.tsx
  packages/web/pages/_app.tsx
  packages/web/pages/index.tsx
  packages/web/pages/login.tsx
  packages/web/pages/profile/setup.tsx
  packages/web/pages/profile/success.tsx
  packages/web/pages/register.tsx
  packages/web/pages/welcome.tsx
Due: eslint --fix, prettier --write

using react-select
  package.json
  packages/design-system/package.json
  packages/design-system/src/SelectSearch.tsx
  packages/design-system/src/index.ts
  packages/web/components/Setup/SetupSkills.tsx
  packages/web/contexts/SetupContext.tsx
  packages/web/pages/profile/setup.tsx
  packages/web/utils/skillHelpers.ts
  yarn.lock
Due: eslint --fix, prettier --write

skills map in context
  docker-compose.yml
  package.json
  packages/web/components/Setup/SetupHeader.tsx
  packages/web/components/Setup/SetupProfession.tsx
  packages/web/components/Setup/SetupSkills.tsx
  packages/web/contexts/SetupContext.tsx
  packages/web/graphql/getSkills.ts
  packages/web/pages/profile/setup.tsx
  packages/web/utils/skillHelpers.ts
Due: eslint --fix, prettier --write

removed sudo from package.json
  package.json
Due: prettier --write

fixed lint and format issues
  .prettierrc.json
  packages/design-system/src/SelectSearch.tsx
  packages/web/components/Setup/SetupHeader.tsx
  packages/web/components/Setup/SetupProfession.tsx
  packages/web/components/Setup/SetupSkills.tsx
  packages/web/contexts/SetupContext.tsx
  packages/web/graphql/getSkills.ts
  packages/web/pages/profile/setup.tsx
  packages/web/utils/skillHelpers.ts
Due: eslint --fix, prettier --write

added descriptions (#118)
  docs/enter-metagame/navigation-board.md
Due: prettier --write

Update xp.mdx (#117)
  docs/how-does-it-work/xp.mdx
Due: none

Setup netlify CMS (#120)
  docusaurus.config.js
  static/admin/config.yml
  static/admin/index.html
Due: eslint --fix, prettier --write

Remove open authoring
  static/admin/config.yml
Due: prettier --write

Skills Selector (#124)
  .prettierrc.json
  docker-compose.yml
  package.json
  packages/design-system/package.json
  packages/design-system/src/SelectSearch.tsx
  packages/design-system/src/index.ts
  packages/web/components/Setup/SetupProfession.tsx
  packages/web/components/Setup/SetupSkills.tsx
  packages/web/contexts/SetupContext.tsx
  packages/web/graphql/getSkills.ts
  packages/web/pages/profile/setup.tsx
  packages/web/utils/skillHelpers.ts
  yarn.lock
Due: eslint --fix, prettier --write

refactored setup flow
  packages/web/components/Setup/SetupAvailability.tsx
  packages/web/components/Setup/SetupHeader.tsx
  packages/web/components/Setup/SetupMemberships.tsx
  packages/web/components/Setup/SetupPersonality.tsx
  packages/web/components/Setup/SetupPersonalityType.tsx
  packages/web/components/Setup/SetupPlayerType.tsx
  packages/web/components/Setup/SetupProfession.tsx
  packages/web/components/Setup/SetupSkills.tsx
  packages/web/contexts/SetupContext.tsx
  packages/web/pages/profile/setup.tsx
  packages/web/utils/setupOptions.tsx
Due: eslint --fix, prettier --write

next button labels
  packages/design-system/src/MetaButton.tsx
  packages/web/components/Setup/SetupAvailability.tsx
  packages/web/components/Setup/SetupDone.tsx
  packages/web/components/Setup/SetupMemberships.tsx
  packages/web/components/Setup/SetupPersonalityType.tsx
  packages/web/components/Setup/SetupPlayerType.tsx
  packages/web/components/Setup/SetupSkills.tsx
  packages/web/contexts/SetupContext.tsx
  packages/web/utils/setupOptions.tsx
Due: eslint --fix, prettier --write
