Repository MetaFam/TheGame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,yml,md}": "prettier --write"
}

Upgrade to TypeScript v5 and fix resultant issues (#1584)
  packages/backend/package.json
  packages/web/components/Player/Section/PlayerDework.tsx
  packages/web/package.json
  yarn.lock
Due: eslint --fix, prettier --write

updates to include Error state when user has no dework profile
  packages/web/components/Player/Section/PlayerDework.tsx
Due: eslint --fix, prettier --write

better mobile display
  packages/web/components/Player/Section/PlayerDework.tsx
Due: eslint --fix, prettier --write

forgot to reset the loading state 🤦
  packages/web/components/Player/Section/PlayerDework.tsx
Due: eslint --fix, prettier --write

forgot to truncate the text
  packages/web/components/Player/Section/PlayerDework.tsx
Due: eslint --fix, prettier --write

no shrink for the loading icon
  packages/web/components/Player/Section/PlayerDework.tsx
Due: eslint --fix, prettier --write

update ProfileSection to include connected state for Dework
  packages/web/components/Player/Section/PlayerDework.tsx
Due: eslint --fix, prettier --write

style tidy for the dework block
  packages/web/components/Player/Section/PlayerDework.tsx
Due: eslint --fix, prettier --write

graphql stuff on FE
  hasura/metadata/tables.yaml
  packages/web/components/Player/Section/PlayerDework.tsx
Due: eslint --fix, prettier --write

Remove extraneous dependencies
  packages/backend/package.json
  packages/web/package.json
  yarn.lock
Due: prettier --write

Fixed urql issues
  package.json
  packages/web/graphql/getDeworkUsername.ts
  packages/web/package.json
  yarn.lock
Due: eslint --fix, prettier --write

Write and Read Dework URL to player_account
  hasura/metadata/tables.yaml
  packages/web/components/Player/Section/PlayerDework.tsx
Due: eslint --fix, prettier --write

updating graphql codegen \& removing more glaze 🐁
  package.json
  packages/backend/package.json
  packages/discord-bot/codegen.yml
  packages/discord-bot/package.json
  packages/web/package.json
  schema.graphql
  yarn.lock
Due: prettier --write

switching from `get-graphql-schema` to `@appollo/rover` & regenerating `schema.graphql` 👔
  package.json
  packages/backend/codegen.ts
  packages/backend/package.json
  packages/discord-bot/package.json
  packages/web/package.json
  schema.graphql
  yarn.lock
Due: eslint --fix, prettier --write

disabling failing pull request continuous integration workflow 🥡
  .github/workflows/PR-CI.yaml.disabled
  .github/workflows/gcp-deploy-pr.yaml
Due: none

big fix
  packages/web/components/MegaMenu/MegaMenuHeader.tsx
  packages/web/pages/index.tsx
  schema.graphql
Due: eslint --fix, prettier --write

dework fix by removing unnecessary value in gql, fix a rendering mismatch issue due to nested Text, add keys to non keyed values
  packages/web/components/Landing/UserGrid.tsx
  packages/web/components/Landing/WhatSay.tsx
  packages/web/components/Player/Section/PlayerDework.tsx
  packages/web/graphql/mutations/dework.ts
Due: eslint --fix, prettier --write

fix xp, make seasonal, ranking
  hasura/metadata/network.yaml
  hasura/metadata/tables.yaml
  hasura/migrations/1692708669846_alter_table_public_balance_drop_column_block_height/down.sql
  hasura/migrations/1692708669846_alter_table_public_balance_drop_column_block_height/up.sql
  hasura/migrations/1692711488273_insert_total_xp_into_initial/down.sql
  hasura/migrations/1692711488273_insert_total_xp_into_initial/up.sql
  hasura/migrations/1692711865996_alter_table_public_xp_add_column_seasonal_balance/down.sql
  hasura/migrations/1692711865996_alter_table_public_xp_add_column_seasonal_balance/up.sql
  packages/backend/src/handlers/actions/player/syncBalances.ts
  packages/backend/src/handlers/graphql/mutations/player.ts
  packages/backend/src/handlers/graphql/mutations/token.ts
  packages/backend/src/handlers/graphql/queries/player.ts
  packages/backend/src/lib/autogen/daohaus-sdk.ts
  packages/backend/src/lib/autogen/hasura-sdk.ts
  packages/web/graphql/autogen/types.ts
  schema.graphql
Due: eslint --fix, prettier --write

Work on player links query
  hasura/metadata/tables.yaml
  hasura/migrations/1692716914434_alter_table_public_link_alter_column_guild_id/down.sql
  hasura/migrations/1692716914434_alter_table_public_link_alter_column_guild_id/up.sql
  hasura/migrations/1692716921240_alter_table_public_link_alter_column_player_id/down.sql
  hasura/migrations/1692716921240_alter_table_public_link_alter_column_player_id/up.sql
  packages/web/components/Player/Section/PlayerLinks.tsx
  packages/web/graphql/queries/player.ts
  schema.graphql
Due: eslint --fix, prettier --write

removing branch restrictions 🧜🏿‍♀️
  .github/workflows/gcp-deploy-pr.yaml
Due: none

running typecheck on both `precommit` & `prepush` 🙊
  package.json
  packages/backend/package.json
  packages/design-system/package.json
  packages/discord-bot/package.json
  packages/utils/package.json
  packages/web/package.json
Due: prettier --write

testing `lint-staged` on root only 🍖
  package.json
  packages/backend/package.json
  packages/design-system/package.json
  packages/discord-bot/package.json
  packages/utils/package.json
  packages/web/lib/hooks/player/players.ts
  packages/web/package.json
Due: eslint --fix, prettier --write

🧯 yarn hasura metadata export *(Hasura failing to start on inconsistent metadata)*
  hasura/metadata/tables.yaml
Due: none

trying to specify `REMOTE_SCHEMA_ENDPOINT` to satiate Hasura 🥫
  .github/workflows/gcp-deploy-pr.yaml
Due: none

someone put \`s in a random variable 🍀
  .github/workflows/gcp-deploy-pr.yaml
Due: none

working on build task 🥳
  package.json
  packages/design-system/package.json
  packages/discord-bot/package.json
  packages/utils/package.json
  packages/web/pages/players.tsx
Due: eslint --fix, prettier --write

fixing `getStaticProps` TypeScript errors 🕷
  packages/web/components/Player/Section/PlayerMeToken.tsx
  packages/web/pages/players.tsx
  packages/web/pages/quest/[id].tsx
  packages/web/pages/quests.tsx
Due: eslint --fix, prettier --write

removing Husky's `pre-push` since everything's done on `commit` 🍸
  .husky/pre-push
Due: none

exposing `` in `env.outputs` 🛶
  .github/workflows/gcp-deploy-pr.yaml
Due: none

pointing `$REMOTE_SCHEMA_ENDPOINT` to actual GraphQL 🧲
  .github/workflows/gcp-deploy-pr.yaml
Due: none

`Player` type is missing 👩🏿‍⚖️
  packages/web/package.json
Due: prettier --write

regenerating `yarn.lock` to fix `graphql` 🇬🇺
  package.json
  yarn.lock
Due: prettier --write

Dework types, update username
  packages/web/components/Player/Section/PlayerDework.tsx
  packages/web/components/Section/ProfileSection.tsx
  packages/web/components/Setup/SetupDeworkURL.tsx
  packages/web/utils/dework.ts
Due: eslint --fix, prettier --write

fix some minor display inconsistencies and incorrect use of Chakra's component
  packages/web/components/Player/Section/PlayerMeToken.tsx
Due: eslint --fix, prettier --write

test commit to see if tooling is working 🍫
  guides/BACKEND.md
Due: prettier --write

update ProfileSection to include connected state for Dework
  packages/web/components/Player/Section/PlayerDework.tsx
  packages/web/components/Section/ProfileSection.tsx
Due: eslint --fix, prettier --write
