Repository MetaFam/TheGame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,yml,md}": "prettier --write"
}

Feature/mega menu alt (#758)
  packages/design-system/src/index.ts
  packages/design-system/src/theme/index.ts
  packages/web/assets/menuIcon/alliances.png
  packages/web/assets/menuIcon/asketh.png
  packages/web/assets/menuIcon/contribute.png
  packages/web/assets/menuIcon/discord.png
  packages/web/assets/menuIcon/forum.png
  packages/web/assets/menuIcon/grants.png
  packages/web/assets/menuIcon/guilds.png
  packages/web/assets/menuIcon/invest.png
  packages/web/assets/menuIcon/learn.png
  packages/web/assets/menuIcon/metagamewiki.png
  packages/web/assets/menuIcon/patrons.png
  packages/web/assets/menuIcon/playbooks.png
  packages/web/assets/menuIcon/players.png
  packages/web/assets/menuIcon/quests.png
  packages/web/assets/menuIcon/raids.png
  packages/web/assets/menuIcon/roles.png
  packages/web/assets/menuIcon/seedearned.png
  packages/web/assets/menuIcon/seeds.png
  packages/web/assets/menuIcon/thegreathouses.png
  packages/web/assets/menuIcon/welcometometagame.png
  packages/web/assets/menuIcon/xpearned.png
  packages/web/assets/search-icon.svg
  packages/web/assets/seed-icon.svg
  packages/web/assets/xp-star.svg
  packages/web/components/LoginButton.tsx
  packages/web/components/MegaMenu.tsx
  packages/web/components/PlayerStatsBar.tsx
  packages/web/pages/_app.tsx
  packages/web/utils/menuLinks.ts
Due: eslint --fix, prettier --write

Fixed internal MegaMenu links
  packages/web/utils/menuLinks.ts
Due: eslint --fix, prettier --write

Fixed duplicate MemberOf label in patron tile
  packages/web/components/Patron/PatronTile.tsx
Due: eslint --fix, prettier --write

Fixed duplicate MemberOf label in patron tile (#816)
  packages/web/components/Patron/PatronTile.tsx
Due: eslint --fix, prettier --write

Fixed internal MegaMenu links (#815)
  packages/web/utils/menuLinks.ts
Due: eslint --fix, prettier --write

Added player_role join table and PlayerRole enum table
  hasura/metadata/tables.yaml
  hasura/migrations/1630635244186_create_table_public_PlayerRole/down.sql
  hasura/migrations/1630635244186_create_table_public_PlayerRole/up.sql
  hasura/migrations/1630635736784_add_player_discord_roles/up.sql
  hasura/migrations/1630636031527_create_table_public_player_role/down.sql
  hasura/migrations/1630636031527_create_table_public_player_role/up.sql
  hasura/migrations/1630636068495_drop_table_public_guild_account/up.sql
Due: none

Added player_role permissions, playerRoleChanged trigger
  hasura/metadata/tables.yaml
  hasura/migrations/1630635244186_create_table_public_PlayerRole/up.sql
  packages/backend/src/handlers/triggers/handler.ts
  packages/backend/src/handlers/triggers/playerRankUpdated.ts
  packages/backend/src/handlers/triggers/playerRoleChanged.ts
Due: eslint --fix, prettier --write

Standardized player relationship names
  hasura/metadata/tables.yaml
  packages/backend/src/handlers/graphql/queries.ts
  packages/web/graphql/fragments.ts
  packages/web/graphql/getPlayers.ts
  packages/web/graphql/mutations/player.ts
  schema.graphql
Due: eslint --fix, prettier --write

Implemented discord role manager trigger
  hasura/seed-local-db.js
  packages/backend/src/handlers/graphql/queries.ts
  packages/backend/src/handlers/triggers/handler.ts
  packages/backend/src/handlers/triggers/playerRankUpdated.ts
  packages/backend/src/handlers/triggers/playerRoleChanged.ts
  packages/discord-bot/src/types.ts
  packages/utils/src/constants.ts
  packages/web/components/Patron/PatronTile.tsx
  packages/web/components/Player/PlayerContacts.tsx
  packages/web/components/Player/PlayerTile.tsx
  packages/web/components/Player/Section/PlayerHero.tsx
  packages/web/components/Player/Section/PlayerSkills.tsx
  packages/web/components/Setup/SetupPersonalityType.tsx
  packages/web/components/Setup/SetupPlayerType.tsx
  packages/web/pages/profile/setup/personalityType.tsx
  packages/web/pages/profile/setup/playerType.tsx
  packages/web/pages/profile/setup/skills.tsx
Due: eslint --fix, prettier --write

switch to MetaLink for edit profile
  packages/web/components/MegaMenu.tsx
Due: eslint --fix, prettier --write

add link to edit profile in mobie view
  packages/web/components/PlayerStatsBar.tsx
Due: eslint --fix, prettier --write

add slash
  packages/web/components/MegaMenu.tsx
  packages/web/components/PlayerStatsBar.tsx
Due: eslint --fix, prettier --write

add player menu
  packages/web/components/MegaMenu.tsx
  packages/web/components/PlayerStatsBar.tsx
Due: eslint --fix, prettier --write

switch to exo2 font
  packages/design-system/src/theme/index.ts
  packages/web/components/MegaMenu.tsx
  packages/web/pages/_document.tsx
Due: eslint --fix, prettier --write

align profile menu dropdown
  packages/web/components/MegaMenu.tsx
  packages/web/components/PlayerStatsBar.tsx
Due: eslint --fix, prettier --write

fix player menu alignment
  packages/web/components/PlayerStatsBar.tsx
Due: eslint --fix, prettier --write

it was View Profile not Edit Profile
  packages/web/components/MegaMenu.tsx
  packages/web/components/PlayerStatsBar.tsx
Due: eslint --fix, prettier --write

remove arrow down to open player menu
  packages/web/components/LoginButton.tsx
  packages/web/components/MegaMenu.tsx
  packages/web/components/PlayerStatsBar.tsx
Due: eslint --fix, prettier --write

replaced some links
  README.md
Due: prettier --write

added description of no-verify option
  README.md
Due: prettier --write

added a frequently asked question about Lerna
  README.md
Due: prettier --write

use hook to get disconnect method
  packages/web/components/MegaMenu.tsx
Due: eslint --fix, prettier --write

truncate pSeedBalance
  packages/web/components/MegaMenu.tsx
  packages/web/components/PlayerStatsBar.tsx
Due: eslint --fix, prettier --write

remove unnecessary props
  packages/web/components/MegaMenu.tsx
Due: eslint --fix, prettier --write

adding login display variable to query methods 🎯
  packages/web/graphql/getMe.ts
  packages/web/graphql/getPatrons.ts
  packages/web/graphql/getPlayer.ts
  packages/web/graphql/getPlayers.ts
  packages/web/graphql/getQuest.ts
Due: eslint --fix, prettier --write

added forLoginDisplay variable
  packages/web/graphql/fragments.ts
  packages/web/graphql/getMe.ts
  packages/web/lib/hooks/index.ts
Due: eslint --fix, prettier --write

🛠fix: typechecks for player.daohausMemberships
  packages/web/components/LoginButton.tsx
  packages/web/components/Patron/PatronTile.tsx
  packages/web/components/Player/PlayerTileMemberships.tsx
Due: eslint --fix, prettier --write

✅ Added @skip for unnecessary field in player fragment for login.
  packages/web/components/LoginButton.tsx
  packages/web/components/Patron/PatronTile.tsx
  packages/web/components/Player/PlayerContacts.tsx
  packages/web/components/Player/PlayerTile.tsx
  packages/web/graphql/fragments.ts
Due: eslint --fix, prettier --write

Updating Schema
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
  hasura/metadata/tables.yaml
  schema.graphql
Due: none

fix: hasura
  hasura/metadata/tables.yaml
Due: none

fix:schema
  packages/web/components/LoginButton.tsx
  packages/web/lib/hooks/index.ts
  schema.graphql
Due: eslint --fix, prettier --write

fix:hasura
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
Due: none

fix:schema file
  schema.graphql
Due: none

fix:schema
  schema.graphql
Due: none
