Repository MetaFam/TheGame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

configuring Hasura actions and triggers to cache profiles 🎡
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
  hasura/metadata/tables.yaml
  schema.graphql
Due: none

creating table to hold cached 3Box profile 🦘
  hasura/migrations/1625550966531_create_table_public_profile_cache/down.sql
  hasura/migrations/1625550966531_create_table_public_profile_cache/up.sql
  hasura/migrations/1625552324557_alter_table_public_profile_cache_add_column_player_id/down.sql
  hasura/migrations/1625552324557_alter_table_public_profile_cache_add_column_player_id/up.sql
  hasura/migrations/1625552537557_set_fk_public_profile_cache_player_id/down.sql
  hasura/migrations/1625552537557_set_fk_public_profile_cache_player_id/up.sql
  hasura/migrations/1625561772331_alter_table_public_profile_cache_add_unique_id/down.sql
  hasura/migrations/1625561772331_alter_table_public_profile_cache_add_unique_id/up.sql
Due: none

added tests for getNumWeeksInSeason
  packages/backend/src/lib/xpHelpers.ts
  packages/backend/tests/lib/xpHelpers.test.ts
Due: eslint --fix, prettier --write

removing favorite NFTs & stylis dependency ❇
  package.json
  packages/web/lib/hooks/opensea.ts
  yarn.lock
Due: eslint --fix, prettier --write

standardizing the capitalization of URL ⛽
  hasura/metadata/tables.yaml
  packages/backend/src/config.ts
  packages/backend/src/handlers/actions/3Box/cache3BoxProfile/updateCachedProfile.ts
  packages/backend/src/handlers/actions/3Box/refresh3BoxCache/cache3BoxProfiles.ts
  packages/backend/src/handlers/remote-schemas/resolvers/brightId/resolver.ts
  packages/backend/src/handlers/remote-schemas/resolvers/getBoxProfile/resolver.ts
  packages/backend/src/handlers/remote-schemas/typeDefs.ts
  packages/web/components/Guild/GuildJoin.tsx
  packages/web/config.ts
  packages/web/graphql/fragments.ts
  packages/web/lib/hooks/brightId.ts
  packages/web/utils/playerHelpers.ts
Due: eslint --fix, prettier --write

resolve moloch titles after DaoHaus schema change (#729)
  packages/backend/src/handlers/remote-schemas/resolvers/daohaus/queries.ts
  packages/backend/src/handlers/remote-schemas/resolvers/daohaus/resolver.ts
Due: eslint --fix, prettier --write

reviewing pull request 🇯🇲
  packages/backend/src/handlers/actions/idxCache/updateSingleProfile/handler.ts
  packages/backend/src/handlers/graphql/queries.ts
  packages/web/lib/hooks/opensea.ts
  yarn.lock
Due: eslint --fix, prettier --write

The color display on a player's profile is broken (fixes #716) (#722)
  packages/web/components/Player/Section/PlayerHero.tsx
Due: eslint --fix, prettier --write

updated player tile to show timezone instead of about
  packages/web/components/Player/Filter/AdjascentTimezonePlayers.tsx
  packages/web/components/Player/Filter/PlayerFilter.tsx
  packages/web/components/Player/Filter/PlayersNotFound.tsx
  packages/web/components/Player/PlayerContacts.tsx
  packages/web/components/Player/PlayerTile.tsx
  packages/web/components/Player/PlayerTileMemberships.tsx
Due: eslint --fix, prettier --write

fix rebase error
  hasura/metadata/tables.yaml
Due: none

adding timestamp to cache entries & creating initial population 🛩
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
  hasura/metadata/tables.yaml
  hasura/migrations/1625633004312_create_table_public_profile_cache/up.sql
  hasura/migrations/1625902075375_alter_table_public_profile_cache_add_column_last_checked_at/down.sql
  hasura/migrations/1625902075375_alter_table_public_profile_cache_add_column_last_checked_at/up.sql
  hasura/migrations/1626583570730_populate_profile_cache/down.sql
  hasura/migrations/1626583570730_populate_profile_cache/up.sql
Due: none

added script for seeding local database
  guides/BACKEND.md
  hasura/seed-local-db.js
  package.json
Due: eslint --fix, prettier --write

added guild position (internal / external)
  hasura/metadata/tables.yaml
Due: none

better search for timezone filter
  packages/design-system/package.json
  packages/design-system/src/MetaFilterSelect.tsx
  packages/design-system/src/SelectTimeZone.tsx
  packages/design-system/src/index.ts
  packages/web/components/Player/Filter/DesktopFilters.tsx
  packages/web/components/Player/Filter/MobileFilters.tsx
  packages/web/graphql/getPlayers.ts
  packages/web/lib/hooks/players.ts
  packages/web/package.json
  yarn.lock
Due: eslint --fix, prettier --write

reverting the timeout for Hasura to wait on the backend 🤹
  .github/workflows/PR-CI.yml
Due: prettier --write

seed GuildPosition table and set current guilds position to EXTERNAL
  hasura/migrations/1624473635605_seed_GuildPosition_and_set_guild_positions/up.sql
Due: none

added guild position (internal / external)
  hasura/metadata/tables.yaml
  hasura/migrations/1624445797214_create_table_public_GuildPosition/down.sql
  hasura/migrations/1624445797214_create_table_public_GuildPosition/up.sql
  hasura/migrations/1624445996962_alter_table_public_guild_add_column_position/down.sql
  hasura/migrations/1624445996962_alter_table_public_guild_add_column_position/up.sql
  hasura/migrations/1624446029497_set_fk_public_guild_position/down.sql
  hasura/migrations/1624446029497_set_fk_public_guild_position/up.sql
  packages/web/components/Guild/GuildHero.tsx
  packages/web/components/Guild/GuildTile.tsx
  packages/web/graphql/fragments.ts
  schema.graphql
Due: eslint --fix, prettier --write

fix: set a default DAO title
  packages/backend/src/handlers/remote-schemas/resolvers/daohaus/resolver.ts
Due: eslint --fix, prettier --write

added clarity snippet
  packages/web/pages/_app.tsx
Due: eslint --fix, prettier --write

link error fix
  packages/web/pages/_app.tsx
Due: eslint --fix, prettier --write

Use staging backend host for staging Hasura instance
  render.yaml
Due: none

chore: rebase and squash
  packages/web/pages/players.tsx
Due: eslint --fix, prettier --write

Use environment variable for SourceCred ledger branch
  packages/backend/src/config.ts
Due: eslint --fix, prettier --write

resolve moloch titles after DaoHaus schema change (#729)
  packages/backend/src/handlers/remote-schemas/resolvers/daohaus/resolver.ts
Due: eslint --fix, prettier --write

added documentation (#731)
  README.md
  guides/FRONTEND.md
Due: prettier --write

MyMeta Fix: Nested Link Error (#737)
  packages/web/components/Player/PlayerTile.tsx
Due: eslint --fix, prettier --write

wrong schema committed 🧦
  schema.graphql
Due: none

removing code that should be handled on the frontend 👩‍🏭
  packages/backend/src/handlers/remote-schemas/resolvers/daohaus/resolver.ts
Due: eslint --fix, prettier --write

readding removed aggregation permissions 🤝
  hasura/metadata/tables.yaml
Due: none

Add internal / external position property to guilds (closes #489)
  hasura/metadata/tables.yaml
  hasura/migrations/1624445797214_create_table_public_GuildPosition/down.sql
  hasura/migrations/1624445797214_create_table_public_GuildPosition/up.sql
  hasura/migrations/1624445996962_alter_table_public_guild_add_column_position/down.sql
  hasura/migrations/1624445996962_alter_table_public_guild_add_column_position/up.sql
  hasura/migrations/1624446029497_set_fk_public_guild_position/down.sql
  hasura/migrations/1624446029497_set_fk_public_guild_position/up.sql
  hasura/migrations/1624473635605_seed_GuildPosition_and_set_guild_positions/up.sql
  packages/backend/src/handlers/remote-schemas/resolvers/daohaus/resolver.ts
  packages/web/components/Guild/GuildHero.tsx
  packages/web/components/Guild/GuildTile.tsx
  packages/web/graphql/fragments.ts
  schema.graphql
Due: eslint --fix, prettier --write

Clarified github api token scope requirement
  guides/BACKEND.md
Due: prettier --write

Added shebang line on husky pre-* commands
  .husky/pre-commit
  .husky/pre-push
Due: none

Import all frontend components, assets, and menuLinks list
  packages/design-system/src/index.ts
  packages/design-system/src/theme/index.ts
  packages/web/assets/search-icon.svg
  packages/web/assets/seed-icon.svg
  packages/web/assets/xp-star.svg
  packages/web/components/MegaMenu.tsx
  packages/web/pages/_app.tsx
  packages/web/utils/menuLinks.ts
Due: eslint --fix, prettier --write

Remove playerstats
  packages/web/components/MegaMenu.tsx
  packages/web/pages/_app.tsx
Due: eslint --fix, prettier --write

Fix z-index, item type
  packages/web/components/MegaMenu.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,yml,md})
