Repository MetaFam/TheGame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Update index.js (#161)
  src/pages/index.js
Due: eslint --fix, prettier --write

Update wtf-is-metagame.mdx
  docs/wtf-is-metagame/wtf-is-metagame.mdx
Due: none

Implement player mockup based on Design reference
  packages/web/assets/fake/nft1.png
  packages/web/assets/fake/nft2.png
  packages/web/assets/moloch/ethereum.png
  packages/web/assets/moloch/hausdao.png
  packages/web/assets/moloch/metacartel.png
  packages/web/assets/moloch/metaclan.png
  packages/web/assets/moloch/metagame.png
  packages/web/assets/moloch/raid_guild.png
  packages/web/components/Player/Box/PlayerAchievements.tsx
  packages/web/components/Player/Box/PlayerAddBox.tsx
  packages/web/components/Player/Box/PlayerBoxe.tsx
  packages/web/components/Player/Box/PlayerCollab.tsx
  packages/web/components/Player/Box/PlayerContactButtons.tsx
  packages/web/components/Player/Box/PlayerGallery.tsx
  packages/web/components/Player/Box/PlayerHero.tsx
  packages/web/components/Player/Box/PlayerMemberships.tsx
  packages/web/components/Player/Box/PlayerSkills.tsx
  packages/web/components/Player/PlayerHero.tsx
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

Fix missing type
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

Feature/moar like designed (#177)
  packages/web/assets/fake/nft1.png
  packages/web/assets/fake/nft2.png
  packages/web/assets/moloch/ethereum.png
  packages/web/assets/moloch/hausdao.png
  packages/web/assets/moloch/metacartel.png
  packages/web/assets/moloch/metaclan.png
  packages/web/assets/moloch/metagame.png
  packages/web/assets/moloch/raid_guild.png
  packages/web/components/Player/Box/PlayerAchievements.tsx
  packages/web/components/Player/Box/PlayerAddBox.tsx
  packages/web/components/Player/Box/PlayerBoxe.tsx
  packages/web/components/Player/Box/PlayerCollab.tsx
  packages/web/components/Player/Box/PlayerContactButtons.tsx
  packages/web/components/Player/Box/PlayerGallery.tsx
  packages/web/components/Player/Box/PlayerHero.tsx
  packages/web/components/Player/Box/PlayerMemberships.tsx
  packages/web/components/Player/Box/PlayerSkills.tsx
  packages/web/components/Player/PlayerHero.tsx
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

Remove true in text and hide read more if less than 115 characters
  packages/web/components/Player/Box/PlayerHero.tsx
Due: eslint --fix, prettier --write

Hide view all/less if not more than 3 fake data
  packages/web/components/Player/Box/PlayerAchievements.tsx
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

Hide view all/less if not more than 3 fake data
  packages/web/components/Player/Box/PlayerGallery.tsx
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

Add username from 3Box
  packages/@types/3box/index.d.ts
  packages/web/components/Setup/SetupName.tsx
  packages/web/package.json
  packages/web/utils/setupOptions.tsx
  yarn.lock
Due: eslint --fix, prettier --write

Update index.html
  static/admin/index.html
Due: none

Hide unused sections, gallery and achievements
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

Exit setup flow when backing out of first screen
  packages/web/contexts/SetupContext.tsx
Due: eslint --fix, prettier --write

Locked bcrypto version to 5.2.0 to avoid compilation errors on macos
  package.json
  yarn.lock
Due: prettier --write

Locked bcrypto version to 5.2.0 to avoid compilation errors on macos (#190)
  package.json
  yarn.lock
Due: prettier --write

added in google analytics (#162)
  .gitignore
  docusaurus.config.js
  package.json
  src/pages/index.js
  static/admin/index.html
  yarn.lock
Due: eslint --fix, prettier --write

Reinstating the navbar ready for the DAO meetup (#163)
  docusaurus.config.js
  src/css/custom.scss
  src/pages/styles.module.scss
  src/pages/theRoom.module.scss
  static/img/mg-crystal.png
Due: eslint --fix, prettier --write

Fix GA_TAG Env variable (#165)
  docusaurus.config.js
  src/components/signpost.js
  src/pages/index.js
Due: eslint --fix, prettier --write

Exit setup flow when backing out of first screen (#189)
  packages/web/contexts/SetupContext.tsx
Due: eslint --fix, prettier --write

Fix NetlifyCMS (#164)
  docs/enter-metagame/how-to-become-a-player.md
  docs/how-does-it-work/xp.md
  docs/resources/alignment2021.md
  docs/wtf-is-metagame/metafam-way.md
  docs/wtf-is-metagame/wtf-is-metagame.md
  src/components/signpost.js
  static/admin/config.yml
  static/admin/index.html
Due: eslint --fix, prettier --write

Luxumbra hifi nav (#167)
  src/css/custom.scss
  src/pages/metaMansion.module.scss
  src/pages/metamansion.js
  src/pages/theroom.js
Due: eslint --fix, prettier --write

High Fidelity - add meta mansion (#168)
  src/pages/metamansion.js
  static/img/meta-mansion-map.png
Due: eslint --fix, prettier --write

Added get-graphql-schema to devDependencies so you don't need it install globally
  packages/codegen/package.json
Due: prettier --write

Add 'lerna' key to lerna.json to prevent errors
  lerna.json
Due: prettier --write

manifesto 2.0 (#169)
  docs/wtf-is-metagame/metafam-way.md
Due: prettier --write

Tooling improvements (#194)
  lerna.json
  packages/codegen/package.json
Due: prettier --write

Hotfix/hide unused sections (#183)
  packages/web/components/Player/Box/PlayerAchievements.tsx
  packages/web/components/Player/Box/PlayerGallery.tsx
  packages/web/components/Player/Box/PlayerHero.tsx
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

Update sidebars.js
  sidebars.js
Due: eslint --fix, prettier --write

Update how-to-become-a-player.md
  docs/enter-metagame/how-to-become-a-player.md
Due: prettier --write

Create obtaining-seeds (#170)
  docs/how-does-it-work/obtaining-seeds
Due: none

Rename obtaining-seeds to obtaining-seeds.md (#171)
  docs/how-does-it-work/obtaining-seeds.md
Due: prettier --write

Attempt at fixing typeform mobile loading issue (#172)
  src/components/typeform.js
Due: eslint --fix, prettier --write

Metamaps Table
  hasura/metadata/tables.yaml
  hasura/migrations/1606686200858_create_table_public_Map/down.sql
  hasura/migrations/1606686200858_create_table_public_Map/up.sql
Due: none

Update metamansion.js (#173)
  src/pages/metamansion.js
Due: eslint --fix, prettier --write

Update metamansion.js
  src/pages/metamansion.js
Due: eslint --fix, prettier --write

Meta mansion (#174)
  src/pages/metamansion.js
Due: eslint --fix, prettier --write

Added tz column to Player table to store IANA time zone name
  .gitignore
  hasura/migrations/1605829703638_alter_table_public_Player_add_column_tz/down.sql
  hasura/migrations/1605829703638_alter_table_public_Player_add_column_tz/up.sql
  packages/codegen/schema.graphql
  packages/design-system/package.json
  packages/design-system/src/SelectTimezone.tsx
  packages/web/components/Setup/SetupAvailability.tsx
  packages/web/components/Setup/SetupTimeZone.tsx
  packages/web/contexts/SetupContext.tsx
  packages/web/graphql/mutations/updateAboutYou.ts
  packages/web/package.json
  packages/web/utils/setupOptions.tsx
  packages/web/utils/skillHelpers.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js}
  prettier --write: (any of: *.{ts,tsx,js}) or (any of: *.{json,yml,md})
