Repository MetaFam/TheGame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

removed unneccesary '?'
  packages/backend/src/handlers/remote-schemas/resolvers/getBoxProfile/resolver.ts
Due: eslint --fix, prettier --write

updated frontend to display nft gallery from 3box/opensea
  packages/design-system/src/index.ts
  packages/web/components/Player/Box/PlayerGallery.tsx
  packages/web/config.ts
  packages/web/graphql/fragments.ts
  packages/web/lib/useOpenSeaCollectibles.ts
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

updated backend to read 3box collectiblesFavorite
  packages/backend/src/handlers/remote-schemas/resolvers/getBoxProfile/resolver.ts
Due: eslint --fix, prettier --write

prettier format
  README.md
  guides/BACKEND.md
Due: prettier --write

using theme colors/sizes
  packages/design-system/src/theme.ts
  packages/web/components/Player/Box/PlayerBoxe.tsx
  packages/web/components/Player/Box/PlayerCollab.tsx
  packages/web/components/Player/Box/PlayerGallery.tsx
  packages/web/lib/useOpenSeaCollectibles.ts
Due: eslint --fix, prettier --write

fixed nft price string
  packages/web/components/Player/Box/PlayerGallery.tsx
  packages/web/config.ts
  packages/web/lib/useOpenSeaCollectibles.ts
  packages/web/package.json
  yarn.lock
Due: eslint --fix, prettier --write

SEED ticker using CoinGecko
  packages/web/components/PageHeader.tsx
  packages/web/components/Ticker.tsx
  packages/web/package.json
Due: eslint --fix, prettier --write

updated frontend to display nft gallery from 3box/opensea (#222)
  README.md
  guides/BACKEND.md
  packages/design-system/src/index.ts
  packages/design-system/src/theme.ts
  packages/web/components/Player/Box/PlayerBoxe.tsx
  packages/web/components/Player/Box/PlayerCollab.tsx
  packages/web/components/Player/Box/PlayerGallery.tsx
  packages/web/config.ts
  packages/web/graphql/fragments.ts
  packages/web/lib/useOpenSeaCollectibles.ts
  packages/web/package.json
  packages/web/pages/player/[username].tsx
  yarn.lock
Due: eslint --fix, prettier --write

Updated hasura permissions on new table
  hasura/metadata/tables.yaml
Due: none

Added new dependencies for working with timezones
  packages/@types/react-timezone-select/index.d.ts
  packages/@types/spacetime-informal/index.d.ts
  packages/design-system/src/SelectSearch.tsx
  packages/design-system/src/SelectTimezone.tsx
  packages/design-system/src/index.ts
  packages/web/components/Player/Box/PlayerCollab.tsx
  packages/web/components/Player/PlayerTimeZone.tsx
  packages/web/components/Setup/SetupAvailability.tsx
  packages/web/components/Setup/SetupProfile.tsx
  packages/web/components/Setup/SetupSkills.tsx
  packages/web/components/Setup/SetupTimeZone.tsx
  packages/web/contexts/SetupContext.tsx
  packages/web/graphql/fragments.ts
  packages/web/graphql/mutations/updateProfile.ts
  packages/web/graphql/mutations/updateSkills.ts
  packages/web/package.json
  yarn.lock
Due: eslint --fix, prettier --write

Fix yarn command in Backend Guide
  guides/BACKEND.md
Due: prettier --write

Fix yarn command in Backend Guide (#229)
  guides/BACKEND.md
Due: prettier --write

Added SetupTimeZone component
  packages/design-system/package.json
  packages/design-system/src/SelectTimeZone.tsx
  packages/web/components/Setup/SetupAvailability.tsx
  packages/web/contexts/SetupContext.tsx
  packages/web/graphql/mutations/updateAboutYou.ts
  packages/web/package.json
  packages/web/utils/setupOptions.tsx
  packages/web/utils/skillHelpers.ts
  yarn.lock
Due: eslint --fix, prettier --write

Bumped spacetime-informal to use their types
  packages/@types/spacetime-informal/index.d.ts
  packages/web/package.json
  yarn.lock
Due: eslint --fix, prettier --write

MyMeta - App Drawer
  packages/web/assets/drawer/box.button.bg.png
  packages/web/assets/drawer/calendar.png
  packages/web/assets/drawer/desktop.box.png
  packages/web/assets/drawer/desktop.gradient.png
  packages/web/assets/drawer/discord.png
  packages/web/assets/drawer/forum.png
  packages/web/assets/drawer/github.png
  packages/web/assets/drawer/guilds.png
  packages/web/assets/drawer/leaderboard.png
  packages/web/assets/drawer/library.png
  packages/web/assets/drawer/metaview.png
  packages/web/assets/drawer/newsletter.png
  packages/web/assets/drawer/players.png
  packages/web/assets/drawer/quests.png
  packages/web/assets/drawer/raids.png
  packages/web/assets/drawer/seedmarket.png
  packages/web/assets/drawer/twitter.png
  packages/web/components/DrawerItems.tsx
  packages/web/components/MobileFooter.tsx
  packages/web/components/PageHeader.tsx
  packages/web/pages/_app.tsx
  packages/web/pages/_document.tsx
Due: eslint --fix, prettier --write

Create Player Guilds Table
  hasura/metadata/tables.yaml
  hasura/migrations/1605730139833_create_table_public_guild_player/down.sql
  hasura/migrations/1605730139833_create_table_public_guild_player/up.sql
Due: none

Squash Migrations for updating guild table
  hasura/migrations/1607539959503_alter_table_public_Guild_alter_column_type/down.sql
  hasura/migrations/1607539959503_alter_table_public_Guild_alter_column_type/up.sql
  hasura/migrations/1607541943080_alter_table_public_Guild_alter_column_type/down.sql
  hasura/migrations/1607541943080_alter_table_public_Guild_alter_column_type/up.sql
  hasura/migrations/1607542067988_alter_table_public_Guild_drop_column_identifier/down.sql
  hasura/migrations/1607542067988_alter_table_public_Guild_drop_column_identifier/up.sql
  hasura/migrations/1607542601049_alter_table_public_Guild_add_column_join_button_url/down.sql
  hasura/migrations/1607542601049_alter_table_public_Guild_add_column_join_button_url/up.sql
  hasura/migrations/1607542784081_alter_table_public_Guild_add_column_moloch_address/down.sql
  hasura/migrations/1607542784081_alter_table_public_Guild_add_column_moloch_address/up.sql
  hasura/migrations/1607543542472_alter_table_public_Guild_add_column_discord_invite_url/down.sql
  hasura/migrations/1607543542472_alter_table_public_Guild_add_column_discord_invite_url/up.sql
  hasura/migrations/1607543693841_alter_table_public_Guild_add_column_website_url/down.sql
  hasura/migrations/1607543693841_alter_table_public_Guild_add_column_website_url/up.sql
  hasura/migrations/1608424869168_update_guild_table/down.sql
  hasura/migrations/1608424869168_update_guild_table/up.sql
Due: none

Added some relationships:
  hasura/metadata/tables.yaml
Due: none

Setup Guilds table
  README.md
  hasura/metadata/tables.yaml
  hasura/migrations/1607539959503_alter_table_public_Guild_alter_column_type/down.sql
  hasura/migrations/1607539959503_alter_table_public_Guild_alter_column_type/up.sql
  hasura/migrations/1607539990954_alter_table_public_Guild_add_column_description/down.sql
  hasura/migrations/1607539990954_alter_table_public_Guild_add_column_description/up.sql
  hasura/migrations/1607540645353_update_guild_tyles/up.sql
  hasura/migrations/1607541858765_create_table_public_guild_account/down.sql
  hasura/migrations/1607541858765_create_table_public_guild_account/up.sql
  hasura/migrations/1607541943080_alter_table_public_Guild_alter_column_type/down.sql
  hasura/migrations/1607541943080_alter_table_public_Guild_alter_column_type/up.sql
  hasura/migrations/1607542067988_alter_table_public_Guild_drop_column_identifier/down.sql
  hasura/migrations/1607542067988_alter_table_public_Guild_drop_column_identifier/up.sql
  hasura/migrations/1607542601049_alter_table_public_Guild_add_column_join_button_url/down.sql
  hasura/migrations/1607542601049_alter_table_public_Guild_add_column_join_button_url/up.sql
  hasura/migrations/1607542784081_alter_table_public_Guild_add_column_moloch_address/down.sql
  hasura/migrations/1607542784081_alter_table_public_Guild_add_column_moloch_address/up.sql
  hasura/migrations/1607543542472_alter_table_public_Guild_add_column_discord_invite_url/down.sql
  hasura/migrations/1607543542472_alter_table_public_Guild_add_column_discord_invite_url/up.sql
  hasura/migrations/1607543693841_alter_table_public_Guild_add_column_website_url/down.sql
  hasura/migrations/1607543693841_alter_table_public_Guild_add_column_website_url/up.sql
  package.json
  yarn.lock
Due: prettier --write

Feature/add timezone backend (#230)
  .gitignore
  hasura/metadata/tables.yaml
  hasura/migrations/1605829703638_alter_table_public_Player_add_column_tz/down.sql
  hasura/migrations/1605829703638_alter_table_public_Player_add_column_tz/up.sql
  packages/codegen/schema.graphql
Due: none

SEED ticker using CoinGecko (#223)
  packages/web/components/PageHeader.tsx
  packages/web/components/Ticker.tsx
  packages/web/package.json
Due: eslint --fix, prettier --write

Refactor PlayerPage and remove mock components
  packages/design-system/src/index.ts
  packages/web/assets/main-background.jpg
  packages/web/components/Container.tsx
  packages/web/components/Player/Box/PlayerCollab.tsx
  packages/web/components/Player/Box/PlayerHero.tsx
  packages/web/components/Player/Section/PlayerAchievements.tsx
  packages/web/components/Player/Section/PlayerAddSection.tsx
  packages/web/components/Player/Section/PlayerCollab.tsx
  packages/web/components/Player/Section/PlayerContactButtons.tsx
  packages/web/components/Player/Section/PlayerGallery.tsx
  packages/web/components/Player/Section/PlayerHero.tsx
  packages/web/components/Player/Section/PlayerMemberships.tsx
  packages/web/components/Player/Section/PlayerSection.tsx
  packages/web/components/Player/Section/PlayerSkills.tsx
  packages/web/components/Setup/SetupProfile.tsx
  packages/web/pages/index.tsx
  packages/web/pages/player/[username].tsx
  packages/web/pages/profile/success.tsx
Due: eslint --fix, prettier --write

Add guildname field to uniquely identify guilds with friendly id
  hasura/migrations/1608450255714_add_guildname_column/down.sql
  hasura/migrations/1608450255714_add_guildname_column/up.sql
Due: none

Add permissions to select guilds
  hasura/metadata/tables.yaml
Due: none

update nextjs @10.0.3
  packages/web/package.json
  yarn.lock
Due: prettier --write

Use next image component for main app drawer icons
  packages/web/components/DrawerItems.tsx
  packages/web/components/MobileFooter.tsx
  packages/web/components/PageHeader.tsx
  packages/web/public/assets/drawer/box.button.bg.png
  packages/web/public/assets/drawer/calendar.png
  packages/web/public/assets/drawer/desktop.box.png
  packages/web/public/assets/drawer/desktop.gradient.png
  packages/web/public/assets/drawer/discord.png
  packages/web/public/assets/drawer/forum.png
  packages/web/public/assets/drawer/github.png
  packages/web/public/assets/drawer/guilds.png
  packages/web/public/assets/drawer/leaderboard.png
  packages/web/public/assets/drawer/library.png
  packages/web/public/assets/drawer/metaview.png
  packages/web/public/assets/drawer/newsletter.png
  packages/web/public/assets/drawer/players.png
  packages/web/public/assets/drawer/quests.png
  packages/web/public/assets/drawer/raids.png
  packages/web/public/assets/drawer/seedmarket.png
  packages/web/public/assets/drawer/twitter.png
  packages/web/public/assets/logo.png
  packages/web/public/assets/metagame.png
  packages/web/utils/DrawerItems.ts
Due: eslint --fix, prettier --write

change links
  packages/web/components/PageHeader.tsx
  packages/web/utils/DrawerItems.ts
Due: eslint --fix, prettier --write

backdrop to close drawer
  packages/design-system/src/index.ts
  packages/web/components/PageHeader.tsx
Due: eslint --fix, prettier --write

Links
  packages/web/components/MobileFooter.tsx
  packages/web/components/PageHeader.tsx
  packages/web/public/assets/drawer/seed_pool.png
  packages/web/utils/drawerItems.ts
Due: eslint --fix, prettier --write

typecheck
  packages/web/components/PageHeader.tsx
Due: eslint --fix, prettier --write

Add LoadingState and fix empty state for player page
  packages/design-system/src/LoadingState.tsx
  packages/design-system/src/index.ts
  packages/web/components/Player/Section/PlayerSection.tsx
  packages/web/components/Player/Section/PlayerSkills.tsx
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js}
  prettier --write: (any of: *.{ts,tsx,js}) or (any of: *.{json,yml,md})
