Repository MetaFam/TheGame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,yml,md}": "prettier --write"
}

deleting outdated files
  frontend/public/robots.txt
Due: none

added analytics
  packages/web/pages/_app.tsx
Due: eslint --fix, prettier --write

feat: attach chain information to Moloch
  packages/backend/src/handlers/remote-schemas/resolvers/daohaus/resolver.ts
  packages/backend/src/handlers/remote-schemas/typeDefs.ts
Due: eslint --fix, prettier --write

WIP halfway through getting chain info
  packages/web/assets/network/polygon.png
  packages/web/assets/network/xDai.png
  packages/web/components/Player/Section/PlayerMemberships.tsx
  packages/web/graphql/fragments.ts
  packages/web/graphql/getMemberships.ts
Due: eslint --fix, prettier --write

Update migrateSourceCredAccounts scripts to use Eth address as source of truth
  README.md
  hasura/Dockerfile
  package.json
  packages/@types/sourcecred/index.d.ts
  packages/backend/package.json
  packages/backend/src/handlers/actions/migrateSourceCredAccounts/handler.ts
  packages/backend/src/lib/sourcecredLedger.ts
  packages/discord-bot/package.json
  packages/utils/src/constants.ts
  yarn.lock
Due: eslint --fix, prettier --write

Add githubApiToken to backend config
  packages/backend/src/config.ts
Due: eslint --fix, prettier --write

feat: show network logo when no known logo exists
  packages/backend/src/handlers/remote-schemas/typeDefs.ts
  packages/web/components/Player/Section/PlayerMemberships.tsx
  schema.graphql
Due: eslint --fix, prettier --write

refactor: better naming
  packages/web/assets/chains/polygon.png
  packages/web/assets/chains/xDai.png
Due: none

WIP cleaned up dao lookup, needs some testing
  packages/backend/src/handlers/remote-schemas/resolvers/daohaus/resolver.ts
  packages/backend/src/lib/daoHausClient.ts
Due: eslint --fix, prettier --write

fix: cleanup chain info
  packages/backend/src/handlers/remote-schemas/resolvers/daohaus/resolver.ts
  packages/backend/src/lib/daoHausClient.ts
  packages/web/components/Player/Section/PlayerMemberships.tsx
Due: eslint --fix, prettier --write

refactor: remove TODO
  packages/web/components/Player/Section/PlayerMemberships.tsx
Due: eslint --fix, prettier --write

github actions for develop branch
  .github/workflows/PR-CI.yml
Due: prettier --write

Use staging backend host for staging Hasura instance
  render.yaml
Due: none

Add github secret to staging-backend env
  render.yaml
Due: none

Optimize memory usage for migrateSourceCredAccounts handler
  packages/backend/src/handlers/actions/migrateSourceCredAccounts/handler.ts
Due: eslint --fix, prettier --write

added analytics snippet
  packages/web/pages/_app.tsx
Due: eslint --fix, prettier --write

Make ethereum_address a non-nullable field in Player table
  hasura/migrations/1622090276691_require_player_ethaddress/down.sql
  hasura/migrations/1622090276691_require_player_ethaddress/up.sql
Due: none

Use Ethereum address as username when inserting new players
  packages/backend/src/handlers/actions/migrateSourceCredAccounts/handler.ts
Due: eslint --fix, prettier --write

Fix token config in render.yaml
  render.yaml
Due: none

fix: hide any daos without a title
  packages/web/components/Player/PlayerTileMemberships.tsx
Due: eslint --fix, prettier --write

Create wiki page for calendar (#230)
  docs/resources/calendar.mdx
  sidebars.js
  src/components/signpost.js
Due: eslint --fix, prettier --write

Update Resources “glossary” (#235)
  docs/resources/glossary.md
Due: prettier --write

Update How Does It Work “xp” (#236)
  docs/how-does-it-work/xp.md
Due: prettier --write

fix discord dead link (never expire & no limit) (#232)
  docs/enter-metagame/join-metagame.md
Due: prettier --write

removed the undesirable / (#217)
  docusaurus.config.js
Due: eslint --fix, prettier --write

Release develop branch to prod (#598)
  .github/workflows/PR-CI.yml
  README.md
  hasura/Dockerfile
  package.json
  packages/@types/sourcecred/index.d.ts
  packages/backend/package.json
  packages/backend/src/config.ts
  packages/backend/src/handlers/actions/migrateSourceCredAccounts/handler.ts
  packages/backend/src/lib/sourcecredLedger.ts
  packages/design-system/package.json
  packages/discord-bot/package.json
  packages/utils/package.json
  packages/utils/src/constants.ts
  packages/web/package.json
  render.yaml
  yarn.lock
Due: eslint --fix, prettier --write

Reworked GA addition implementation
  packages/web/config.ts
  packages/web/pages/_app.tsx
Due: eslint --fix, prettier --write

Added contribution guide
  guides/CONTRIBUTING.md
Due: prettier --write

Added weekly builder call
  guides/CONTRIBUTING.md
Due: prettier --write

allow aggregations in player table
  hasura/metadata/tables.yaml
Due: none

Gradients, colours & Icons added as per Figma
  packages/web/assets/colors/Ambition.svg
  packages/web/assets/colors/Balance.svg
  packages/web/assets/colors/Wisdom.svg
  packages/web/components/Player/ColorBar.tsx
  packages/web/graphql/getPersonalityInfo.ts
Due: eslint --fix, prettier --write

forgot to remove `SVG` from the ds import
  packages/web/components/Player/ColorBar.tsx
Due: eslint --fix, prettier --write
