Repository MetaFam/TheGame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,yml,md}": "prettier --write"
}

discovered some not renamed variables 🉐
  docker/frontend/Dockerfile
Due: none

adding swap space ☄
  .github/workflows/gcp-deploy-pr.yaml
Due: none

trying to expand Node's heap size 🧐
  .github/workflows/gcp-deploy-pr.yaml
Due: none

underscored rather than dashed 🌾
  .github/workflows/gcp-deploy-pr.yaml
Due: none

trying node 20 🦙
  docker/backend/Dockerfile
  docker/discord-bot/Dockerfile
  docker/frontend/Dockerfile
Due: none

switching to `python3` 🌮
  docker/backend/Dockerfile
  docker/discord-bot/Dockerfile
  docker/frontend/Dockerfile
Due: none

updating `node-gyp` & `better-sqlite3` 🛵
  .node-version
  package.json
  yarn.lock
Due: prettier --write

returning error details 🦚
  packages/web/pages/api/events.ts
Due: eslint --fix, prettier --write

trying a different mechanism for increasing the Node heap 🦟
  .github/workflows/gcp-deploy-pr.yaml
  packages/web/package.json
Due: prettier --write

fix: fix logic for checking the host. Now using a whitelist set in config.ts and checking that against the publicURL
  packages/web/config.ts
  packages/web/pages/api/events.ts
Due: eslint --fix, prettier --write

fix: was referencing the cal id with NEXT_PUBLIC_GOOGLE_CAL prefix but it is now GCAL_ - should sort the missing credentials issue
  packages/web/config.ts
Due: eslint --fix, prettier --write

Refactor code to be more dynamic
  packages/web/components/Landing/Signup/Cards.tsx
  packages/web/components/Landing/Signup/data.ts
  packages/web/components/Landing/Signup/index.tsx
Due: eslint --fix, prettier --write

printing settings for sanity check 🐻
  package.json
  packages/web/pages/api/events.ts
Due: eslint --fix, prettier --write

setting runtime environment 🌲
  .github/workflows/gcp-deploy-pr.yaml
Due: none

trying to set runtime env 👩🏿‍🔧
  .github/workflows/gcp-deploy-pr.yaml
Due: none

grabbing calendar id 🤴🏿
  packages/web/config.ts
Due: eslint --fix, prettier --write

replacing escapes newlines in private key 🍨
  packages/web/config.ts
  packages/web/pages/api/events.ts
Due: eslint --fix, prettier --write

removing logging 🥾
  packages/web/pages/api/events.ts
Due: eslint --fix, prettier --write

fix: body overflow issue when events have long descriptions
  packages/web/components/Dashboard/Calendar.tsx
Due: eslint --fix, prettier --write

Make active tab local variable, make OR condition more dynamic, minor changes
  packages/web/components/Landing/Signup/Cards.tsx
  packages/web/components/Landing/Signup/data.ts
  packages/web/components/Landing/Signup/index.tsx
  packages/web/lib/hooks/useActiveTab.ts
Due: eslint --fix, prettier --write

Fix nested ternary
  packages/web/components/Landing/Signup/index.tsx
Due: eslint --fix, prettier --write

Fix role scope issue
  packages/web/components/Landing/Signup/index.tsx
Due: eslint --fix, prettier --write

Fix redirect
  packages/web/components/Landing/Signup/index.tsx
Due: eslint --fix, prettier --write

Fix badge ternary
  packages/web/components/Landing/Signup/index.tsx
Due: eslint --fix, prettier --write

feat: style/design updates to calendar pop overs
  packages/design-system/src/theme/colors.ts
  packages/web/assets/logo-small.png
  packages/web/assets/logo-tiny.gif
  packages/web/components/Dashboard/Calendar.tsx
  packages/web/lib/hooks/useCalendar.ts
Due: eslint --fix, prettier --write

chore: clean up comments
  packages/web/components/Dashboard/Calendar.tsx
Due: eslint --fix, prettier --write

fix: use ListItem
  packages/web/components/Dashboard/Calendar.tsx
Due: eslint --fix, prettier --write

Fix import error
  packages/web/components/Landing/Signup/data.ts
Due: eslint --fix, prettier --write

Fix import again
  packages/web/components/Landing/Signup/index.tsx
Due: eslint --fix, prettier --write

fixed issues after review from @dysbulic
  packages/web/components/Dashboard/Calendar.tsx
Due: eslint --fix, prettier --write

fix: addressed comments from dys' review, removed a cpl of comments and increased the days initially displayed to fill the block
  packages/web/components/Dashboard/Calendar.tsx
  packages/web/lib/hooks/useCalendar.ts
  packages/web/pages/api/events.ts
Due: eslint --fix, prettier --write

Fix Google Calendar environment variables (#1638)
  .github/workflows/gcp-deploy-frontend.yaml
  .github/workflows/gcp-deploy-pr.yaml
  .node-version
  docker/backend/Dockerfile
  docker/discord-bot/Dockerfile
  docker/frontend/Dockerfile
  package.json
  packages/design-system/src/theme/colors.ts
  packages/web/assets/logo-small.png
  packages/web/assets/logo-tiny.gif
  packages/web/components/Dashboard/Calendar.tsx
  packages/web/config.ts
  packages/web/lib/hooks/useCalendar.ts
  packages/web/package.json
  packages/web/pages/api/events.ts
  yarn.lock
Due: eslint --fix, prettier --write

add rotating one liners
  packages/web/components/Landing/JoinUs.tsx
Due: eslint --fix, prettier --write

test fix
  packages/web/components/Landing/JoinUs.tsx
Due: eslint --fix, prettier --write

Fix animation
  packages/web/components/Landing/JoinUs.tsx
Due: eslint --fix, prettier --write

removing `yarn` v15 from `Dockerfile` 👼🏿
  .github/workflows/gcp-deploy-frontend.yaml
  docker/frontend/Dockerfile
Due: none

Fix eslint stuff
  packages/web/components/Landing/JoinUs.tsx
  packages/web/components/Landing/Signup/Cards.tsx
  packages/web/components/Landing/Signup/index.tsx
Due: eslint --fix, prettier --write

Fix linting error
  packages/web/components/Landing/Signup/index.tsx
Due: eslint --fix, prettier --write

CHange pro tier to say inquire
  packages/web/components/Landing/Signup/index.tsx
Due: eslint --fix, prettier --write
