Repository MetaFam/TheGame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,yml,md}": "prettier --write"
}

removing route & library used by Express web3.storage proxy 🎗
  packages/backend/package.json
  packages/backend/src/handlers/actions/routes.ts
  yarn.lock
Due: eslint --fix, prettier --write

web3.storage proxy proxying successfully 📢
  packages/web/pages/api/storage.tsx
  packages/web/pages/profile/info/index.tsx
Due: eslint --fix, prettier --write

pushing to @tenfinney
  hasura/metadata/tables.yaml
  hasura/migrations/1640078300535_move_avaialable_hours_column_to_profile/down.sql
  hasura/migrations/1640078300535_move_avaialable_hours_column_to_profile/up.sql
  packages/backend/src/handlers/actions/idxCache/updateSingle.ts
  packages/backend/src/handlers/graphql/mutations.ts
  packages/design-system/src/MultiSelect.tsx
  packages/design-system/src/SelectTimeZone.tsx
  packages/design-system/src/index.ts
  packages/design-system/src/theme/index.ts
  packages/design-system/tsconfig.build.json
  packages/design-system/tsconfig.json
  packages/utils/bin/test-retrieval.mjs
  packages/utils/schema/extended-profile.json5
  packages/utils/src/extendedProfileTypes.ts
  packages/web/graphql/fragments.ts
  packages/web/graphql/mutations/player.ts
  packages/web/pages/profile/setup/availability.tsx
  packages/web/tsconfig.json
  schema.graphql
  yarn.lock
Due: eslint --fix, prettier --write

failed attempt to convert the Discord bot to ESM 🎯
  docker/discord-bot/Dockerfile
  package.json
  packages/backend/tsconfig.json
  packages/discord-bot/src/auth.ts
  packages/discord-bot/src/config.ts
  packages/discord-bot/src/discord/commands/help.ts
  packages/discord-bot/src/graphql/queries.ts
  packages/discord-bot/tsconfig.json
  packages/utils/tsconfig.json
  tsconfig.base.json
  yarn.lock
Due: eslint --fix, prettier --write

fleshing out the extended profile schema for Ceramic 🥨
  packages/utils/schema/extended-profile.json5
  packages/utils/src/ExtendedProfileModel.json
  packages/web/components/Player/PlayerAvatar.tsx
Due: eslint --fix, prettier --write

yet more testing variable references 🎺
  .github/workflows/gcp-deploy.yaml
Due: none

camelCasing rather than CapitalCasing stylesheets 🚕
  packages/design-system/src/SelectSearch.tsx
  packages/design-system/src/SelectTimeZone.tsx
  packages/design-system/src/index.ts
  packages/design-system/src/theme/index.ts
  packages/web/components/EditProfileForm.tsx
  packages/web/components/Setup/SetupSkills.tsx
  packages/web/components/Skills.tsx
  packages/web/graphql/queries/enums/getRoles.ts
  packages/web/utils/stateFromHTML.ts
Due: eslint --fix, prettier --write

variablizing the Google Cloud deployment GitHub Action 🎊
  .github/workflows/gcp-deploy.yaml
  hasura/Dockerfile
Due: none

retrying GITHUB_ENV for setting 🎭
  .github/workflows/gcp-deploy.yaml
Due: none

seeing if caching is causing old code to be deployed 🍵
  .github/workflows/gcp-deploy.yaml
Due: none

I broke the deployment script. ¿Does this fix it? 🧖
  .github/workflows/gcp-deploy.yaml
Due: none

removing 3box
  packages/@types/3box/index.d.ts
  packages/backend/src/handlers/remote-schemas/resolvers/getBoxProfile/resolver.ts
  packages/backend/src/handlers/remote-schemas/schema.ts
Due: eslint --fix, prettier --write

upgrading react-form-hook from v6 to v7 🎡
  packages/web/components/Guild/GuildForm.tsx
  packages/web/components/Quest/CompletionForm.tsx
  packages/web/components/Quest/QuestForm.tsx
Due: eslint --fix, prettier --write

styling time zone select 💈
  packages/design-system/src/SelectTimeZone.tsx
  packages/design-system/src/theme/index.ts
Due: eslint --fix, prettier --write

trying to isolate why the dashboard won’t display 🎰
  packages/web/components/Dashboard/GridItem.tsx
  packages/web/components/Dashboard/LatestContentTabs/Watch.tsx
  packages/web/components/EditProfileForm.tsx
  packages/web/components/Player/PlayerTile.tsx
  packages/web/components/Player/Section/PlayerColorDisposition.tsx
  packages/web/components/Player/Section/PlayerHero.tsx
  packages/web/components/Player/Section/PlayerPronouns.tsx
  packages/web/components/Setup/SetupSkills.tsx
  packages/web/config.ts
  packages/web/contexts/Web3Context.tsx
  packages/web/graphql/client.ts
  packages/web/graphql/getPlayer.ts
  packages/web/pages/dashboard.tsx
Due: eslint --fix, prettier --write

migrating style definitions to a common location 🎯
  packages/design-system/src/BoxedNextImage.tsx
  packages/design-system/src/LoadingState.tsx
  packages/design-system/src/SelectSearch.tsx
  packages/design-system/src/SelectTimeZone.tsx
  packages/design-system/src/index.ts
  packages/design-system/src/theme/index.ts
  packages/web/components/LoginButton.tsx
  packages/web/components/Setup/SetupSkills.tsx
  packages/web/components/Skills.tsx
  packages/web/utils/questHelpers.ts
Due: eslint --fix, prettier --write

changing hashfiles input to try and get a rebuild 🍥
  .github/workflows/gcp-deploy.yaml
Due: none

💮 yarn lint --fix
  packages/web/lib/hooks/players.ts
Due: eslint --fix, prettier --write

modifying db seeding to work with unmodified production endpoint 🏭
  hasura/seed-local-db.js
Due: eslint --fix, prettier --write

battling typescript & eslint to get this pushed 🧁
  packages/design-system/src/MetaFilterSelect.tsx
  packages/design-system/src/SelectTimeZone.tsx
  packages/design-system/src/index.ts
  packages/web/components/EditProfileForm.tsx
  packages/web/components/Patron/PatronTile.tsx
  packages/web/components/Player/ColorBar.tsx
  packages/web/components/Player/Filter/AdjascentTimeZonePlayers.tsx
  packages/web/components/Player/Filter/DesktopFilters.tsx
  packages/web/components/Player/Filter/MobileFilters.tsx
  packages/web/components/Player/Filter/PlayerFilter.tsx
  packages/web/components/Player/PlayerTile.tsx
  packages/web/components/Player/Section/PlayerHero.tsx
  packages/web/components/Setup/SetupPersonalityType.tsx
  packages/web/components/Setup/SetupTimeZone.tsx
  packages/web/graphql/getPlayer.ts
  packages/web/graphql/getPlayers.ts
  packages/web/lib/hooks/players.ts
  packages/web/package.json
  packages/web/pages/api/storage.tsx
  packages/web/pages/community/players.tsx
  packages/web/utils/dateHelpers.ts
  yarn.lock
Due: eslint --fix, prettier --write

resolving typecheck errors 🀄
  packages/utils/src/ExtendedProfileModel.json
  packages/web/components/Player/Section/PlayerColorDisposition.tsx
  packages/web/components/Player/Section/PlayerHero.tsx
  packages/web/components/Player/Section/PlayerPronouns.tsx
  packages/web/graphql/queries/enums/getExplorerTypes.ts
Due: eslint --fix, prettier --write

preparing to upgrade React to see if it fixed react-hook-form 💺
  packages/backend/package.json
  packages/design-system/src/SelectTimeZone.tsx
  packages/design-system/src/theme/index.ts
  packages/web/components/EditProfileForm.tsx
  packages/web/components/Player/Filter/PlayerFilter.tsx
  packages/web/components/PlayerStatsBar.tsx
  packages/web/config.ts
  packages/web/package.json
  yarn.lock
Due: eslint --fix, prettier --write

camel-casing quest properties 🍒
  hasura/metadata/actions.graphql
  hasura/metadata/tables.yaml
  packages/backend/src/handlers/actions/guild/saveGuildHandler.ts
  packages/backend/src/handlers/actions/quests/createCompletion/createCompletion.ts
  packages/backend/src/handlers/actions/quests/createQuest/createQuest.ts
  packages/backend/src/handlers/actions/quests/updateCompletion/updateCompletion.ts
  packages/backend/src/handlers/graphql/mutations.ts
  packages/backend/src/handlers/graphql/queries.ts
  packages/web/components/Dashboard/Leaderboard.tsx
  packages/web/components/Dashboard/XP.tsx
  packages/web/components/Quest/CompletionForm.tsx
  packages/web/components/Quest/QuestCompletions.tsx
  packages/web/components/Quest/QuestDetails.tsx
  packages/web/components/Quest/QuestFilter.tsx
  packages/web/components/Quest/QuestForm.tsx
  packages/web/components/Quest/QuestTile.tsx
  packages/web/graphql/fragments.ts
  packages/web/graphql/getPlayers.ts
  packages/web/graphql/getQuests.ts
  packages/web/graphql/mutations/updateQuest.ts
  packages/web/graphql/mutations/updateQuestCompletion.ts
  packages/web/lib/hooks/quests.ts
  packages/web/pages/guild/[guildname].tsx
  packages/web/pages/quest/[id]/complete.tsx
  packages/web/pages/quest/[id]/edit.tsx
  packages/web/utils/questHelpers.ts
  schema.graphql
Due: eslint --fix, prettier --write

fixing type errors in the Discord bot 🏤
  packages/discord-bot/src/auth.ts
  packages/discord-bot/src/discord/commands/getXp.ts
Due: eslint --fix, prettier --write

still more testing variable references 🍞
  .github/workflows/gcp-deploy.yaml
Due: none

moved to packages/web/pages/api/storage.tsx 🧠
  packages/backend/src/handlers/actions/storage/handler.ts
Due: eslint --fix, prettier --write

lotsa work on the profile editing flow & some styling 🌋
  packages/design-system/src/index.ts
  packages/web/components/EditProfileForm.tsx
  packages/web/components/Player/Section/PlayerSkills.tsx
  packages/web/components/Setup/SetupSkills.tsx
  packages/web/pages/profile/info/index.tsx
  packages/web/utils/linkHelpers.ts
  packages/web/utils/skillHelpers.ts
Due: eslint --fix, prettier --write

moving availability to profile table & cleaning up time zone typing 🍫
  hasura/metadata/tables.yaml
  hasura/migrations/1640176497098_alter_table_public_profile_add_column_time_zone/down.sql
  hasura/migrations/1640176497098_alter_table_public_profile_add_column_time_zone/up.sql
  packages/design-system/src/MetaFilterSelect.tsx
  packages/design-system/src/SelectTimeZone.tsx
  packages/design-system/src/index.ts
  packages/web/components/Dashboard/Leaderboard.tsx
  packages/web/components/Player/Filter/AdjacentTimezonePlayers.tsx
  packages/web/components/Player/Filter/AdjascentTimeZonePlayers.tsx
  packages/web/components/Player/Filter/DesktopFilters.tsx
  packages/web/components/Player/Filter/MobileFilters.tsx
  packages/web/components/Player/Filter/PlayerFilter.tsx
  packages/web/components/Player/PlayerTile.tsx
  packages/web/components/Setup/SetupAvailability.tsx
  packages/web/components/Setup/SetupTimeZone.tsx
  packages/web/graphql/getPlayers.ts
  packages/web/graphql/mutations/player.ts
  packages/web/pages/community/players.tsx
  packages/web/utils/dateHelpers.ts
  schema.graphql
Due: eslint --fix, prettier --write

adding test program to retrieve profile 📺
  packages/utils/bin/test-retrieval.mjs
Due: none

debugged player image loading
  packages/web/components/EditProfileForm.tsx
  packages/web/utils/playerHelpers.ts
Due: eslint --fix, prettier --write

typo 🤑
  .github/workflows/gcp-deploy.yaml
Due: none

attempting to pull the HEAD for the PR 🧱
  .github/workflows/gcp-deploy.yaml
Due: none

committing to push to @tenfinney ⚛
  packages/web/codegen.yml
  packages/web/contexts/Web3Context.tsx
  packages/web/graphql/getPlayers.ts
  packages/web/lib/hooks/players.ts
  packages/web/pages/community/players.tsx
Due: eslint --fix, prettier --write

adding loading ExtendedProfile
  packages/backend/src/handlers/actions/idxCache/updateSingle.ts
  packages/utils/schema/extended-profile.json5
  packages/utils/src/ExtendedProfileModel.json
Due: eslint --fix, prettier --write

https://stackoverflow.com/a/64940811/264008 & https://stackoverflow.com/a/66260842/264008 🌇
  .eslintignore
  .eslintrc.js
  .eslintrc.json
Due: eslint --fix, prettier --write

printing some GitHub Action debug info 🚋
  .github/workflows/gcp-deploy.yaml
Due: none

many many typing changes post moving username from player to player.profile 🥁
  hasura/metadata/tables.yaml
  packages/backend/src/handlers/actions/migrateSourceCredAccounts/handler.ts
  packages/backend/src/handlers/graphql/mutations.ts
  packages/backend/src/handlers/graphql/queries.ts
  packages/backend/src/handlers/triggers/playerRankUpdated.ts
  packages/backend/src/handlers/triggers/playerRoleChanged.ts
  packages/web/components/Dashboard/Leaderboard.tsx
  packages/web/components/EditProfileForm.tsx
  packages/web/components/Guild/Section/GuildPlayer.tsx
  packages/web/components/Guild/Section/GuildPlayers.tsx
  packages/web/components/Patron/PatronTile.tsx
  packages/web/components/Player/PlayerList.tsx
  packages/web/components/Player/PlayerTile.tsx
  packages/web/components/PlayerStatsBar.tsx
  packages/web/components/Quest/QuestCompletions.tsx
  packages/web/components/Seo.tsx
  packages/web/components/Setup/SetupPronouns.tsx
  packages/web/graphql/fragments.ts
  packages/web/graphql/getPlayer.ts
  packages/web/graphql/getPlayers.ts
  packages/web/graphql/mutations/player.ts
  packages/web/graphql/queries/enums/getPlayerTypes.ts
  packages/web/graphql/queries/enums/getRoles.ts
  packages/web/graphql/queries/guild.ts
  packages/web/graphql/types.ts
  packages/web/lib/hooks/index.ts
  packages/web/pages/profile/setup/pronouns.tsx
  packages/web/pages/profile/setup/username.tsx
  packages/web/utils/playerHelpers.ts
  schema.graphql
Due: eslint --fix, prettier --write

removing circular dependency 🧟
  packages/design-system/package.json
Due: prettier --write

more testing on GitHub 🏘
  .github/workflows/gcp-deploy.yaml
Due: none
