Repository MetaFam/TheGame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,yml,md}": "prettier --write"
}

Stubbed out SetupRoles step
  hasura/metadata/tables.yaml
  packages/web/assets/roles/artist.svg
  packages/web/assets/roles/builder.svg
  packages/web/assets/roles/designer.svg
  packages/web/assets/roles/innkeeper.svg
  packages/web/assets/roles/patron.svg
  packages/web/assets/roles/shiller.svg
  packages/web/assets/roles/writer.svg
  packages/web/components/Player/ColorBar.tsx
  packages/web/components/Player/Section/PlayerHero.tsx
  packages/web/components/Setup/SetupPersonalityType.tsx
  packages/web/components/Setup/SetupRoles.tsx
  packages/web/graphql/fragments.ts
  packages/web/graphql/mutations/player.ts
  packages/web/graphql/queries/enums/getPersonalityInfo.ts
  packages/web/graphql/queries/enums/getPlayerTypes.ts
  packages/web/graphql/queries/enums/getRoles.ts
  packages/web/graphql/queries/enums/getSkills.ts
  packages/web/pages/profile/setup/personalityType.tsx
  packages/web/pages/profile/setup/playerType.tsx
  packages/web/pages/profile/setup/roles.tsx
  packages/web/pages/profile/setup/skills.tsx
  packages/web/pages/quest/[id]/edit.tsx
  packages/web/pages/quest/create.tsx
  packages/web/utils/setupOptions.tsx
  schema.graphql
Due: eslint --fix, prettier --write

Fixed permissions in hasura metadata
  hasura/metadata/tables.yaml
Due: none

Added emojis and descriptions to player roles
  hasura/metadata/tables.yaml
  hasura/migrations/1631675618782_add_details_to_PlayerRole/down.sql
  hasura/migrations/1631675618782_add_details_to_PlayerRole/up.sql
Due: none

Use generic Field component in QuestForm
  packages/web/components/Quest/QuestForm.tsx
Due: eslint --fix, prettier --write

Removed reference to old PlayerRole_Enum
  hasura/metadata/tables.yaml
  packages/backend/src/handlers/triggers/playerRoleChanged.ts
Due: eslint --fix, prettier --write

Always toggle loader in effect
  packages/web/pages/profile/setup/roles.tsx
Due: eslint --fix, prettier --write

Always toggle loader in effect (#862)
  packages/web/pages/profile/setup/roles.tsx
Due: eslint --fix, prettier --write

Update how-to-coach-eth.md (#305)
  docs/playbooks/how-to-coach-eth.md
Due: prettier --write

Luxumbra/306 fix styling (#308)
  docusaurus.config.js
  src/components/signpost.js
  src/components/signpost.module.scss
  src/css/custom.scss
  src/pages/index.js
Due: eslint --fix, prettier --write

Updates Docusaurus to the latest stable (2.0.0-beta.7) and adds VSCode Remote's auto-generated dockerfiles to gitignore. (#309)
  .gitignore
  package.json
  yarn.lock
Due: prettier --write

set link to home
  packages/web/components/MegaMenu.tsx
Due: eslint --fix, prettier --write

add link to logo
  packages/web/components/MegaMenu.tsx
Due: eslint --fix, prettier --write

GA tags to make GA track traffic properly. (#310)
  docusaurus.config.js
Due: eslint --fix, prettier --write

Fixes #244 - 404 on /docs. (#311)
  docs/home.mdx
  docusaurus.config.js
  package.json
  src/pages/index.js
  yarn.lock
Due: eslint --fix, prettier --write

Create pull_request_template.md
  pull_request_template.md
Due: prettier --write

add issue templates
  .github/ISSUE_TEMPLATE/bug-report.yaml
  .github/ISSUE_TEMPLATE/feature-request.yaml
Due: none

make parameters of seed-local-db.js customizable via env vars
  hasura/seed-local-db.js
Due: eslint --fix, prettier --write

add seeding step to preview deploy workflow
  .github/workflows/gcp-deploy.yaml
Due: none

install missing packages in seeding step
  .github/workflows/gcp-deploy.yaml
Due: none

temporarily move package.json so npm doesnt install packages from it
  .github/workflows/gcp-deploy.yaml
Due: none

add github api token and sourcecred branch env vars to previews
  .github/workflows/gcp-deploy.yaml
Due: none

limit max preview instances to 1 because hasura hates not being alone
  .github/workflows/gcp-deploy.yaml
Due: none

Create MyMeta-Feature-Proposal.yaml
  .github/MyMeta_ISSUE_TEMPLATES/MyMeta-Feature-Proposal.yaml
Due: none

Delete .github/MyMeta_ISSUE_TEMPLATES directory
  .github/MyMeta_ISSUE_TEMPLATES/MyMeta-Feature-Proposal.yaml
Due: none

Create decentralized-roadmap-drafting.yaml
  .github/ISSUE_TEMPLATE/decentralized-roadmap-drafting.yaml
Due: none

Update decentralized-roadmap-drafting.yaml
  .github/ISSUE_TEMPLATE/decentralized-roadmap-drafting.yaml
Due: none

feat: set up dashboard page
  packages/web/pages/dashboard.tsx
Due: eslint --fix, prettier --write

feat: direct user to dashboard on MetaLink click
  packages/web/components/MegaMenu.tsx
Due: eslint --fix, prettier --write

First pass of UI config for the dashboard - Namely adding in React Grid Layout and setting it up to save a users layouts to localStorage. It is responsive.
  README.md
  packages/web/package.json
  packages/web/pages/dashboard.tsx
  yarn.lock
Due: eslint --fix, prettier --write

Slight refactor of the dash grid code & removed lodash
  packages/web/package.json
  packages/web/pages/dashboard.tsx
  yarn.lock
Due: eslint --fix, prettier --write

Update tokenlog.json
  tokenlog.json
Due: prettier --write
