Repository MetaFam/TheGame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Tooling improvements (#194)
  lerna.json
  packages/codegen/package.json
Due: prettier --write

Hotfix/hide unused sections (#183)
  packages/web/components/Player/Box/PlayerAchievements.tsx
  packages/web/components/Player/Box/PlayerGallery.tsx
  packages/web/components/Player/Box/PlayerHero.tsx
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

Metamaps Table
  hasura/metadata/tables.yaml
  hasura/migrations/1606958646709_create_table_public_Map/down.sql
  hasura/migrations/1606958646709_create_table_public_Map/up.sql
  packages/codegen/schema.graphql
Due: none

Added PlayerTimeZone display component, added TimeZone persistence to setup flow
  hasura/metadata/tables.yaml
  packages/@types/react-timezone-select/index.d.ts
  packages/@types/spacetime-informal/index.d.ts
  packages/design-system/src/SelectSearch.tsx
  packages/design-system/src/SelectTimezone.tsx
  packages/design-system/src/index.ts
  packages/web/components/Player/Box/PlayerCollab.tsx
  packages/web/components/Player/PlayerTimeZone.tsx
  packages/web/components/Setup/SetupAvailability.tsx
  packages/web/components/Setup/SetupProfile.tsx
  packages/web/components/Setup/SetupSkills.tsx
  packages/web/components/Setup/SetupTimeZone.tsx
  packages/web/contexts/SetupContext.tsx
  packages/web/graphql/fragments.ts
  packages/web/graphql/mutations/updateProfile.ts
  packages/web/graphql/mutations/updateSkills.ts
  packages/web/package.json
  yarn.lock
Due: eslint --fix, prettier --write

Create Chainlog.md (#176)
  docs/enter-metagame/Chainlog.md
Due: prettier --write

Update sidebars.js
  sidebars.js
Due: eslint --fix, prettier --write

Fixed filename
  packages/design-system/src/SelectTimeZone.tsx
  packages/web/components/Setup/SetupAvailability.tsx
  packages/web/components/Setup/SetupPlayerType.tsx
  packages/web/components/Setup/SetupUsername.tsx
Due: eslint --fix, prettier --write

Update metafam-way.md
  docs/wtf-is-metagame/metafam-way.md
Due: prettier --write

Update house-of-daos.mdx
  docs/great-houses/house-of-daos.mdx
Due: none

Update obtaining-seeds.md (#175)
  docs/how-does-it-work/obtaining-seeds.md
Due: prettier --write

Update Chainlog.md (#177)
  docs/enter-metagame/Chainlog.md
Due: prettier --write

BackEnd Guide
  README.md
  guides/BACKEND.md
Due: prettier --write

BackEnd Guide (#195)
  README.md
  guides/BACKEND.md
Due: prettier --write

Update guide to include typescript compile
  guides/BACKEND.md
Due: prettier --write

add dc logs
  guides/BACKEND.md
Due: prettier --write

Added line for node dependencies
  guides/BACKEND.md
Due: prettier --write

Add back CMDs for running backend without docker
  README.md
Due: prettier --write

moving previous to guide
  README.md
  guides/BACKEND.md
Due: prettier --write

Update guide to include typescript compile (#206)
  README.md
  guides/BACKEND.md
Due: prettier --write

Update roles-in-metagame.md
  docs/enter-metagame/roles-in-metagame.md
Due: prettier --write

color coded player skills
  packages/web/components/Player/Box/PlayerAddBox.tsx
  packages/web/components/Player/Box/PlayerHero.tsx
  packages/web/components/Player/Box/PlayerMemberships.tsx
  packages/web/components/Player/Box/PlayerSkills.tsx
  packages/web/components/Setup/SetupAvailability.tsx
  packages/web/components/Setup/SetupPlayerType.tsx
  packages/web/components/Setup/SetupUsername.tsx
  packages/web/contexts/Web3Context.tsx
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

create house of ethereum (#179)
  docs/great-houses/house-of-ethereum.mdx
Due: none

nft gallery working
  packages/backend/src/handlers/remote-schemas/resolvers/getBoxProfile/resolver.ts
  packages/backend/src/handlers/remote-schemas/typeDefs.ts
  packages/codegen/schema.graphql
  packages/design-system/src/index.ts
  packages/web/components/Player/Box/PlayerGallery.tsx
  packages/web/config.ts
  packages/web/graphql/fragments.ts
  packages/web/lib/useOpenSeaCollectibles.ts
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

Add build workflow to CI so errors can be shown in GitHub instead of Vercel
  .github/workflows/PR-CI.yml
Due: prettier --write

color coded player skills (#212)
  packages/web/components/Player/Box/PlayerAddBox.tsx
  packages/web/components/Player/Box/PlayerHero.tsx
  packages/web/components/Player/Box/PlayerMemberships.tsx
  packages/web/components/Player/Box/PlayerSkills.tsx
  packages/web/components/Setup/SetupAvailability.tsx
  packages/web/components/Setup/SetupPlayerType.tsx
  packages/web/components/Setup/SetupUsername.tsx
  packages/web/contexts/Web3Context.tsx
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

Remove deprecated app-react package
  package.json
  packages/app-react/.eslintrc.json
  packages/app-react/README.md
  packages/app-react/package.json
  packages/app-react/public/favicon.ico
  packages/app-react/public/index.html
  packages/app-react/public/logo192.png
  packages/app-react/public/logo512.png
  packages/app-react/public/manifest.json
  packages/app-react/public/robots.txt
  packages/app-react/src/App.tsx
  packages/app-react/src/Routes.tsx
  packages/app-react/src/apollo/auth.js
  packages/app-react/src/apollo/client.js
  packages/app-react/src/apollo/index.js
  packages/app-react/src/apollo/localQueries.js
  packages/app-react/src/components/Header.tsx
  packages/app-react/src/components/PlayerDetails.tsx
  packages/app-react/src/components/PlayerListItem.tsx
  packages/app-react/src/config.ts
  packages/app-react/src/containers/Home.tsx
  packages/app-react/src/containers/Login.tsx
  packages/app-react/src/containers/Player.tsx
  packages/app-react/src/containers/PlayerList.tsx
  packages/app-react/src/contexts/Web3.tsx
  packages/app-react/src/graphql/fragments.ts
  packages/app-react/src/graphql/hooks.ts
  packages/app-react/src/graphql/mutations.ts
  packages/app-react/src/graphql/queries.ts
  packages/app-react/src/index.tsx
  packages/app-react/src/react-app-env.d.ts
  packages/app-react/src/serviceWorker.ts
  packages/app-react/src/setupTests.ts
  packages/app-react/tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

SEED ticker using CoinGecko
  packages/web/components/PageHeader.tsx
  packages/web/components/Ticker.tsx
  packages/web/package.json
Due: eslint --fix, prettier --write

Remove deprecated app-react package (#219)
  package.json
  packages/app-react/.eslintrc.json
  packages/app-react/README.md
  packages/app-react/package.json
  packages/app-react/public/favicon.ico
  packages/app-react/public/index.html
  packages/app-react/public/logo192.png
  packages/app-react/public/logo512.png
  packages/app-react/public/manifest.json
  packages/app-react/public/robots.txt
  packages/app-react/src/App.tsx
  packages/app-react/src/Routes.tsx
  packages/app-react/src/apollo/auth.js
  packages/app-react/src/apollo/client.js
  packages/app-react/src/apollo/index.js
  packages/app-react/src/apollo/localQueries.js
  packages/app-react/src/components/Header.tsx
  packages/app-react/src/components/PlayerDetails.tsx
  packages/app-react/src/components/PlayerListItem.tsx
  packages/app-react/src/config.ts
  packages/app-react/src/containers/Home.tsx
  packages/app-react/src/containers/Login.tsx
  packages/app-react/src/containers/Player.tsx
  packages/app-react/src/containers/PlayerList.tsx
  packages/app-react/src/contexts/Web3.tsx
  packages/app-react/src/graphql/fragments.ts
  packages/app-react/src/graphql/hooks.ts
  packages/app-react/src/graphql/mutations.ts
  packages/app-react/src/graphql/queries.ts
  packages/app-react/src/index.tsx
  packages/app-react/src/react-app-env.d.ts
  packages/app-react/src/serviceWorker.ts
  packages/app-react/src/setupTests.ts
  packages/app-react/tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

Add build workflow to CI so errors can be shown in GitHub instead of Vercel (#217)
  .github/workflows/PR-CI.yml
Due: prettier --write

updated backend to read 3box collectiblesFavorite
  packages/backend/src/handlers/remote-schemas/resolvers/getBoxProfile/resolver.ts
  packages/backend/src/handlers/remote-schemas/typeDefs.ts
  packages/codegen/schema.graphql
Due: eslint --fix, prettier --write

Frontend Guide
  README.md
  guides/FRONTEND.md
Due: prettier --write

removed unneccesary '?'
  packages/backend/src/handlers/remote-schemas/resolvers/getBoxProfile/resolver.ts
Due: eslint --fix, prettier --write

Added tz column
  .gitignore
  hasura/migrations/1605829703638_alter_table_public_Player_add_column_tz/down.sql
  hasura/migrations/1605829703638_alter_table_public_Player_add_column_tz/up.sql
  packages/codegen/schema.graphql
Due: none

Simple fix of a command
  guides/BACKEND.md
Due: prettier --write

updated backend to read 3box collectiblesFavorite (#221)
  packages/backend/src/handlers/remote-schemas/resolvers/getBoxProfile/resolver.ts
  packages/backend/src/handlers/remote-schemas/typeDefs.ts
  packages/codegen/schema.graphql
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js}
  prettier --write: (any of: *.{ts,tsx,js}) or (any of: *.{json,yml,md})
