Repository MetaFam/TheGame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,yml,md}": "prettier --write"
}

fix: revert the @graphql-tools/schema -> graphql-tools
  packages/backend/package.json
  packages/backend/src/handlers/remote-schemas/schema.ts
  yarn.lock
Due: eslint --fix, prettier --write

fix: compare previous and current value
  packages/web/lib/hooks/players.ts
Due: eslint --fix, prettier --write

fix: change the metagame logo navigation to /dashboard
  packages/web/components/MegaMenu.tsx
Due: eslint --fix, prettier --write

first Still need to sort the hover color on avatar
  packages/web/components/MegaMenu.tsx
Due: eslint --fix, prettier --write

several small fixes
  packages/web/components/Dashboard/LatestContentTabs/Watch.tsx
  packages/web/components/Dashboard/XP.tsx
  packages/web/components/Dashboard/config.ts
  packages/web/pages/dashboard.tsx
Due: eslint --fix, prettier --write

style: animate on hover
  packages/web/components/MegaMenu.tsx
Due: eslint --fix, prettier --write

style: fixed the non-full width
  packages/web/components/MegaMenu.tsx
Due: eslint --fix, prettier --write

Feature megamenu styling (#987)
  packages/web/components/MegaMenu.tsx
Due: eslint --fix, prettier --write

Fix the rerender loop of profile hero data (#985)
  packages/web/components/Player/Section/PlayerColorDisposition.tsx
  packages/web/components/Player/Section/PlayerHero.tsx
  packages/web/components/Player/Section/PlayerPronouns.tsx
  packages/web/components/Player/Section/PlayerSkills.tsx
  packages/web/components/Player/Section/PlayerType.tsx
  packages/web/lib/hooks/players.ts
Due: eslint --fix, prettier --write

feat: add dashboard link and icons to profile menu
  packages/design-system/src/icons/Dashboard.tsx
  packages/design-system/src/icons/LogOut.tsx
  packages/design-system/src/icons/Profile.tsx
  packages/design-system/src/icons/index.ts
  packages/web/components/MegaMenu.tsx
  packages/web/components/PlayerStatsBar.tsx
Due: eslint --fix, prettier --write

fix: move discord-bot RUNTIME_ENV to the last stage
  docker/discord-bot/Dockerfile
Due: none

fix: Updated bot help text
  packages/discord-bot/src/discord/commands/help.ts
Due: eslint --fix, prettier --write

Fixed help command reference
  packages/discord-bot/src/discord/commands/getXp.ts
Due: eslint --fix, prettier --write

chore: add versioning strategy to dependabot
  .github/dependabot.yml
Due: prettier --write

chore: bump opensea-js from 1.2.1 -> 1.2.7
  packages/web/package.json
  yarn.lock
Due: prettier --write

chore: upgrade eslint-config-airbnb 0.0.1 -> 0.0.2
  package.json
  yarn.lock
Due: prettier --write

Upgrade Typescript to latest
  package.json
  packages/design-system/package.json
  yarn.lock
Due: prettier --write

chore: upgrade jsdom 16 -> 19
  packages/web/package.json
  yarn.lock
Due: prettier --write

fix: yarn.lock
  yarn.lock
Due: none

chore: react 16 -> 17
  package.json
  packages/web/package.json
  yarn.lock
Due: prettier --write

chore: bump @storybook/addon-links 6.3.2 -> 6.4.9
  packages/design-system/package.json
  yarn.lock
Due: prettier --write

chore: bump dids from 2.4.0 -> 2.4.3
  packages/web/package.json
  yarn.lock
Due: prettier --write

fix: s-s rendered page is trying to access an unavailable component
  packages/web/components/Setup/SetupTimeZone.tsx
  packages/web/pages/profile/setup/timeZone.tsx
Due: eslint --fix, prettier --write

fix: ss rendered page trying to access an unavailable component
  packages/web/components/Setup/SetupTimeZone.tsx
Due: eslint --fix, prettier --write

feat: add guild box types and refactor player box types
  packages/web/components/Player/Filter/MobileFilters.tsx
  packages/web/components/Player/Section/PlayerColorDisposition.tsx
  packages/web/components/Player/Section/PlayerSkills.tsx
  packages/web/components/Player/Section/PlayerType.tsx
  packages/web/components/ProfileSection.tsx
  packages/web/pages/player/[username].tsx
  packages/web/utils/boxTypes.ts
Due: eslint --fix, prettier --write

feat: set default cover image for guild
  packages/web/pages/guild/[guildname].tsx
  packages/web/utils/playerHelpers.ts
Due: eslint --fix, prettier --write

style: copy design of player profile to guild profile
  packages/web/pages/guild/[guildname].tsx
Due: eslint --fix, prettier --write

style: change the default guild cover image
  packages/web/assets/guild-background-full.jpeg
  packages/web/assets/guild-background-small.jpeg
  packages/web/assets/player-background-full.jpg
  packages/web/assets/player-background-small.jpg
  packages/web/next-env.d.ts
  packages/web/utils/playerHelpers.ts
Due: eslint --fix, prettier --write

feat: adding chakra UI for input search
  packages/web/components/MegaMenu.tsx
Due: eslint --fix, prettier --write

chore: removing unused variables
  packages/web/components/MegaMenu.tsx
  packages/web/contexts/NavSearchContext.tsx
Due: eslint --fix, prettier --write

uncomment search component
  packages/web/components/MegaMenu.tsx
Due: eslint --fix, prettier --write

feat: adding navsearchcontext for searching players
  packages/web/components/MegaMenu.tsx
  packages/web/contexts/NavSearchContext.tsx
  packages/web/pages/_app.tsx
  packages/web/pages/community/players.tsx
Due: eslint --fix, prettier --write

chore: show 'no known players yet' message if no players
  packages/web/components/Guild/Section/GuildPlayers.tsx
Due: eslint --fix, prettier --write

feat:Intro section (initial)
  packages/web/assets/landing/intro-background.png
  packages/web/assets/landing/synthlogo-2.svg
  packages/web/components/Landing/Intro.jsx
  packages/web/pages/landing.tsx
  yarn.lock
Due: eslint --fix, prettier --write

feat:Intro section (cleanup)
  packages/web/components/Landing/Intro.jsx
Due: eslint --fix, prettier --write

feat:Intro section (initial)
  packages/web/components/Landing/Intro.jsx
Due: eslint --fix, prettier --write
