Repository MetaFam/TheGame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,yml,md}": "prettier --write"
}

fix:schema
  schema.graphql
Due: none

Update packages/web/components/Player/PlayerTileMemberships.tsx
  packages/web/components/Player/PlayerTileMemberships.tsx
Due: eslint --fix, prettier --write

added forLoginDisplay variable to reduce data returned for login display
  packages/web/components/LoginButton.tsx
  packages/web/components/Patron/PatronTile.tsx
  packages/web/components/Player/PlayerContacts.tsx
  packages/web/components/Player/PlayerTile.tsx
  packages/web/components/Player/PlayerTileMemberships.tsx
  packages/web/graphql/fragments.ts
  packages/web/graphql/getMe.ts
  packages/web/graphql/getPatrons.ts
  packages/web/graphql/getPlayer.ts
  packages/web/graphql/getPlayers.ts
  packages/web/graphql/getQuest.ts
  packages/web/lib/hooks/index.ts
Due: eslint --fix, prettier --write

Fixed initial population of discord role select fields
  packages/web/components/Guild/GuildForm.tsx
Due: eslint --fix, prettier --write

If guild already exists, show edit page
  packages/backend/src/handlers/actions/guild/discord/oauthHandler.ts
  packages/backend/src/handlers/graphql/queries.ts
  packages/web/pages/join/guild/auth.tsx
Due: eslint --fix, prettier --write

Make use of will-change: transform to boost scrolling performance (#297)
  src/css/custom.scss
Due: none

Adding Gamification & some tl:dr changes (#298)
  docs/great-houses/how-to-house.md
  docs/how-does-it-work/why-gamification-works.md
  docs/what-we-do/metasys.md
  docs/what-we-do/mymeta.md
  sidebars.js
Due: eslint --fix, prettier --write

Added 'reload roles' button
  packages/web/components/Guild/GuildForm.tsx
  packages/web/pages/join/guild/auth.tsx
Due: eslint --fix, prettier --write

Upgraded docker-compose-wait and bumped the wait timeout to 60
  docker-compose.yml
  hasura/Dockerfile
Due: prettier --write

added changelog file
  CHANGELOG.md
Due: prettier --write

Upgraded docker-compose-wait and bumped the wait timeout to 60 (#826)
  docker-compose.yml
  hasura/Dockerfile
Due: prettier --write

Added view profile back to user menu
  packages/web/components/MegaMenu.tsx
Due: eslint --fix, prettier --write

Fixed megamenu link to go to edit profile flow
  packages/web/components/MegaMenu.tsx
Due: eslint --fix, prettier --write

Added edit profile button to own profile
  packages/web/components/Player/Section/PlayerHero.tsx
Due: eslint --fix, prettier --write

Fixed megamenu link to go to edit profile flow (#828)
  packages/web/components/MegaMenu.tsx
  packages/web/components/Player/Section/PlayerHero.tsx
Due: eslint --fix, prettier --write

Fixed edit profile button
  packages/web/components/Player/Section/PlayerHero.tsx
Due: eslint --fix, prettier --write

Hide menu while going through player setup
  packages/web/pages/_app.tsx
  packages/web/pages/profile/setup/availability.tsx
  packages/web/pages/profile/setup/complete.tsx
  packages/web/pages/profile/setup/memberships.tsx
  packages/web/pages/profile/setup/personalityType.tsx
  packages/web/pages/profile/setup/playerType.tsx
  packages/web/pages/profile/setup/skills.tsx
  packages/web/pages/profile/setup/timeZone.tsx
  packages/web/pages/profile/setup/username.tsx
  packages/web/pages/profile/success.tsx
Due: eslint --fix, prettier --write

add Dockerfile for frontend
  docker/frontend/Dockerfile
Due: none

make env vars in hasura and backend containers more customizable
  docker/backend/Dockerfile
  hasura/Dockerfile
Due: none

add workflow that deploys previews of pull requests
  .github/workflows/gcp-deploy.yaml
Due: none

add workflow that undeploys previews of pull requests
  .github/workflows/gcp-undeploy.yaml
Due: none

fix service account key references in cloudrun workflows
  .github/workflows/gcp-deploy.yaml
  .github/workflows/gcp-undeploy.yaml
Due: none

make cloudrun deploy step dependent on build-and-push
  .github/workflows/gcp-deploy.yaml
Due: none

add file argument to hasura build step to make the action happy
  .github/workflows/gcp-deploy.yaml
Due: none

various fixes for cloudrun previews
  .github/workflows/gcp-deploy.yaml
Due: none

add edit profile to mobile menu
  packages/web/components/PlayerStatsBar.tsx
Due: eslint --fix, prettier --write

align menu dropdown
  packages/web/components/MegaMenu.tsx
Due: eslint --fix, prettier --write

update menulinks
  packages/web/utils/menuLinks.ts
Due: eslint --fix, prettier --write

add triangle in menu dropdown
  packages/web/components/MegaMenu.tsx
Due: eslint --fix, prettier --write

WIP: ceramic login
  .gitignore
  packages/utils/src/constants.ts
  packages/utils/src/did/index.ts
  packages/web/contexts/Web3Context.tsx
  packages/web/package.json
  yarn.lock
Due: eslint --fix, prettier --write

straggling needed rename changes 🎟
  packages/web/components/Player/Section/PlayerBrightId.tsx
  packages/web/components/Setup/SetupMemberships.tsx
Due: eslint --fix, prettier --write

reinstating useWeb3, shortening names, & preserving login across reloads 🕯
  packages/web/contexts/Web3Context.tsx
Due: eslint --fix, prettier --write

meta profile info page/form
  packages/web/components/LoginButton.tsx
  packages/web/contexts/Web3Context.tsx
  packages/web/package.json
  packages/web/pages/profile/info/index.tsx
  packages/web/tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

adding dotenv & publishing to web3.storage 💰
  .gitignore
  packages/backend/package.json
  packages/backend/src/config.ts
  packages/backend/src/handlers/actions/routes.ts
  packages/backend/src/handlers/actions/storage/handler.ts
  packages/backend/src/index.ts
  packages/web/pages/profile/info/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write

fixing various typescript and dependency issues 🧷
  package.json
  packages/backend/package.json
  packages/backend/src/handlers/actions/guild/discord/oauthHandler.ts
  packages/discord-bot/src/discord/commands/setEthAddress.ts
  packages/web/config.ts
  packages/web/contexts/Web3Context.tsx
  packages/web/package.json
  packages/web/pages/profile/info/index.tsx
  packages/web/tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

switching to multer (& writing to a file) from streaming 🎮
  docker/backend/Dockerfile
  package.json
  packages/backend/package.json
  packages/backend/src/config.ts
  packages/backend/src/handlers/actions/routes.ts
  packages/backend/src/handlers/actions/storage/handler.ts
  packages/backend/src/index.ts
  packages/backend/src/lib/apiHelpers.ts
  packages/web/config.ts
  packages/web/package.json
  packages/web/pages/profile/info/index.tsx
  packages/web/tsconfig.json
  tsconfig.base.json
  yarn.lock
Due: eslint --fix, prettier --write
