Repository MetaFam/TheGame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: bump graphql 15.5.0 -> 15.8.0
  package.json
  packages/backend/package.json
  packages/discord-bot/package.json
  packages/web/package.json
  yarn.lock
Due: prettier --write

chore: add browserslist config and update the package
  package.json
Due: prettier --write

chore: bump js-base64 3.6.1 -> 3.7.2
  packages/utils/package.json
  yarn.lock
Due: prettier --write

chore: bump framer-motion 4.1.17 -> 5.5.6
  packages/design-system/package.json
  packages/design-system/src/index.ts
  yarn.lock
Due: eslint --fix, prettier --write

chore: bump eslint-import-resolver-typescript 2.4 -> 2.5
  package.json
  yarn.lock
Due: prettier --write

chore: bump chakra-ui/icons 1.0.14 -> 1.1.3
  packages/design-system/package.json
  yarn.lock
Due: prettier --write

chore: bump ethers 5.4.3 -> 5.5.3
  packages/backend/package.json
  packages/discord-bot/package.json
  packages/utils/package.json
  packages/web/package.json
  yarn.lock
Due: prettier --write

chore: bump next-urql 3.1.0 -> 3.3.2
  packages/web/graphql/client.ts
  packages/web/package.json
  yarn.lock
Due: eslint --fix, prettier --write

chore: bump eslint-plugin-react-hooks 4.2.0 -> 4.3.0
  package.json
  yarn.lock
Due: prettier --write

quest-roles-demo init
  hasura/metadata/actions.graphql
  hasura/metadata/tables.yaml
  hasura/migrations/1641640073308_create_table_public_quest_role/down.sql
  hasura/migrations/1641640073308_create_table_public_quest_role/up.sql
  hasura/migrations/1642342313101_alter_table_public_quest_role_drop_constraint_quest_role_quest_id_key/down.sql
  hasura/migrations/1642342313101_alter_table_public_quest_role_drop_constraint_quest_role_quest_id_key/up.sql
  hasura/migrations/1642635473840_alter_table_public_PlayerRole_add_column_isBasic/down.sql
  hasura/migrations/1642635473840_alter_table_public_PlayerRole_add_column_isBasic/up.sql
  hasura/migrations/1642713671696_alter_table_public_quest_role_alter_column_rank/down.sql
  hasura/migrations/1642713671696_alter_table_public_quest_role_alter_column_rank/up.sql
  hasura/migrations/1642776933725_alter_table_public_PlayerRole_alter_column_isBasic/down.sql
  hasura/migrations/1642776933725_alter_table_public_PlayerRole_alter_column_isBasic/up.sql
  hasura/migrations/1642777028373_add_player_roles/up.sql
  packages/web/graphql/getQuests.ts
  schema.graphql
Due: eslint --fix, prettier --write

fix: update schema
  schema.graphql
Due: none

chore: add createQuest changes
  packages/backend/src/handlers/actions/quests/createQuest/createQuest.ts
  schema.graphql
Due: eslint --fix, prettier --write

fix: more lint
  packages/web/pages/quest/[id]/edit.tsx
Due: eslint --fix, prettier --write

fix: lint
  packages/web/components/Quest/QuestForm.tsx
  packages/web/pages/quest/create.tsx
Due: eslint --fix, prettier --write

chore: update schema
  schema.graphql
Due: none

chore: consolidate migrations
  hasura/migrations/1641640073308_create_table_public_quest_role/down.sql
  hasura/migrations/1641640073308_create_table_public_quest_role/up.sql
  hasura/migrations/1642342313101_alter_table_public_quest_role_drop_constraint_quest_role_quest_id_key/down.sql
  hasura/migrations/1642635473840_alter_table_public_PlayerRole_add_column_isBasic/down.sql
  hasura/migrations/1642635473840_alter_table_public_PlayerRole_add_column_isBasic/up.sql
  hasura/migrations/1642713671696_alter_table_public_quest_role_alter_column_rank/down.sql
  hasura/migrations/1642713671696_alter_table_public_quest_role_alter_column_rank/up.sql
  hasura/migrations/1642776933725_alter_table_public_PlayerRole_alter_column_isBasic/down.sql
  hasura/migrations/1642776933725_alter_table_public_PlayerRole_alter_column_isBasic/up.sql
Due: none

fix: add field to update quest
  packages/web/graphql/mutations/updateQuest.ts
Due: eslint --fix, prettier --write

fix: even more lint
  packages/web/pages/quest/[id]/edit.tsx
  schema.graphql
Due: eslint --fix, prettier --write

chore: rename
  hasura/migrations/1642635473840_alter_table_public_PlayerRole_add_column_basic/up.sql
Due: none

chore: roles_id -> roleIds
  hasura/metadata/actions.graphql
  packages/backend/src/handlers/actions/quests/createQuest/createQuest.ts
  packages/web/pages/quest/create.tsx
  schema.graphql
Due: eslint --fix, prettier --write

chore: skillsId -> skillIds
  packages/web/pages/quest/create.tsx
Due: eslint --fix, prettier --write

fix: missing roles
  packages/web/components/Quest/QuestForm.tsx
Due: eslint --fix, prettier --write

decomposing deployment action into jobs & removing build from CI 🎐
  .github/workflows/PR-CI.yml
  .github/workflows/gcp-deploy.yaml
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,yml,md})
