Repository MetaFam/TheGame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,yml,md}": "prettier --write"
}

fixes
  packages/web/lib/hooks/ens.tsx
Due: eslint --fix, prettier --write

Update vite.config.ts.timestamp-1675691765700.mjs
  packages/design-system/vite.config.ts.timestamp-1675691765700.mjs
Due: none

Update up.sql
  hasura/migrations/1676381264763_alter_table_public_profile_add_check_constraint_no_periods_in_username/up.sql
Due: none

change migration to include _-
  hasura/migrations/1676381264763_alter_table_public_profile_add_check_constraint_no_periods_in_username/up.sql
  packages/web/lib/hooks/ens.tsx
Due: eslint --fix, prettier --write

remove hook
  packages/web/lib/hooks/ens.tsx
Due: eslint --fix, prettier --write

fix /me
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

handling insert with username constraint 🥍
  hasura/seed-db.mjs
Due: none

add a set update for profiles with . on develop merge
  hasura/migrations/1676381264763_alter_table_public_profile_add_check_constraint_no_periods_in_username/up.sql
Due: none

fix error with page load break
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

updated URLs to point to the great houses in the UI after migration. - removed `game.json` as it is not used anywhere
  packages/web/components/Landing/OnboardingGame/game.json
  packages/web/components/Landing/OnboardingGame/metagame-onboarding-game.json
Due: prettier --write

set image as null in ceramic, code review updates
  packages/web/components/Setup/SetupProfilePicture.tsx
  packages/web/components/Setup/WizardPane.tsx
Due: eslint --fix, prettier --write

Fix: typos
  guides/CUSTOM_BLOCK.md
Due: prettier --write

Fix: typo
  guides/DESCRIPTIVE_C4.MD
Due: none

Fix: typos (#1531)
  guides/CUSTOM_BLOCK.md
  guides/DESCRIPTIVE_C4.MD
Due: prettier --write

de-MetaGame branding guilds' page 🎁
  packages/web/pages/guild/[guildname]/index.tsx
Due: eslint --fix, prettier --write

bringing in `awk` script to be able to build 🆚
  packages/backend/package.json
Due: prettier --write

fixing `parameter 'alt' is required` 🧟‍♀️
  packages/web/components/QuestChain/UploadImageForm.tsx
Due: eslint --fix, prettier --write

update gcp-deploy workflow following dysbulics PR 1532
  .github/workflows/gcp-deploy.yaml
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

moloch version and package json update to backend
  packages/backend/package.json
Due: prettier --write

make profile picture clickable to upload new image
  packages/web/components/Setup/SetupProfilePicture.tsx
Due: eslint --fix, prettier --write

update generate command to fix build error
  packages/backend/package.json
Due: prettier --write

update dev script to fix build bug
  packages/backend/package.json
Due: prettier --write

styling improvements
  packages/web/components/Setup/ProfileWizardPane.tsx
  packages/web/components/Setup/SetupProfilePicture.tsx
Due: eslint --fix, prettier --write

implement image height and width values save to ceramic
  hasura/Dockerfile
  packages/web/components/EditProfileModal.tsx
  packages/web/components/Setup/ProfileWizardPane.tsx
  packages/web/components/Setup/SetupProfilePicture.tsx
  packages/web/components/Setup/WizardPane.tsx
Due: eslint --fix, prettier --write

add photo to profile wizard, create the ui and display local preview
  packages/web/assets/graphics/octo-avatar.svg
  packages/web/components/EditProfileModal.tsx
  packages/web/components/Setup/ProfileWizardPane.tsx
  packages/web/components/Setup/SetupName.tsx
  packages/web/components/Setup/SetupProfilePicture.tsx
  packages/web/components/Setup/WizardPane.tsx
  packages/web/lib/hooks/useField.ts
  packages/web/pages/profile/setup/profilePicture.tsx
  packages/web/utils/setupOptions.tsx
Due: eslint --fix, prettier --write

remove logs, prep for cr
  hasura/Dockerfile
  packages/web/components/EditProfileModal.tsx
  packages/web/components/Setup/SetupName.tsx
  packages/web/lib/hooks/useField.ts
Due: eslint --fix, prettier --write

code improvements, remove console logs, button style, invalidate cache bugfix
  packages/web/components/Setup/ProfileWizardPane.tsx
  packages/web/components/Setup/SetupProfilePicture.tsx
  packages/web/components/Setup/WizardPane.tsx
Due: eslint --fix, prettier --write

fix sorting of imports
  packages/web/pages/profile/setup/profilePicture.tsx
Due: eslint --fix, prettier --write

Delete vite.config.ts.timestamp-1675691765700.mjs
  packages/design-system/vite.config.ts.timestamp-1675691765700.mjs
Due: none

Update tables.yaml
  hasura/metadata/tables.yaml
Due: none

set up q var
  packages/web/components/Player/Filter/PlayerFilter.tsx
  packages/web/utils/ensHelpers.ts
Due: eslint --fix, prettier --write

if no resolved address, return ens to search
  packages/web/utils/ensHelpers.ts
Due: eslint --fix, prettier --write

resolve ENS in url to address to getPlayer()
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

reverse resolve address to ENS
  packages/web/components/Player/Filter/PlayerFilter.tsx
  packages/web/components/Player/Section/PlayerHero.tsx
  packages/web/pages/player/[username].tsx
  packages/web/utils/ensHelpers.ts
Due: eslint --fix, prettier --write

add reverse resolver
  packages/web/utils/ensHelpers.ts
Due: eslint --fix, prettier --write

clear errors
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write
