Repository MetaFam/TheGame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Update FRONTEND.md
  guides/FRONTEND.md
Due: prettier --write

Add tokenlog.json
  tokenlog.json
Due: prettier --write

Add tokenlog.json (#291)
  tokenlog.json
Due: prettier --write

Update FRONTEND.md (#288)
  guides/FRONTEND.md
Due: prettier --write

Update LoginButton to link to own profile and show Avatar (#285)
  packages/web/components/LoginButton.tsx
  packages/web/components/Setup/SetupUsername.tsx
  packages/web/utils/playerHelpers.ts
Due: eslint --fix, prettier --write

Remove unused pages / components and fix usage of Wrap with WrapItem (#284)
  packages/design-system/src/index.ts
  packages/web/components/Guild/GuildLinks.tsx
  packages/web/components/Guild/GuildTile.tsx
  packages/web/components/Link.tsx
  packages/web/components/LoginButton.tsx
  packages/web/components/Player/PlayerContacts.tsx
  packages/web/components/Player/PlayerTile.tsx
  packages/web/components/Player/Section/PlayerSkills.tsx
  packages/web/components/Setup/SetupMemberships.tsx
  packages/web/components/Setup/SetupUsername.tsx
  packages/web/components/Welcome/RegisterPlayer.tsx
  packages/web/components/Welcome/WelcomeHeader.tsx
  packages/web/components/Welcome/WelcomePlayer.tsx
  packages/web/pages/register.tsx
  packages/web/pages/welcome.tsx
  packages/web/utils/playerHelpers.ts
Due: eslint --fix, prettier --write

Update house-of-NFTs.md (#197)
  docs/great-houses/house-of-NFTs.md
Due: prettier --write

adding permissions to Map table
  hasura/metadata/tables.yaml
Due: none

updating graphql to match new naming convention
  packages/web/graphql/fragments.ts
  packages/web/graphql/getSkills.ts
  packages/web/graphql/mutations/updateAboutYou.ts
Due: eslint --fix, prettier --write

renaming mismatched variables in website
  packages/web/components/Player/PlayerContacts.tsx
  packages/web/components/Player/PlayerTile.tsx
Due: eslint --fix, prettier --write

Cross Browser Compatibility for Gradient with new hover animation
  packages/web/components/PageHeader.tsx
  packages/web/public/assets/drawer/desktop-box.png
  packages/web/public/assets/drawer/desktop.gradient.bottom.png
Due: eslint --fix, prettier --write

Update index.js
  src/pages/index.js
Due: eslint --fix, prettier --write

Add case in SC migration script where user doesnt already have a SC identityID
  hasura/metadata/cron_triggers.yaml
  packages/backend/src/handlers/graphql/mutations.ts
  packages/web/pages/index.tsx
Due: eslint --fix, prettier --write

Add case in SC migration script where user doesnt already have a SC identityID (#296)
  hasura/metadata/cron_triggers.yaml
  packages/backend/src/handlers/graphql/mutations.ts
  packages/web/pages/index.tsx
Due: eslint --fix, prettier --write

Fixed flashing on load with mobile footer drawer
  packages/web/components/MobileFooter.tsx
Due: eslint --fix, prettier --write

Use the footer on tablets (< lg, > md)
  packages/web/components/MobileFooter.tsx
  packages/web/components/PageHeader.tsx
Due: eslint --fix, prettier --write

fixing various display issues
  packages/metamaps/components/index/Index.items.tsx
  packages/metamaps/components/map/Map.container.tsx
  packages/metamaps/components/map/Map.context.tsx
  packages/metamaps/components/map/Map.edit.tsx
  packages/metamaps/components/map/Map.popover.tsx
  packages/metamaps/components/map/Map.profile.tsx
  packages/metamaps/components/map/styles/Map.context.styles.tsx
  packages/metamaps/pages/_app.tsx
  packages/metamaps/redux/Reducer.map.state.tsx
Due: eslint --fix, prettier --write

fixing when menus (dis)appear
  packages/metamaps/components/map/Map.container.tsx
  packages/metamaps/components/map/Map.context.tsx
  packages/metamaps/components/map/Map.edit.tsx
  packages/metamaps/redux/Reducer.map.state.tsx
Due: eslint --fix, prettier --write

fixing image resizing
  hasura/metadata/tables.yaml
  packages/metamaps/components/index/Index.create.tsx
  packages/metamaps/components/map/Map.edit.tsx
  packages/metamaps/components/map/Map.popover.tsx
  packages/metamaps/components/map/Map.title.tsx
  packages/metamaps/components/map/styles/Map.popover.styles.tsx
  packages/metamaps/pages/[author_address]/map/[id].tsx
  packages/metamaps/redux/Reducer.map.state.tsx
Due: eslint --fix, prettier --write

handling case when data element is not found
  packages/metamaps/redux/Reducer.map.state.tsx
Due: eslint --fix, prettier --write

[MetaMaps] Fix context menu (#304)
  hasura/metadata/tables.yaml
  packages/metamaps/components/index/Index.create.tsx
  packages/metamaps/components/index/Index.items.tsx
  packages/metamaps/components/map/Map.container.tsx
  packages/metamaps/components/map/Map.context.tsx
  packages/metamaps/components/map/Map.edit.tsx
  packages/metamaps/components/map/Map.popover.tsx
  packages/metamaps/components/map/Map.profile.tsx
  packages/metamaps/components/map/Map.title.tsx
  packages/metamaps/components/map/styles/Map.context.styles.tsx
  packages/metamaps/components/map/styles/Map.popover.styles.tsx
  packages/metamaps/pages/[author_address]/map/[id].tsx
  packages/metamaps/pages/_app.tsx
  packages/metamaps/redux/Reducer.map.state.tsx
Due: eslint --fix, prettier --write

fixing typescript errors
  packages/metamaps/components/map/Map.edit.tsx
  packages/metamaps/redux/Reducer.map.state.tsx
Due: eslint --fix, prettier --write

fixing menu drawer to display on Chromium
  packages/web/components/PageHeader.tsx
  packages/web/public/assets/drawer/desktop.gradient.png
Due: eslint --fix, prettier --write

switching footer layout to responsive units
  packages/web/components/MobileFooter.tsx
Due: eslint --fix, prettier --write

build failing b/c player is undefined
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

test commit
  docker-compose.yml
Due: prettier --write

rollback test changes
  docker-compose.yml
Due: prettier --write

Added scripts for the metamaps
  package.json
Due: prettier --write

Added run script for the metamaps
  package.json
Due: prettier --write

Fixed updateMap graphql type missing
  packages/metamaps/graphql/updateMap.ts
Due: eslint --fix, prettier --write

Fixed updateMap graphql type missing (#308)
  packages/metamaps/graphql/updateMap.ts
Due: eslint --fix, prettier --write

Added run script for the metamaps (#307)
  package.json
Due: prettier --write

Delete MBTI placeholders directory
  MBTI placeholders/ENFJ.png
  MBTI placeholders/ENFP.png
  MBTI placeholders/ENTJ.png
  MBTI placeholders/ENTP.png
  MBTI placeholders/ESFJ.png
  MBTI placeholders/ESFP.png
  MBTI placeholders/ESTJ.png
  MBTI placeholders/ESTP.png
  MBTI placeholders/INFJ.png
  MBTI placeholders/INFP.png
  MBTI placeholders/INTJ.png
  MBTI placeholders/INTP.png
  MBTI placeholders/ISFJ.png
  MBTI placeholders/ISFP.png
  MBTI placeholders/ISTP.png
Due: none

Update README.md
  README.md
Due: prettier --write

Fixed flashing on load with mobile footer drawer (#299)
  packages/web/components/MobileFooter.tsx
Due: eslint --fix, prettier --write

Remove unused codegen stuff and update Hasura to latest version
  README.md
  guides/BACKEND.md
  hasura/Dockerfile
  packages/codegen/customFragments.ts
  packages/codegen/graphql-codegen-gql.yaml
  packages/codegen/graphql-codegen-typescript.yaml
  packages/codegen/package.json
  yarn.lock
Due: eslint --fix, prettier --write

refactoring bottom nav to use fewer explicit sizes
  packages/web/components/MobileFooter.tsx
  packages/web/components/PageHeader.tsx
Due: eslint --fix, prettier --write

fixed link issues and removed box from focused menu items ala.
  packages/web/components/MobileFooter.tsx
  packages/web/components/PageHeader.tsx
Due: eslint --fix, prettier --write

removed cruft
  packages/web/components/MobileFooter.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js}
  prettier --write: (any of: *.{ts,tsx,js}) or (any of: *.{json,yml,md})
