Repository MetaFam/TheGame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js}": ["eslint --fix", "prettier --write"],
  "*.{json,yml,md}": "prettier --write"
}

updated yarn.lock
  yarn.lock
Due: none

add executable perms to pre-push scripts
  .husky/pre-push
Due: none

fixed eslint and moved chakra icons to ds
  packages/backend/src/handlers/actions/migrateSourceCredAccounts/types.ts
  packages/design-system/package.json
  packages/design-system/src/index.ts
  packages/web/components/LoginButton.tsx
  packages/web/package.json
Due: eslint --fix, prettier --write

removed extra useContext
  .husky/pre-commit
  .husky/pre-push
  packages/web/components/LoginButton.tsx
  packages/web/components/Patron/PatronTile.tsx
  packages/web/components/Player/PlayerTile.tsx
  packages/web/components/Player/Section/PlayerBrightId.tsx
  packages/web/components/Player/Section/PlayerCollab.tsx
  packages/web/components/Player/Section/PlayerMemberships.tsx
  packages/web/components/SuccessPlayer.tsx
  packages/web/components/Ticker.tsx
  packages/web/contexts/SetupContext.tsx
  packages/web/pages/quest/[id]/complete.tsx
  packages/web/pages/quest/[id]/edit.tsx
  packages/web/pages/quest/create.tsx
  packages/web/pages/quests.tsx
Due: eslint --fix, prettier --write

fixed emotion errors
  packages/design-system/src/index.ts
  packages/web/components/MobileFooter.tsx
  packages/web/components/PageHeader.tsx
  packages/web/package.json
  yarn.lock
Due: eslint --fix, prettier --write

update yarn.lock
  yarn.lock
Due: none

lint fix
  packages/utils/src/rankHelpers.ts
Due: eslint --fix, prettier --write

removed unnecessary .huskyrc.json
  .huskyrc.json
  .lintstagedrc.json
  package.json
Due: prettier --write

upgraded more packages
  package.json
  packages/backend/package.json
  packages/design-system/package.json
  packages/discord-bot/package.json
  packages/web/package.json
  yarn.lock
Due: prettier --write

guild pages implemented
  hasura/metadata/tables.yaml
  packages/design-system/src/index.ts
  packages/web/components/Guild/GuildHero.tsx
  packages/web/components/Guild/GuildLinks.tsx
  packages/web/components/Guild/GuildTile.tsx
  packages/web/components/GuildList.tsx
  packages/web/graphql/fragments.ts
  packages/web/pages/guild/[guildname].tsx
  schema.graphql
Due: eslint --fix, prettier --write

guild pages implemented
  packages/web/components/Guild/GuildLinks.tsx
  packages/web/pages/guild/[guildname].tsx
Due: eslint --fix, prettier --write

Added twitter_url and github_url to guild
  hasura/migrations/1619844206488_guilds_add_twitter_and_github_urls/down.sql
  hasura/migrations/1619844206488_guilds_add_twitter_and_github_urls/up.sql
  packages/web/components/Guild/GuildLinks.tsx
Due: eslint --fix, prettier --write

Linter fixes
  packages/utils/src/rankHelpers.ts
  packages/web/components/Guild/GuildHero.tsx
  packages/web/components/Guild/GuildLinks.tsx
Due: eslint --fix, prettier --write

WIP on quests - Parsing for markdown - Some small style teaks to spacing and font size
  packages/web/components/FormattedText.tsx
  packages/web/components/Quest/QuestDetails.tsx
  packages/web/components/Quest/QuestTile.tsx
  packages/web/package.json
  packages/web/pages/quest/[id].tsx
Due: eslint --fix, prettier --write

Update sidebars.js
  sidebars.js
Due: eslint --fix, prettier --write

updated .env.sample
  .env.sample
  guides/BACKEND.md
Due: prettier --write

updated guides
  guides/BACKEND.md
Due: prettier --write

removed discord related env variables
  .env.sample
Due: none

commented out github token in .env.sample
  .env.sample
Due: none

updated .env.sample (#499)
  .env.sample
  guides/BACKEND.md
Due: prettier --write

Load accounts.json in migration handler again
  packages/backend/src/handlers/actions/migrateSourceCredAccounts/handler.ts
Due: eslint --fix, prettier --write

Discord Bot MVP
  packages/discord-bot/package.json
Due: prettier --write

Added Dockerfile for discord-bot
  docker-compose.yml
  docker/discord-bot/Dockerfile
  packages/backend/.eslintrc.json
  packages/backend/src/handlers/actions/migrateSourceCredAccounts/handler.ts
  packages/discord-bot/package.json
  packages/discord-bot/src/AppDiscord.ts
  packages/discord-bot/src/start.ts
  packages/discord-bot/src/utils.ts
Due: eslint --fix, prettier --write

Setup command to link ETH account to Ledger
  packages/discord-bot/src/AppDiscord.ts
  packages/discord-bot/src/config.ts
  packages/discord-bot/src/graphql/client.ts
  packages/discord-bot/src/graphql/queries.ts
  tsconfig.base.json
Due: eslint --fix, prettier --write

use sourcecred-publish-test for latest SC features
  packages/@types/sourcecred/index.d.ts
  packages/backend/src/handlers/actions/migrateSourceCredAccounts/handler.ts
  packages/discord-bot/src/AppDiscord.ts
Due: eslint --fix, prettier --write

Implement activation of identities and persisting ledger
  packages/@types/sourcecred/index.d.ts
  packages/backend/src/handlers/actions/migrateSourceCredAccounts/handler.ts
  packages/discord-bot/src/AppDiscord.ts
Due: eslint --fix, prettier --write

Fixed docker build
  docker-compose.yml
  packages/discord-bot/package.json
  packages/discord-bot/src/config.ts
  packages/discord-bot/src/start.ts
  render.yaml
  yarn.lock
Due: eslint --fix, prettier --write

Migrated existing xp command functionality
  packages/@types/sourcecred/index.d.ts
  packages/backend/src/config.ts
  packages/backend/src/handlers/actions/migrateSourceCredAccounts/handler.ts
  packages/backend/src/handlers/actions/migrateSourceCredAccounts/types.ts
  packages/discord-bot/src/AppDiscord.ts
  packages/discord-bot/src/commands/getXp.ts
  packages/discord-bot/src/commands/setEthAddress.ts
  packages/discord-bot/src/config.ts
  packages/discord-bot/src/sourcecred.ts
  packages/discord-bot/src/utils.ts
  packages/utils/package.json
  packages/utils/src/constants.ts
  render.yaml
  yarn.lock
Due: eslint --fix, prettier --write

Fixed globs
  packages/discord-bot/src/discord/AppDiscord.ts
  packages/discord-bot/src/discord/commands/getXp.ts
  packages/discord-bot/src/discord/commands/setEthAddress.ts
  packages/discord-bot/src/index.ts
Due: eslint --fix, prettier --write

Fixed dynamic loading of discord classes / commands
  packages/discord-bot/src/discord/AppDiscord.ts
  packages/discord-bot/src/index.ts
  packages/discord-bot/src/sourcecred.ts
  packages/discord-bot/src/start.ts
  packages/discord-bot/tsconfig.json
Due: eslint --fix, prettier --write

Fixed backend boot issue
  packages/discord-bot/package.json
  packages/discord-bot/src/discord/commands/setEthAddress.ts
  packages/discord-bot/tsconfig.json
  tsconfig.base.json
Due: eslint --fix, prettier --write

Rebased
  packages/discord-bot/package.json
  yarn.lock
Due: prettier --write

Changed to load XP using accounts.json as beore
  packages/discord-bot/.eslintrc.json
  packages/discord-bot/jest.config.js
  packages/discord-bot/package.json
  packages/discord-bot/src/discord/commands/getXp.ts
  packages/discord-bot/test/getXp.test.ts
  packages/utils/src/constants.ts
Due: eslint --fix, prettier --write

Removed prefix as it was colliding with existing bot
  packages/discord-bot/src/discord/AppDiscord.ts
  packages/discord-bot/src/discord/commands/getXp.ts
Due: eslint --fix, prettier --write
