Repository MetaFam/TheGame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js}": ["eslint --fix", "prettier --write"],
  "*.{json,yml,md}": "prettier --write"
}

Fix type errors
  package.json
  packages/app-react/.eslintrc.json
  packages/app-react/src/App.tsx
  packages/app-react/src/containers/Login.tsx
  packages/app-react/src/containers/Player.tsx
  packages/app-react/src/graphql/hooks.ts
  packages/backend/.eslintrc.json
Due: eslint --fix, prettier --write

Fix all linting errors
  .eslintrc.json
  packages/app-react/.eslintrc.json
  packages/app-react/@types/react-router-dom.d.ts
  packages/app-react/package.json
  packages/app-react/src/App.test.tsx
  packages/app-react/src/App.tsx
  packages/app-react/src/Routes.tsx
  packages/app-react/src/apollo/auth.js
  packages/app-react/src/apollo/client.js
  packages/app-react/src/apollo/localQueries.js
  packages/app-react/src/components/Header.tsx
  packages/app-react/src/components/PlayerDetails.tsx
  packages/app-react/src/components/PlayerListItem.tsx
  packages/app-react/src/config.ts
  packages/app-react/src/containers/Home.tsx
  packages/app-react/src/containers/Login.tsx
  packages/app-react/src/containers/Player.tsx
  packages/app-react/src/containers/PlayerList.tsx
  packages/app-react/src/contexts/Web3.tsx
  packages/app-react/src/graphql/fragments.ts
  packages/app-react/src/graphql/hooks.ts
  packages/app-react/src/graphql/mutations.ts
  packages/app-react/src/graphql/queries.ts
  packages/app-react/src/index.tsx
  packages/app-react/src/serviceWorker.ts
  packages/backend/.eslintrc.json
  packages/backend/src/config.ts
  packages/backend/src/handlers/actions/routes.ts
  packages/backend/src/handlers/actions/updateBoxProfile/handler.ts
  packages/backend/src/handlers/auth-webhook/handler.ts
  packages/backend/src/handlers/routes.ts
  packages/backend/src/index.ts
  packages/backend/src/lib/apiHelpers.ts
  packages/backend/src/lib/hasuraHelpers.ts
  packages/graphql-codegen/package.json
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

Reformat code
  packages/backend/src/handlers/actions/types.ts
  tsconfig.base.json
Due: eslint --fix, prettier --write

Setup ESLint config and lint-staged check
  .eslintrc.json
  .lintstagedrc.json
  package.json
  yarn.lock
Due: prettier --write

Reuse base tsconfig in all packages
  packages/app-react/tsconfig.json
  packages/backend/tsconfig.json
  packages/utils/tsconfig.json
  tsconfig.base.json
Due: prettier --write

setup design system as a new package
  package.json
  packages/design-system/.storybook/config.js
  packages/design-system/.storybook/main.js
  packages/design-system/.storybook/themeDecorator.js
  packages/design-system/package.json
  packages/design-system/src/fonts/ibm-plex-mono-v5-latin-700.woff
  packages/design-system/src/fonts/ibm-plex-mono-v5-latin-700.woff2
  packages/design-system/src/fonts/ibm-plex-mono-v5-latin-regular.woff
  packages/design-system/src/fonts/ibm-plex-mono-v5-latin-regular.woff2
  packages/design-system/src/fonts/ibm-plex-sans-v7-latin-700.woff
  packages/design-system/src/fonts/ibm-plex-sans-v7-latin-700.woff2
  packages/design-system/src/fonts/ibm-plex-sans-v7-latin-regular.woff
  packages/design-system/src/fonts/ibm-plex-sans-v7-latin-regular.woff2
  packages/design-system/src/fonts/press-start-2p-regular.woff
  packages/design-system/src/fonts/press-start-2p-regular.woff2
  packages/design-system/src/global-style.jsx
  packages/design-system/src/index.js
  packages/design-system/src/theme.js
  packages/design-system/stories/0-Text.stories.jsx
  packages/design-system/stories/1-Button.stories.jsx
  yarn.lock
Due: eslint --fix, prettier --write

moved descriptions (#104)
  docs/handbook/how-metagame-works.md
  docs/handbook/navigation-board.md
Due: prettier --write

Add more concise flows in addition to the ones that exist (#106)
  docs/Players/enter-the-house-of-metafam.md
  docs/Players/leaderboard.md
  docs/Players/local-knowledge.md
  docs/Players/start-here.md
  docs/handbook/how-metagame-works.md
  docs/handbook/how-to-play.md
  docs/handbook/where-to-start.md
  docs/handbook/why-play.md
  docusaurus.config.js
  sidebars.js
  src/pages/index.js
  static/img/metagame-map.png
Due: eslint --fix, prettier --write

Update sidebars.js
  sidebars.js
Due: eslint --fix, prettier --write

Add files via upload
  static/assets/guilds.png
  static/assets/patrons.png
  static/assets/players.png
Due: none

Update index.js
  src/pages/index.js
Due: eslint --fix, prettier --write

Update docusaurus.config.js
  docusaurus.config.js
Due: eslint --fix, prettier --write

review improvements
  packages/design-system/.storybook/main.js
  packages/design-system/package.json
  packages/design-system/src/GlobalStyle.tsx
  packages/design-system/src/fonts/fonts.d.ts
  packages/design-system/src/index.ts
  packages/design-system/src/theme.ts
  packages/design-system/stories/.eslintrc
  packages/design-system/stories/0-Text.stories.jsx
  packages/design-system/stories/1-Button.stories.jsx
  packages/design-system/tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

setup design system as a new package (#36)
  package.json
  packages/design-system/.storybook/config.js
  packages/design-system/.storybook/main.js
  packages/design-system/.storybook/themeDecorator.js
  packages/design-system/package.json
  packages/design-system/src/GlobalStyle.tsx
  packages/design-system/src/fonts/fonts.d.ts
  packages/design-system/src/fonts/ibm-plex-mono-v5-latin-700.woff
  packages/design-system/src/fonts/ibm-plex-mono-v5-latin-700.woff2
  packages/design-system/src/fonts/ibm-plex-mono-v5-latin-regular.woff
  packages/design-system/src/fonts/ibm-plex-mono-v5-latin-regular.woff2
  packages/design-system/src/fonts/ibm-plex-sans-v7-latin-700.woff
  packages/design-system/src/fonts/ibm-plex-sans-v7-latin-700.woff2
  packages/design-system/src/fonts/ibm-plex-sans-v7-latin-regular.woff
  packages/design-system/src/fonts/ibm-plex-sans-v7-latin-regular.woff2
  packages/design-system/src/fonts/press-start-2p-regular.woff
  packages/design-system/src/fonts/press-start-2p-regular.woff2
  packages/design-system/src/index.ts
  packages/design-system/src/theme.ts
  packages/design-system/stories/.eslintrc
  packages/design-system/stories/0-Text.stories.jsx
  packages/design-system/stories/1-Button.stories.jsx
  packages/design-system/tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

Add glossary (#107)
  docs/handbook/glossary.md
  docs/handbook/xp.mdx
  docs/manifesto/metafam-way.mdx
  sidebars.js
Due: eslint --fix, prettier --write

Update glossary.md
  docs/handbook/glossary.md
Due: prettier --write

Setup NextJS App with URQL and dummy pokemon data
  .gitignore
  package.json
  packages/app-react/README.md
  packages/web/.eslintrc.json
  packages/web/README.md
  packages/web/graphql/client.ts
  packages/web/graphql/getPokemon.ts
  packages/web/graphql/getPokemons.ts
  packages/web/next-env.d.ts
  packages/web/package.json
  packages/web/pages/index.tsx
  packages/web/pages/pokemon/[name].tsx
  packages/web/tsconfig.json
  packages/web/types/pokemon.ts
  yarn.lock
Due: eslint --fix, prettier --write

Setup build for nextJS app
  README.md
  package.json
  render.yaml
Due: prettier --write

Cleanup Monorepo Build and packaging
  README.md
  package.json
  packages/app-react/tsconfig.json
  packages/backend/package.json
  packages/backend/tsconfig.json
  packages/design-system/package.json
  packages/design-system/src/index.ts
  packages/design-system/src/theme.ts
  packages/design-system/stories/0-Text.stories.jsx
  packages/design-system/tsconfig.json
  packages/utils/package.json
  packages/utils/tsconfig.json
  packages/web/tsconfig.json
  tsconfig.base.json
Due: eslint --fix, prettier --write

Remove old frontend
  frontend/.gitignore
  frontend/package.json
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/public/manifest.json
  frontend/public/robots.txt
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/assets/pushpin.png
  frontend/src/assets/star.png
  frontend/src/components/achievements/achievements.css
  frontend/src/components/achievements/achievements.js
  frontend/src/components/activities/activities.css
  frontend/src/components/activities/activities.js
  frontend/src/components/bio/bio.css
  frontend/src/components/bio/bio.js
  frontend/src/components/game/game.css
  frontend/src/components/game/game.js
  frontend/src/components/nft/nft.css
  frontend/src/components/nft/nft.js
  frontend/src/components/quick/quick.css
  frontend/src/components/quick/quick.js
  frontend/src/components/social/social.css
  frontend/src/components/social/social.js
  frontend/src/index.css
  frontend/src/index.js
  frontend/src/pages/profile/profile.css
  frontend/src/pages/profile/profile.js
  frontend/yarn.lock
Due: eslint --fix, prettier --write

Setting guild type as a foreign-key reference
  hasura/metadata/actions.yaml
  hasura/metadata/tables.yaml
  hasura/migrations/1575910000000_init/up.sql
Due: none

Use foreign table for skills
  hasura/metadata/tables.yaml
  hasura/migrations/1575910000000_init/up.sql
Due: none

Seed data
  hasura/migrations/1595681063913_insert_seed_data/up.sql
Due: none

Setup CI to run linting / typechecking / unit testing with Github Actions
  .github/workflows/PR-CI.yml
  package.json
  packages/app-react/package.json
  packages/app-react/src/App.test.tsx
Due: eslint --fix, prettier --write

Fix web build script to include deps
  package.json
Due: prettier --write

Setup Design System with NextJS Web App
  package.json
  packages/design-system/package.json
  packages/design-system/src/GlobalStyle.tsx
  packages/design-system/src/fonts/fonts.d.ts
  packages/design-system/src/fonts/ibm-plex-mono-v5-latin-700.woff
  packages/design-system/src/fonts/ibm-plex-mono-v5-latin-700.woff2
  packages/design-system/src/fonts/ibm-plex-mono-v5-latin-regular.woff
  packages/design-system/src/fonts/ibm-plex-mono-v5-latin-regular.woff2
  packages/design-system/src/fonts/ibm-plex-sans-v7-latin-700.woff
  packages/design-system/src/fonts/ibm-plex-sans-v7-latin-700.woff2
  packages/design-system/src/fonts/ibm-plex-sans-v7-latin-regular.woff
  packages/design-system/src/fonts/ibm-plex-sans-v7-latin-regular.woff2
  packages/design-system/src/fonts/press-start-2p-regular.woff
  packages/design-system/src/fonts/press-start-2p-regular.woff2
  packages/design-system/src/index.ts
  packages/web/.eslintrc.json
  packages/web/components/Link.tsx
  packages/web/package.json
  packages/web/pages/_app.tsx
  packages/web/pages/_document.tsx
  packages/web/pages/index.tsx
  packages/web/pages/pokemon/[name].tsx
  packages/web/tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

Remove linting from prepush script
  package.json
Due: prettier --write
