Repository MetaFam/TheGame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js}": ["eslint --fix", "prettier --write"],
  "*.{json,yml,md}": "prettier --write"
}

Added another SC constant
  packages/backend/src/handlers/actions/migrateSourceCredAccounts/handler.ts
  packages/utils/src/constants.ts
Due: eslint --fix, prettier --write

Changed to load XP using accounts.json as beore
  packages/discord-bot/.eslintrc.json
  packages/discord-bot/jest.config.js
  packages/discord-bot/package.json
  packages/discord-bot/src/discord/commands/getXp.ts
  packages/discord-bot/test/getXp.test.ts
  packages/utils/src/constants.ts
Due: eslint --fix, prettier --write

Fixed docker build
  docker-compose.yml
  packages/discord-bot/package.json
  packages/discord-bot/src/config.ts
  packages/discord-bot/src/start.ts
  render.yaml
  yarn.lock
Due: eslint --fix, prettier --write

Fixed globs
  packages/discord-bot/src/discord/AppDiscord.ts
  packages/discord-bot/src/discord/commands/getXp.ts
  packages/discord-bot/src/discord/commands/setEthAddress.ts
  packages/discord-bot/src/index.ts
Due: eslint --fix, prettier --write

Migrated existing xp command functionality
  packages/@types/sourcecred/index.d.ts
  packages/backend/src/config.ts
  packages/backend/src/handlers/actions/migrateSourceCredAccounts/handler.ts
  packages/backend/src/handlers/actions/migrateSourceCredAccounts/types.ts
  packages/discord-bot/src/AppDiscord.ts
  packages/discord-bot/src/commands/getXp.ts
  packages/discord-bot/src/commands/setEthAddress.ts
  packages/discord-bot/src/config.ts
  packages/discord-bot/src/sourcecred.ts
  packages/discord-bot/src/utils.ts
  packages/utils/package.json
  packages/utils/src/constants.ts
  render.yaml
  yarn.lock
Due: eslint --fix, prettier --write

Implement activation of identities and persisting ledger
  packages/@types/sourcecred/index.d.ts
  packages/backend/src/handlers/actions/migrateSourceCredAccounts/handler.ts
  packages/discord-bot/src/AppDiscord.ts
Due: eslint --fix, prettier --write

Discord Bot MVP
  packages/discord-bot/package.json
Due: prettier --write

Rebased
  packages/discord-bot/package.json
  yarn.lock
Due: prettier --write

Removed prefix as it was colliding with existing bot
  packages/discord-bot/src/discord/AppDiscord.ts
  packages/discord-bot/src/discord/commands/getXp.ts
Due: eslint --fix, prettier --write

Setup command to link ETH account to Ledger
  packages/discord-bot/src/AppDiscord.ts
  packages/discord-bot/src/config.ts
  packages/discord-bot/src/graphql/client.ts
  packages/discord-bot/src/graphql/queries.ts
  tsconfig.base.json
Due: eslint --fix, prettier --write

Fixed backend boot issue
  packages/discord-bot/package.json
  packages/discord-bot/src/discord/commands/setEthAddress.ts
  packages/discord-bot/tsconfig.json
  tsconfig.base.json
Due: eslint --fix, prettier --write

use sourcecred-publish-test for latest SC features
  packages/@types/sourcecred/index.d.ts
  packages/backend/src/handlers/actions/migrateSourceCredAccounts/handler.ts
  packages/discord-bot/src/AppDiscord.ts
Due: eslint --fix, prettier --write

Fixed dynamic loading of discord classes / commands
  packages/discord-bot/src/discord/AppDiscord.ts
  packages/discord-bot/src/index.ts
  packages/discord-bot/src/sourcecred.ts
  packages/discord-bot/src/start.ts
  packages/discord-bot/tsconfig.json
Due: eslint --fix, prettier --write

Added Dockerfile for discord-bot
  docker-compose.yml
  docker/discord-bot/Dockerfile
  packages/backend/.eslintrc.json
  packages/backend/src/handlers/actions/migrateSourceCredAccounts/handler.ts
  packages/discord-bot/package.json
  packages/discord-bot/src/AppDiscord.ts
  packages/discord-bot/src/start.ts
  packages/discord-bot/src/utils.ts
Due: eslint --fix, prettier --write

Remove mymeta from Render.yaml
  render.yaml
Due: none

WIP on adding ReactQuill to the quest descriptions
  packages/web/components/FormattedText.tsx
  packages/web/components/Quest/QuestDetails.tsx
  packages/web/components/Quest/QuestForm.tsx
  packages/web/components/Quest/QuestTags.tsx
  packages/web/components/Quest/QuestTile.tsx
  packages/web/package.json
  packages/web/utils/questHelpers.ts
  yarn.lock
Due: eslint --fix, prettier --write

fixed n00bie error
  packages/web/components/Quest/QuestForm.tsx
Due: eslint --fix, prettier --write

fixed errors
  packages/web/utils/questHelpers.ts
Due: eslint --fix, prettier --write

more n00b errors fixed
  packages/web/utils/questHelpers.ts
Due: eslint --fix, prettier --write

increased player listing to 150
  packages/web/graphql/getPlayers.ts
  packages/web/pages/players.tsx
Due: eslint --fix, prettier --write

Remove mymeta from Render.yaml (#518)
  render.yaml
Due: none

removed unnecessary extra var
  packages/web/pages/players.tsx
Due: eslint --fix, prettier --write

[MyMeta] increased player listing to 150 (#541)
  packages/web/graphql/getPlayers.ts
  packages/web/pages/players.tsx
Due: eslint --fix, prettier --write

fixed intermittent github workflow build errors
  .github/workflows/PR-CI.yml
Due: prettier --write

added retries to urql
  packages/web/graphql/client.ts
  packages/web/graphql/getPlayer.ts
  packages/web/graphql/getPlayers.ts
  packages/web/package.json
  packages/web/pages/player/[username].tsx
  packages/web/pages/players.tsx
  packages/web/pages/quest/[id].tsx
  yarn.lock
Due: eslint --fix, prettier --write

Update why-patron.md
  docs/enter-metagame/why-patron.md
Due: prettier --write

reverted urql to v2.0.2
  packages/web/package.json
  yarn.lock
Due: prettier --write

Finalize setEthAddress command
  packages/@types/sourcecred/index.d.ts
  packages/discord-bot/package.json
  packages/discord-bot/src/config.ts
  packages/discord-bot/src/discord/AppDiscord.ts
  packages/discord-bot/src/discord/commands/getXp.ts
  packages/discord-bot/src/discord/commands/setEthAddress.ts
  packages/discord-bot/src/index.ts
  packages/discord-bot/src/sourcecred.ts
  packages/discord-bot/src/start.ts
Due: eslint --fix, prettier --write

fixed 404 on guild detail page request
  packages/web/pages/guilds/[guildname].tsx
Due: eslint --fix, prettier --write

changes due to naming conventions
  packages/web/components/Guild/GuildTile.tsx
  packages/web/pages/guild/[guildname].tsx
Due: eslint --fix, prettier --write

fixed 404 on guild detail page request (#529)
  packages/web/components/Guild/GuildTile.tsx
  packages/web/pages/guild/[guildname].tsx
Due: eslint --fix, prettier --write

simplified queries for player/guild pages
  packages/web/graphql/getGuilds.ts
  packages/web/graphql/getPlayers.ts
  packages/web/pages/guild/[guildname].tsx
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

updated github actions to debug hasura
  .github/workflows/PR-CI.yml
Due: prettier --write

Update Enter Metagame “join-metagame” (#228)
  docs/enter-metagame/join-metagame.md
Due: prettier --write
