Repository MetaFam/TheGame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Try adding player XP
  packages/web/components/MegaMenu.tsx
Due: eslint --fix, prettier --write

Add the Great Houses of Dapps and DeFiance (#285)
  docs/great-houses/house-of-dapps.md
  docs/great-houses/house-of-defi.md
  docs/great-houses/house-of-ethereum.md
  sidebars.js
Due: eslint --fix, prettier --write

added season_xp to db
  hasura/migrations/1626447130608_alter_table_public_player_add_column_season_xp/down.sql
  hasura/migrations/1626447130608_alter_table_public_player_add_column_season_xp/up.sql
  packages/backend/src/handlers/actions/migrateSourceCredAccounts/handler.ts
  packages/backend/src/handlers/graphql/mutations.ts
  packages/backend/src/lib/xpHelpers.ts
  schema.graphql
Due: eslint --fix, prettier --write

made season_xp not null
  hasura/migrations/1626447130608_alter_table_public_player_add_column_season_xp/up.sql
Due: none

added tests for getNumWeeksInSeason
  packages/backend/src/lib/xpHelpers.ts
  packages/backend/tests/lib/xpHelpers.test.ts
Due: eslint --fix, prettier --write

minor semantic fixes
  packages/design-system/src/MetaFilterSelect.tsx
  packages/web/components/Player/Filter/AdjascentTimezonePlayers.tsx
  packages/web/components/Player/Filter/PlayerFilter.tsx
  packages/web/components/Player/Filter/PlayersNotFound.tsx
  packages/web/components/Player/PlayerTile.tsx
  packages/web/pages/players.tsx
Due: eslint --fix, prettier --write

Fixed UI bug on PlayerHero.tsx
  packages/web/components/Player/Section/PlayerHero.tsx
Due: eslint --fix, prettier --write

Updated PlayerHero.tsx: Fixed UI bug
  packages/web/components/Player/Section/PlayerHero.tsx
Due: eslint --fix, prettier --write

fix indent
  packages/web/components/Player/Section/PlayerHero.tsx
Due: eslint --fix, prettier --write

removing whitespace
  packages/web/components/Player/Section/PlayerHero.tsx
Due: eslint --fix, prettier --write

The color display on a player's profile is broken (fixes #716) (#722)
  packages/web/components/Player/Section/PlayerHero.tsx
Due: eslint --fix, prettier --write

fixed useEffect called too many times
  packages/design-system/src/SelectTimeZone.tsx
  packages/web/components/Player/Filter/AdjascentTimezonePlayers.tsx
  packages/web/components/Player/Filter/PlayerFilter.tsx
  packages/web/lib/hooks/players.ts
  packages/web/package.json
  packages/web/pages/players.tsx
  packages/web/utils/dateHelpers.ts
Due: eslint --fix, prettier --write

display GMT+0:00 for GMT
  packages/web/components/Player/PlayerTile.tsx
  packages/web/components/Player/PlayerTimeZone.tsx
  packages/web/utils/dateHelpers.ts
Due: eslint --fix, prettier --write

updated player tile to show timezone instead of about
  packages/web/components/Player/Filter/AdjascentTimezonePlayers.tsx
  packages/web/components/Player/Filter/PlayerFilter.tsx
  packages/web/components/Player/Filter/PlayersNotFound.tsx
  packages/web/components/Player/PlayerContacts.tsx
  packages/web/components/Player/PlayerTile.tsx
  packages/web/components/Player/PlayerTileMemberships.tsx
Due: eslint --fix, prettier --write

fixed daoHaus membership links
  packages/web/components/Player/PlayerTile.tsx
  packages/web/components/Player/PlayerTileMemberships.tsx
  packages/web/components/Player/Section/PlayerMemberships.tsx
Due: eslint --fix, prettier --write

padding above about section
  packages/web/components/Player/PlayerTile.tsx
Due: eslint --fix, prettier --write

better messaging for no players found
  packages/design-system/src/SelectTimeZone.tsx
  packages/web/assets/no-players-found.svg
  packages/web/components/Player/Filter/AdjascentTimezonePlayers.tsx
  packages/web/components/Player/Filter/PlayerFilter.tsx
  packages/web/components/Player/Filter/PlayersNotFound.tsx
  packages/web/lib/hooks/players.ts
  packages/web/pages/players.tsx
Due: eslint --fix, prettier --write

better styling for player timezone & profile page
  packages/web/components/Player/PlayerTile.tsx
  packages/web/components/Player/PlayerTimeZone.tsx
  packages/web/components/Player/Section/PlayerCollab.tsx
  packages/web/components/Player/Section/PlayerHero.tsx
  packages/web/components/ProfileSection.tsx
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

added about with max length
  packages/web/components/Player/PlayerTile.tsx
Due: eslint --fix, prettier --write

showing adjacent timezones for players
  packages/web/components/Player/Filter/AdjascentTimezonePlayers.tsx
  packages/web/components/Player/Filter/DesktopFilters.tsx
  packages/web/components/Player/Filter/MobileFilters.tsx
  packages/web/lib/hooks/players.ts
  packages/web/pages/players.tsx
Due: eslint --fix, prettier --write

better messaging for timezone filter
  packages/web/components/Player/Filter/AdjascentTimezonePlayers.tsx
  packages/web/pages/players.tsx
Due: eslint --fix, prettier --write

fixed filters not working with touch handlers
  packages/design-system/src/MetaFilterSelect.tsx
  packages/web/components/Player/Filter/DesktopFilters.tsx
Due: eslint --fix, prettier --write

better display in player page
  packages/web/pages/player/[username].tsx
  packages/web/utils/dateHelpers.ts
Due: eslint --fix, prettier --write

support select of season_xp by players & public
  hasura/metadata/tables.yaml
  schema.graphql
Due: none

creating table to hold cached 3Box profile 🦘
  hasura/migrations/1625550966531_create_table_public_profile_cache/down.sql
  hasura/migrations/1625550966531_create_table_public_profile_cache/up.sql
  hasura/migrations/1625552324557_alter_table_public_profile_cache_add_column_player_id/down.sql
  hasura/migrations/1625552324557_alter_table_public_profile_cache_add_column_player_id/up.sql
  hasura/migrations/1625552537557_set_fk_public_profile_cache_player_id/down.sql
  hasura/migrations/1625552537557_set_fk_public_profile_cache_player_id/up.sql
  hasura/migrations/1625561772331_alter_table_public_profile_cache_add_unique_id/down.sql
  hasura/migrations/1625561772331_alter_table_public_profile_cache_add_unique_id/up.sql
Due: none

locking stylis version to eliminate middleware error 🧤
  package.json
Due: prettier --write

adding ceramic and IDX to the backend 🎱
  .gitignore
  packages/backend/package.json
  yarn.lock
Due: prettier --write

configuring Hasura actions and triggers to cache profiles 🎡
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
  hasura/metadata/tables.yaml
  schema.graphql
Due: none

queries and mutations to support profile caching 🗽
  packages/backend/package.json
  packages/backend/src/config.ts
  packages/backend/src/handlers/actions/3Box/cache3BoxProfile/handler.ts
  packages/backend/src/handlers/actions/3Box/cache3BoxProfile/updateCachedProfile.ts
  packages/backend/src/handlers/actions/3Box/cache3BoxProfile/updateVerifiedAccounts.ts
  packages/backend/src/handlers/actions/3Box/refresh3BoxCache/cache3BoxProfiles.ts
  packages/backend/src/handlers/actions/3Box/refresh3BoxCache/handler.ts
  packages/backend/src/handlers/actions/3Box/routes.ts
  packages/backend/src/handlers/actions/routes.ts
  packages/backend/src/handlers/graphql/mutations.ts
  packages/backend/src/handlers/graphql/queries.ts
  packages/backend/src/handlers/triggers/cache3BoxProfile.ts
  packages/backend/src/handlers/triggers/fetchBoxVerifiedAccounts.ts
  packages/backend/src/handlers/triggers/handler.ts
  packages/backend/src/lib/apiHelpers.ts
  yarn.lock
Due: eslint --fix, prettier --write

missing CacheProcessOutput 🐥
  schema.graphql
Due: none

frontend changes to use cached profile rather than remote schema 🍥
  packages/web/components/Patron/PatronTile.tsx
  packages/web/graphql/fragments.ts
  packages/web/lib/hooks/opensea.ts
  packages/web/pages/profile/setup/username.tsx
  packages/web/utils/playerHelpers.ts
Due: eslint --fix, prettier --write

rebasing & regenerating schema 🥘
  packages/backend/src/handlers/graphql/mutations.ts
  schema.graphql
Due: eslint --fix, prettier --write

removing commented code 🎁
  packages/backend/src/handlers/actions/3Box/cache3BoxProfile/updateCachedProfile.ts
  packages/backend/src/handlers/actions/3Box/refresh3BoxCache/handler.ts
Due: eslint --fix, prettier --write

removing job & ethereum addr from cached info 🎯
  hasura/metadata/tables.yaml
  packages/web/graphql/fragments.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,yml,md})
