Repository MetaFam/TheGame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,yml,md}": "prettier --write"
}

Clarified github api token scope requirement
  guides/BACKEND.md
Due: prettier --write

Added shebang line on husky pre-* commands
  .husky/pre-commit
  .husky/pre-push
Due: none

Updated FRONTEND.md to display working yarn and node version support
  guides/FRONTEND.md
Due: prettier --write

Update FRONTEND.md
  guides/FRONTEND.md
Due: prettier --write

remove broken package
  packages/design-system/package.json
Due: prettier --write

remove docgen loader
  packages/design-system/.storybook/main.js
Due: eslint --fix, prettier --write

working build
  yarn.lock
Due: none

pin ts
  packages/design-system/.storybook/main.js
  packages/design-system/package.json
  yarn.lock
Due: eslint --fix, prettier --write

Updated nvmrc
  .nvmrc
Due: none

Fixed to 12.20.2
  .nvmrc
Due: none

focus on contributing guide
  README.md
Due: prettier --write

added mostly informative links
  README.md
  guides/BACKEND.md
Due: prettier --write

Update signpost.js
  src/components/signpost.js
Due: eslint --fix, prettier --write

Update narrative-1-a-decentralized-factory.md
  docs/wtf-is-metagame/narrative-1-a-decentralized-factory.md
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

added a frequently asked question about Lerna
  README.md
Due: prettier --write

Import all frontend components, assets, and menuLinks list
  packages/design-system/src/index.ts
  packages/design-system/src/theme/index.ts
  packages/web/assets/search-icon.svg
  packages/web/assets/seed-icon.svg
  packages/web/assets/xp-star.svg
  packages/web/components/MegaMenu.tsx
  packages/web/pages/_app.tsx
  packages/web/utils/menuLinks.ts
Due: eslint --fix, prettier --write

Fix z-index, item type
  packages/web/components/MegaMenu.tsx
Due: eslint --fix, prettier --write

Remove playerstats
  packages/web/components/MegaMenu.tsx
  packages/web/pages/_app.tsx
Due: eslint --fix, prettier --write

Added documentation (#779)
  README.md
  guides/BACKEND.md
Due: prettier --write

added description of no-verify option
  README.md
Due: prettier --write

updated patron tile with latest player tile changes
  packages/web/components/Patron/PatronTile.tsx
Due: eslint --fix, prettier --write

added sorting to the filters
  packages/design-system/src/MetaFilterSelect.tsx
  packages/web/components/Player/Filter/DesktopFilters.tsx
  packages/web/components/Player/Filter/MobileFilters.tsx
  packages/web/components/Player/Filter/PlayerFilter.tsx
  packages/web/graphql/fragments.ts
  packages/web/graphql/getPlayers.ts
  packages/web/lib/hooks/players.ts
Due: eslint --fix, prettier --write

added skeleton loading for num players
  packages/web/components/Player/Filter/AdjascentTimezonePlayers.tsx
  packages/web/components/Player/Filter/PlayerFilter.tsx
  packages/web/components/Player/Filter/PlayerTileSkeleton.tsx
  packages/web/components/Player/Filter/PlayersLoading.tsx
Due: eslint --fix, prettier --write

added skeleton loading states
  packages/design-system/src/index.ts
  packages/web/components/Player/Filter/AdjascentTimezonePlayers.tsx
  packages/web/components/Player/Filter/PlayersLoading.tsx
  packages/web/components/Player/PlayerList.tsx
  packages/web/components/Player/PlayerTileSkeleton.tsx
  packages/web/pages/players.tsx
Due: eslint --fix, prettier --write

better labels for sorting
  packages/design-system/src/MetaFilterSelect.tsx
  packages/web/components/Player/Filter/PlayerFilter.tsx
  packages/web/lib/hooks/players.ts
Due: eslint --fix, prettier --write

updated skeleton tiles
  packages/web/components/Player/PlayerTileSkeleton.tsx
Due: eslint --fix, prettier --write

showing total_xp only if not sorted by season_xp
  packages/web/components/Player/Filter/AdjascentTimezonePlayers.tsx
  packages/web/components/Player/PlayerList.tsx
  packages/web/components/Player/PlayerTile.tsx
  packages/web/pages/players.tsx
Due: eslint --fix, prettier --write

fixed LinkOverlay issues
  packages/backend/package.json
  packages/design-system/package.json
  packages/design-system/src/MetaButton.tsx
  packages/design-system/src/MetaTile.tsx
  packages/discord-bot/package.json
  packages/utils/package.json
  packages/web/components/Guild/GuildTile.tsx
  packages/web/components/Patron/PatronTile.tsx
  packages/web/components/Patron/PatronTile.tsx.bak
  packages/web/components/Player/PlayerContacts.tsx
  packages/web/components/Player/PlayerTile.tsx
  packages/web/components/Quest/QuestFilter.tsx
  packages/web/components/Quest/QuestTile.tsx
  packages/web/package.json
  yarn.lock
Due: eslint --fix, prettier --write

showing seasonal xp more clearly
  packages/web/components/Player/PlayerTile.tsx
Due: eslint --fix, prettier --write

removed unwanted file
  packages/web/components/Patron/PatronTile.tsx.bak
Due: none

removed custom logic from design-system
  packages/design-system/src/MetaFilterSelect.tsx
  packages/web/components/Player/Filter/DesktopFilters.tsx
Due: eslint --fix, prettier --write
