Repository MetaFam/TheGame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,yml,md}": "prettier --write"
}

fix: hide quests demo app link
  packages/web/utils/menuLinks.ts
Due: eslint --fix, prettier --write

chore: roles_id -> roleIds
  schema.graphql
Due: none

feat: support for editing roles on quests
  packages/web/pages/quest/create.tsx
Due: eslint --fix, prettier --write

feat: save roles to backend
  packages/backend/src/handlers/actions/quests/createQuest/createQuest.ts
  packages/web/pages/quest/create.tsx
  schema.graphql
Due: eslint --fix, prettier --write

quest-roles-demo init
  schema.graphql
Due: none

feat: add additional roles: Bridgebuilding, Rainmaking, Videomaking
  schema.graphql
Due: none

chore: revert changes that allowed me to bypass creating quests
  packages/backend/src/handlers/actions/quests/createQuest/createQuest.ts
Due: eslint --fix, prettier --write

fix: rebasing changes
  packages/web/components/Player/Section/PlayerCompletedQuests.tsx
  packages/web/graphql/fragments.ts
  packages/web/graphql/getQuests.ts
  schema.graphql
Due: eslint --fix, prettier --write

feat: display completed quest name + link
  hasura/metadata/tables.yaml
  packages/web/components/Player/Section/PlayerCompletedQuests.tsx
  packages/web/graphql/fragments.ts
  packages/web/graphql/getQuests.ts
  schema.graphql
Due: eslint --fix, prettier --write

feat: completed quests section
  packages/web/components/Player/Section/PlayerCompletedQuests.tsx
  packages/web/components/Player/Section/config.ts
  packages/web/components/Profile/PlayerSection.tsx
  packages/web/graphql/getQuests.ts
  packages/web/utils/boxTypes.ts
Due: eslint --fix, prettier --write

style: add proof link and style
  packages/web/components/Player/Section/PlayerCompletedQuests.tsx
  packages/web/components/Profile/ProfileSection.tsx
Due: eslint --fix, prettier --write

style: all quests content and subheader
  packages/web/components/Player/Section/PlayerCompletedQuests.tsx
  packages/web/components/Profile/ProfileSection.tsx
Due: eslint --fix, prettier --write

fix: schema
  schema.graphql
Due: none

style: all quests modal footer
  packages/web/components/Player/Section/PlayerCompletedQuests.tsx
  packages/web/components/Profile/ProfileSection.tsx
Due: eslint --fix, prettier --write

chore: remove mock data
  packages/web/components/Player/Section/PlayerCompletedQuests.tsx
Due: eslint --fix, prettier --write

chore: delete console.log
  packages/web/graphql/getQuests.ts
Due: eslint --fix, prettier --write

chore: dysbulic's suggestions
  hasura/migrations/1642777028373_add_player_roles/up.sql
  packages/backend/src/handlers/actions/quests/createQuest/createQuest.ts
  packages/web/components/Dashboard/Leaderboard.tsx
  packages/web/components/Player/Filter/DesktopFilters.tsx
  packages/web/components/Player/Section/PlayerCompletedQuests.tsx
  packages/web/components/Profile/ProfileSection.tsx
  packages/web/components/Quest/QuestDetails.tsx
  packages/web/components/Quest/QuestFilter.tsx
  packages/web/components/Quest/QuestForm.tsx
  packages/web/components/Quest/QuestTile.tsx
  packages/web/components/Roles.tsx
  packages/web/components/Setup/SetupRoles.tsx
  packages/web/graphql/getQuests.ts
  packages/web/pages/profile/setup/roles.tsx
  packages/web/pages/quest/[id]/edit.tsx
  packages/web/pages/quest/create.tsx
  packages/web/pages/quests.tsx
Due: eslint --fix, prettier --write

fix: final fixes
  hasura/metadata/tables.yaml
  packages/web/components/Profile/ProfileSection.tsx
  packages/web/components/Quest/QuestFilter.tsx
  packages/web/graphql/getQuests.ts
  packages/web/graphql/mutations/updateQuest.ts
  packages/web/pages/quest/[id]/edit.tsx
  schema.graphql
Due: eslint --fix, prettier --write

Completed quests widget (#1085)
  hasura/metadata/tables.yaml
  hasura/migrations/1642635473840_alter_table_public_PlayerRole_add_column_basic/up.sql
  hasura/migrations/1642777028373_add_player_roles/up.sql
  packages/backend/src/handlers/actions/quests/createQuest/createQuest.ts
  packages/web/components/Dashboard/Leaderboard.tsx
  packages/web/components/Player/Filter/DesktopFilters.tsx
  packages/web/components/Player/Section/PlayerCompletedQuests.tsx
  packages/web/components/Player/Section/config.ts
  packages/web/components/Profile/PlayerSection.tsx
  packages/web/components/Profile/ProfileSection.tsx
  packages/web/components/Quest/QuestDetails.tsx
  packages/web/components/Quest/QuestFilter.tsx
  packages/web/components/Quest/QuestForm.tsx
  packages/web/components/Quest/QuestTile.tsx
  packages/web/components/Roles.tsx
  packages/web/components/Setup/SetupRoles.tsx
  packages/web/graphql/fragments.ts
  packages/web/graphql/getQuests.ts
  packages/web/graphql/mutations/updateQuest.ts
  packages/web/pages/profile/setup/roles.tsx
  packages/web/pages/quest/[id]/edit.tsx
  packages/web/pages/quest/create.tsx
  packages/web/pages/quests.tsx
  packages/web/utils/boxTypes.ts
  schema.graphql
Due: eslint --fix, prettier --write

fix: fixed high level layouting
  packages/design-system/src/SelectTimeZone.tsx
  packages/design-system/src/index.ts
  packages/design-system/src/theme/index.ts
  packages/web/components/Container.tsx
  packages/web/components/EditProfileForm.tsx
  packages/web/components/MegaMenu/MegaMenu.tsx
  packages/web/components/MegaMenu/PlayerStatsBar.tsx
  packages/web/components/MegaMenu/index.tsx
  packages/web/components/Player/ColorBar.tsx
  packages/web/components/PlayerStatsBar.tsx
  packages/web/components/Setup/SetupPersonalityType.tsx
  packages/web/pages/_app.tsx
  packages/web/pages/community/events.tsx
  packages/web/pages/community/players.tsx
  packages/web/pages/invest/becomeapatron.tsx
  packages/web/pages/invest/buyseeds.tsx
  packages/web/pages/invest/grants.tsx
  packages/web/pages/invest/plantseeds.tsx
  packages/web/pages/learn/metaradio.tsx
  packages/web/pages/learn/playbooks.tsx
  packages/web/pages/learn/thegreathouses.tsx
  packages/web/pages/learn/wiki.tsx
  packages/web/pages/player/[username].tsx
Due: eslint --fix, prettier --write

fix: fixed default player profile layout
  packages/web/components/Player/Section/PlayerCompletedQuests.tsx
  packages/web/components/Player/Section/PlayerHero.tsx
  packages/web/components/Player/Section/config.ts
  packages/web/components/Profile/PlayerSection.tsx
  packages/web/components/Profile/ProfileSection.tsx
Due: eslint --fix, prettier --write

made names more consistent, interpolated many variables, & added deployment support 🚋
  .github/workflows/gcp-deploy.yaml
Due: none

adding necessary dependency & renaming seed task 🦇
  .github/workflows/gcp-deploy.yaml
  README.md
  guides/BACKEND.md
  hasura/seed-db.mjs
  package.json
Due: prettier --write

making db user removal non-essential 💯
  .github/workflows/gcp-deploy.yaml
Due: none

naming consistency 🌷
  .github/workflows/gcp-deploy.yaml
Due: none

feat: can edit roles from profile page
  packages/web/components/MegaMenu/PlayerStatsBar.tsx
  packages/web/components/MegaMenu/index.tsx
  packages/web/components/Player/Section/PlayerCompletedQuests.tsx
  packages/web/components/Player/Section/PlayerHero.tsx
  packages/web/components/Player/Section/PlayerRoles.tsx
  packages/web/components/Profile/ProfileSection.tsx
  packages/web/components/Setup/SetupAvailability.tsx
  packages/web/components/Setup/SetupDone.tsx
  packages/web/components/Setup/SetupMemberships.tsx
  packages/web/components/Setup/SetupPersonalityType.tsx
  packages/web/components/Setup/SetupPlayerType.tsx
  packages/web/components/Setup/SetupPronouns.tsx
  packages/web/components/Setup/SetupRoles.tsx
  packages/web/components/Setup/SetupSkills.tsx
  packages/web/components/Setup/SetupTimeZone.tsx
  packages/web/components/Setup/SetupUsername.tsx
  packages/web/pages/_app.tsx
  packages/web/pages/profile/setup/roles.tsx
  packages/web/pages/profile/setup/skills.tsx
Due: eslint --fix, prettier --write

setting deployment descriptor to finish canceled deployments 🚜
  .github/workflows/gcp-deploy.yaml
Due: none

pushing a change while in progress to test finishing step 🏈
  .github/workflows/PR-CI.yml
Due: prettier --write

fixing step name & debugging frontend failure 🥶
  .github/workflows/gcp-deploy.yaml
Due: none

fixing dependencies & hopefully passing outputs correctly 🐖
  .github/workflows/gcp-deploy.yaml
Due: none

revising seeding script to reflect possible non-locality of the db 🎻
  .github/workflows/gcp-deploy.yaml
  hasura/seed-db.mjs
Due: none

trying to fix the deployment status 🐺
  .github/workflows/gcp-deploy.yaml
Due: none

startup failed, trying a different tact ♨
  .github/workflows/gcp-deploy.yaml
Due: none

hopefully finally got the status reference correct 🇰🇷
  .github/workflows/gcp-deploy.yaml
Due: none

shortening SourceCred migration URL 🧩
  .github/workflows/gcp-deploy.yaml
  hasura/seed-db.mjs
Due: none

jobs.….result has a return value job.status doesn’t 🎫
  .github/workflows/gcp-deploy.yaml
Due: none

moving database URL to env & causing the running job to cancel 🔬
  .github/workflows/gcp-deploy.yaml
Due: none

missing quote 🏝
  .github/workflows/gcp-deploy.yaml
Due: none

possible env variable issue with a "password" in it 🍞
  .github/workflows/gcp-deploy.yaml
Due: none
