Repository MetaFam/TheGame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Update Great Houses “house-of-daos” (#229)
  docs/great-houses/house-of-daos.md
Due: prettier --write

Update why-patron.md
  docs/enter-metagame/why-patron.md
Due: prettier --write

Dont run discord-bot when running backend:dev
  package.json
Due: prettier --write

Finalize setEthAddress command
  packages/@types/sourcecred/index.d.ts
  packages/discord-bot/package.json
  packages/discord-bot/src/config.ts
  packages/discord-bot/src/discord/AppDiscord.ts
  packages/discord-bot/src/discord/commands/getXp.ts
  packages/discord-bot/src/discord/commands/setEthAddress.ts
  packages/discord-bot/src/index.ts
  packages/discord-bot/src/sourcecred.ts
  packages/discord-bot/src/start.ts
Due: eslint --fix, prettier --write

fixed eslint-plugin-import update
  package.json
  packages/backend/package.json
  packages/backend/src/config.ts
  packages/backend/src/handlers/actions/migrateSourceCredAccounts/handler.ts
  packages/design-system/package.json
  packages/discord-bot/jest.config.js
  packages/discord-bot/package.json
  packages/discord-bot/src/discord/commands/setEthAddress.ts
  packages/discord-bot/src/utils.ts
  packages/discord-bot/test/getXp.test.ts
  packages/utils/package.json
  packages/utils/src/constants.ts
  packages/web/components/Guild/GuildLinks.tsx
  packages/web/package.json
  yarn.lock
Due: eslint --fix, prettier --write

Added an env var to specify which types of files are loaded
  docker/discord-bot/Dockerfile
  packages/discord-bot/README.md
  packages/discord-bot/src/discord/AppDiscord.ts
  packages/discord-bot/src/discord/commands/getXp.ts
  packages/discord-bot/src/index.ts
Due: eslint --fix, prettier --write

Ignore d.ts files in discord bot glob
  packages/discord-bot/src/discord/AppDiscord.ts
  packages/discord-bot/src/index.ts
Due: eslint --fix, prettier --write

fetching multiple players in parallel
  packages/web/components/Player/PlayerFilter.tsx
  packages/web/components/Player/PlayerList.tsx
  packages/web/graphql/getPlayers.ts
  packages/web/lib/hooks/players.ts
  packages/web/pages/players.tsx
Due: eslint --fix, prettier --write

player filters for type and skills
  packages/design-system/src/theme/colors.ts
  packages/design-system/src/theme/index.ts
  packages/web/components/Guild/GuildList.tsx
  packages/web/components/Patron/PatronList.tsx
  packages/web/components/Player/PlayerContacts.tsx
  packages/web/components/Player/PlayerFilter.tsx
  packages/web/components/Player/PlayerList.tsx
  packages/web/components/Player/PlayerTile.tsx
  packages/web/components/Player/PlayerTileMemberships.tsx
  packages/web/components/PlayerList.tsx
  packages/web/graphql/client.ts
  packages/web/graphql/fragments.ts
  packages/web/graphql/getPlayers.ts
  packages/web/graphql/getQuests.ts
  packages/web/lib/hooks/brightId.ts
  packages/web/lib/hooks/players.ts
  packages/web/pages/guilds.tsx
  packages/web/pages/patrons.tsx
  packages/web/pages/players.tsx
  packages/web/pages/quests.tsx
  packages/web/utils/playerHelpers.ts
Due: eslint --fix, prettier --write

removed tile fragment
  packages/web/components/Player/PlayerContacts.tsx
  packages/web/components/Player/PlayerFilter.tsx
  packages/web/components/Player/PlayerList.tsx
  packages/web/components/Player/PlayerTile.tsx
  packages/web/components/Player/PlayerTileMemberships.tsx
  packages/web/graphql/fragments.ts
  packages/web/graphql/getPlayers.ts
  packages/web/lib/hooks/brightId.ts
  packages/web/lib/hooks/players.ts
  packages/web/utils/playerHelpers.ts
Due: eslint --fix, prettier --write

better spacing
  packages/web/components/Player/PlayerFilter.tsx
  packages/web/components/Quest/QuestFilter.tsx
Due: eslint --fix, prettier --write

search by username or address
  packages/web/components/Player/PlayerFilter.tsx
  packages/web/graphql/getPlayers.ts
  packages/web/pages/players.tsx
Due: eslint --fix, prettier --write

availability filter
  packages/web/components/Player/PlayerFilter.tsx
  packages/web/graphql/getPlayers.ts
  packages/web/pages/players.tsx
Due: eslint --fix, prettier --write

submit form in search bar
  packages/web/components/Player/PlayerFilter.tsx
Due: eslint --fix, prettier --write

timezone filter
  packages/design-system/package.json
  packages/design-system/src/SelectTimeZone.tsx
  packages/design-system/src/index.ts
  packages/web/components/Player/PlayerFilter.tsx
  packages/web/graphql/getPlayers.ts
  packages/web/next.config.js
  packages/web/package.json
  yarn.lock
Due: eslint --fix, prettier --write

passing tests in ds
  packages/design-system/.babel.config.js
  packages/design-system/jest.config.js
  packages/design-system/package.json
  packages/web/components/Player/PlayerFilter.tsx
  yarn.lock
Due: eslint --fix, prettier --write

added better labels for timezone
  packages/design-system/package.json
  packages/design-system/src/SelectTimeZone.tsx
  packages/design-system/src/index.ts
  packages/web/components/Player/PlayerFilter.tsx
  packages/web/package.json
Due: eslint --fix, prettier --write

fixed test issue
  packages/design-system/.babel.config.js
  packages/design-system/babel.config.js
  packages/design-system/jest.config.js
  packages/design-system/package.json
  packages/design-system/src/SelectTimeZone.tsx
  packages/design-system/tsconfig.json
  packages/web/package.json
  yarn.lock
Due: eslint --fix, prettier --write

meta select ds
  packages/design-system/src/MetaSelect.tsx
  packages/design-system/src/icons/DropDownIcon.tsx
  packages/design-system/src/icons/index.ts
  packages/design-system/src/index.ts
  packages/web/components/Player/PlayerFilter.tsx
  packages/web/components/Quest/QuestFilter.tsx
Due: eslint --fix, prettier --write

searching only if search >= 2 char
  packages/web/components/Player/PlayerFilter.tsx
Due: eslint --fix, prettier --write

updated metabutton bg color
  packages/design-system/src/MetaButton.tsx
Due: eslint --fix, prettier --write

parallel for > 50 only
  packages/design-system/package.json
  packages/web/graphql/getPlayers.ts
  packages/web/lib/hooks/players.ts
Due: eslint --fix, prettier --write

fix reset search filter
  packages/web/components/Player/PlayerFilter.tsx
Due: eslint --fix, prettier --write

Delete skills and accounts when players deleted
  hasura/migrations/1621361512597_set_fk_public_player_skill_player_id/down.sql
  hasura/migrations/1621361512597_set_fk_public_player_skill_player_id/up.sql
  hasura/migrations/1621375064493_set_fk_public_player_account_player_id/down.sql
  hasura/migrations/1621375064493_set_fk_public_player_account_player_id/up.sql
Due: none

Made xp weekly change more readable
  packages/discord-bot/src/discord/commands/getXp.ts
Due: eslint --fix, prettier --write

Made xp weekly change more readable (#569)
  packages/discord-bot/src/discord/commands/getXp.ts
Due: eslint --fix, prettier --write

added filters for /players page (#566)
  packages/design-system/babel.config.js
  packages/design-system/jest.config.js
  packages/design-system/package.json
  packages/design-system/src/MetaButton.tsx
  packages/design-system/src/MetaSelect.tsx
  packages/design-system/src/SelectTimeZone.tsx
  packages/design-system/src/icons/DropDownIcon.tsx
  packages/design-system/src/icons/index.ts
  packages/design-system/src/index.ts
  packages/design-system/src/theme/colors.ts
  packages/design-system/src/theme/index.ts
  packages/design-system/tsconfig.json
  packages/web/components/Guild/GuildList.tsx
  packages/web/components/Patron/PatronList.tsx
  packages/web/components/Player/PlayerFilter.tsx
  packages/web/components/Player/PlayerList.tsx
  packages/web/components/PlayerList.tsx
  packages/web/components/Quest/QuestFilter.tsx
  packages/web/graphql/client.ts
  packages/web/graphql/getPlayers.ts
  packages/web/graphql/getQuests.ts
  packages/web/lib/hooks/players.ts
  packages/web/next.config.js
  packages/web/package.json
  packages/web/pages/guilds.tsx
  packages/web/pages/patrons.tsx
  packages/web/pages/players.tsx
  packages/web/pages/quests.tsx
  yarn.lock
Due: eslint --fix, prettier --write

Cleaned up env variables, extracted to env-groups
  .gitignore
  docker-compose.yml
  packages/backend/src/config.ts
  packages/discord-bot/src/auth.ts
  packages/discord-bot/src/config.ts
  packages/utils/src/constants.ts
  packages/web/components/Guild/GuildJoin.tsx
  packages/web/config.ts
  render.yaml
Due: eslint --fix, prettier --write

Removed preview environments, added duplicate staging services
  .env.sample
  render.yaml
Due: none

Move backend services to top as hasura depends on it
  render.yaml
Due: none

feat: combine DAO memberships across chains for a player
  packages/backend/src/config.ts
  packages/backend/src/handlers/remote-schemas/resolvers/daohaus/resolver.ts
  packages/backend/src/lib/daoHausClient.ts
Due: eslint --fix, prettier --write

added analytics
  packages/web/pages/_app.tsx
Due: eslint --fix, prettier --write

deleting outdated files
  frontend/package.json
Due: prettier --write

deleting outdated files
  frontend/public/index.html
Due: none

deleting outdated files
  frontend/public/manifest.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,yml,md})
